#landings_ads_cases_css {
    display: none
}

.ads_case_header_dodo .ads_case_header__avatar,
.ads_case_header_dodo .ads_case_header__cover_image,
.ads_case_header_family776 .ads_case_header__avatar,
.ads_case_header_family776 .ads_case_header__cover_image,
.ads_case_header_gorun .ads_case_header__avatar,
.ads_case_header_gorun .ads_case_header__cover_image,
.ads_case_header_taxovichkof .ads_case_header__avatar,
.ads_case_header_taxovichkof .ads_case_header__cover_image,
.ads_case_header_yota .ads_case_header__avatar,
.ads_case_header_yota .ads_case_header__cover_image,
.ads_case_image_text.dodo.quote,
.ads_case_image_text.family776.quote,
.ads_case_image_text.gorun.quote,
.ads_case_image_text.taxovichkof.quote1,
.ads_case_image_text.taxovichkof.quote2,
.ads_case_image_text.yota.quote,
.ads_case_tab_content.dodo.component1 .ads_case_tab_content__image,
.ads_case_tab_content.dodo.component2 .ads_case_tab_content__image,
.ads_case_tab_content.dodo.component3 .ads_case_tab_content__image,
.ads_case_tab_content.dodo.component4 .ads_case_tab_content__image,
.ads_case_tab_content.family776.component1 .ads_case_tab_content__image,
.ads_case_tab_content.family776.component2 .ads_case_tab_content__image,
.ads_case_tab_content.family776.component3 .ads_case_tab_content__image,
.ads_case_tab_content.gorun.component1 .ads_case_tab_content__image,
.ads_case_tab_content.taxovichkof.component1 .ads_case_tab_content__image,
.ads_case_tab_content.taxovichkof.component2 .ads_case_tab_content__image,
.ads_case_tab_content.taxovichkof.component3 .ads_case_tab_content__image,
.ads_case_tab_content.yota.component1 .ads_case_tab_content__image,
.ads_case_tab_content.yota.component2 .ads_case_tab_content__image,
.ads_case_tab_content_en.dodo.component1 .ads_case_tab_content__image,
.ads_case_tab_content_en.dodo.component2 .ads_case_tab_content__image,
.ads_case_tab_content_en.dodo.component3 .ads_case_tab_content__image,
.ads_case_tab_content_en.dodo.component4 .ads_case_tab_content__image,
.ads_case_tab_content_en.family776.component1 .ads_case_tab_content__image,
.ads_case_tab_content_en.family776.component2 .ads_case_tab_content__image,
.ads_case_tab_content_en.family776.component3 .ads_case_tab_content__image,
.ads_case_tab_content_en.gorun.component1 .ads_case_tab_content__image,
.ads_case_tab_content_en.taxovichkof.component1 .ads_case_tab_content__image,
.ads_case_tab_content_en.taxovichkof.component2 .ads_case_tab_content__image,
.ads_case_tab_content_en.yota.component1 .ads_case_tab_content__image,
.ads_case_tab_content_en.yota.component2 .ads_case_tab_content__image {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.ads_case_header__cover_image {
    background: 50% no-repeat;
    background-size: cover;
    padding-bottom: 31.448%;
    border-radius: 4px 4px 0 0
}

.ads_case_header__container {
    padding-left: 30px;
    padding-right: 30px
}

.ads_case_header__info {
    padding-top: 22px;
    padding-bottom: 31px;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e7e8ec
}

.ads_case_header__info_left {
    width: 120px;
    margin-right: 30px
}

.ads_case_header__avatar-wrap {
    height: 60px
}

.ads_case_header__avatar {
    box-sizing: border-box;
    width: 124px;
    height: 124px;
    background-size: cover!important;
    border-radius: 50%;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .1);
    border: solid 4px #fff;
    position: relative;
    top: -64px;
    margin-left: -2px
}

.ads_case_header__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
    color: #000
}

.ads_case_header__summary {
    font-size: 16px;
    line-height: 1.43em;
    margin: 7px 0 0;
    color: #656565
}

.ads_case_header_dodo .ads_case_header__avatar {
    background: url(/images/landings/ads_cases/dodo/logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_dodo .ads_case_header__avatar {
        background-image: url(/images/landings/ads_cases/dodo/logo_2x.png);
        background-size: 120px 120px
    }
}

.ads_case_header_dodo .ads_case_header__cover_image {
    background: url(/images/landings/ads_cases/dodo/header.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_dodo .ads_case_header__cover_image {
        background-image: url(/images/landings/ads_cases/dodo/header_2x.jpg);
        background-size: 795px 250px
    }
}

.ads_case_header_family776 .ads_case_header__avatar {
    background: url(/images/landings/ads_cases/family776/logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_family776 .ads_case_header__avatar {
        background-image: url(/images/landings/ads_cases/family776/logo_2x.png);
        background-size: 120px 120px
    }
}

.ads_case_header_family776 .ads_case_header__cover_image {
    background: url(/images/landings/ads_cases/family776/header.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_family776 .ads_case_header__cover_image {
        background-image: url(/images/landings/ads_cases/family776/header_2x.jpg);
        background-size: 795px 250px
    }
}

.ads_case_header_gorun .ads_case_header__avatar {
    background: url(/images/landings/ads_cases/gorun/logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_gorun .ads_case_header__avatar {
        background-image: url(/images/landings/ads_cases/gorun/logo_2x.png);
        background-size: 120px 120px
    }
}

.ads_case_header_gorun .ads_case_header__cover_image {
    background: url(/images/landings/ads_cases/gorun/header.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_gorun .ads_case_header__cover_image {
        background-image: url(/images/landings/ads_cases/gorun/header_2x.jpg);
        background-size: 795px 250px
    }
}

.ads_case_header_taxovichkof .ads_case_header__avatar {
    background: url(/images/landings/ads_cases/taxovichkof/logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_taxovichkof .ads_case_header__avatar {
        background-image: url(/images/landings/ads_cases/taxovichkof/logo_2x.png);
        background-size: 120px 120px
    }
}

.ads_case_header_taxovichkof .ads_case_header__cover_image {
    background: url(/images/landings/ads_cases/taxovichkof/header.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_taxovichkof .ads_case_header__cover_image {
        background-image: url(/images/landings/ads_cases/taxovichkof/header_2x.jpg);
        background-size: 795px 250px
    }
}

.ads_case_header_yota .ads_case_header__avatar {
    background: url(/images/landings/ads_cases/yota/logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_yota .ads_case_header__avatar {
        background-image: url(/images/landings/ads_cases/yota/logo_2x.png);
        background-size: 120px 120px
    }
}

.ads_case_header_yota .ads_case_header__cover_image {
    background: url(/images/landings/ads_cases/yota/header.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_header_yota .ads_case_header__cover_image {
        background-image: url(/images/landings/ads_cases/yota/header_2x.png);
        background-size: 795px 250px
    }
}

.ads_case_counters {
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px
}

.ads_case_counter_item {
    margin-left: 42px
}

.ads_case_counter_item:first-child {
    margin-left: 0
}

.ads_case_counter_item__value {
    font-size: 32px;
    line-height: 1.2;
    color: #6690c7;
    white-space: nowrap
}

.ads_case_counter_item__label {
    font-size: 16px;
    line-height: 1.2;
    color: #828282;
    margin-top: 3px;
    white-space: nowrap
}

.ads_case_text {
    padding: 30px 0
}

.ads_case_text+.ads_case_text {
    padding-top: 2px
}

.ads_case_text__container {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 1.43;
    color: #000
}

.ads_case_text__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px
}

.ads_case_text__text {
    font-size: 14px;
    line-height: 1.5
}

.ads_case_image_text {
    padding: 30px;
    min-height: 493px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: left;
    align-items: left;
    background: 50% no-repeat;
    background-size: cover!important
}

.ads_case_image_text.align_right {
    -ms-flex-align: end;
    align-items: flex-end
}

.ads_case_image_text__content {
    width: 290px;
    box-sizing: border-box
}

.ads_case_image_text.align_right .ads_case_image_text__content {
    padding-right: 20px
}

.ads_case_image_text__quote {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 20px
}

.ads_case_image_text__author {
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    opacity: 0.4
}

.ads_case_image_text.light_text .ads_case_image_text__quote {
    color: #fff
}

.ads_case_image_text.light_text .ads_case_image_text__author {
    color: #fff;
    opacity: 0.6
}

.ads_case_image_text.dodo.quote {
    background: url(/images/landings/ads_cases/dodo/quote.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.dodo.quote {
        background-image: url(/images/landings/ads_cases/dodo/quote_2x.jpg);
        background-size: 795px 553px
    }
}

.ads_case_image_text.family776.quote {
    background: url(/images/landings/ads_cases/family776/quote.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.family776.quote {
        background-image: url(/images/landings/ads_cases/family776/quote_2x.jpg);
        background-size: 795px 584px
    }
}

.ads_case_image_text.gorun.quote {
    background: url(/images/landings/ads_cases/gorun/quote_upd.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.gorun.quote {
        background-image: url(/images/landings/ads_cases/gorun/quote_upd_2x.jpg);
        background-size: 795px 514px
    }
}

.ads_case_image_text.taxovichkof.quote1 {
    background: url(/images/landings/ads_cases/taxovichkof/quote1.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.taxovichkof.quote1 {
        background-image: url(/images/landings/ads_cases/taxovichkof/quote1_2x.jpg);
        background-size: 795px 584px
    }
}

.ads_case_image_text.taxovichkof.quote2 {
    background: url(/images/landings/ads_cases/taxovichkof/quote2_up.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.taxovichkof.quote2 {
        background-image: url(/images/landings/ads_cases/taxovichkof/quote2_up_2x.jpg);
        background-size: 795px 584px
    }
}

.ads_case_image_text.yota.quote {
    background: url(/images/landings/ads_cases/yota/quote_upd.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_image_text.yota.quote {
        background-image: url(/images/landings/ads_cases/yota/quote_upd_2x.jpg);
        background-size: 795px 514px
    }
}

@-o-keyframes ads-case-show-text {
    0% {
        -o-transform: translateX(30px);
        transform: translateX(30px)
    }
    to {
        -o-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes ads-case-show-text {
    0% {
        -o-transform: translateX(30px);
        transform: translateX(30px)
    }
    to {
        -o-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-o-keyframes ads-case-hide-text {
    0% {
        -o-transform: translateX(0px);
        transform: translateX(0px)
    }
    to {
        -o-transform: translateX(-40px);
        transform: translateX(-40px)
    }
}

@keyframes ads-case-hide-text {
    0% {
        -o-transform: translateX(0px);
        transform: translateX(0px)
    }
    to {
        -o-transform: translateX(-40px);
        transform: translateX(-40px)
    }
}

@-o-keyframes ads-case-show-image {
    0% {
        -o-transform: translateY(40px);
        transform: translateY(40px)
    }
    to {
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@keyframes ads-case-show-image {
    0% {
        -o-transform: translateY(40px);
        transform: translateY(40px)
    }
    to {
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}

.ads_case_block_tabs {
    background-color: #f0f2f5
}

.ads_case_block_tabs__header {
    padding-left: 30px;
    padding-right: 30px
}

.ads_case_block_tabs__body {
    position: relative
}

.ads_case_block_tabs .ui_tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #cfd0d1
}

.ads_case_block_tabs .ui_tabs:after,
.ads_case_block_tabs .ui_tabs:before {
    content: '';
    width: 30px;
    position: absolute;
    bottom: -1px;
    height: 1px
}

.ads_case_block_tabs .ui_tabs:before {
    left: 0;
    background: -o-linear-gradient(180deg, #cfd0d1, #f0f2f5);
    background: linear-gradient(270deg, #cfd0d1, #f0f2f5)
}

.ads_case_block_tabs .ui_tabs:after {
    right: 0;
    background: -o-linear-gradient(0deg, #cfd0d1, #f0f2f5);
    background: linear-gradient(90deg, #cfd0d1, #f0f2f5);
    visibility: visible
}

.ads_case_block_tabs .ui_tab {
    padding: 21px 8px;
    margin: 0 12px -1px
}

.ads_case_block_tabs .ui_tab:hover {
    padding-bottom: 21px
}

.ads_case_tab_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    visibility: hidden;
    -o-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s
}

.ads_case_tab_content:first-child {
    position: relative
}

.ads_case_tab_content.active {
    visibility: visible;
    -o-transition: visibility 0s 0s;
    transition: visibility 0s 0s
}

.ads_case_tab_content__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-right: 0;
    position: relative;
    overflow: hidden
}

.ads_case_block_tabs.no-animation .ads_case_tab_content__image,
.ads_case_block_tabs.no-animation .ads_case_tab_content__text {
    -o-animation-duration: 0s!important;
    animation-duration: 0s!important
}

.ads_case_tab_content__text {
    margin-right: 50%;
    font-size: 14px;
    line-height: 1.43;
    opacity: 0;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -o-animation: ads-case-hide-text 0.3s ease-in;
    animation: ads-case-hide-text 0.3s ease-in;
    padding-bottom: 60px
}

.ads_case_tab_content.active .ads_case_tab_content__text {
    opacity: 1;
    -o-animation: ads-case-show-text 0.3s ease-out;
    animation: ads-case-show-text 0.3s ease-out;
    pointer-events: all
}

.ads_case_tab_content__image {
    float: right;
    margin-top: -40px;
    opacity: 0;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background-position: 100% 0!important;
    background-repeat: no-repeat!important
}

.ads_case_tab_content.active .ads_case_tab_content__image {
    opacity: 1;
    -o-animation: ads-case-show-image 0.3s ease-in;
    animation: ads-case-show-image 0.3s ease-in;
    pointer-events: all
}

.ads_case_tab_content.dodo.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component1.png);
    width: 470px;
    height: 626px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.dodo.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component1_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content.dodo.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component2.png);
    width: 470px;
    height: 626px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.dodo.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component2_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content.dodo.component3 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component3.png);
    width: 470px;
    height: 626px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.dodo.component3 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component3_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content.dodo.component4 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component4.png);
    width: 470px;
    height: 626px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.dodo.component4 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component4_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content.family776.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component1.png);
    width: 440px;
    height: 566px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.family776.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component1_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content.family776.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component2.png);
    width: 440px;
    height: 566px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.family776.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component2_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content.family776.component3 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component3.png);
    width: 440px;
    height: 566px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.family776.component3 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component3_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content.gorun.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/gorun/component1.png);
    width: 460px;
    height: 554px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.gorun.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/gorun/component1_2x.png);
        background-size: 460px 554px
    }
}

.ads_case_tab_content.taxovichkof.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/taxovichkof/component1.png);
    width: 500px;
    height: 586px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.taxovichkof.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/taxovichkof/component1_2x.png);
        background-size: 500px 586px
    }
}

.ads_case_tab_content.taxovichkof.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/taxovichkof/component2.png);
    width: 500px;
    height: 586px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.taxovichkof.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/taxovichkof/component2_2x.png);
        background-size: 500px 586px
    }
}

.ads_case_tab_content.taxovichkof.component3 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/taxovichkof/component3.png);
    width: 500px;
    height: 586px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.taxovichkof.component3 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/taxovichkof/component3_2x.png);
        background-size: 500px 586px
    }
}

.ads_case_tab_content.yota.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/yota/component1.png);
    width: 470px;
    height: 688px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.yota.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/yota/component1_2x.png);
        background-size: 470px 688px
    }
}

.ads_case_tab_content.yota.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/yota/component2.png);
    width: 470px;
    height: 688px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content.yota.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/yota/component2_2x.png);
        background-size: 470px 688px
    }
}

.ads_case_tab_content_en.dodo.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component1_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.dodo.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component1_en_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content_en.dodo.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component2_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.dodo.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component2_en_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content_en.dodo.component3 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component3_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.dodo.component3 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component3_en_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content_en.dodo.component4 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/dodo/component4_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.dodo.component4 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/dodo/component4_en_2x.png);
        background-size: 470px 626px
    }
}

.ads_case_tab_content_en.family776.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component1_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.family776.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component1_en_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content_en.family776.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component2_en_upd.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.family776.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component2_en_upd_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content_en.family776.component3 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/family776/component3_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.family776.component3 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/family776/component3_en_2x.png);
        background-size: 440px 566px
    }
}

.ads_case_tab_content_en.gorun.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/gorun/component1_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.gorun.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/gorun/component1_en_2x.png);
        background-size: 460px 554px
    }
}

.ads_case_tab_content_en.taxovichkof.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/taxovichkof/component1_en_upd.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.taxovichkof.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/taxovichkof/component1_en_upd_2x.png);
        background-size: 500px 586px
    }
}

.ads_case_tab_content_en.taxovichkof.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/taxovichkof/component2_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.taxovichkof.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/taxovichkof/component2_en_2x.png);
        background-size: 500px 586px
    }
}

.ads_case_tab_content_en.yota.component1 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/yota/component1_upd_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.yota.component1 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/yota/component1_upd_en_2x.png);
        background-size: 470px 688px
    }
}

.ads_case_tab_content_en.yota.component2 .ads_case_tab_content__image {
    background: url(/images/landings/ads_cases/yota/component2_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ads_case_tab_content_en.yota.component2 .ads_case_tab_content__image {
        background-image: url(/images/landings/ads_cases/yota/component2_en_2x.png);
        background-size: 470px 688px
    }
}

.ads_case_footer {
    padding: 29px 30px 30px
}

.ads_case_footer__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 21px
}

.ads_case_footer__items {
    overflow: hidden;
    margin-left: -27px
}

.ads_case_footer_item {
    float: left;
    box-sizing: border-box;
    padding-left: 27px;
    padding-top: 27px;
    width: 33.33333%
}

.ads_case_footer_item:nth-child(-n+3) {
    padding-top: 0
}

.ads_case_footer_item__summary,
.ads_case_footer_item__title {
    font-size: 14px;
    line-height: 1.43
}

.ads_case_footer_item__title {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #2a5885
}

.ads_case_footer_item__summary {
    color: #828282
}