#landings_dota_css {
    display: none
}

.dota_boston_tooltip.tt_default.tt_up .eaglesong,
.landing_bostonmajor .boston_logo,
.landing_bostonmajor .dota2_public,
.landing_bostonmajor .gaming_public,
.landing_theinternational2016 .boston_logo,
.landing_theinternational2016 .dota2_public,
.landing_theinternational2016 .gaming_public {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.landing_bostonmajor,
.landing_theinternational2016 {
    max-width: 820px;
    margin: 0 auto
}

.landing_bostonmajor .login,
.landing_theinternational2016 .login {
    display: none
}

.landing_bostonmajor .unshown,
.landing_theinternational2016 .unshown {
    display: inline-block
}

.landing_bostonmajor .unshown>*,
.landing_theinternational2016 .unshown>* {
    display: none!important
}

.landing_bostonmajor .unshown>.login,
.landing_theinternational2016 .unshown>.login {
    display: inline-block!important
}

.landing_bostonmajor a.flat_button,
.landing_theinternational2016 a.flat_button {
    text-decoration: none
}

.landing_bostonmajor .unsubscribe,
.landing_theinternational2016 .unsubscribe,
.landing_bostonmajor .in_club .subscribe,
.landing_theinternational2016 .in_club .subscribe {
    display: none
}

.landing_bostonmajor .in_club .unsubscribe,
.landing_theinternational2016 .in_club .unsubscribe {
    display: inline-block
}

.landing_bostonmajor .main_buttons,
.landing_theinternational2016 .main_buttons {
    display: inline-block;
    width: 250px;
    margin: auto
}

.landing_bostonmajor .video,
.landing_theinternational2016 .video {
    height: 460px;
    background-color: #000;
    clear: both;
    text-align: center
}

.landing_bostonmajor .video:after,
.landing_theinternational2016 .video:after {
    content: "";
    display: block;
    clear: both
}

.landing_bostonmajor .dota_landing_video,
.landing_theinternational2016 .dota_landing_video {
    heiht: 460px
}

.landing_bostonmajor .boston_logo,
.landing_theinternational2016 .boston_logo {
    width: 68px;
    height: 68px;
    background: url(/images/landings/dota_boston/Logo.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .landing_bostonmajor .boston_logo,
    .landing_theinternational2016 .boston_logo {
        background-image: url(/images/landings/dota_boston/Logo_2x.png);
        background-size: 68px 68px
    }
}

.landing_bostonmajor .dota2_public,
.landing_bostonmajor .gaming_public,
.landing_theinternational2016 .dota2_public,
.landing_theinternational2016 .gaming_public {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%
}

.landing_bostonmajor .gaming_public,
.landing_theinternational2016 .gaming_public {
    background: url(/images/landings/dota_boston/game_public.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .landing_bostonmajor .gaming_public,
    .landing_theinternational2016 .gaming_public {
        background-image: url(/images/landings/dota_boston/game_public_2x.png);
        background-size: 100px 100px
    }
}

.landing_bostonmajor .dota2_public,
.landing_theinternational2016 .dota2_public {
    background: url(/images/landings/dota_boston/public_avatar.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .landing_bostonmajor .dota2_public,
    .landing_theinternational2016 .dota2_public {
        background-image: url(/images/landings/dota_boston/public_avatar_2x.png);
        background-size: 100px 100px
    }
}

.dota_landing_tt {
    width: 270px;
    color: #050505;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    font-size: 12px
}

.dota_landing_outer_tt .toup:before {
    border-bottom: 6px solid #96aabe;
    top: -6px
}

.dota_landing_outer_tt .toup:before,
.dota_landing_outer_tt .toup:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 123px
}

.dota_landing_outer_tt .toup:after {
    border-bottom: 6px solid #fff;
    top: -5px
}

.dota_landing_tt_aegis {
    width: 50px;
    height: 50px;
    background-image: url(/images/gift/794/256.png);
    background-size: 50px 50px;
    float: left;
    margin-right: 10px
}

.dota_landing_outer_tt .tt_text {
    border-color: #c5d0db;
    padding: 0
}

.landing_wk_wrap {
    width: 820px
}

.dota_landing {
    height: 100%;
    width: 100%;
    font-family: Roboto, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.154;
    color: #1d1d1e;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    direction: ltr;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility
}

.dota_landing section,
.dota_landing section div {
    box-sizing: border-box
}

.dota_landing a {
    text-decoration: none
}

.dota_landing a:hover {
    text-decoration: underline
}

.dota_landing a:focus,
.dota_landing button:focus,
.dota_landing input:focus {
    outline: none!important
}

.dota_landing h1,
.dota_landing h2,
.dota_landing h3,
.dota_landing h4,
.dota_landing h5,
.dota_landing h6 {
    margin-top: 0;
    font-weight: 400;
    font-family: Roboto, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif;
    color: #2b2f33
}

.dota_landing_logo {
    width: 64px;
    height: 65px;
    background: url(/images/landings/dota/dota_color.png) no-repeat 50%;
    background-size: 64px 65px
}

.dota_landing_button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    border: 0;
    zoom: 1;
    white-space: nowrap;
    padding: 8px 20px 9px;
    color: #fff!important;
    font-family: Roboto, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif;
    font-weight: 400;
    background-color: #6287ae;
    text-decoration: none!important;
    font-size: 12.5px;
    border-radius: 2px
}

.dota_landing_button:hover {
    background-color: #6c8fb3;
    text-decoration: none
}

.dota_landing_button:active {
    background-color: #587fa9;
    padding-top: 9px;
    padding-bottom: 8px
}

.dota_landing_button--rounded {
    background-color: #5f82a6;
    padding: 12px 24px 11px;
    border-radius: 100px;
    font-size: 15px
}

.dota_landing_button--rounded:active {
    padding-top: 13px;
    padding-bottom: 10px
}

.dota_landing_button--light {
    background-color: #e5ebf1;
    color: #55677d!important;
    margin: 8px 0
}

.dota_landing_button--light:hover {
    background-color: #ecf0f5
}

.dota_landing_button--light:active {
    background-color: #dbe3ec
}

.dota_landing_header--before {
    text-align: center
}

.dota_landing_header--before .dota_landing_logo {
    margin: 0 auto 30px
}

.dota_landing_header .buttons {
    float: right;
    margin-right: 20px;
    margin-top: 5px
}

.dota_landing_header .buttons .flat_button {
    font-family: Roboto, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif!important
}

.dota_landing_section {
    padding: 40px
}

.dota_landing_section img {
    max-width: 100%
}

.dota_landing_section__title {
    font-size: 28px;
    color: #191919;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center
}

.dota_landing_section__title--blue {
    color: #485d73
}

.dota_landing_section__desc {
    font-size: 22px
}

.dota_landing_section__desc--gray {
    color: #888
}

.dota_landing_section--header .dota_landing_section__title {
    padding: 0;
    text-align: left;
    font-size: 26px;
    color: #191919;
    line-height: 36px;
    margin-bottom: 4px
}

.dota_landing_section--header .dota_landing_section__desc {
    text-align: left;
    margin-bottom: 0;
    opacity: 0.69;
    font-size: 20px;
    color: #666
}

.dota_landing_section--header .dota_landing_button {
    float: right;
    margin-top: 10px
}

.dota_landing_section--header .dota_landing_logo {
    float: left;
    margin-right: 22px
}

.dota_landing_section--header .dota_landing_title_group {
    overflow: hidden
}

.dota_landing_section--stream {
    padding: 0
}

.dota_landing_section--stream .dota_landing_subs {
    font-size: 19px;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 22px
}

.dota_landing_section--fund,
.dota_landing_section--info {
    color: #fff;
    text-align: center;
    padding-bottom: 35px;
    background: url(/images/landings/dota/bg_blur.jpg) no-repeat 50%;
    background-size: cover
}

.dota_landing_section--fund .dota_landing_section__desc,
.dota_landing_section--fund .dota_landing_section__title,
.dota_landing_section--info .dota_landing_section__desc,
.dota_landing_section--info .dota_landing_section__title {
    color: #fff
}

.dota_landing_section--fund .dota_landing_fund,
.dota_landing_section--fund .dota_landing_section__desc,
.dota_landing_section--info .dota_landing_fund,
.dota_landing_section--info .dota_landing_section__desc {
    opacity: 0.89;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    margin: 29px auto
}

.dota_landing_section--fund {
    background: url(/images/landings/dota/bg_blur_2.jpg) no-repeat 50%;
    padding-bottom: 20px
}

.dota_landing_section--fund .dota_landing_section__desc {
    max-width: 605px;
    margin-top: 27px
}

.dota_landing_section--fund .dota_landing_fund {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 75px auto 60px
}

.dota_landing_section--fund .dota_landing_fund__value {
    font-size: 60px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 5px
}

.dota_landing_section--fund .dota_landing_fund__text {
    opacity: 0.5;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    line-height: 38px
}

@media screen and (max-width: 410px) {
    .dota_landing_section--fund .dota_landing_fund__value {
        font-size: 30px
    }
    .dota_landing_section--fund .dota_landing_fund__text {
        font-size: 14px;
        line-height: 28px
    }
    .dota_landing_section {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media screen and (max-width: 420px) {
    .dota_landing_section--header .dota_landing_section__title {
        font-size: 18px
    }
    .dota_landing_section--header .dota_landing_section__desc {
        font-size: 14px
    }
}

.dota_landing_section--schedule {
    background-color: #f6f8fa
}

.dota_landing_section--footer {
    background-color: #ebeff3;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center
}

.dota_landing_logos>a,
.dota_landing_logos>img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 34px
}

@media screen and (max-width: 500px) {
    .dota_landing_logos>img {
        margin: 0 25px
    }
}

@media screen and (max-width: 430px) {
    .dota_landing_logos>img {
        margin: 0 10px
    }
}

.dota_landing_slider embed,
.dota_landing_slider iframe,
.dota_landing_slider img,
.dota_landing_slider video {
    width: 100%;
    display: block
}

.dota_landing_slider__slide {
    height: 450px;
    display: none
}

.dota_landing_slider__slide--active {
    display: block
}

.dota_landing_thumbnails {
    overflow: hidden;
    font-size: 0;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    clear: both
}

.dota_landing_thumbnails:empty {
    padding: 0;
    margin: 0
}

.dota_landing_thumbnails__item {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
    cursor: pointer;
    overflow: hidden;
    opacity: .7;
    width: 25%
}

.dota_landing_thumbnails__item:first-child {
    margin-left: 0
}

.dota_landing_thumbnails__item:hover {
    opacity: .78
}

.dota_landing_thumbnails__item--active,
.dota_landing_thumbnails__item--active:hover {
    opacity: 1
}

.dota_landing_thumbnails__item .views {
    font-size: 12px;
    text-align: left;
    color: #747474;
    padding: 3px
}

.dota_landing_thumbnails__item .title {
    font-size: 14px;
    text-align: left;
    padding: 3px;
    color: #42648b;
    font-weight: 700;
    white-space: normal
}

.dota_landing_thumbnails__item:hover .title {
    text-decoration: underline
}

.dota_landing_thumbnails__item img {
    border-radius: 2px
}

.dota_landing_groups {
    text-align: left;
    margin: 0 -20px
}

.dota_landing_groups:after,
.dota_landing_groups:before {
    content: '';
    display: table;
    clear: both
}

.dota_landing_group {
    padding: 10px 30px;
    float: left;
    width: 50%;
    height: 147px
}

.dota_landing_group:after,
.dota_landing_group:before {
    content: '';
    display: table;
    clear: both
}

.dota_landing_group__img {
    border-radius: 100px;
    overflow: hidden;
    width: 100px;
    float: left;
    margin-right: 20px
}

.dota_landing_group__img img {
    border-radius: 100px
}

.dota_landing_group__content {
    overflow: hidden
}

.dota_landing_group__title {
    font-weight: 600;
    font-size: 17px;
    color: #2a5885;
    letter-spacing: -0.19px;
    margin-top: 2px;
    margin-bottom: 5px
}

.dota_landing_group__text {
    font-size: 14px;
    color: #000;
    letter-spacing: -0.16px;
    line-height: 20px;
    margin-bottom: 10px
}

@media screen and (max-width: 750px) {
    .dota_landing_group {
        width: 100%
    }
}

@media screen and (max-width: 340px) {
    .dota_landing_group__img {
        float: none;
        text-align: center;
        width: auto;
        margin-right: 0
    }
    .dota_landing_group {
        height: auto
    }
    .dota_landing_group__content {
        max-width: 200px;
        margin: 0 auto;
        text-align: center
    }
    .dota_landing_group__title {
        text-align: center
    }
}

.dota_landing_teams {
    font-size: 0;
    text-align: center;
    margin: 10px -20px 0
}

.dota_landing_teams:after,
.dota_landing_teams:before {
    content: '';
    display: table;
    clear: both
}

.dota_landing_team {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 187px;
    text-align: center;
    padding: 10px
}

@media screen and (max-width: 620px) {
    .dota_landing_team {
        width: 50%
    }
}

@media screen and (max-width: 325px) {
    .dota_landing_team {
        width: 100%
    }
}

.dota_landing_team a {
    display: block
}

.dota_landing_team a:hover {
    text-decoration: none
}

.dota_landing_team a:hover .dota_landing_team__name {
    text-decoration: underline
}

.dota_landing_team__img {
    display: table;
    width: 100%;
    height: 120px;
    margin-bottom: 10px
}

.dota_landing_team__img img {
    max-width: 100px
}

.dota_landing_team__img--empty {
    border: 1px solid #bcc3cb;
    background: url(/images/landings/dota/dota_logo.svg) no-repeat 50%;
    opacity: .7;
    background-size: 60px 60px
}

.dota_landing_team__img--empty+.dota_landing_team__desc {
    color: #b3b3b3
}

.dota_landing_team__name {
    font-weight: 600;
    font-size: 17px;
    color: #364759
}

.dota_landing_team__desc {
    font-size: 12px;
    color: #8e99a4;
    line-height: 16px;
    margin-top: 5px
}

.dota_landing_valign {
    display: table-cell;
    vertical-align: middle
}

.dota_landing_versus {
    margin-top: 35px
}

.dota_landing_versus_card {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(73, 100, 127, .2);
    border-radius: 2px;
    margin-bottom: 20px;
    text-align: center;
    height: auto;
    padding: 20px
}

.dota_landing_versus_card__title {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px
}

.dota_landing_versus_card__row {
    font-size: 0;
    padding: 6px 0
}

.dota_landing_versus_card__row+.dota_landing_versus_card__title {
    margin-top: 20px
}

.dota_landing_versus_card__col {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #000
}

.dota_landing_versus_card__col:after,
.dota_landing_versus_card__col:before {
    content: '';
    display: table;
    clear: both
}

.dota_landing_versus_card__col--center {
    width: 75px;
    padding: 0 10px
}

.dota_landing_versus_card__name {
    display: inline-block;
    vertical-align: middle
}

.dota_landing_versus_card__name+.dota_landing_versus_card__img {
    margin-left: 10px;
    margin-right: 0
}

.dota_landing_versus_card__img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.dota_landing_versus_card__img img {
    height: 30px;
    width: auto
}

.dota_landing_versus_card__img--empty {
    background: url(/images/landings/dota/dota_logo.svg) no-repeat 50%;
    opacity: .7;
    background-size: 30px 30px
}

.dota_landing_versus_card__result {
    font-weight: 600;
    font-size: 16px;
    color: #3c5976
}

.dota_landing_versus_card__vs {
    font-size: 14px;
    color: #3c5976
}

.dota_landing_tabs {
    margin: 0 -10px 30px;
    text-align: center;
    font-size: 0
}

.dota_landing_tabs:after,
.dota_landing_tabs:before {
    content: '';
    display: table;
    clear: both
}

.dota_landing_tabs__group {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    font-size: 16px
}

.dota_landing_tabs__row {
    font-size: 0
}

.dota_landing_tabs__title {
    opacity: 0.8;
    font-weight: 600;
    font-size: 14px;
    color: #6387ac;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 7px
}

a.dota_landing_tab {
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #656565;
    padding: 18px 9px 18px 10px;
    float: left;
    border-bottom: 2px solid transparent;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease
}

a.dota_landing_tab--active {
    color: #000;
    border-bottom-color: #6387ac
}

a.dota_landing_tab:hover {
    text-decoration: none!important;
    color: #000
}

.dota_landing_tab_content {
    min-height: 320px;
    overflow: hidden;
    text-align: center
}

.dota_landing_tab_item {
    display: none
}

.dota_landing_tab_item--active {
    display: block
}

.dota_landing_schedule {
    width: 680px;
    margin-left: auto;
    margin-right: auto
}

.dota_landing_schedule__block {
    border-radius: 2px;
    background: rgba(99, 135, 172, .1);
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    padding: 9px;
    margin-left: 6px;
    color: #4974a1!important;
    text-decoration: none!important
}

.dota_landing_schedule__block:first-child {
    margin-left: 0
}

.dota_landing_schedule__block:hover {
    background: rgba(99, 135, 172, .13)
}

.dota_landing_schedule__block--active {
    background: #6387ac;
    color: #fff!important
}

.dota_landing_schedule__block--active:hover {
    background: #6387ac
}

.dota_landing_schedule__day {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.27px;
    font-weight: 400
}

.dota_landing_schedule__month {
    opacity: 0.85;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.17px
}

.dota_landing_leaderboards {
    margin-top: 15px;
    margin-bottom: 6px
}

.dota_landing_leaderboards__title {
    font-size: 20px;
    color: #000;
    line-height: 38px;
    margin-bottom: 5px
}

.dota_landing_leaderboards__text {
    font-size: 17px;
    color: #3c5976;
    line-height: 24px;
    margin-bottom: 8px
}

.dota_landing_table {
    font-size: 16px;
    margin-bottom: 2px
}

.dota_landing_table tr th {
    text-align: left;
    font-weight: 600;
    color: #000
}

.dota_landing_table tr td,
.dota_landing_table tr th {
    padding: 4px 16px 4px 0
}

.dota_landing_table__time {
    width: 56px
}

.dota_landing_table__name,
.dota_landing_table a {
    color: #37587c
}

.dota_landing_countdown {
    color: #8c8c8c;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 350px;
    margin-bottom: 60px;
    display: table;
    margin-top: -30px
}

.dota_landing_countdown__inner {
    display: table-cell;
    vertical-align: middle
}

.dota_landing_countdown__elem {
    font-weight: 300;
    font-size: 60px;
    color: #101010;
    line-height: 45px;
    margin-top: 25px
}

.landing_bostonmajor .dota_landing_thumbnails {
    padding-top: 35px
}

.landing_bostonmajor .dota_landing_thumbnails .views {
    display: none
}

.landing_bostonmajor .dota_landing_thumbnails__item {
    text-align: center;
    padding: 0
}

.landing_bostonmajor .dota_landing_thumbnails__item.two_channels {
    margin-right: 15px
}

.landing_bostonmajor .dota_landing_thumbnails__item img {
    max-width: 175px;
    max-height: 98.4px
}

.landing_bostonmajor .dota_landing_thumbnails__item:hover {
    opacity: 1
}

.landing_bostonmajor .dota_landing_thumbnails__item .title {
    max-width: 175px;
    margin: 9px auto 0;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.2px;
    color: #42648b
}

.landing_bostonmajor .dota_landing_thumbnails__item .title:hover {
    text-decoration: none
}

.landing_bostonmajor .dota_landing_countdown {
    margin-bottom: 0
}

.landing_bostonmajor .dota_landing_section--stay_in_touch {
    border-top: 1px solid #e7e8ec;
    margin-top: 35px
}

.landing_bostonmajor .dota_landing_thumbnails__item:hover .title {
    text-decoration: none
}

.dota_boston_tooltip .tt_text {
    padding: 12px
}

.dota_boston_tooltip.tt_default.tt_up:after,
.dota_boston_tooltip.tt_default.tt_up:before {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.dota_boston_tooltip.tt_default.tt_up .eaglesong {
    width: 64px;
    height: 64px;
    background: url(/images/landings/dota_boston/Eaglesong.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    float: left
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .dota_boston_tooltip.tt_default.tt_up .eaglesong {
        background-image: url(/images/landings/dota_boston/Eaglesong_2x.png);
        background-size: 46px 63px
    }
}

.dota_boston_tooltip.tt_default.tt_up .text {
    margin-left: 77px
}

.dota_boston_tooltip.tt_default.tt_up .clear-both {
    clear: both
}