#landings_psb_context_css {
    display: none
}

body,
html {
    height: 100%
}

.landing .header_wrapper {
    position: relative;
    width: 100%;
    max-width: 2560px;
    background-size: 100% auto;
    background-position: 50% 50%;
    padding-bottom: 32.5%;
    overflow: hidden;
    font: 0/0 a;
    margin: 0 auto
}

.landing .header_wrapper:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.landing .header_wrapper img {
    display: inline-block
}

.landing .pos-top {
    background-position: top
}

.landing .landings_psb_find_clients {
    background: #f4f3f4;
    position: relative;
    overflow: hidden
}

.landing .landings_psb_find_clients .blur_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-position: 50%;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='50'%20/></filter></svg>#blur");
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.2
}

.landing .landing_psb_instruments {
    overflow: hidden
}

.landing .landing_psb_instruments .landing_psb_instrument {
    float: left;
    width: 50%;
    z-index: 50;
    position: relative
}

.landing .landing_psb_instruments .landing_psb_instrument+.landing_psb_instrument {
    padding-left: 50px
}

.landing .landing_psb_instruments .landing_psb_instrument .landing_psb_instrument__icon {
    height: 82px;
    width: 82px;
    border-radius: 100%;
    background-color: #f7f8fa;
    float: left
}

.landing .landing_psb_instruments .landing_psb_instrument .landing_psb_instrument__text {
    margin-left: 102px
}

.landing .landing_psb_instruments .landing_psb_instrument .landing_psb_instrument__text .title {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.32;
    color: #4a4a4a;
    margin-bottom: 11px
}

.landing .landing_psb_instruments .landing_psb_instrument .landing_psb_instrument__text .comment {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    color: #7c7f82
}

.landing .max_size {
    max-width: 2560px;
    margin: 0 auto
}

.landing .max_size .footer_wrapper {
    clear: both;
    max-width: 2560px;
    width: 100%;
    position: relative;
    padding-bottom: 65.46875%;
    background-image: url('/images/landings/PSB/web_assets/background_2.jpg');
    background-size: contain;
    background-position: 0 100%;
    background-repeat: no-repeat;
    margin-top: -20%;
    z-index: 20
}

.landing .max_size .footer_wrapper .footer_fade {
    height: 60%;
    width: 110%;
    position: absolute;
    left: -5%;
    top: -1px;
    background: -o-linear-gradient(top, #fff 0%, #fff 40%, hsla(0, 0%, 100%, 0) 100%);
    background: linear-gradient(180deg, #fff 0%, #fff 40%, hsla(0, 0%, 100%, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0)
}

.landing .landings_psb_coverage {
    margin: 107px 0 97px
}