#landings_wdsd_css {
    display: none;
}

.wdsd_tt_wrap .wdsd_image {
    -ms-high-contrast-adjust: none;
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0;
}

.landing_wk_wrap_wdsd {
    width: 820px;
}

.wdsd_word {
    color: #2b587a;
    border-bottom: 1px dashed;
}

.wdsd_word:hover {
    border-bottom: none;
    cursor: default;
}

.tt.wdsd_tt_wrap .tt_text {
    width: 380px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 13px 8px;
    border-color: #bccad7;
    color: #424242;
    min-height: 64px;
    line-height: 16px;
}

.tt.wdsd_tt_wrap .bottom_pointer {
    margin-right: 0px;
    margin-left: 43px;
    display: block;
    background: url(/images/tooltip_arrow_white.png) no-repeat;
}

.wdsd_tt_wrap .wdsd_image {
    height: 49px;
    width: 64px;
    background-size: 64px 49px;
    background-image: url(/images/landings_wdsd.png);
    margin: 7px 16px 0 3px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .wdsd_tt_wrap .wdsd_image {
        background-image: url(/images/landings_wdsd_2x.png);
        background-size: 64px 49px;
    }
}

.wdsd_tt_wrap .wdsd_text {
    width: 295px;
}

.wdsd_tt_wrap .wdsd_text .wikiVkLink {
    display: block;
    margin-top: 3px;
}

.landing_wdsd a {
    text-decoration: none;
}

.landing_wdsd .landing_wdsd_top {
    background-image: url(/images/landings/wdsd_top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 535px 90px;
    height: 90px;
    margin: 0 auto 10px;
}

.landing_wdsd .landing_wdsd_title {
    font-size: 32px;
    letter-spacing: -0.1px;
    color: #2b2f33;
    font-weight: 300;
    margin-top: 46px;
    line-height: 41px;
    text-align: center;
}

.landing_wdsd .landing_wdsd_text {
    font-family: 'Helvetica Neue', sans-serif, Geneva, arial, Tahoma, verdana;
    text-align: left;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    padding: 0 60px;
    margin: 40px auto;
    max-width: 830px;
}

.landing_wdsd .landing_wdsd_bottom {
    background-image: url(/images/landings/wdsd_bottom.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 535px 121px;
    height: 121px;
    margin: 30px auto 0;
}

.landing_wdsd .landing_actions {
    text-align: center;
}

.is_2x .landing_wdsd .landing_wdsd_top {
    background-image: url(/images/landings/wdsd_top_2x.png);
}

.is_2x .landing_wdsd .landing_wdsd_bottom {
    background-image: url(/images/landings/wdsd_bottom_2x.png);
}