.archivePostTitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  color: #2B587A;
}
.archivePost {
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 0px 12px 28px;
  margin: 0px 20px 0px 10px;
  background: url(/images/note.gif) no-repeat 3px 12px;
}
.archivePost:last-child {
  border-bottom: none;
}
.archivePost .byline {
  padding-top: 2px;
  font-size: 9px;
  color: #777777;
}
.archivePost .year {
  float: right;
  color: #999999;
  font-weight: bold;
  font-size: 13px;
}
.archiveLink {
  text-align: left;
  padding: 4px 4px 4px 12px;
  width: 140px;
  /*border-top: 1px solid #FFFFFF;*/
}
.archiveLinkHat {
  border-bottom: 1px solid #CCCCCC;
  /*padding-top: 5px;*/
}
.unpublished a {
  color: #ABABAB;
}
.unpublished a:hover {
  color: #ABABAB;
}
.unpublished .byline {
  color: #ABABAB;
}
.previewFrame {
  width: 100%;
  border: none;
  border-top: 1px solid #CCCCCC;
  overflow: hidden;
}
.addNew {
  margin: 7px;
}
