#boxes_css {
  display: none;
}
#box_layer .tabbed_box {
  margin-bottom: -1px;
}
#box_layer .tabbed_container {
  margin-top: -4px;
  margin-bottom: -4px;
  position: relative;
}
.tabbed_box .summary_tabs {
  border-bottom: 0px;
}
#box_layer .fixed_height {
  overflow-x: hidden;
  overflow-y: scroll;
}
#box_layer .tabbed_sh {
  background: #000;
  height: 1px;
  overflow: hidden;
  position: relative;
  z-index: 1550;
}
#box_layer .tabbed_sh.tabbed_sh0 {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: #FFF;
}
#box_layer .tabbed_sh1 {
  background: #CAD0D6;
  opacity: 1;
  filter: none;
}
#box_layer .tabbed_sh2 {
  opacity: 0.11;
  filter: alpha(opacity=11);
}
#box_layer .tabbed_sh3 {
  opacity: 0.07;
  filter: alpha(opacity=7);
}
#box_layer .tabbed_sh4 {
  opacity: 0.03;
  filter: alpha(opacity=3);
}
.fig_row {
  margin: 4px 4px 0px 4px;
  padding: 2px;
  width: 50px;
  border: 1px solid #D1D1D1;
  cursor: pointer;
}
.fig_name {
  vertical-align: top;
  text-align: left;
  font-size: 1em;
  padding: 6px;
}
.fig_image {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.fig_head {
  background-color: #F2F2F2;
  width: 348px;
}
.tabbed_box .gifts {
  overflow: auto;
}
.tabbed_box .scroll_content {
  padding: 5px;
  overflow: auto;
}
.wide_box_user {
  width: 218px;
  padding: 0px 1px 10px;
  position: relative;
}
.wide_box_user .box_user_details {
  padding: 3px 0px;
}
.box_user_data {
  padding: 0px 6px;
  width: 137px;
  overflow: hidden;
}
.box_user_thumb {
  width: 50px;
  height: 50px;
  padding: 0px 4px;
  overflow: hidden;
}
.box_user {
  width: 60px;
  height: 90px;
  text-align: center;
  overflow: hidden;
}
.box_user .user_pic {
  width: 58px;
  height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
}
.box_list_wrap {
  padding: 7px 5px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}
.box_list_head {
  border-bottom: 1px solid #DAE1E8;
  margin: 0 5px 10px;
  padding: 5px 0 2px;
}
.box_userlist_more {
  text-align: center;
  padding: 10px 0 5px;
}
.box_user_date {
  color: #777;
  font-size: 0.9em;
}
.liked_box_row {
  height: 90px;
  text-align: center;
  width: 58px;
  overflow: hidden;
}
.liked_box_thumb {
  width: 58px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}
.liked_box_hide {
  display: none;
  position: absolute;
  margin: 0px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  *background-color: #000;
}
.liked_box_thumb:hover .liked_box_hide,
.wide_box_user:hover .liked_box_hide,
.user_pic:hover .liked_box_hide {
  display: block;
}
.liked_box_x {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url(/images/hide_bw.gif) no-repeat;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.liked_box_x:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
