#heading {
  font-weight: normal;
  color: #000;
  margin: 3px auto;
  text-align: center;
  font-size: 14px;
}
.dayTable {
  width: 600px;
  margin: 0px 0px 10px 0px;
}
.dayRow {
  height: 74px;
}
.dayHead {
  background-color: #CFE0F0;
  color: #255B8E;
  height: 1.6em;
  font-weight: normal;
  text-align: center;
  border: 1px solid #B6CBE7;
  border-right-width: 0px;
  border-left-width: 0px;
}
.dayMore {
  background-color: #F0E8CF;
  color: #8E7525;
  font-weight: normal;
  padding: 0px 3px;
  text-align: center;
  border: 1px solid #DAD2A7;
  margin: 1px 0px 0px 1px;
}
a.dayMore:hover {
  text-decoration: none;
}
.dayCell,
.dayCellLeft {
  background-color: #FFFFFF;
  border-right: 1px solid #B6CBE7;
  border-bottom: 1px solid #B6CBE7;
  text-align: left;
  vertical-align: top;
  width: 14%;
}
.dayCellLeft {
  border-left: 1px solid #B6CBE7;
}
.dayNum {
  background-color: #E4F0FC;
  border-right: 1px solid #B6CBE7;
  border-bottom: 1px solid #B6CBE7;
  width: 1.5em;
  height: 1.2em;
  color: #004E9D;
  text-align: center;
}
.rightArrow,
.leftArrow {
  font-size: 14px;
  font-weight: normal;
  margin: 5px;
}
.rightArrow a,
.leftArrow a {
  border: 1px solid #DAE2E8;
  line-height: 25px;
  background-color: #fff;
  padding: 0px 6px 3px 6px;
}
.rightArrow a:hover,
.leftArrow a:hover {
  text-decoration: none;
  border: 1px solid #45688E;
}
.calPic {
  text-align: center;
  margin: -8px 0px 4px 5px;
}
.titleBirthdays {
  font-size: 12px;
  font-weight: bold;
  padding: 16px 15px 0px 15px;
  color: #36638E;
  text-align: center;
}
.birthday {
  width: 270px;
  float: left;
  display: inline;
  height: 110px;
  padding: 10px;
  border: 1px solid #DAE1E8;
  background-color: #fff;
  margin: 5px;
}
#birthdays {
  padding: 12px 10px 18px 10px;
}
#oneBirthday {
  padding: 12px 0px 18px 0px;
}
#oneBirthday .birthday {
  float: none;
  display: block;
  margin: auto;
}
.birthdayPhoto {
  overflow: hidden;
  height: 105px;
}
.birthdayInfo {
  width: 150px;
  vertical-align: middle;
  padding: 5px 5px 5px 10px;
  border-left: 1px solid #e7e7e7;
  background-color: #fbfbfb;
}
