.notice {
  background-color: white;
  border: 1px solid #c0cbd5;
  color: black;
  margin: 0px 0px 14px 0px;
  padding: 8px 11px;
  line-height: 18px;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
.searchResults {
  background: #f7f7f7;
  padding: 10px 0px 5px;
}
.tBar {
  padding-top: 15px;
}
.editBody {
  background-color: #F7F7F7;
  text-align: left;
  padding: 14px;
  border-bottom: 0px solid #C0CAD5;
}
.editor {
  margin-bottom: 10px;
}
.editor td.label {
  padding-right: 15px;
  text-align: right;
  width: 150px;
}
.appRow {
  background-color: #FFF;
  border: 1px solid #DAE2E8;
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 5px 10px;
  width: 595px;
}
.appRowFixed {
  background-color: #FFF;
  border: 1px solid #DAE2E8;
  padding: 5px 0px 5px 5px;
  margin: 3px 7px 9px 10px;
  width: 440px;
  overflow: hidden;
}
.appBlock {
  background-color: #FFF;
  border: 1px solid #DAE2E8;
  padding: 5px 0px 5px 5px;
  margin: 0px 0px 7px 7px;
  width: 213px;
  float: left;
  display: inline;
}
#appSponsored {
  margin: 0px 0px 0px 3px;
}
#noApps {
  font-size: 12px;
  text-align: center;
  margin: 20px 20px 28px 20px;
  padding: 50px 10px;
  color: gray;
  background: #fff;
  border: solid 1px #ddd;
}
#appStats {
  padding: 0px 15px 8px 15px;
}
#apiFunctions {
  margin: 0px 10px;
  padding: 0px 10px 40px 10px;
}
#editFunction {
  padding: 10px 20px 40px 20px;
}
#deleteFunction {
  padding: 12px 0px;
}
textarea.source {
  width: 350px;
  height: 170px;
  font-family: Courier New;
  font-size: 11px;
}
.rightPane {
  width: 200px;
  background: #FAFAFA;
  vertical-align: top;
  border-left: 1px solid #DAE1E8;
  padding: 10px;
}
.info {
  vertical-align: top;
  width: 330px;
  padding-left: 15px;
}
.label {
  width: 90px;
  padding: 5px;
  vertical-align: top;
}
.status {
  color: #777;
}
.infotable .dataWrap {
  width: 290px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
}
.infotable .label {
  color: #777;
}
.blockTable td {
  text-align: center;
}
.blockTable .appLink {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}
.appImage {
  vertical-align: top;
}
.actions {
  vertical-align: top;
  width: 140px;
}
.actions .nav {
  vertical-align: top;
  width: 170px;
}
.divider {
  color: #777;
  font-weight: normal;
  padding: 0px 5px;
}
#addApp {
  padding-top: 10px;
  margin: 0px 10px 15px 10px;
}
#editApp {
  padding-top: 10px;
  margin: 0px 10px 15px 10px;
}
div.scrollList {
  color: #777;
  margin: 0px 0px 10px 10px;
  height: 15px;
}
div.scrollList a {
  border: 1px solid white;
  padding: 2px 5px;
  font-size: 10px;
}
div.scrollList a:hover {
  background: #EBEFF2;
  border-color: #DAE2E8;
  border: 1px solid #EBEFF2;
  padding: 2px 5px;
  font-size: 10px;
  text-decoration: none;
}
div.scrollList a.current,
div.scrollList a:hover.current {
  background-color: #DAE1E8;
  color: #45668E;
  font-weight: bold;
  border: 1px solid #DAE1E8;
  font-weight: normal;
}
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progrWrap {
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
#progrTop {
  margin-top: 3px;
}
.actions a small {
  color: #45668E;
}
.actions a:hover {
  text-decoration: underline;
}
#appch {
  padding: 5px 0px 5px 10px;
}
#appCommHead {
  color: #36638E;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-align: left;
  border: none;
}
.newcomm {
  padding: 0px;
  margin: 0px;
  float: left;
  margin-bottom: 15px;
}
.newcomm td {
  padding: 0px;
  vertical-align: top;
}
.newcomm td.image {
  width: 55px;
  text-align: left;
  height: 70px;
  overflow: hidden;
}
.newcomm td.image img {
  width: 50px;
  margin-right: 5px;
}
.newcomm .info {
  width: 100%;
}
.newcomm .info .header {
  line-height: 13px;
  padding: 3px 5px 3px;
  background: #f7f7f7;
  border-bottom: solid 1px #DAE2E8;
}
.text {
  padding: 10px 5px 5px 10px;
  width: 430px;
}
.options {
  width: 90px;
  text-align: right;
}
.photo img {
  width: 75px;
  margin-left: 5px;
}
.marketItem {
  border-top: 1px solid #DAE2E8;
  padding-top: 10px;
  margin-right: 8px;
}
.marketItem .thumb {
  float: left;
  margin: 0px 14px 0px 0px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-align: center;
}
.marketItem .info {
  float: left;
  width: 460px;
  overflow: hidden;
}
.marketItem .info div {
  margin-bottom: 3px;
}
.marketItem .title {
  font-size: 12px;
  font-weight: bold;
}
.marketItem .info a:hover {
  border-bottom: 1px solid #2B587A;
  text-decoration: none;
}
.marketItem .price {
  color: #222;
  font-weight: bold;
}
.marketItem .actions {
  font-size: 9px;
  line-height: 11px;
}
.marketItem .description {
  color: #333;
  padding: 5px 0px;
  line-height: 140%;
}
.marketItem .match {
  background: #FFF8CC;
  border-bottom: 1px solid #FFE222;
  margin: 0px;
  padding: 0px 1px;
}
.category {
  color: #999;
  font-size: 9px;
  line-height: 11px;
  padding-top: 3px;
}
.category span {
  padding: 0px 2px;
}
.sponsored {
  border-top: 1px solid #E2DAA6;
  padding: 0px;
  background-color: #E4D4CA;
}
.sponsored .sponsored_header {
  background-color: #FEFAE4;
  font-size: 10px;
  color: #908851;
  text-align: right;
  padding: 2px 5px 4px 5px;
}
.nomoney {
  border-top: 1px solid #ccc;
  padding: 0px;
}
.nomoney .sponsored_header {
  background-color: #eaeaea;
  font-size: 10px;
  color: #777;
  text-align: right;
  padding: 2px 5px 4px 5px;
}
.target {
  border-top: 1px solid #CFDEBF;
  padding: 0px;
}
.target .sponsored_header {
  background-color: #E8F2DC;
  font-size: 10px;
  color: #37702A;
  text-align: right;
  padding: 2px 5px 4px 5px;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
