.editBody {
  font: 11px tahoma;
  margin: 0px;
  padding: 0px;
  height: 96%;
  line-height: 140%;
}
.editBox {
  border: solid #C0CAD5 1px;
  background: #FFFFFF;
}
.editBody p,
tr,
td {
  margin: 0px;
  font: 11px tahoma;
}
.editBody p {
  display: block;
}
.editBody ul {
  list-style: url(/images/bullet.gif) outside;
  margin: 10px 0px;
  padding-left: 30px;
}
.editBody ol {
  margin: 10px 0px;
  padding-left: 30px;
}
#editFrame {
  border: none;
}
#buttonRow {
  margin: 5px;
}
.editButton {
  cursor: pointer;
  margin: 5px 5px 0px 0px;
}
.editButtonRight {
  cursor: pointer;
  margin: 2px 0px 2px 0px;
}
.editButtonOff {
  background: #FFFFFF;
  border: solid #C0CAD5 1px;
}
.editButtonOn {
  background: #F7F7F7;
  border: solid #36638E 1px;
}
.editButtonRowRight {
  float: right;
}
.audioContent {
  background: no-repeat url(/images/play.gif);
  padding: 1px 0px 5px 20px;
}
.objTable {
  border: dashed 1px #C0CAD5;
  width: 350px;
  margin: 0px;
}
.delObj {
  cursor: pointer;
  color: #D3D3D3;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
