#map_css {
  display: none;
}
.YMaps-slider-btn i,
.YMaps-slider-grab i,
.YMaps-slider-marks i {
  background-image: url("/images/map/slider.png") !important;
}
.YMaps-slider-grab input {
  background: none repeat scroll 0 0 transparent;
}
.YMaps-button-tip-container,
.YMaps-button-tip-l,
.YMaps-button-tip-r {
  background-image: url("/images/map/tips.png");
}
.YMaps-button-tip-text {
  font: 11px tahoma, verdana, arial, sans-serif, Lucida Sans !important;
  padding-left: 3px;
}
.YMaps-b-balloon-content {
  font: 11px tahoma, verdana, arial, sans-serif, Lucida Sans !important;
}
.YMaps-b-balloon-content a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}
.YMaps-b-balloon-content a:hover {
  text-decoration: underline;
}
.YMaps-b-balloon-content a,
.YMaps-b-balloon-content div {
  padding: 1px;
}
.YMaps-b-balloon_full .YMaps-b-balloon-bit i,
.YMaps-b-balloon_full .YMaps-b-balloon-tail-top i,
.YMaps-b-balloon_full .YMaps-b-balloon-tail-middle i,
.YMaps-b-balloon_full .YMaps-b-balloon-tail-bottom i,
.YMaps-b-balloon_full .YMaps-b-balloon-shad i,
.YMaps-b-balloon-close i {
  background-image: url("/images/map/balloon.png?1");
}
.YMaps-b-balloon_full .YMaps-b-balloon-ml {
  background-image: url("/images/map/balloon_left.png");
}
.YMaps-b-balloon_full .YMaps-b-balloon-mr {
  background-image: url("/images/map/balloon_right.png");
}
.YMaps-b-balloon_full .YMaps-b-balloon-tail-middle {
  right: 17px;
}
.YMaps-b-balloon_full .YMaps-b-balloon-tail-bottom {
  right: 14px;
}
