/* Standard skin */
.standard ul.commentsPages {
  float: left;
  height: 20px;
  list-style-type: none;
  margin: 2px 0px;
  padding-left: 0px;
}
.standard ul.commentsPages li {
  float: left;
  margin-right: 1px;
  padding: 2px 6px;
}
.standard ul.commentsPages li.current {
  background-color: #FFFFFF;
  border: 1px solid #DAE1E8;
}
/* Narrow skin */
.narrow ul.commentsPages {
  float: right;
  height: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.narrow ul.commentsPages li {
  float: left;
}
.narrow ul.commentsPages li a {
  border-bottom: 2px solid white;
  display: block;
  padding: 3px;
  padding-bottom: 2px;
  text-transform: lowercase;
}
.narrow ul.commentsPages li a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  color: white;
  text-decoration: none;
}
.narrow ul.commentsPages li.current a {
  background: transparent;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}
.footerBar {
  border-top: 1px solid #DAE2E8;
  padding: 0px 10px;
}
.footerBar .narrow ul.commentsPages li a {
  border-top: 2px solid white;
  padding-top: 1px;
  padding-bottom: 0px;
}
.footerBar .narrow ul.commentsPages li a:hover {
  border-bottom: 2px solid #45668E;
  border-top: 2px solid #45668E;
}
.footerBar .narrow ul.commentsPages li.current a,
.footerBar .narrow ul.commentsPages li.current a:hover {
  border-bottom-color: white;
  border-top: 2px solid #45668E;
}
/* end of skin */
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
#progrTop {
  margin-top: 3px;
}
