#content {
  padding: 12px 0px 0px 0px;
}
.upload {
  margin-bottom: 5px;
}
.pagePhoto {
  margin-top: 1px;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}
.pagePhoto li div div {
  background-image: url(/images/photo_actions.gif?2);
  background-repeat: no-repeat;
  width: 10px;
  height: 11px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  cursor: pointer;
}
#prevp,
#nextp,
#maximize {
  padding: 3px 3px 2px;
  margin-left: 3px;
}
#maximize div {
  width: 13px;
  background-position: -2px -112px;
}
#prevp div {
  background-position: -3px -126px;
}
#nextp div {
  background-position: -3px -138px;
}
.editHead {
  padding: 0px 0px 4px 11px;
  border-bottom: 1px solid #DAE2E8;
}
.aname {
  margin-bottom: 4px;
}
.aname a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #45668E;
}
.aname a:hover {
  text-decoration: underline;
}
.ainfo {
  color: #808080;
  font-size: 11px;
  margin-bottom: 4px;
}
.adesc {
  color: #000;
  font-size: 11px;
  margin-bottom: 4px;
}
.aimage {
  padding-left: 2px;
  text-align: left;
}
.body_rtl .aimage {
  padding: 0 2px 0 0;
  text-align: right;
}
.divider {
  font-weight: normal;
  color: gray;
  padding: 0px 6px 0px 5px;
}
.notbold {
  font-weight: normal;
}
#error small {
  font-weight: normal;
}
#error small a {
  color: #DD3C10;
  font-weight: normal;
}
#errorWrap {
  margin: 0px 10px;
}
#album {
  margin: 0px;
  padding: 10px;
  background: #f7f7f7;
}
#album td {
  width: 150px;
  padding: 3px 2px;
  text-align: center;
  vertical-align: middle;
}
#album img {
  background: white;
  padding: 6px;
  border: solid 1px #ccc;
}
#album img:hover {
  border: solid 1px #45688E;
}
.footerBar {
  padding: 0px 17px 3px 17px;
}
.footerBar .info {
  float: left;
  padding: 5px 0px;
  width: 400px;
}
.footerBar .description,
.footerBar .location,
.footerBar .album_tags {
  float: left;
  padding: 0px 0px 8px;
  width: 400px;
}
.body_rtl .footerBar .info,
.body_rtl .footerBar .description,
.body_rtl .footerBar .location,
.body_rtl .footerBar .album_tags {
  float: right;
}
.footerBar .footer_nav {
  float: right;
  width: 200px;
  display: block;
}
.body_rtl .footerBar .footer_nav {
  float: right;
}
.footerBar .pager {
  clear: right;
  float: right;
  padding-bottom: 4px;
}
#tagbox {
  z-index: 3;
  display: none;
  position: absolute;
  aborder: 1px solid #4D7086;
  border: 3px solid #C0C6D0;
  abackground-color: #DBE2E6;
  overflow: hidden;
}
#tagboxinside {
  position: absolute;
  atop: 5px;
  right: 5px;
  aleft: 5px;
  width: 100%;
  height: 100%;
  apadding-left: 5px;
  bottom: 5px;
  aborder: 1px solid #4D7086;
  abackground-color: #F7F7F7;
  background-color: #4D7086;
  overflow: hidden;
}
#tagboxspy {
  position: absolute;
}
/*
#tagframe {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 170px;
  width: 170px;
  border: solid 7px #daE1E8;
}

#tagframeinside {
  display: block;
  position: absolute;
  cursor: crosshair;
  top: 0px;
  left: 0px;
  width: 166px;
  height: 166px;
  border: solid 2px #45668E; }
*/
#photoarea {
  cursor: pointer;
  width: 604px;
}
#photomsg {
  padding: 10px;
  margin: 0;
  background: #f7f7f7;
}
#photomsg #message {
  margin: 0px;
}
#photoborder {
  padding: 0 0 10px 0;
  background: #f7f7f7;
  text-align: center;
  border-top: solid 1px #f7f7f7;
  border-bottom: solid 1px #daE1E8;
}
#photoborder img {
  /*border: solid 1px #ddd;*/
  background: white;
}
/*
  #photoborder img {
    cursor: pointer;
    cursor: hand;
  }
*/
#photoborder #photoareaouter {
  margin: 0px;
  padding: 10px;
  border-width: 0px;
  text-align: center;
  overflow: hidden;
}
#photoborder #photoarea {
  margin: auto;
  position: relative;
}
#tagframe2 {
  z-index: 5;
  display: none;
  border: 1px solid #4D7086;
  background-color: #DBE2E6;
  padding: 5px;
  position: absolute;
}
#tagframe2inside3 {
  border: 1px solid #4D7086;
  background-color: #F7F7F7;
  overflow: hidden;
  position: relative;
}
.taghandle {
  font-size: 0em;
  overflow: hidden;
  border-style: none;
  background-color: white;
  z-index: 5;
  display: none;
  position: absolute;
  opacity: 0.80;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 10px;
  height: 10px;
}
#album_to_profile {
  /*padding-left: 34px !important;
  background: url(/images/album_to_profile.gif) no-repeat 9px center;*/
}
#fadedphoto {
  top: 0;
  left: 0;
  font-size: 0em;
  overflow: hidden;
  background-color: black;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: absolute;
  z-index: 2;
  display: none;
}
#photoinfo {
  width: 606px;
  margin: 4px 10px 4px;
  /* float: left; */
}
* html #photoinfo {
  width: 606px;
}
#photocaption {
  text-align: left;
  width: 390px;
  margin: 0px;
  line-height: 15px;
  padding: 0px 11px 8px;
}
#photocaptionleft {
  width: 606px;
  text-align: left;
}
.ph_info {
  opacity: 1.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.ph_info_dis {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#photodate {
  margin: 0px;
  padding: 1px 11px 8px;
  float: left;
  color: #666;
}
#photodate .divider {
  background: none;
  padding: 0 7px;
}
#photolikes {
  color: #666;
  padding: 0 11px;
}
#phototags {
  text-align: left;
  width: 390px;
  line-height: 15px;
  margin: 0px;
  padding: 0px 11px 8px;
}
#phototags .darklink {
  color: #555;
}
#tagframe {
  background: none;
  position: absolute;
  border: 0;
  display: none;
  z-index: 3;
  cursor: move;
  overflow: hidden;
}
#tagframespycontainer {
  left: 0;
  top: 0;
  awidth: 100%;
  aheight: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
#tagframespy {
  position: absolute;
}
.tagframehandle {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #fff;
  /*border: 1px solid gray;*/
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  z-index: 4;
  overflow: hidden;
  display: none;
}
#nw {
  cursor: nw-resize;
}
#n {
  cursor: n-resize;
}
#ne {
  cursor: ne-resize;
}
#w {
  cursor: w-resize;
}
#e {
  cursor: e-resize;
}
#sw {
  cursor: sw-resize;
}
#s {
  cursor: s-resize;
}
#se {
  cursor: se-resize;
}
/*
#nw { cursor: nw-resize;  top: -6px;    left: -6px;    }
#n  { cursor: n-resize;   top: -6px;                  }
#ne { cursor: ne-resize;  top: -6px;    right: -6px;  }
#w  { cursor: w-resize;                  left: -6px;    }
#e  { cursor: e-resize;                  right: -6px;  }
#sw { cursor: sw-resize;  bottom: -6px; left: -6px;    }
#s  { cursor: s-resize;    bottom: -6px;                }
#se { cursor: se-resize;  bottom: -6px; right: -6px;  }
*/
#photocaptionleft .share_and_save {
  padding: 2px 0px 3px 11px;
}
/*
  #tagframe {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 170px;
    width: 170px;
    border: solid 7px #DAE1E8; }
*/
#tagframeinside {
  display: block;
  position: absolute;
  cursor: crosshair;
  top: 0px;
  left: 0px;
  width: 166px;
  height: 166px;
  border: solid 2px #45668E;
}
#photocommentshow {
  float: left;
  clear: left;
  margin-bottom: 10px;
}
#photocomment {
  float: left;
  padding-top: 5px;
  width: 411px;
}
#photocomment .actions a small {
  color: #45668E;
}
#photocomment .actions a:hover {
  text-decoration: underline;
}
#commenterror {
  float: left;
  clear: left;
  display: none;
  width: 375px;
}
#photoaddcomment {
  float: left;
  clear: left;
  margin: 10px 0px;
  width: 400px;
}
#photoaddcomment .nNav li {
  margin: 0;
}
#photoCommHead {
  color: #36638E;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-align: left;
  border: none;
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
  display: none;
}
#progrTop {
  margin-top: 3px;
}
#photoactions,
#photoactions_container {
  z-index: 0;
  float: right;
  width: 165px;
  margin: 3px 0px;
}
#photoactions_container {
  width: 165px;
}
#photoactions a,
#photoactions .action_link,
#photoactions .non_action {
  display: block;
  clear: both;
  padding: 4px;
  margin-bottom: 1px;
}
#actionmessage .dld a {
  display: inline;
  padding: 0px;
  border: 0px;
}
#photoactions a:hover,
#photoactions .action_link:hover {
  text-decoration: none;
  background-color: #e1e7ed;
}
#photoactions .non_action {
  margin-top: 0px;
  border-bottom: none;
  color: #666666;
}
#photoactions .non_action:hover {
  text-decoration: none;
  background: transparent;
  color: #666666;
}
a#rotateleft,
a#rotateright {
  height: 25px;
  padding-left: 35px;
  border-bottom: solid 1px #DAE1E8;
}
a#rotateleft {
  background: white url(../images/ccw.gif) no-repeat 7px 5px;
}
a#rotateleft:hover {
  background: #e1e7ed url(../images/ccwhover.gif) no-repeat 7px 5px;
}
a#rotateright {
  background: white url(../images/cw.gif) no-repeat 7px 5px;
}
a#rotateright:hover {
  background: #e1e7ed url(../images/cwhover.gif) no-repeat 7px 5px;
}
a#maximize {
  border-bottom: 1px solid #DAE1E8;
  height: 19px;
  line-height: 19px;
  padding-left: 28px;
  background: white url(../images/photo_actions.gif?2) 4px 0 no-repeat;
}
a#maximize:hover {
  background: #e1e7ed url(../images/photo_actions.gif?2) 4px -25px no-repeat;
}
a#rotateleft_new,
a#rotateright_new {
  height: 19px;
  line-height: 19px;
  padding-left: 28px;
}
a#rotateleft_new {
  background: white url(../images/photo_actions.gif?2) no-repeat 4px -54px;
}
a#rotateleft_new:hover {
  background: #dae1e8 url(../images/photo_actions.gif?2) no-repeat 4px -81px;
}
a#rotateright_new {
  background: white url(../images/photo_actions.gif?2) no-repeat 4px 0;
}
a#rotateright_new:hover {
  background: #dae1e8 url(../images/photo_actions.gif?2) no-repeat 4px -27px;
}
/* Edit Photo Album */
#editphotoalbum {
  padding: 0px;
  background: #f7f7f7;
}
#editphotoalbum .emails_error {
  border: solid 1px #dd3c10;
  background: #ffebe8;
  padding: 10px;
  margin: 10px;
  width: 580px;
}
#editphotoalbum .emails_success {
  border: solid 1px #ffe222;
  background: #fffbe2;
  padding: 10px;
  margin: 10px;
  width: 580px;
}
#editphotoalbum .photo {
  margin: 0px 10px 5px;
  padding: 10px;
  background: white;
  border: solid 1px #daE1E8;
}
/* * html .photo { margin: 100px; } */
#editphotoalbum img {
  text-align: center;
}
#editphotoalbum .photo .thumb {
  float: right;
  width: 130px;
}
.body_rtl #editphotoalbum .photo .thumb {
  float: left;
}
#editphotoalbum .photo .thumb .covercheck {
  background: #f7f7f7;
  border: solid 1px #ccc;
  padding: 1px 1px 1px;
  text-align: left;
}
.body_rtl #editphotoalbum .photo .thumb .covercheck {
  text-align: right;
}
#editphotoalbum .covercheck label {
  display: inline;
  margin: 0px 0px 0px 0px;
  color: #000000;
  font-weight: normal;
}
#editphotoalbum .photo .thumb .noradio {
  padding: 3px;
}
#editphotoalbum .photo .info {
  float: left;
  width: 450px;
}
.body_rtl #editphotoalbum .photo .info {
  float: right;
}
#editphotoalbum .photo .info textarea {
  width: 340px;
  height: 120px;
}
#editphotoalbum .photo .info .tags {
  line-height: 15px;
}
#editphotoalbum .photo .info .notags {
  display: none;
}
#editphotoalbum .photo .info label {
  float: left;
  display: block;
  margin-bottom: 2px;
}
.body_rtl #editphotoalbum .photo .info label {
  float: right;
}
#editphoto small,
#editphotoalbum small {
  color: gray;
}
#editphoto textarea,
#editphotoalbum textarea {
  margin-top: 0px;
}
#report_good {
  color: #000;
  font-weight: normal;
}
#report_bad {
  color: #AC0000;
  font-weight: normal;
}
#message h1 {
  margin-bottom: 5px;
  font-size: 11px;
}
#uploading {
  width: 100%;
}
#uploadingInner {
  width: 400px;
  margin: 20px auto 50px auto;
}
#uploading h4 {
  border-bottom: solid 1px #daE1E8;
  text-align: left;
  padding: 0px 0px 4px 0px;
  margin: 0px;
}
.body_rtl #uploading h4 {
  text-align: right;
}
#tagging_instructions,
#tagging_instructions_default_message,
.youBeenTagged {
  /*
    margin: 2px 1px 12px 2px;
    padding: 10px;
    border: 1px solid #D4BC4C;
    background-color: #F9F6E7;
    padding: 8px 11px;
    text-align:left;
*/
  afont-weight: normal;
}
#tagging_message {
  font-weight: normal;
}
#frame {
  width: 62px;
  height: 62px;
  position: absolute;
  cursor: crosshair;
  background: url(../images/tagframe.gif);
}
.sectiontype {
  padding-top: 15px;
  padding-bottom: 3px;
  margin: 0px 12px;
  border-bottom: solid 1px #ccc;
}
#photoLocation {
  width: 152px;
  overflow: hidden;
  line-height: 15px;
  border-left: solid 1px #ccc;
  float: right;
  padding-left: 10px;
}
#selector #name {
  border: 1px solid #ADBBCA;
  padding: 2px;
}
#selector img {
  background: none;
}
#tagname {
  /*
  display: none;
   color: #fff;
  font-weight: bold; position: absolute;
 background-color: white; padding: 3px 0px;
 border: 1px solid #ADBBCA;
*/
  background-color: #000000;
  color: #FFFFFF;
  display: none;
  font-weight: bold;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  overflow: hidden;
  padding: 3px;
  position: absolute;
  text-align: center;
}
#tagname a,
#tagname a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.albums_edit {
  margin: 0px 10px 5px;
  padding: 10px;
  float: left;
  width: 100%;
}
.album_edit {
  background-color: white;
  border: solid 1px #daE1E8;
  padding: 5px;
  margin: 0px 10px;
  text-align: center;
  float: left;
}
.status_message {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: 1px solid #D4BC4C;
  background-color: #F9F6E7;
  padding: 8px 11px;
  text-align: left;
}
.thumbs_edit {
  width: 100%;
  margin: 0px 10px 5px;
  padding: 10px;
  float: left;
}
.thumb_edit {
  cursor: move;
  margin: 10px;
  background-color: white;
  border: solid 1px #daE1E8;
  padding: 5px;
  float: left;
  width: 75px;
  height: 120px;
}
.thumb_edit_cover {
  background-color: #F9F6E7;
}
.thumb_edit_inner {
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  width: 75px;
  height: 100px;
  overflow: auto;
}
.thumb_edit a {
  color: #ccc;
}
.thumb_edit a:hover {
  color: #2B587A;
}
.thumb_edit_frame {
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 250px;
  font-size: 11px;
  margin-bottom: 20px;
  border: solid 1px #ADBBCA;
}
.thumb_edit_frame2 {
  border: solid 1px #ADBBCA;
  padding: 0px;
  margin: 0px;
}
.thumb_edit_frame3 {
  border: solid 2px #DAE2E8;
  padding: 5px;
  margin: 0px;
}
.thumb_edit_desc {
  width: 96%;
}
.thumb_edit_frame .buttons {
  text-align: center;
  padding: 5px 0px;
}
.thumb_edit_frame .buttons a {
  margin: 5px;
  padding: 3px 5px;
}
.thumb_edit_frame .buttons .ok {
  background-color: #45668E;
  text-align: center;
  color: #FFF;
  width: 65px;
  margin-left: 16px;
}
.hm {
  width: 50%;
  text-align: center;
}
.thumb_edit_frame .buttons .ok:hover,
.thumb_edit_frame .buttons .cancel:hover {
  background-color: #45668E;
  text-align: center;
  text-decoration: none;
  color: #DAE1E8;
}
.thumb_edit_frame .buttons .cancel {
  width: 48px;
  text-align: center;
  background-color: #45668E;
  color: #FFF;
  margin-right: 14px;
}
.thumb_edit_frame hr {
  background-color: #ccc;
  border: 0px;
  padding: 0px;
  height: 1px;
  margin: 2px 0px;
}
#innerBorder {
  border: solid 0px #ADBBCA;
  padding: 0px;
  margin: 0px;
}
#innerPadding {
  border: solid 2px #DAE2E8;
  padding: 0px;
  margin: 0px;
}
#selector {
  left: 0px;
  top: 14px;
  left: 206px;
  position: absolute;
  font-size: 11px;
  width: 189px;
  margin-bottom: 20px;
  background: #F7F7F7;
  z-index: 100;
  text-align: left;
}
#selector input {
  margin: 2px 2px 0px 5px;
  width: 166px;
}
#selector label {
  display: block;
  padding: 0px 10px 5px 10px;
  font-weight: normal;
  color: #333;
}
#nameLabel {
  background-color: #4B769F;
  border: 1px solid #45688E;
  padding: 0px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
#nameInner {
  border-top: 1px solid #6088B3;
  padding: 4px 10px 5px 10px;
}
#whitePanel {
  background-color: #fff;
  border: 1px solid #555;
  border-width: 0px 1px 0px 1px;
}
#whitePanel input {
  margin: 10px;
  font-size: 12px;
  width: 158px;
}
#selector .buttons {
  text-align: center;
  padding: 5px;
  border-width: 0px 1px;
  background-color: #fff;
  border: 1px solid #555;
  border-top: 0px;
}
#selector .buttons div {
  margin: 0px 2px;
  padding: 3px 5px;
}
#selector .buttons .tag {
  border: 1px solid #2B587A;
  background-color: #4B769F;
  padding: 0px;
  text-align: center;
  color: #FFF;
}
#selector .buttons a {
  width: 100%;
  height: 100%;
  border: none;
}
.tagLine {
  border-top: 1px solid #6E97C4;
  padding: 3px;
}
.cancelLine {
  border-top: 1px solid #fff;
  padding: 3px;
}
.hm {
  width: 55%;
  text-align: left;
}
.hm a:hover {
  text-decoration: none;
}
#selector .buttons .tag:hover {
  background-color: #678BAE;
  text-decoration: none;
}
#selector .buttons .cancel:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
#selector .buttons .cancel {
  border: 1px solid #ccc;
  background-color: #eaeaea;
  padding: 0px;
  text-align: center;
  color: #000;
}
#userlist {
  line-height: 20px;
  max-height: 190px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  background: #F7F7F7;
  overflow: auto;
  height: expression(ge('userlist').scrollHeight > 190 ? '190px' : '');;
}
#userlist label {
  display: inline;
  padding: 0px 0px 0px 4px;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
  color: #000;
}
#userlist input {
  width: auto;
  margin: 2px 0px 0px 4px;
  padding: 0px;
}
#userlist hr {
  background-color: #ccc;
  border: 0px;
  padding: 0px;
  height: 1px;
  margin: 2px 0px;
}
#invite_section {
  margin: 6px;
  border: 1px solid #c0c0c0;
  background: #f1f1f1;
  padding: 4px;
  font-size: 9px;
}
#invite_section .inputtext {
  width: 100px;
  font-size: 9px;
  height: 11px;
}
#invite_section .inputcheckbox {
  width: auto;
  float: left;
}
.body_rtl #invite_section .inputcheckbox {
  float: right;
}
#invite_section label {
  width: 30px;
  margin: 0px;
  float: left;
  padding-top: 6px;
}
.sortPhoto {
  float: left;
  width: 101px;
  height: 75px;
  text-align: center;
}
.body_rtl .sortPhoto {
  float: right;
}
.sortHelperIn {
  width: 85px;
  height: 65px;
  border: 1px dashed #D8DFEA;
  background: white;
  margin: 5px;
}
.sortPhotoImgIn {
  width: 75px;
  height: 55px;
  overflow: hidden;
}
.sortPhotoImgOut {
  border: 1px solid #CCCCCC;
  background: white;
  padding: 5px;
  margin: 7px;
  cursor: move;
}
.popup {
  background: white;
  position: absolute;
  width: 84px;
  height: 20px;
  display: none;
  text-align: center;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.popup a {
  font-size: 10px;
}
.albumBottom {
  /*width:620px;*/
  padding: 10px 0px 10px 17px;
}
.body_rtl .albumBottom {
  padding: 10px 17px 10px 0px;
}
.albumBottomRow {
  border: 1px solid #CCCCCC;
  background: white;
  width: 282px;
  float: left;
  /*border:1px solid white;*/
  height: 110px;
  padding: 5px 0 5px 5px;
  margin: 0 14px 14px 0;
}
.body_rtl .albumBottomRow {
  float: right;
  padding: 5px 5px 5px 0;
  margin: 0 0 14px 14px;
}
.noComments {
  width: 420px;
  margin-bottom: 15px;
  /*text-align:center;*/
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
.commPhPagesWrap {
  height: 15px;
}
#bottompages .commPhPages {
  margin-top: -13px;
  position: relative;
  z-index: 2;
}
.commPhPages {
  list-style-type: none;
  height: 10px;
  padding-left: 10px;
  margin: 0px;
  float: right;
}
ul.commPhPages li {
  float: left;
}
ul.commPhPages a {
  padding: 0px 2px;
  font-size: 11px;
}
ul.commPhPages a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  padding: 0px 2px;
  font-size: 11px;
  color: white;
  text-decoration: none;
}
ul.commPhPages li.current a,
ul.commPhPages li.current a:hover {
  background: transparent;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
}
#bottompages ul.commPhPages li.current a,
#bottompages ul.commPhPages li.current a:hover {
  border-bottom: 0;
  border-top: 2px solid #45668E;
}
#commentsBody {
  clear: both;
  overflow: hidden;
}
div.comment {
  margin: 0;
  clear: right;
  position: relative;
  background-color: #fff;
}
.comment a.userpic {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px 5px 5px 0px;
}
.comment a.userpic img {
  border: 0px;
}
.comment .body,
.comment .bigbody {
  width: 411px;
  overflow: hidden;
}
.comment .body .justComment,
.comment .bigbody .justComment {
  width: 356px;
  margin-left: 55px;
}
.comment .bigbody {
  width: 565px;
}
.comment .bigbody .justComment {
  width: 430px;
  margin-right: 80px;
}
.comment .header {
  background-color: #F7F7F7;
  border-top: 1px solid #45688E;
  border-bottom: 1px solid #DAE2E8;
  padding: 3px 5px;
}
.comment .header a {
  font-weight: bold;
}
.comment .text {
  padding: 5px;
  line-height: 14px;
}
.comment .photo {
  float: right;
  width: 80px;
  text-align: right;
  background-color: #fff;
}
.comment .photo img {
  width: 75px;
}
.comment .actions {
  border-bottom: 1px solid #DAE2E8;
  padding: 2px 5px;
  font-size: 10px;
}
.comment .actions span {
  color: #ADB8C3;
  padding: 0px 4px 0px 3px;
}
.comment .actions img {
  float: right;
  display: none;
  position: relative;
  top: 3px;
}
.comment .msg {
  margin: 0px 0px 10px 0px;
  padding: 10px 11px 9px;
}
.comment textarea {
  outline-style: none;
  outline-width: 0;
}
.separator {
  clear: left;
  height: 15px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.commentResult div.dld {
  padding: 9px 12px 10px 10px;
  margin: 0px;
  position: relative;
  font-weight: normal;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding: 3px 0 4px 0;
}
.body_rtl .summaryBar .summary {
  float: right;
}
.searchResults {
  background: #f7f7f7;
}
.result {
  background: #fff;
  border: 1px solid #DAE2E8;
  padding: 5px 4px 4px 4px;
  margin-bottom: 5px;
}
.results {
  padding: 10px 10px 5px 10px;
  width: 606px;
}
.editAlbum {
  width: 400px;
  margin-left: 170px;
}
.body_rtl .editAlbum {
  margin: 0 170px 0 0;
}
.editAlbum .nNav {
  margin: 18px 0px 8px 0px;
}
.editAlbum .nNav li {
  margin: 0 5px 0 0;
}
.body_rtl .editAlbum .nNav li {
  margin: 0  0 0 5px;
}
.editAlbum h5 {
  color: #36638E;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin: 12px 0px 5px;
}
.body_rtl .editAlbum h5 {
  text-align: right;
}
.formTable tr.tallRow,
.formTable tr.tallRow td {
  vertical-align: top;
}
.formTable td.label {
  color: #555555;
  padding-right: 10px;
}
.body_rtl .formTable td.label {
  padding: 0 0 0 10px;
}
#dialog {
  border: 1px solid #ADBBCA;
  margin: 0 auto;
}
#dialog td.dialog {
  background: #FFFFFF;
  border: 10px solid #DAE2E8;
  padding-top: 10px;
}
#dialog h4 {
  border-bottom: 1px solid #DAE2E8;
  font-size: 13px;
  margin: 5px 10px;
  padding: 0 0 2px;
}
#dialog p {
  margin: 10px;
}
.dialog .nNav {
  height: 25px;
  float: right;
  margin: 0 10px;
}
.body_rtl .dialog .nNav {
  float: left;
}
#message {
  border: 1px solid #D4BC4C;
  background-color: #F9F6E7;
  padding: 8px 11px;
  font-size: 11px;
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  text-align: left;
}
.body_rtl #message {
  text-align: right;
}
.fallBack {
  background: white;
  border: 1px solid #ccc;
  color: #777;
  font-size: 12px;
  line-height: 16px;
  margin: 0px 0px 5px;
  padding: 60px 20px;
  text-align: center;
}
.commentsPages {
  list-style-type: none;
  padding-left: 0px;
  height: 20px;
  margin: 0px;
  float: right;
}
ul.commentsPages li {
  float: left;
  margin-right: 1px;
  padding: 2px 6px;
}
ul.commentsPages li.current {
  border: 1px solid #DAE1E8;
  background-color: #fff;
}
.commentsPagesWrap {
  width: 370px;
  height: 20px;
  float: right;
}
.commentsPagesWrap #progrWrap,
.commentsPagesWrap #progrWrapTop {
  margin-right: 5px;
}
.album_submit_buttons {
  padding: 3px 0 20px;
}
.album_submit_buttons .button_blue {
  margin: 0;
}
.album_submit_buttons .button_gray {
  margin: 0 10px;
}
.edit_album h5 {
  color: #36638E;
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0px 5px;
}
.edit_album {
  background: #F7F7F7;
  padding: 5px 0 0 170px;
}
.edit_album .privacy_box {
  padding: 10px 0;
}
.edit_album .privacy_row {
  padding: 5px 2px;
}
.edit_album #desc {
  width: 250px;
  height: 70px;
}
.edit_album .access_level {
  padding: 13px 0 11px;
}
