#photos_add_css {
  display: none;
}
#photo_default_upload,
#photo_flash_upload {
  background: #F7F7F7;
  padding: 10px 0px;
  display: none;
}
#photo_flash_container {
  text-align: center;
  width: 100%;
}
#photo_go_to_default {
  margin: 10px 20px;
  line-height: 1.45em;
}
#photo_flash_needed {
  margin: 20px 30px;
  padding: 20px 30px;
  background: #FFF;
  border: 1px solid #CCC;
  display: none;
}
.photo_file_button {
  padding: 25px 0px;
}
.photo_file_button .file_button_gray {
  display: block;
  margin: 0px auto;
  width: 150px;
}
#photo_upload_cont {
  padding: 0px 30px 20px;
}
.photo_upload_file {
  padding: 15px 0px 10px;
  position: relative;
  border-bottom: 1px solid #E7EAED;
  min-height: 75px;
}
.photo_upload_file:last-child {
  border-bottom: 0px;
}
#photo_upload_back {
  width: 200px;
  margin: 20px auto 0px;
}
.photo_tiny_thumb {
  width: 95px;
}
.photo_tiny_thumb_a {
  display: block;
  width: 75px;
  text-align: center;
}
.photo_tiny_data {
  width: 388px;
}
.photo_tiny_caption {
  width: 380px;
  height: 30px;
}
.photo_file_cancel {
  right: 0px;
  margin-top: 31px;
  position: absolute;
  display: none;
}
#photo_html5_upload {
  background: #F7F7F7;
  padding: 10px 0px;
}
/* Photo Uploader */
.photos_add_or {
  padding: 0px 130px;
  margin-top: 10px;
}
.photos_add_or_line {
  border-bottom: 1px solid #E4E8ED;
  height: 5px;
  width: 300px;
}
.photos_add_or_text {
  margin: 0px auto;
  width: 40px;
}
.photos_add_or_text div {
  position: absolute;
  background: #FFFFFF;
  width: 40px;
  text-align: center;
  margin: 6px 0px;
}
.photos_add_button {
  margin-top: 16px;
}
.dropbox_over .photos_add_empty {
  border: 3px dashed #7F92A5;
}
.photos_add_selected .photos_add_cont {
  background: #FFFFFF;
  padding: 0px;
}
.photos_add_item {
  padding: 10px;
  width: 130px;
  height: 98px;
  display: inline-block;
}
.photos_add_img {
  max-width: 130px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.photo_rotate_ifr {
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.photos_add_controls {
  height: 0px;
  margin-top: 0px;
  position: absolute;
  overflow: hidden;
  display: none;
}
.photos_add_a_thumb {
  display: block;
  max-height: 100px;
  overflow: hidden;
}
.photos_add_c_bar {
  background: rgba(0, 0, 0, 0.4);
  height: 24px;
}
.photos_add_c_bar a {
  display: inline-block;
  width: 23px;
  height: 20px;
}
.photos_add_rl {
  background: url('/images/icons/photos_add_controls.png?1') 0px 0px no-repeat;
  margin: 2px 0px 0px 1px;
}
.photos_add_rr {
  background: url('/images/icons/photos_add_controls.png?1') 0px -21px no-repeat;
  margin: 2px 0px 0px 1px;
}
.photos_add_s {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.photos_add_wait .photos_add_s {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#photos_add_bar_progress {
  display: none;
  position: absolute;
  padding: 10px 0;
  width: 627px;
}
#photos_add_p_text {
  color: #798999;
  padding-top: 8px;
}
#photos_add_p_line {
  background: white;
  border: 1px solid #c8d3dd;
  height: 11px;
  width: 175px;
  margin-left: 224px;
  margin-top: 8px;
}
#photos_add_p_inner {
  position: absolute;
  border: 1px solid #577799;
  height: 11px;
  width: 0px;
  margin: -1px 0px 0px -1px;
  background: url('/images/photos_add_progress.gif?1') 0px 0px;
}
.photos_add_p_white {
  height: 4px;
  background: rgba(255, 255, 255, 0.8);
}
.photos_add_p_blue {
  position: absolute;
  height: 4px;
  width: 1px;
  background: #a8bdd6;
}
.photos_add_photo_p .photos_add_c_bar {
  padding: 3px;
}
/* Simple uploader */
.photos_add_s_header {
  color: #36638E;
  font-weight: bold;
  margin-bottom: 7px;
  height: 13px;
}
.photos_add_s_caption {
  width: 431px;
  height: 40px;
}
.photos_add_s_loading {
  background: url('/images/upload.gif') center no-repeat;
  padding: 40px;
}
.photos_add_s_info {
  padding-left: 8px;
  vertical-align: top;
}
.photos_add_s_move {
  padding-top: 10px;
  height: 16px;
}
.photos_add_upl_row {
  width: 603px;
  padding: 5px 0px 5px;
  display: none;
  position: relative;
  border: 1px solid white;
  border-top: 1px solid #E7EAED;
}
.photos_add_upl_row.sort_taken {
  border: none;
}
.photos_add_upl_row .photos_add_upl_table {
  padding: 10px 7px;
}
.photos_add_upl_row.photos_add_first_child {
  border-top: 1px solid white;
  padding: 5px 0px 5px;
}
.sort_taken .photos_add_upl_table {
  background: #EDF1F5;
  border: 1px solid #EDF1F5;
  opacity: 0.9;
  z-index: 400;
}
.photos_add_first_child.sort_taken {
  border-top: none;
}
.photos_add_s_thumb {
  width: 132px;
  vertical-align: top;
  text-align: center;
}
#photos_add_more_info {
  color: #777;
  padding-top: 8px;
}
.photos_add_bar_cont {
  display: none;
  height: 65px;
}
#photos_add_bar {
  width: 627px;
  z-index: 200;
}
.photos_add_bar1 {
  position: fixed;
  top: 0px;
}
.photos_add_bar2 {
  position: absolute;
}
.photos_add_bar_wrap {
  background: #EFF1F3;
  border-bottom: 1px solid #E4E8ED;
  height: 64px;
}
#photos_add_bar_progress {
  display: none;
  height: 44px;
  text-align: center;
}
.photos_add_bar_shadow {
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: 64px;
  display: none;
}
.photos_add_bar1 .photos_add_bar_shadow {
  display: block;
}
#photos_go_to_album {
  width: 627px;
  z-index: 200;
}
#photos_go_to_album_cont {
  background: #F7F7F7;
  border-top: 1px solid #DAE1E8;
  padding: 10px 0;
  text-align: center;
  border-left: 1px solid #D9E0E7;
  border-right: 1px solid #D9E0E7;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
}
#photos_go_to_album.fixed {
  position: fixed;
  bottom: 0;
}
.photos_done_bar_shadow {
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: -2px;
  display: none;
}
.photos_move_to_link {
  position: absolute;
  left: 0px;
  margin-top: 6px;
  margin: 6px 14px 0;
}
#photos_go_to_album.fixed .photos_done_bar_shadow {
  display: block;
}
#photos_add_list {
  padding: 0px 12px;
  position: relative;
}
.photos_add_empty {
  padding: 95px 26px 0px 26px;
  height: 175px;
  color: #7F92A5;
  font-size: 1.27em;
  margin: 15px;
  text-align: center;
}
#photos_movedd_container {
  visibility: hidden;
  position: absolute;
}
.photos_upload_area_enter .photos_upload_area_upload {
  display: none;
}
.photos_add_area_drop {
  display: none;
}
.dropbox_over .photos_add_area_drop {
  background: #F7F7F7;
  padding: 10px;
  display: block;
  text-align: center;
  color: #738392;
  font-size: 1.18em;
}
.photos_add_area_drop div {
  padding: 14px;
  border: 1px dashed #A3B6C9;
  background: #FFFFFF;
  height: 17px;
}
.dropbox_over #photos_add_bar_form {
  display: none !important;
  position: absolute;
}
.dropbox_over #photos_add_bar_progress {
  display: none !important;
}
#photos_add_error {
  display: none;
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  margin: 15px;
}
#photos_add_html5 {
  display: none;
}
#photos_add_flash {
  display: none;
}
