.serviceSubmit {
  height: 26px;
  margin-left: 255px;
  clear: both;
}
.serviceChecks {
  padding: 0px 0px 10px 255px;
}
.body_rtl .serviceChecks {
  padding: 0px 255px 10px 0px;
}
.label {
  color: #555;
  text-align: right;
  width: 190px;
  float: left;
  clear: both;
  padding: 5px 15px 3px 50px;
}
.body_rtl .label {
  text-align: left;
  padding: 5px 50px 3px 15px;
  float: right;
}
.labeled {
  padding-top: 2px;
  padding-bottom: 3px;
  text-align: left;
  float: left;
  width: 360px;
}
.labeled_small {
  padding-top: 2px;
  text-align: left;
  float: left;
  width: 260px;
}
.body_rtl .labeled,
.body_rtl .labeled_small {
  text-align: right;
  float: right;
}
.labeled_text {
  padding-top: 5px;
  padding-bottom: 3px;
}
.labeled input,
.labeled_small input {
  width: 142px;
}
.buttons {
  height: 26px;
  margin-left: 255px;
  clear: both;
  padding-top: 10px;
}
.body_rtl .buttons {
  margin: 0px 255px 0px 0px;
}
.settingsPanel h4 {
  clear: both;
}
td.trueLabel {
  width: 100px;
  _width: 135px;
  margin: 0px;
  text-align: right;
  vertical-align: top;
  padding: 8px 15px 0px 0px;
}
.body_rtl td.trueLabel {
  padding: 8px 0px 0px 15px;
  text-align: left;
}
td.trueValue {
  overflow: hidden;
  width: 200px;
  padding: 3px;
}
.privacy_row {
  padding: 12px 0 0 !important;
  width: 280px;
  font-weight: normal;
  color: #000;
  text-align: right;
  vertical-align: top;
}
.body_rtl .privacy_row {
  text-align: left;
}
#content {
  padding: 9px 0px 0px;
}
#updates .checkbox_container table td.checkbox_label {
  padding-left: 30px;
}
.body_rtl #updates .checkbox_container table td.checkbox_label {
  padding-right: 30px;
  padding-left: 3px;
}
.pic {
  position: absolute;
  height: 16px;
  overflow: hidden;
  margin: 6px 0px 0px 23px;
}
.body_rtl .pic {
  margin: 6px 23px 0px 0px;
}
#updates {
  padding: 10px 0px 0px 135px;
}
.body_rtl #updates {
  padding: 10px 135px 0px 0px;
}
.updatesSubmit {
  height: 26px;
  padding: 10px 0px 0px 153px;
}
.body_rtl .updatesSubmit {
  padding: 10px 153px 0px 0px;
}
.editor {
  margin: 3px 0px 7px 30px;
  width: 580px;
}
.body_rtl .editor {
  margin: 3px 30px 7px 0px;
}
#error {
  font-size: 11px;
  font-weight: bold;
}
.error {
  font-size: 11px;
  margin: 0px;
}
#messageWrap {
  background-color: white;
  background-image: url(/images/msgback.gif);
  background-position: 50% 100%;
  background-repeat: repeat-x;
  padding: 10px 10px 0px;
}
.privacySubmit {
  margin: 15px 0px 10px 315px !important;
}
.body_rtl .privacySubmit {
  margin: 15px 315px 10px 0px !important;
}
.notifyCell {
  padding-left: 100px;
}
.body_rtl .notifyCell {
  padding: 0px 100px 0px 0px;
}
.notifySubmit {
  height: 26px;
  padding-top: 10px;
  margin-left: 95px;
}
.buttons .nNav li {
  margin: 0;
}
.body_rtl .notifySubmit {
  margin: 0 95px 0 0;
}
.updatesSubmit .nNav li {
  margin-right: 5px;
}
#fQuery {
  padding: 3px 3px 3px 18px;
}
.body_rtl #fQuery {
  padding: 3px 18px 3px 3px;
}
.blacklistLabel {
  text-align: right;
  color: #555;
  padding: 5px 5px 0px 0px;
}
.body_rtl .blacklistLabel {
  text-align: left;
  padding: 5px 0px 0px 5px;
}
.blacklistField {
  text-align: left;
}
.body_rtl .blacklistField {
  text-align: right;
}
a.flatSettingsButtonActive {
  background: #4b769f url(/images/flatBtnTopActive.gif) repeat-x scroll 0 0;
  border: 1px solid #2B587A;
  color: #FFFFFF;
  line-height: 100%;
  padding: 5px 10px 6px;
  margin: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #35587E;
  white-space: nowrap;
}
a.flatSettingsButtonActive:hover {
  background-color: #678BAE;
  text-decoration: none;
  border: 1px solid #3B688A;
}
table.history {
  margin: 15px 0 15px 0;
  padding: 0 11px;
  width: 100%;
  border: none;
}
table.history tr td,
table.history tr th {
  padding: 10px 0;
}
table.history tr td {
  border-bottom: 1px solid #EEE;
}
table.history tr.last td {
  border-bottom: none;
}
table.history tr.old_session {
  color: #999;
}
table.history .cur_session {
  padding-left: 10px;
  color: #999;
}
