#html5-player {
  width: 607px;
  height: 360px;
  padding: 0;
  overflow: hidden;
}
#html5-player .bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-user-select: none;
}
#html5-player .play-button {
  background-position: 0 -50px;
  width: 15px;
  height: 15px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .pause-button {
  background-position: -15px -50px;
  width: 15px;
  height: 15px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .popup1 {
  width: 320px;
  height: 90px;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .popup-bk {
  width: 320px;
  height: 90px;
  border: 0;
  background-color: #000;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 10px 8px;
  opacity: 0.65;
  position: relative;
  left: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .big-play {
  background-position: 0 0;
  width: 50px;
  height: 50px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  position: relative;
  left: 255px;
  bottom: 81px;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .video_title {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  width: 240px;
  height: 15px;
  color: #FFF;
  overflow: hidden;
  display: block;
  padding: 0 5px 0 0;
  position: relative;
  left: 15px;
  bottom: 72px;
  text-align: left;
  display: none;
}
#html5-player .video_author {
  font-family: Tahoma;
  font-size: 11px;
  width: 240px;
  height: 15px;
  overflow: hidden;
  color: #FFF;
  display: block;
  padding: 0 5px 0 0;
  position: relative;
  left: 15px;
  bottom: 95px;
  text-align: left;
  display: none;
}
#html5-player .logo1 {
  background-position: 0 -65px;
  width: 80px;
  height: 15px;
  border: 0;
  position: relative;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#html5-player .logo2 {
  background-position: 0 -80px;
  width: 80px;
  height: 15px;
  border: 0;
  position: relative;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#html5-player .center-logo2 {
  background-position: 0 -349px;
  width: 100px;
  height: 16px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  position: absolute;
  left: 257px;
  top: 172px;
  display: block;
  z-index: 6000;
}
#html5-player .loadingGif2 {
  position: absolute;
  z-index: 6001;
  top: 175px;
  left: 288px;
  width: 30px;
  height: 5px;
  background-image: url(/images/upload_gray.gif);
  background-position: center center;
  display: none;
}
#html5-player .line-bk {
  position: relative;
  display: block;
  height: 17px;
  background-color: #000;
  opacity: 0.01;
  top: -5px;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .gray-line {
  position: relative;
  display: block;
  height: 1px;
  background-color: #777;
  top: -15px;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .line {
  position: relative;
  display: block;
  height: 1px;
  background-color: #fff;
  top: -16px;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .slider {
  display: block;
  position: relative;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}
#html5-player .progress-slider {
  border: 0;
  padding: 0;
  margin: -7px 0 0 0;
  display: block;
  width: 15px;
  height: 6px;
  position: relative;
  top: -10px;
  background-image: url(/images/video/vk1.gif);
  background-position: 0 -122px;
  -webkit-user-select: none;
  cursor: pointer;
}
#html5-player .volume-slider {
  border: 0;
  padding: 0;
  margin: -7px 0 0 0;
  display: block;
  width: 9px;
  height: 6px;
  position: relative;
  top: -10px;
  background-image: url(/images/video/vk1.gif);
  background-position: 0 -122px;
  -webkit-user-select: none;
  cursor: pointer;
}
#html5-player .time1-text {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  display: block;
  padding: 0 5px 0 0;
  color: white;
  -webkit-user-select: none;
}
#html5-player .time2-text {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  display: block;
  padding: 0 5px 0 0;
  color: #aaa;
  -webkit-user-select: none;
}
#html5-player .volume-button {
  width: 30px;
  height: 12px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .volume-button[value=max] {
  background-position: 0 -163px;
}
#html5-player .volume-button[value=ave] {
  background-position: 0 -151px;
}
#html5-player .volume-button[value=min] {
  background-position: 0 -139px;
}
#html5-player .volume-button[value=off] {
  background-position: 0 -139px;
  width: 10px;
  margin: 0 20px 0 0;
}
#html5-player .quality-button {
  width: 32px;
  height: 13px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}
#html5-player .quality-button[data-value="240p"] {
  background-position: -96px -225px;
}
#html5-player .quality-button[data-value="360p"] {
  background-position: -96px -212px;
}
#html5-player .quality-button[data-value="480p"] {
  background-position: -96px -199px;
}
#html5-player .quality-button[data-value="720p"] {
  background-position: -96px -186px;
}
#html5-player .quality-button:hover[data-value="240p"] {
  background-position: -64px -225px;
}
#html5-player .quality-button:hover[data-value="360p"] {
  background-position: -64px -212px;
}
#html5-player .quality-button:hover[data-value="480p"] {
  background-position: -64px -199px;
}
#html5-player .quality-button:hover[data-value="720p"] {
  background-position: -64px -186px;
}
#html5-player .quality-button .quality-panel {
  margin-left: 0px;
  opacity: 0.7;
  position: absolute;
  z-index: 20;
  display: none;
  bottom: 19px;
}
#html5-player .quality-button:hover .quality-panel {
  display: block;
}
#html5-player .quality-panel button {
  height: 17px;
  width: 32px;
  border: 0;
  background-image: url(/images/video/vk1.gif);
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
}
#html5-player .quality-button .quality-panel button[value="720p"] {
  background-position: -32px -186px;
}
#html5-player .quality-button[data-value="720p"] .quality-panel button[value="720p"] {
  background-position: -32px -186px;
}
#html5-player .quality-button .quality-panel button[value="720p"]:hover {
  background-position: 0 -186px;
}
#html5-player .quality-button[data-value="720p"] .quality-panel button[value="720p"]:hover {
  background-position: 0 -186px;
}
#html5-player .quality-button .quality-panel button[value="480p"] {
  background-position: -32px -203px;
}
#html5-player .quality-button[data-value="480p"] .quality-panel button[value="480p"] {
  background-position: -32px -203px;
}
#html5-player .quality-button .quality-panel button[value="480p"]:hover {
  background-position: 0 -203px;
}
#html5-player .quality-button[data-value="480p"] .quality-panel button[value="480p"]:hover {
  background-position: 0 -203px;
}
#html5-player .quality-button .quality-panel button[value="360p"] {
  background-position: -32px -220px;
}
#html5-player .quality-button[data-value="360p"] .quality-panel button[value="360p"] {
  background-position: -32px -220px;
}
#html5-player .quality-button .quality-panel button[value="360p"]:hover {
  background-position: 0 -220px;
}
#html5-player .quality-button[data-value="360p"] .quality-panel button[value="360p"]:hover {
  background-position: 0 -220px;
}
#html5-player .quality-button .quality-panel button[value="240p"] {
  background-position: -32px -237px;
}
#html5-player .quality-button[data-value="240p"] .quality-panel button[value="240p"] {
  background-position: -32px -237px;
}
#html5-player .quality-button .quality-panel button[value="240p"]:hover {
  background-position: 0 -237px;
}
#html5-player .quality-button[data-value="240p"] .quality-panel button[value="240p"]:hover {
  background-position: 0 -237px;
}
#menuLayer {
  height: 39px;
  width: 100%;
  position: relative;
  bottom: 40px;
}
#menuBk {
  height: 39px;
  width: 100%;
  background: black;
  border: 1px solid #333;
  opacity: 0.5;
  position: relative;
  display: none;
}
#menuControls {
  height: 39px;
  width: 100%;
  position: relative;
  bottom: 46px;
  display: none;
}
