#widget_community_css {
  display: none;
}
.community_head {
  display: block;
  height: 22px;
  font-weight: bold;
  padding: 6px;
  vertical-align: middle;
  line-height: 1.81em;
  color: #FFFFFF;
}
.community_head:hover {
  text-decoration: none;
}
.wcommuinty_logo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: url(/images/icons/w_logo.png);
  width: 22px;
  height: 22px;
}
.is_2x .wcommuinty_logo {
  background: url(/images/icons/w_logo_2x.png);
  background-size: 22px 22px;
}
.community_head a {
  line-height: 1.45em;
  vertical-align: top;
}
.community_head .fl_r {
  font-weight: normal;
}
.community_head span img {
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
}
.community_head .notYou {
  font-weight: normal;
}
.community_head a.moderLink {
  color: #A9B8CB !important;
  margin-left: 5px;
}
.community_stat_holder {
  height: 15px;
  margin-bottom: 5px;
  opacity: 0.1;
  filter: alpha(opacity=10);
  margin-top: 2px;
}
.community_stat_line {
  position: absolute;
  margin-top: 2px;
  height: 15px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.community_square_user {
  width: 58px;
  height: 68px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.community_square_user a {
  font-size: 0.9em;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
}
#main .community_square_user a:hover {
  text-decoration: none !important;
}
.community_square_pic {
  height: 47px;
  clear: both;
  overflow: hidden;
  padding-bottom: 3px;
}
.community_content {
  padding: 7px 0px 5px 0px;
}
.community_group_info {
  margin: 12px 0px 0px 0px;
}
.community_group_name {
  font-weight: bold;
  padding-left: 10px;
  line-height: 140%;
  float: left;
}
.community_soft_head {
  padding: 12px 0px 10px 0px;
  margin: 0px 2px;
  padding-bottom: 2px;
  text-align: center;
}
.community_soft_head a {
  font-weight: bold;
}
.community_widget_bottom {
  text-align: center;
}
.community_groups_main {
  padding-bottom: 8px;
}
.community_widget_bottom_div {
  padding: 2px 0px 3px 0px;
  text-align: center;
}
.community_widget_bottom .checkbox_container table {
  margin: 3px 0px;
}
.join_community {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  line-height: 16px;
  -webkit-transition: opacity 100ms linear, background-color 100ms linear;
  -moz-transition: opacity 100ms linear, background-color 100ms linear;
  -o-transition: opacity 100ms linear, background-color 100ms linear;
  transition: opacity 100ms linear, background-color 100ms linear;
  color: #FFFFFF;
}
.join_community:hover {
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.join_community:active {
  padding: 9px 8px 7px 8px;
}
.community_checked:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#community_like div.checkbox_inner {
  padding: 3px;
  height: 14px;
  line-height: 1.27em;
  padding-left: 7px;
  padding-bottom: 4px;
  padding-top: 4px;
  *display: block;
}
.community_simple_cont #community_event_join {
  border: none;
}
.community_event_cont {
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  color: #000000;
}
.community_event_info {
  color: #888888;
  font-weight: normal;
}
.community_event_state {
  padding-top: 10px;
  padding-bottom: 5px;
}
#community_event_join .button_blue {
  margin-top: 10px;
}
#community_event_join .button_blue button {
  width: 118px;
}
.community_anim_row {
  overflow-x: hidden;
  padding-bottom: 2px;
}
.community_inline_row {
  display: inline;
}
.community_wall {
  padding-bottom: 10px;
}
.community_wall {
  padding: 0px 10px 10px 10px;
}
.community_post {
  padding-top: 8px;
  border-top: 1px solid #DAE1E8;
  padding-bottom: 10px;
}
.dev .community_post {
  border-top: 1px solid #eef3fa;
}
.dev .community_post.first_post {
  padding-top: 0px;
}
#community_content {
  position: relative;
}
#page_wall_posts .first_post {
  border-top: none;
}
.community_post_date {
  font-weight: bold;
  color: #45688E;
}
.dev .community_post_date {
  margin: 3px 0px 6px;
  display: inline-block;
}
.community_post .wall_post_text {
  padding: 2px 0px 2px 0px;
}
.wall_more_cont {
  padding-top: 0px;
}
#wall_more_link {
  display: none;
  padding: 8px 0px;
  text-align: center;
  border-top: 1px solid #DAE1E8;
}
#wall_more_link:hover {
  text-decoration: none;
  background: #E9EDF1;
}
#wall_more_link .progress {
  margin: 0px auto;
}
#wall_more_link div {
  height: 13px;
}
.community_wall .ext_video img {
  width: 120px;
  height: 90px;
}
div.community_wall .ext_video div {
  width: 120px;
  margin-top: 75px;
}
.community_wall .video {
  position: relative;
}
.community_wall .video div span.bg {
  background: #000;
  color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.community_wall .video div span {
  color: #FFF;
  padding: 0px 3px 1px;
}
.community_wall .dld {
  color: #777;
  padding: 5px 58px 8px;
}
.community_wall .reply .dld {
  padding: 11px 4px 12px 41px;
}
.community_wall .author {
  font-weight: bold;
}
.community_wall .published_by {
  padding-left: 12px;
  background: url(/images/icons/published.gif) no-repeat 0px 3px;
  font-weight: bold;
}
.community_wall td {
  vertical-align: top;
}
.community_wall .post .text {
  max-width: 450px;
  overflow: hidden;
  padding: 5px 0px 0px;
  word-wrap: break-word;
}
.community_wall .post .text .explain {
  color: #777;
}
.community_wall .post .text .explain div {
  height: 5px;
}
.community_wall .image {
  width: 50px;
  padding: 5px 0;
  overflow: hidden;
}
.community_wall .audio .title_wrap {
  width: auto;
}
.community_wall .page_media_place_label {
  width: auto;
}
.community_wall .wall_album_cover {
  max-width: 100%;
}
.community_wall .wall_album_cover_wrap {
  width: 100%;
}
.community_wall .wall_album_caption {
  width: 100%;
}
.community_wall .like_wrap div {
  background: url(/images/icons/like.gif) no-repeat 1px 0px;
  height: 10px;
  margin: 3px 3px 0px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 11px;
}
.community_wall .like_wrap div.my_like {
  opacity: 1;
  filter: alpha(opacity=100);
}
.community_wall .like_wrap div.no_likes {
  margin-right: 0px;
}
.community_wall .like_count {
  margin-right: 3px;
}
.community_wall .reply .author {
  padding-right: 3px;
  font-weight: normal;
}
.community_wall .reply .image {
  width: 32px;
  padding: 2px 0;
}
.community_wall .reply_link_wrap {
  padding-top: 6px;
  font-size: 0.9em;
}
.font_medium .community_wall .reply_link_wrap {
  font-size: 1em;
}
.community_wall .reply_link_wrap small,
.community_wall .reply_link_wrap small a {
  color: #999;
}
.community_wall .reply_to_title {
  padding: 6px 10px 0px;
}
.community_wall .reply .info {
  width: 100%;
  padding: 0 0 0 9px;
  /* width: 293px; */
}
.community_wall .reply_text {
  word-wrap: break-word;
  overflow: hidden;
  max-width: 450px;
}
.wrh_text {
  text-align: center;
}
.wrh_prg {
  margin: 0px auto;
}
.wrh_all {
  color: #777;
}
.wr_header {
  display: block;
  cursor: pointer;
  background: #F7F7F7;
  border-top: 1px solid #DAE2E8;
  color: #2B587A;
  height: 13px;
  padding: 8px;
}
.wr_header:hover {
  text-decoration: none;
}
.community_wall .replies_wrap {
  padding-top: 11px;
}
.community_wall .post_image {
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
}
.community_wall .reply_image img {
  width: 50px;
}
.community_wall .reply_image {
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
}
.community_wall .reply {
  background: #FFF;
  border-top: 1px solid #EEEEEE;
  padding: 5px 2px;
}
.community_wall .info_footer {
  font-size: 0.9em;
  color: #999;
  padding: 4px 0 0;
  /* width: 290px; */
}
.font_medium .community_wall .info_footer {
  font-size: 1em;
}
.reply_field_wrap {
  padding: 3px;
  background: #FFF;
  border: 1px solid #C0CAD5;
}
.community_wall .actions {
  display: none;
  padding: 0px 2px;
}
.community_wall .delete_post {
  height: 13px;
  width: 17px;
  padding-top: 4px;
}
.community_wall #post_warn,
.community_wall .reply_warn {
  display: none;
  padding-top: 5px;
  color: #777;
}
.community_wall .post_media {
  padding-top: 2px;
  padding-bottom: 4px;
}
.community_wall .graffiti img {
  width: 200px;
  height: 100px;
}
.community_wall .photo img {
  vertical-align: top;
  max-height: 150px;
  overflow: hidden;
}
.community_wall .video:hover {
  text-decoration: none;
}
.community_wall .video img {
  vertical-align: top;
}
.community_wall .app img.icon {
  padding: 4px 5px 0px 0px;
  vertical-align: bottom;
}
.community_wall .app img.thumb {
  max-width: 75px;
  max-height: 75px;
  margin: 3px 6px 3px 0px;
  vertical-align: middle;
}
.community_wall .media_desc b {
  width: 15px;
  height: 10px;
  margin-top: 2px;
  background: url(/images/icons/mono_iconset.png?1) no-repeat left -237px;
}
.community_wall .media_desc .lnk {
  color: #777;
  cursor: pointer;
}
.community_wall .media_desc .lnk:hover {
  text-decoration: none;
}
.community_wall .media_desc .a {
  color: #2B587A;
}
.community_wall .media_desc .lnk:hover .a {
  text-decoration: underline;
}
.community_simple {
  padding: 9px 10px 10px 10px;
  background: #F7F7F7;
  border-bottom: 1px solid #dae1e8;
  color: #2B587A;
  font-weight: bold;
  text-align: center;
}
.community_title_cont {
  padding: 0px 10px;
}
.simple_cont {
  padding: 5px 0px 6px 22px;
  margin: 0px auto;
  left: 50%;
  background: url('/images/widget_logo.gif') 0px 4px no-repeat;
  text-align: left;
  line-height: 160%;
}
.simple_cont a {
  line-height: 160%;
}
.subscribe_cont {
  padding: 10px 0px 0px 0px;
}
#subscribe_button button {
  width: 174px;
}
#unsubscribe_button {
  padding: 6px 0px 0px 0px;
  height: 19px;
}
#unsubscribe_button a {
  font-weight: normal;
}
.community_simple_cont {
  border-bottom: 1px solid #BEC8D3;
}
.community_bottom {
  background: #F7F7F7;
  padding: 5px 10px;
}
.bottom_img {
  float: left;
  margin: 5px 0px;
}
.bottom_text {
  float: left;
  color: #777777;
  padding-left: 8px;
  margin-top: 4px;
}
.community_empty {
  color: #777777;
  padding: 50px 10px;
  text-align: center;
}
/* scrollbars */
.scrollbar_cont {
  width: 9px;
  height: 100%;
  position: absolute;
  background: rgba(200, 200, 200, 0);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  z-index: 1000;
  cursor: pointer;
}
.scrollbar_cont.scrollbar_c_overed {
  background: rgba(235, 235, 245, 0.4);
  width: 11px;
}
.scrollbar_inner {
  background: #DAE1E8;
  width: 6px;
  height: 26px;
  margin-left: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: width 150ms linear, background-color 200ms linear;
  -moz-transition: width 150ms linear, background-color 200ms linear;
  -o-transition: width 150ms linear, background-color 200ms linear;
  transition: width 150ms linear, background-color 200ms linear;
}
.scrollbar_c_overed .scrollbar_inner {
  width: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.scrollbar_inner:hover,
.scrollbar_hovered {
  background: #BEC8D3;
}
.scrollbar_top {
  position: absolute;
  height: 3px;
  margin-top: -1px;
  background: #555555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
  z-index: 100;
}
.scrollbar_bottom {
  position: absolute;
  height: 3px;
  margin-top: -2px;
  background: #555555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  z-index: 100;
}
.page_post_queue_wide {
  display: none;
}
#community_groups_main .wall_post_text {
  width: auto;
}
.wall_module .wcommunity .post_info {
  width: auto;
}
.wcommunity .wall_text {
  width: auto;
}
.widget_body .like_tt_clubs {
  display: none;
}
#page_wall_posts {
  color: #000000;
}
.dev #page_wall_posts {
  color: #2b2f33;
}
.dev .wall_post_text,
.dev .wall_signed_by {
  font-size: 12px;
}
.dev .community_post {
  padding-right: 5px;
}
.dev .wall_post_more {
  font-size: 11px;
}
.community_wall {
  background: #FFFFFF;
}
#wcommunity_name_cont {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  overflow: hidden;
  margin-left: 8px;
  text-overflow: ellipsis;
}
#wcommunity_name_cont.wcommuinty_name_scrolling {
  text-overflow: clip;
}
.wcommunity_name {
  white-space: nowrap;
  vertical-align: top;
  line-height: 22px;
}
.community_no_head .community_simple,
.community_no_head #community_friends {
  display: none;
}
.community_no_head .community_groups_main {
  padding-bottom: 0px;
  border-bottom: none;
}
.community_no_head .community_head,
.community_no_head .community_widget_bottom {
  display: none;
}
.community_no_head .community_wall {
  padding-left: 10px;
}
.community_no_head .scrollbar_top,
.community_no_head .scrollbar_bottom {
  display: none;
  visibility: hidden;
}
.community_only_info {
  margin-bottom: 4px;
  padding-left: 6px;
}
.widget_community_confirm_text {
  font-size: 13px;
  color: #777777;
  margin-top: 18px;
}
.widget_community_confirm_box {
  padding: 20px 10px;
  text-align: center;
}
