#snapster_mobile_css {
    display: none
}

@media (max-width: 750px) {
    #site_head,
    #sn_page_wrap,
    #wrap3,
    .head_cont {
        width: 100%!important
    }
    #sn_footer_cont {
        padding-left: 0px
    }
    #wrap3 {
        margin: 54px auto 0px
    }
    .logo {
        width: auto;
        position: inherit;
        text-align: center;
        font-size: 20px;
        margin: 0px 60px
    }
    .sn_upload_btn {
        display: none!important
    }
    .head_user,
    .logo {
        padding-left: 20px;
        padding-right: 20px
    }
    .head_user {
        margin-right: 0px
    }
    .head_user_arrow,
    .logged .head_user_name {
        display: none!important
    }
    .head_user_name_link {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 54px;
        width: 60px;
        cursor: pointer;
        padding-top: 20px
    }
    .logged .head_user_mobile_wrap {
        display: block!important
    }
    .head_user_mobile_wrap {
        height: 54px;
        width: 54px;
        top: 0px;
        right: 0px;
        position: absolute
    }
    .head_user_mobile_tools {
        width: 16px;
        height: 14px;
        right: 20px;
        top: 20px;
        position: absolute
    }
    .head_user_mobile_tools_line {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #48586c;
        height: 2px;
        width: 100%;
        transition: top 100ms linear, -webkit-transform 100ms linear;
        -o-transition: transform 100ms linear, top 100ms linear, -o-transform 100ms linear;
        transition: transform 100ms linear, top 100ms linear;
        transition: transform 100ms linear, top 100ms linear, -webkit-transform 100ms linear, -o-transform 100ms linear
    }
    .head_user_mobile_tools_line:nth-child(2) {
        top: 6px
    }
    .head_user_mobile_tools_line:nth-child(3) {
        top: initial;
        bottom: 0px
    }
    .head_user_tools_shown .head_user_mobile_tools_line:first-child {
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 6px
    }
    .head_user_tools_shown .head_user_mobile_tools_line:last-child {
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 6px
    }
    .head_user_tools_shown .head_user_mobile_tools_line:nth-child(2) {
        display: none
    }
    .search_wrap {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 53px;
        width: 60px;
        margin: 0px
    }
    #search_preloader,
    .search_loupe {
        top: 19px;
        left: 19px
    }
    .search_wrap_inp {
        display: none
    }
    .head_search_shown .search_wrap {
        width: 100%;
        background: #fff
    }
    .head_search_shown .search_wrap_inp {
        display: block;
        padding: 21px 60px 17px 48px
    }
    .search_mob_close {
        position: absolute;
        height: 17px;
        width: 17px;
        opacity: 1
    }
    .head_search_shown .search_mob_close_wrap {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 54px;
        width: 60px
    }
    .search_mob_close .sn_modal_close_line {
        background: #48586c;
        width: 2px;
        left: 8px
    }
    .close_search_res {
        display: none!important
    }
    .head_user_tools_wrap {
        position: fixed;
        top: 0px;
        left: 0px;
        display: none!important;
        z-index: 51
    }
    .head_user_tools_close_wrap {
        left: 0px;
        top: 0px;
        z-index: 50;
        position: fixed;
        width: 100%;
        height: 100%;
        display: none
    }
    .head_user_tools_shown .head_user_tools_close_wrap,
    .head_user_tools_shown .head_user_tools_wrap {
        display: block!important
    }
    .head_user_tools {
        box-shadow: none;
        border: 0px;
        background: #48586c;
        padding: 0px 15px;
        border-radius: 0px
    }
    .head_user_tools_item {
        color: #fff;
        text-align: center;
        line-height: 22px;
        padding: 15px 0px;
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        margin-top: 0px;
        background: none!important
    }
    .head_user_tools_item:first-child {
        border-top: 0px
    }
    .sn_page_nav_cont,
    .sn_room_info_wrap {
        margin: 0px;
        position: static;
        padding: 10px 0px;
        width: 100%
    }
    .sn_room_info_wrap .sn_block {
        border-width: 1px 0px;
        border-radius: 0px;
        padding: 16px;
        position: relative
    }
    .user_wrap_img_wrap {
        width: 50px;
        height: 50px;
        margin: 0px
    }
    .user_wrap {
        text-align: left
    }
    .user_wrap_name {
        top: 3px;
        font-size: 16px;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        right: 0px;
        padding-right: 16px
    }
    .room_followers_wrap,
    .user_wrap_name {
        left: 78px;
        position: absolute
    }
    .room_followers_wrap {
        top: 42px
    }
    .sn_romm_followers_num,
    .sn_romm_followers_str {
        color: #9297a2;
        font-size: 14px;
        margin-top: 0px;
        text-align: left;
        display: inline
    }
    .sn_edit_profile_btn {
        display: none
    }
    .user_wrap_status {
        color: #272a3a;
        font-size: 16px;
        line-height: 22px;
        margin-top: 12px
    }
    .sn_page_nav {
        display: none
    }
    .rooms_list_wrap {
        margin: 0px!important
    }
    .sn_page_nav {
        float: none;
        width: 100%
    }
    .sn_page_nav_cont {
        position: inherit!important;
        width: 100%;
        text-align: center;
        max-width: 300px;
        margin: 0px auto
    }
    .rooms_result_wrap {
        margin: 0px
    }
    #rooms_result {
        border-width: 1px 0px;
        border-radius: 0px
    }
    .rooms_list_item_cover,
    .rooms_list_item_cover_img_wr,
    .search_photo {
        width: 60px;
        height: 60px
    }
    .rooms_list_item_last_uploader {
        width: 30px;
        height: 30px
    }
    .rooms_list_item_wrap {
        padding: 10px 0px
    }
    .rooms_list_item {
        padding: 0px 10px
    }
    .rooms_list_item_title {
        font-size: 13px
    }
    .rooms_list_item_text,
    .rooms_list_item_title {
        line-height: 14px
    }
    .rooms_list_item_text {
        font-size: 12px
    }
    .rooms_list_item_date {
        margin-top: 10px;
        font-size: 12px
    }
    .rooms_list_item_cont {
        margin-left: 80px
    }
    .search_material_ava {
        width: 60px!important;
        height: 60px!important;
        font-size: 33px!important;
        padding-top: 14px!important
    }
    .user_wrap_img_material {
        width: 50px;
        height: 50px;
        font-size: 32px;
        padding-top: 9px
    }
    .photos_list {
        margin-top: -1px;
        padding: 10px 0px;
        border-radius: 0px;
        border: 0px
    }
    .sn_photo_item,
    .sn_photo_item_cont {
        width: 100%!important;
        height: auto!important;
        position: inherit;
        top: 0px!important;
        left: 0px!important
    }
    .sn_photo_item {
        margin-bottom: 15px
    }
    .sn_photo_item_img_wr {
        position: inherit
    }
    .sn_top_nav,
    .sn_pw_prev_wrap {
        display: none
    }
    .sn_photo_view_image_wr {
        position: static;
        text-align: center;
        height: auto!important;
        width: 100%!important
    }
    #sn_pw_image {
        position: static;
        max-height: none
    }
    .sn_photo_view_info {
        position: static;
        width: 100%;
        height: auto
    }
    .sn_pw_comments {
        pointer-events: none
    }
    .sn_pw_comments,
    .sn_photo_view {
        height: auto!important
    }
    #sn_modalphoto_view {
        padding: 0px
    }
    .modal_shown #wrap3,
    .modal_shown .head,
    .modal_shown .sn_footer {
        display: none!important
    }
    .sn_modal_def {
        position: static;
        overflow: hidden;
        background: #fff!important;
        padding: 0px
    }
    .sn_modal_def .sn_modal_cont {
        margin: 0px!important;
        width: 100%!important
    }
    .sn_box_title {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%
    }
    .sn_modal_def .sn_box_title {
        width: 100%!important
    }
    .sn_modal_def .sn_modal_close {
        right: 15px!important;
        top: 15px!important;
        left: initial!important;
        z-index: 1000;
        position: fixed
    }
    .sn_footer_links,
    .sn_footer_link {
        width: 100%;
        text-align: center;
        float: none
    }
    .sn_footer_link {
        margin-bottom: 10px
    }
    .sn_footer_apps {
        margin: 15px auto 5px;
        width: 120px;
        float: none
    }
    .sn_download {
        margin-bottom: 10px;
        margin-left: 15px
    }
    .sn_download_icon {
        font-size: 35px
    }
    #sn_footer_cont {
        width: 100%!important;
        padding-left: 0px!important
    }
    .sn_footer_copyright {
        width: 100%;
        text-align: center
    }
    .sn_notify_btn {
        display: none
    }
    .head_user {
        position: absolute;
        top: 0px;
        right: 0px
    }
}