.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    height: 13px;
    text-align: right;
    cursor: pointer;
    z-index: 101;
}

.dropdown_arrow {
    position: absolute;
    top: 5px;
    right: 0px;
    border: 6px solid transparent;
    border-top-color: #00AEE2;
}

.dropdown_selected {
    padding-right: 20px;
    color: #00AEE2;
    z-index: 1;
}

.dropdown_options {
    position: absolute;
    top: -13px;
    right: -15px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px 0px;
    z-index: 1;
    white-space: nowrap;
    margin-top: -8px;
    border-radius: 3px;
    visibility: hidden;
    -o-transition: visibility 200ms linear, top 100ms linear;
    transition: visibility 200ms linear, top 100ms linear;
}

.dropdown:hover {
    z-index: 103;
}

.dropdown:hover .dropdown_options {
    visibility: visible;
    z-index: 2;
}

.dropdown:hover .dropdown_arrow {
    z-index: 3;
}

.dropdown_option {
    padding: 7px 34px 7px 15px;
    color: #00AEE2;
}

.checkbox {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.checkbox:after {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid #00AEE2;
    background: #fff;
    position: absolute;
    top: -3px;
    left: 0px;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
    z-index: 1;
}

.checkbox:before {
    content: "\e90a";
    font-family: 'SnapsterIcon' !important;
    color: #fff;
    font-size: 8px;
    position: absolute;
    top: 0px;
    left: 4px;
    z-index: 2;
}

.checkbox.checkbox_active:after {
    background: #00AEE2;
}

.checkbox.checkbox_single {
    padding-left: 0px;
    width: 17px;
    height: 13px;
}

.sn_switch {
    padding: 15px 0px;
    font-size: 14px;
    cursor: pointer;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.sn_switch_but {
    height: 14px;
    width: 35px;
    border-radius: 10px;
    background: #E9EBEF;
    position: relative;
    -o-transition: background 150ms ease;
    transition: background 150ms ease;
}

.sn_switch_inner {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: -3px;
    left: 0px;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    box-shadow: 0px 0px 1px 0px rgba(15, 72, 119, 0.4);
}

.sn_switch_active .sn_switch_but {
    background: #A9CBEA;
}

.sn_switch_active .sn_switch_inner {
    left: 17px;
    background: #00AEE2;
    box-shadow: none;
}

.sn_radio_item {
    padding: 15px 10px 15px 40px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.sn_radio_item:after,
.sn_radio_item:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 2px solid #d8d8d8;
}

.sn_radio_item:before {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    left: 5px;
    border: 0px;
}

.sn_radio_item:hover:before {
    background: #f2f2f2;
}

.sn_radio_item_active:after {
    border-color: #00AEE2;
}

.sn_radio_item_active:before {
    background: #00AEE2 !important;
}

.sn_radio_caption {
    color: #888B95;
    font-size: 13px;
    margin-top: 8px;
}

.listing {
    color: #B9B9B9;
}

.listing span {
    color: #000;
}

.listing li {
    margin-top: 10px;
}

.listing li:first-child {
    margin-top: 0px;
}