#content {
    padding: 12px 0px 0px
}

#noAdmin {
    font-size: 12px;
    text-align: center;
    padding: 50px 10px;
    color: gray;
    background: #fff;
    border: 1px solid #cad1d9
}

#pageAdmin {
    background-color: #f7f7f7;
    font-size: 11px;
    padding: 10px
}

.adminTable {
    border: 1px solid #cdd5db;
    border-top: 1px solid #ddd;
    background-color: #fff
}

.adminTable th {
    font-size: 9px;
    font-weight: 700;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    text-align: left
}

.adminTable td {
    padding: 5px
}

.adminTable .odd {
    background-color: #f3f5f7
}

#karmaPlus {
    padding: 20px
}

#karmaPlus div {
    padding-left: 5px
}

.warnRow {
    border: 1px solid #cad1d9;
    background-color: #fff;
    margin-bottom: 5px
}

.warnTop {
    padding: 10px 0px 10px 157px;
    border-bottom: 1px solid #cad1d9;
    border-top: 1px solid #cad1d9;
    margin-bottom: 5px;
    background-color: #dae1e8;
    font-size: 11px;
    text-align: left
}

.warnArrow {
    width: 100px;
    font-size: 30px;
    color: #36638e;
    text-align: center
}

.summaryBar {
    border-bottom: 1px solid #dae2e8;
    clear: both;
    padding: 11px 10px 0;
    color: #000;
    font-weight: 400;
    line-height: normal
}

.summaryBar .summary {
    color: #45688e;
    float: left;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 4px
}

ul.adminNav {
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 0
}

.adminNav li {
    float: left;
    display: inline;
    margin-left: 5px;
    text-align: center;
    width: expression(this.getElementsByTagName('a')[0].offsetWidth+16+'px');
    border-bottom: 1px solid #eee;
    border: 1px solid #cad1d9;
    background-color: #dae1e8;
    padding: 5px 7px
}

.adminNav li a:hover {
    color: #2b587a;
    text-decoration: none
}

.adminNav li a {
    color: #2b587a;
    display: inline;
    white-space: nowrap
}

.adminNav li.falseAlarm {
    margin: 3px 0px 0px;
    background-color: #fff;
    font-size: 9px;
    border: 0px
}

.itemRow {
    border: 1px solid #cad1d9;
    background-color: #fff;
    margin-bottom: 5px
}

.itemName {
    padding: 5px 10px;
    border-left: 1px solid #e7e7e7;
    margin: 15px 0px 5px;
    background-color: #f3f6f9;
    background-color: #fbfbfb;
    font-size: 11px;
    text-align: left
}

.itemName a {
    font-size: 10px
}

.itemName span {
    color: #999;
    font-size: 10px
}

.itemName div {
    margin-top: 4px
}

.greylink {
    font-weight: 700;
    color: #d3d3d3
}

.greylink:hover {
    color: #36638e
}

.banned .banned_row {
    padding: 8px;
    margin-bottom: 2px;
    background: #fff;
    border: 1px solid #d8dfea;
    clear: both
}

.banned .banned_row.hl {
    background-color: #e7f1f9;
    border-color: #4c96d4
}

.banned .banned_row .banned_number {
    float: left
}

.banned .banned_row .banned_name {
    margin-left: 4px;
    float: left
}

.banned .banned_row .banned_option {
    float: right
}

.banned .banned_row .banned_name .banned_option {
    float: none;
    margin-top: 1px
}

.banned .banned_row b {
    color: #000
}

.banned_additional_info {
    float: right;
    text-align: right
}

a.filter_btn_off,
a.filter_btn_on {
    cursor: pointer;
    margin: 0px 2px 3px;
    padding: 2px 10px 3px
}

a.filter_btn_off {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    color: #36638e
}

a.filter_btn_on {
    background-color: #fff;
    border: 1px solid #dae2e8;
    color: #36638e
}

a.filter_btn_off:hover,
a.filter_btn_on:hover {
    background-color: #edf0f3;
    border: 1px solid #c0cad5;
    color: #36638e;
    text-decoration: none
}

.box_panel {
    display: block;
    padding: 2px;
    background: #edeff1
}

.box_panel_editor {
    background: #fff;
    border: 1px solid #adbbca;
    display: block
}

.box_panel_editor h2 {
    border-bottom: 1px solid #dae2e8;
    color: #45688e;
    padding: 5px 0px 3px;
    margin: 0px 0px 10px;
    font-size: 13px
}

.box_panel_border {
    border: 10px solid #dae2e8;
    padding: 10px
}

.progressBar {
    margin: 5px 0px 0px 10px;
    vertical-align: 0px;
    float: left;
    display: none
}

.boxButtons {
    margin-top: 10px;
    height: 23px
}

#addingModeratorMessageCont {
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 700;
    display: none
}

.errorMessage {
    border: 1px solid #e89b88;
    background-color: #ffefe8;
    padding: 8px 11px
}

.infoMessage {
    border: 1px solid #4c96d4;
    background-color: #e7f1f9;
    padding: 8px 11px
}

.addingModerator {
    padding: 10px 40px;
    background: #f7f7f7;
    border-bottom: solid 1px #d8dfea;
    display: none
}

#informer_moders_table div.even,
#informer_moders_table div.odd {
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-top: 0px;
    width: 260px
}

#informer_moders_table div.odd {
    background-color: #f3f5f7
}

#informer_moders_table div.even.removed {
    background-color: #fefae4;
    border-bottom-color: #ded8b1;
    color: #908851
}

#informer_moders_table div.odd.removed {
    background-color: #faf6e1;
    border-bottom-color: #ded8b1;
    color: #908851
}

.result_list .listH1 li {
    border-color: #ccc #fff #fff #ccc;
    padding: 3px 8px;
    text-align: right
}

.result_list .listH2 li {
    border-color: #ccc #fff #fff #eee
}

.result_list .listH2 li,
.result_list .listM li {
    padding: 3px 8px;
    text-align: right
}

.timepicker_container {
    width: 160px
}

.result_list i {
    font-style: normal;
    color: #999
}

.result_list .active i {
    color: #fff
}

.result_list ul li.ts_active {
    background-color: #e1e8ed;
    border: 1px solid #c3c8cc;
    padding-top: 2px;
    z-index: 1
}

.result_list ul li.ts_first_active {
    padding-top: 2px;
    margin-top: 0px
}

.moder_in_tree {
    clear: left;
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin: 5px 0 0;
    padding: 4px 4px 4px 25px;
    width: 420px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7
}

.sort_rev_icon_wrap {
    padding: 2px;
    margin-right: 5px
}

.sort_not_rev_icon,
.sort_rev_icon {
    display: block;
    width: 15px;
    height: 11px;
    background: url(/images/photoorder.gif) left 0
}

.sort_not_rev_icon {
    background-position: left -14px
}

.is_2x .sort_not_rev_icon,
.is_2x .sort_rev_icon {
    background-image: url(/images/photoorder_2x.gif);
    background-size: 15px 25px
}