.audios {
    padding: 5px 4px 5px 25px
}

#audio_edit_table .mainPanel {
    position: static
}

#content {
    padding: 0px
}

#bigResult {
    border-bottom: 1px solid #dae1e8
}

.summary a,
.divider {
    font-weight: 400
}

.divider {
    color: #777
}

#addAudio {
    padding: 20px 80px;
    margin: 0px 15px 15px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: left
}

#audio_file {
    margin: 15px
}

#messageTitle {
    border: 1px solid #ccc;
    background-color: #efefef;
    padding: 8px 11px;
    font-size: 11px;
    margin: 0px 10px 10px
}

#messageTitle,
h4,
h5 {
    font-weight: 700;
    text-align: left
}

h4,
h5 {
    font-size: 12px;
    margin: 10px auto
}

h4,
h5,
h3 {
    color: #36638e
}

h3 {
    border-bottom: 1px solid #b9c4da;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0px 16px;
    padding-bottom: 2px
}

h5 span {
    color: #bbb
}

#restrictions {
    color: #36638e;
    font-size: 11px;
    font-weight: 700;
    margin: 0px 0px 7px
}

ul.listing {
    padding-left: 20px;
    margin-bottom: 20px
}

#uploading {
    width: 100%
}

#uploadingInner {
    width: 400px;
    padding-top: 50px;
    margin: 0px auto 100px
}

#uploading h4 {
    border-bottom: solid 1px #dae1e8;
    text-align: left;
    padding: 0px 0px 4px;
    margin: 0px
}

#flashUpload {
    margin: 10px 20px 20px
}

#searchTip {
    padding-top: 10px
}

#audioUpload {
    width: 350px;
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 15px 0px;
    border: 2px solid #ccc;
    background-color: #efefef;
    text-align: center
}

#standardUpload ul.nNav {
    margin-left: 130px
}

#uploadError {
    color: #dd3c10;
    font-weight: 700;
    margin-top: 15px
}

#progressWrapper {
    width: 280px;
    margin: 0px auto;
    margin-bottom: 15px;
    height: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    text-align: left
}

#progressBar {
    height: 14px;
    width: 0;
    background-color: #6b8cab;
    border: 1px solid #36638e;
    text-align: center;
    color: #fff
}

.result {
    border-width: 0px;
    margin-bottom: 0px
}

.result_wrap {
    border: 1px solid #ccc
}

.aname {
    margin-bottom: 4px
}

.aname a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #45668e
}

.aname a:hover {
    text-decoration: underline
}

.ainfo {
    color: gray
}

.ainfo,
.adesc {
    font-size: 11px;
    margin-bottom: 4px
}

.adesc {
    color: #000
}

.aimage {
    padding-left: 2px;
    text-align: left
}

.aimage a img {
    padding: 1px;
    border: 1px solid #aaa;
    background-color: #fff
}

.aimage a:hover img {
    border: 1px solid #45688e
}

.divider {
    color: gray;
    padding: 0px 4px 0px 3px
}

#innerBorder {
    border: solid 0px #adbbca;
    padding: 0px;
    margin: 0px
}

#innerPadding {
    border: solid 2px #dae2e8;
    padding: 0px;
    margin: 0px
}

#selector {
    left: 0px;
    top: 14px;
    left: 206px;
    position: absolute;
    font-size: 11px;
    width: 189px;
    margin-bottom: 20px;
    background: #f7f7f7;
    z-index: 100
}

#selector input {
    margin: 2px 2px 0px 5px;
    width: 166px
}

#selector label {
    display: block;
    padding: 0px 10px 5px;
    font-weight: 400;
    color: #333
}

#nameLabel {
    background-color: #4b769f;
    border: 1px solid #45688e;
    padding: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 700
}

#nameInner {
    border-top: 1px solid #6088b3;
    padding: 4px 10px 5px
}

#whitePanel {
    background-color: #fff;
    border: 1px solid #555;
    border-width: 0px 1px
}

#whitePanel input {
    margin: 10px;
    font-size: 12px;
    width: 158px
}

#selector .buttons {
    text-align: center;
    padding: 5px;
    border: 1px solid #555;
    border-width: 0px 1px;
    background-color: #fff
}

#selector .buttons div {
    margin: 0px 2px;
    padding: 3px 5px
}

#selector .buttons .tag {
    border: 1px solid #2b587a;
    background-color: #4b769f;
    padding: 0px;
    text-align: center;
    color: #fff
}

#selector .buttons a {
    width: 100%;
    height: 100%
}

.tagLine {
    border-top: 1px solid #6e97c4;
    padding: 3px
}

.cancelLine {
    border-top: 1px solid #fff;
    padding: 3px
}

.hm {
    width: 55%;
    text-align: left
}

.hm a:hover {
    text-decoration: none
}

#selector .buttons .tag:hover {
    background-color: #678bae;
    text-decoration: none
}

#selector .buttons .cancel:hover {
    background-color: #f5f5f5;
    text-decoration: none
}

#selector .buttons .cancel {
    border: 1px solid #ccc;
    background-color: #eaeaea;
    padding: 0px;
    text-align: center;
    color: #000
}

#userlist {
    line-height: 20px;
    max-height: 190px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    background: #f7f7f7;
    overflow: auto;
    height: expression(ge('userlist').scrollHeight > 190 ? '190px': ge('userlist').scrollHeight + 'px')
}

#userlist label {
    display: inline;
    padding: 0px 0px 0px 4px;
    margin: 0px;
    font-weight: 400;
    color: #000
}

#userlist input {
    width: auto;
    margin: 2px 0px 0px 4px;
    padding: 0px
}

#userlist hr {
    background-color: #ccc;
    border: 0px;
    padding: 0px;
    height: 1px;
    margin: 2px 0px
}

#invite_section {
    margin: 6px;
    border: 1px solid silver;
    background: #f1f1f1;
    padding: 4px;
    font-size: 9px
}

#invite_section .inputtext {
    width: 100px;
    font-size: 9px;
    height: 11px
}

#invite_section .inputcheckbox {
    width: auto;
    float: left
}

#invite_section label {
    width: 30px;
    margin: 0px;
    float: left;
    padding-top: 6px
}

.goodFrame {
    position: absolute;
    border: 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0)
}

#audiocommentshow {
    float: left;
    clear: left;
    margin-bottom: 10px
}

#audiocomment {
    float: left;
    margin-top: 6px;
    width: 400px
}

#audiocomment .actions a small {
    color: #45668e
}

#audiocomment .actions a:hover {
    text-decoration: underline
}

#audioaddcomment {
    float: left;
    clear: left;
    margin: 10px 0px;
    width: 20em
}

#audioCommHead {
    color: #36638e;
    font-size: 11px;
    margin: 0px 0px 5px;
    font-weight: 700;
    text-align: left;
    border: none
}

#audioactions {
    float: right;
    width: 150px;
    margin: 3px 0px
}

#audioactions .action_link,
#audioactions .non_action,
#audioactions a {
    display: block;
    width: 100%;
    height: 100%;
    clear: both;
    padding: 3px;
    background: #fff;
    border-bottom: solid 1px #ccd3da
}

#audioactions .action_link:hover,
#audioactions a:hover {
    text-decoration: none;
    background-color: #dae1e8
}

#audioactions .non_action {
    margin-top: 0px;
    border-bottom: none;
    color: #666
}

#audioactions .non_action:hover {
    text-decoration: none;
    background: transparent;
    color: #666
}

#audioinfo {
    margin: 4px 10px
}

#audioinfo,
* html #audioinfo {
    width: 606px
}

#audiocaption {
    text-align: left;
    width: 390px;
    margin: 0px;
    line-height: 15px;
    padding: 0px 11px 8px
}

#audiocaptionleft {
    width: 606px;
    text-align: left
}

#audioLocation b {
    color: #2b587a
}

#audiodate {
    margin: 0px;
    padding: 4px 11px 8px;
    float: left
}

#audioLocation {
    width: 170px;
    line-height: 15px;
    border-left: solid 1px #ccc;
    float: right;
    padding-left: 10px
}

#audiotags {
    margin: 7px 30px 3px 70px;
    width: 470px
}

#audiocaption {
    margin: 10px 35px 3px 65px;
    width: 470px
}

#selectorOverlay {
    z-index: 101;
    background-image: url(/images/upload.gif);
    background-position: 50%;
    background-repeat: no-repeat
}

#selectorOverlay,
#contentOverlay {
    position: absolute;
    background-color: #000;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

#contentOverlay {
    z-index: 1
}

#message {
    border: 1px solid #d4bc4c;
    background-color: #f9f6e7;
    padding: 8px 11px;
    font-size: 11px;
    font-weight: 700;
    margin: 0px 0px 10px;
    text-align: left
}

#progrWrap,
#progrWrapTop {
    float: left;
    margin-left: 5px;
    vertical-align: bottom
}

#progr,
#progrMid,
#progrTop {
    display: none
}

#progrTop {
    margin-top: 3px
}

div.scrollList {
    color: #777;
    margin: 0px 0px 10px 10px;
    height: 15px
}

div.scrollList a {
    border-bottom: 1px solid #fff;
    padding: 0px 2px;
    font-size: 10px
}

div.scrollList a:hover {
    background: #45668e;
    border-color: #dae2e8;
    border-bottom: 1px solid #45668e;
    padding: 0px 2px;
    font-size: 10px;
    color: #fff;
    text-decoration: none
}

div.scrollList a.current,
div.scrollList a:hover.current {
    background-color: transparent;
    color: #45668e;
    font-weight: 700;
    border-bottom: 2px solid #45668e
}

.sectiontype {
    color: #000;
    padding: 5px 3px 3px;
    margin-bottom: 12px;
    border-bottom: solid 1px #ccc
}

.audioEditRow {
    border: 1px solid #d8dfea;
    cursor: move;
    padding: 4px 10px;
    margin-bottom: 3px
}

.audioEditRow,
.audioRow {
    background-color: #fff;
    font-size: 11px
}

.audioRow {
    padding: 0 5px
}

.editLabel {
    vertical-align: top;
    padding: 10px 10px 0px 0px;
    color: #555;
    width: 100px;
    text-align: right
}

.editLabeled {
    vertical-align: top;
    padding-top: 5px
}

.column {
    float: left
}

.body_rtl .column {
    float: right
}

.mainPanel {
    overflow: hidden;
    padding: 10px 0px;
    position: relative;
    width: 451px;
    background: #fff;
    border-right: 1px solid #dae1e8
}

.sidePanel {
    padding: 0px 0px 10px;
    width: 175px
}

#audio_table {
    background: #f7f7f7
}

.audioEditRowPlaying {
    border: 1px solid #d8dfea;
    cursor: default;
    background-color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    margin-bottom: 3px
}

.audioEditRow b,
.audioEditRowPlaying b,
.audioRow b,
.audioSearchRow b {
    color: #45688e
}

a.addAudioLink {
    background: #fff;
    display: block;
    padding: 3px 3px 3px 6px
}

a.addAudioLink:hover {
    background: #dae1e8;
    color: #36638e;
    text-decoration: none
}

.commentsPages {
    list-style-type: none;
    padding-left: 0px;
    height: 20px;
    margin: 0px 0px 5px;
    float: left
}

ul.commentsPages li {
    float: left;
    margin-right: 1px;
    padding: 2px 6px
}

ul.commentsPages li.current {
    border: 1px solid #dae1e8;
    background-color: #fff
}

.commentsPagesWrap {
    float: none;
    width: 410px;
    height: 25px;
    margin-left: 35px
}

.summaryBar {
    border-bottom: 1px solid #dae2e8;
    clear: both;
    padding: 11px 10px 0;
    color: #000;
    font-weight: 400
}

.summaryBar .summary {
    color: #45688e;
    float: left;
    font-weight: 700;
    padding: 3px 0 4px
}

#searchAudio {
    vertical-align: top;
    padding: 10px;
    text-align: center;
    display: block
}

#quickquery.inputSearch {
    display: inline;
    vertical-align: middle;
    width: 137px;
    margin: 0
}

.results {
    padding: 10px 10px 5px;
    width: 606px
}

.searchResults {
    background: #f7f7f7
}

.audioTitle {
    float: left;
    width: 320px
}

.editDuration {
    color: #777
}

.audioAddText {
    text-align: right;
    margin: 4px 25px 0px 0px;
    font-size: 10px
}

.fallBack {
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 0px 5px;
    padding: 60px 20px;
    text-align: center
}

.editActions {
    clear: both;
    padding-top: 3px
}

.listProgress {
    padding: 130px 0px 90px 160px
}

#af_pages_top {
    float: right;
    padding: 22px 3px 0
}

#audio_edit_table {
    background: #f7f7f7
}

#audio_edit_table .mainPanel {
    border: 0;
    background: #f7f7f7;
    padding: 8px 0 8px 8px;
    width: 444px
}

.side_filter {
    border: 1px solid #f7f7f7;
    color: #2b587a;
    padding: 4px 5px 4px 10px
}

.side_filter.drag_on {
    background: url(/images/plus.gif) 138px no-repeat
}

.side_filter.drag_on.drag_over {
    border: 1px solid #dae1e8;
    color: #2b587a;
    background: #dae1e8 url(/images/plus.gif) 138px no-repeat
}

.side_filter_over {
    background-color: #dae1e8;
    border: 1px solid #dae1e8;
    color: #2b587a;
    padding: 4px 5px 4px 10px;
    cursor: pointer
}

.side_filter_selected {
    background-color: #6d8fb3;
    border: 1px solid #3b6798;
    color: #fff;
    cursor: pointer;
    padding: 4px 5px 4px 10px
}

.side_filter_sep {
    border-bottom: 1px solid #dae2e8;
    height: 1px;
    overflow: hidden;
    margin: 5px 0px
}

#alist_name_edit {
    margin: 0px;
    height: 16px;
    width: 160px;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 3px
}

#alist_edit_wrap {
    padding: 8px 0px 0px 8px
}

#list_change_name {
    margin-left: 6px
}

#alist_wrap {
    padding: 14px 0px 0px 13px
}

#list_edit_box_alist_name,
#privacy_box_alist_name {
    font-size: 12px
}

.alist_cell,
.alist_cell_on,
.alist_cell_over {
    float: left;
    border-bottom: 1px solid #fff;
    margin: 0px 3px 2px 0px;
    cursor: pointer
}

.alist_cell_over {
    border-bottom: 1px solid #f4f4f4
}

.alist_cell_on {
    border-bottom: 1px solid #d1d1d1
}

.alist_cell .alist_border_wrap {
    border: 1px solid #fff
}

.alist_cell_over .alist_border_wrap {
    background-color: #e1e8ed;
    border: 1px solid #c3c8cc
}

.alist_cell_on .alist_border_wrap {
    border: 1px solid #3b6798;
    background: #6d8fb3 url(/images/check_friend.gif) 100% 100% no-repeat
}

.alist_wrap {
    border: 1px solid #fff;
    width: 445px;
    height: 15px;
    padding: 3px;
    overflow: hidden
}

.alist_outer_wrap {
    height: 42px;
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;
    aline-height: 100%
}

.alist_duration {
    color: #666;
    padding: 0 5px
}

.alist_div {
    margin-right: 3px;
    float: left;
    border: 1px solid #d1d1d1;
    background-color: #fff
}

.alist_cell_over .alist_div {
    border: 1px solid #a2adb5
}

.alist_cell_on .alist_div {
    border: 1px solid #3b6798
}

.alist_cell_over .alist_wrap {
    border: 1px solid #d8dee1;
    border-top: 1px solid #edf3f7
}

.alist_cell_on .alist_wrap {
    border: 1px solid #5c82ab;
    border-top: 1px solid #7e9cbc
}

.alist_image {
    margin: 2px;
    overflow: hidden;
    height: 50px;
    width: 50px
}

.alist_title {
    margin-left: 3px;
    overflow: hidden;
    word-wrap: break-word;
    word-wrap: nowrap;
    color: #000
}

.alist_cell_on .alist_duration,
.alist_cell_on .alist_title,
.alist_cell_on .alist_title a {
    color: #fff
}

.alist_cell_on em,
.alist_cell_over em,
.alist_cell em {
    background-color: #d8dfea;
    color: #000;
    font-style: normal;
    font-weight: 700;
    text-decoration: inherit
}

.alist_cell_on em {
    background-color: #2f5c86;
    color: #fff
}

.alist_cell_over em {
    background-color: #c0c7d2
}

.alist_empty {
    background-color: #fff;
    color: #777;
    font-size: 13px;
    text-align: center;
    padding: 103px 0px 90px;
    margin: 10px 10px 12px
}

.alist_more {
    padding: 10px;
    text-align: center;
    cursor: pointer
}

.alist_shadow {
    opacity: 0.25;
    width: 478px;
    filter: alpha(opacity=25);
    background-color: #000;
    height: 1px;
    overflow: hidden;
    z-index: 2000;
    position: absolute
}

.audio_row {
    clear: both;
    height: 20px
}

.t_filter_area {
    border-bottom: 1px solid #d8dfea;
    padding: 10px;
    background-color: #f7f7f7;
    _padding-bottom: 18px
}

:first-child+html .t_filter_area {
    padding-bottom: 18px
}

.t_filter_selected {
    float: left;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    margin-bottom: -1px;
    cursor: pointer
}

.t_filter_selected .t_filter2 {
    border: 1px solid #3b6798;
    border-top: 1px solid #395676;
    border-bottom: 1px solid #4a73a0
}

.t_filter_selected .t_filter3 {
    border: 1px solid #5c82ab;
    padding: 2px 5px 3px;
    background-color: #6d8fb3;
    color: #fff;
    font-weight: 700
}

.t_filter_off {
    cursor: pointer;
    padding: 4px 7px 5px;
    color: #45688e;
    font-weight: 700;
    float: left;
    margin-right: 10px;
    margin-bottom: -1px
}

.audio_list_top {
    border-bottom: 0px solid #c1c1c1;
    padding: 8px 10px 9px 8px;
    background-color: #f6f6f6;
    _padding-bottom: 18px
}

:first-child+html .audio_list_top {
    padding-bottom: 18px
}

#list_edit_box_audio_list_lookup,
#privacy_box_audio_list_lookup {
    float: right;
    width: 190px
}

.audio_list_body {
    padding: 4px 0px 0px 3px;
    width: 474px;
    height: 276px;
    border-top: 0px solid #e1e1e1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff
}

.blue_button_shadow {
    border-bottom: 1px solid #d1d1d1
}

.blue_button {
    border: 1px solid #3b6798
}

.blue_button_body,
.blue_button_body_over {
    border: 1px solid #5c82ab;
    border-top: 1px solid #7e9cbc;
    background-color: #6d8fb3;
    _width: 120px;
    color: #fff;
    padding: 5px;
    text-align: center;
    cursor: pointer
}

.blue_button_body_over {
    border: 1px solid #7293b7;
    border-top: 1px solid #92acc7;
    background-color: #84a1bf
}

#audio_edit_table .sidePanel,
#audio_table .sidePanel {
    padding: 8px;
    width: 159px
}

#audio_edit_table td,
#audio_table td {
    vertical-align: top
}

#audio-player .audio_play-button {
    width: 16px;
    height: 17px;
    border: 0;
    background-image: url(/images/play.gif);
    padding: 0;
    margin: 0;
    cursor: pointer
}

#audio-player .audio_pause-button {
    width: 16px;
    height: 17px;
    border: 0;
    background-image: url(/images/pause.gif);
    padding: 0;
    margin: 0;
    cursor: pointer
}

#audio-player .audio_play-progress {
    position: relative;
    display: block;
    height: 7px;
    background-color: red;
    margin-top: -7px;
    cursor: pointer
}

#audio-player .audio_load-progress {
    position: relative;
    display: block;
    height: 7px;
    background-color: blue;
    margin-top: 0;
    cursor: pointer
}

#audio-player .audio_author-text {
    font-weight: 700
}

#audio-player .audio_author-text,
#audio-player .audio_title-text {
    font-family: Tahoma;
    font-size: 11px;
    display: inline;
    padding: 0 5px 0 0;
    color: #000
}

#audio-player .audio_progress-slider {
    width: 15px
}

#audio-player .audio_progress-slider,
#audio-player .audio_volume-slider {
    border: 0;
    padding: 0;
    margin: -7px 0 0;
    display: block;
    height: 6px;
    position: relative;
    background-color: #5f7d9d;
    -webkit-user-select: none;
    cursor: pointer
}

#audio-player .audio_volume-slider {
    width: 9px
}

#audio-player .audio_slider {
    display: block;
    position: relative
}

.repeat_wrap {
    position: relative
}

.repeat {
    background: #fff url(/images/repeat.gif?1) no-repeat 0px 0px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: -20px;
    width: 15px;
    height: 15px;
    display: none
}

.repeat.on {
    background-position: 0px -16px
}

#tooltip {
    display: none;
    height: 23px;
    padding: 0px;
    z-index: 3000;
    position: absolute;
    cursor: pointer
}

.tooltip_top {
    background-color: #fff;
    color: #2c587d;
    border: 1px solid #96aabe;
    padding: 2px 5px 3px;
    white-space: nowrap
}

.tooltip_bottom {
    display: none;
    z-index: 500;
    height: 5px;
    overflow: hidden;
    margin-top: -1px;
    *padding-top: 4px;
    background: transparent url(/images/pics/tooltip_c7.gif) no-repeat 7px 0px
}

.tooltip_line1 {
    z-index: 400;
    opacity: 0.12;
    filter: alpha(opacity=12)
}

.tooltip_line1,
.tooltip_line2 {
    overflow: hidden;
    background: #000;
    height: 1px;
    margin-top: 0px
}

.tooltip_line2 {
    z-index: 401;
    opacity: 0.05;
    filter: alpha(opacity=5)
}

.audioRow td {
    padding: 3px 2px
}

.audioRow td.play_btn {
    width: 20px;
    vertical-align: top
}

.audioRow td.play_title {
    width: 360px
}

.play_line {
    height: 14px;
    margin-left: 28px
}