.bugRow {
  padding: 5px;
  height: 30px;
  margin-bottom: 5px;
}
.emptyRow {
  height: 2px;
}
.bugRow td.bugRowLeft {
  border-left-style: solid !important;
  border-left-width: 1px !important;
  text-align: center;
  width: 30px;
}
.tdlink {
  cursor: pointer;
  color: #36638E !important;
  font-weight: bold;
}
.bugRow td.bugRowRight {
  border-right-style: solid !important;
  width: 80px;
}
.bugRow td {
  padding: 5px;
  border-right-style: dashed !important;
  border-left-width: 0px !important;
  border: 1px solid;
}
.bug_info td {
  padding: 1px 5px;
}
.bug_info {
  padding: 5px;
  margin: 10px;
  background-color: #FCFCFC;
  border: 1px solid #E0E0E0;
}
.priority0 {
  font-style: italic;
}
.priority2 {
  font-weight: bold;
}
.bugListRow {
  height: 40px;
}
.bugListRow td {
  padding: 5px 3px;
  border-bottom: 1px solid #DAE2E8;
}
.bugListRow.status1 td,
.bugListRow.status2 td {
  background-color: #F0F0F0;
  color: #666666;
  border-color: #DAE2E8;
}
.bugListRow.status1 a,
.bugListRow.status2 a {
  color: #606060;
}
.bugListRow.status-1 td,
.bugListRow.status-2 td,
.bugListRow.status0 td {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #DAE2E8;
}
.bugListRow.unread td {
  background-color: #F5F9FB;
}
.status0 td {
  background-color: #FCFCFC;
  border-color: #E0E0E0;
  color: #666666;
}
.status1 td,
.msgstatus1,
.btnstatus1 {
  background-color: #E8F2DC;
  border-color: #CFDEBF;
  color: #37702A;
}
.status2 td,
.msgstatus2 {
  background-color: #DCE2DC;
  border-color: #BFCEBF;
  color: #2A502A;
}
.status-1 td,
.msgstatus-1,
.btnstatus2 {
  background-color: #F5E9E2;
  border-color: #E4D4CA;
  color: #8B4C23;
}
.status-2 td {
  background-color: #FAF3C8;
  border-color: #E8E0C3;
  color: #A49E79;
}
.status-2 .bugRowInner {
  background: #FAF3C8 url('/images/icons/money.gif') no-repeat right center;
  padding: 2px 0;
  padding-right: 25px;
}
.btnstatus,
.msgstatus {
  border-width: 1px;
  border-style: solid;
}
.btnstatus {
  float: right;
  padding: 5px 10px 6px;
}
.btnstatus:hover {
  text-decoration: none !important;
}
.btnstatus1:hover {
  color: #37702A;
}
.btnstatus2:hover {
  color: #8B4C23;
}
.msgstatus {
  padding: 10px;
  margin-bottom: 10px;
  /*float:left;*/
  width: 380px;
}
.msgmove {
  background-color: #E0ECEA;
  border: 1px solid #C6D7D5;
  color: #4C7171;
}
.header td {
  background-color: #FAF3D8;
  border: 1px solid #E8E0C3;
}
.images {
  padding: 10px;
  margin: 10px;
  background-color: #FCFCFC;
  border: 1px solid #E0E0E0;
}
.fallBack {
  background: white none repeat scroll 0%;
  /*border:1px solid #CCCCCC;*/
  color: #777777;
  font-size: 12px;
  line-height: 16px;
  margin: 10px;
  padding: 60px 20px;
  text-align: center;
}
.commentsPages {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  height: 20px;
  float: left;
}
.commentsPagesWrap {
  clear: both;
}
.mainPanel {
  overflow: hidden;
  padding: 10px 0px;
  position: relative;
  width: 451px;
}
.column {
  float: left;
}
.note {
  padding: 10px 10px 35px 15px;
}
.note .profile_thumb {
  float: left;
  padding: 0px 10px 0px 0px;
  width: 50px;
}
.note .note_body {
  float: left;
  width: 350px;
}
.note .free_header {
  background: #f7f7f7;
  border-bottom: solid 1px #DAE1E8;
  border-top: solid 1px #45688E;
  padding: 4px 6px 5px 6px;
}
.note .paid_header {
  background: #FAF3D8;
  border: 1px solid #E8E0C3;
  border-bottom: solid 1px #E8E0C3;
  border-top: solid 1px #888855;
  padding: 4px 6px 5px 6px;
}
.note .paid_header .byline {
  height: 18px;
  width: 385px;
  background: url('/images/icons/money.gif') no-repeat right bottom;
}
.note .note_title {
  color: #45688E;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  float: left;
  margin: 0px;
  padding: 0px 0px 1px 0px;
  width: 280px;
}
.note .share_and_hide {
  float: right;
}
.note .byline {
  clear: both;
  color: #333;
  padding: 0px;
  margin: 4px 0px 0px;
  height: 18px;
  width: 385px;
}
.note .byline span {
  color: #666;
}
.note_content {
  clear: both;
  margin-left: 6px;
  padding: 10px 0px 0px 0px;
  word-wrap: break-word;
  line-height: 140%;
}
.note .note_footer {
  border-top: 1px solid #ddd;
  clear: both;
  font-size: 9px;
  margin-top: 10px;
  padding: 0px 2px 0px 6px;
}
.note .note_footer_left {
  color: #666;
  float: left;
  width: 170px;
}
.note .note_footer_right {
  color: #333;
  float: right;
  text-align: right;
  width: 170px;
}
.sidePanel {
  padding: 0px 0px 10px 0px;
  width: 175px;
}
.sidePanel h2 {
  font-size: 11px;
}
.wide_note {
  padding: 10px 10px 10px 20px;
}
.wide_note .note_body {
  width: 400px;
}
.wide_note .note_title {
  width: 325px;
}
.wide_note .note_footer {
  font-size: 11px;
}
.wide_note .note_footer_left {
  width: 175px;
}
.wide_note .note_footer_right {
  color: gray;
  width: 215px;
}
.comments_count {
  padding: 5px 0px 0px 0px;
}
#blogcomment {
  float: left;
  width: 400px;
}
#blogcomment .actions a small {
  color: #45668E;
}
#blogcomment .actions a:hover {
  text-decoration: underline;
}
#blogaddcomment {
  float: left;
  clear: left;
  margin: 10px 0px;
  width: 20em;
}
#blogaddcomment h4 {
  border: none;
}
#commenterror {
  float: left;
  display: none;
  width: 375px;
  margin-left: 28px;
}
.notbold {
  font-weight: normal;
}
#blogCommHead {
  color: #36638E;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-align: left;
  border: none;
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
#progrTop {
  margin-top: 3px;
}
.note_content ul {
  list-style: url(/images/bullet.gif) outside;
  margin: 10px 0px;
  padding-left: 30px;
}
.note_content ul li {
  padding: 1px 0px;
  color: black;
}
.note_content ol {
  margin: 10px 0px;
  padding-left: 30px;
}
.noComms {
  font-size: 12px;
  text-align: center;
  padding: 50px 10px;
  margin: 15px 20px 10px 20px;
  color: gray;
  background: #f7f7f7;
  border: solid 1px #ddd;
}
#notesBar {
  background: #f7f7f7 url(/images/note_1.gif) repeat-y 0px 0px;
}
.commentsPages {
  list-style-type: none;
  padding-left: 0px;
  height: 20px;
  margin-bottom: 5px;
  float: left;
}
ul.commentsPages li {
  float: left;
  margin-right: 1px;
  padding: 2px 6px;
}
ul.commentsPages li.current {
  border: 1px solid #DAE1E8;
  background-color: #EEF2F4;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
.flatTabs {
  padding-top: 12px;
  background-color: #FAFAFA;
}
.flatTab.link {
  border-style: none;
  text-align: right;
  margin: 0px;
  background-color: #F7F7F7;
}
.flatTab.link a {
  border-bottom: 0px;
}
.flatTab.link a:hover {
  background-color: #F7F7F7;
}
.topRow {
  background: repeat-x scroll center bottom;
  line-height: 150%;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.topRowGold {
  background-color: #FAF3D8;
  background-image: url(/images/golden.gif);
  border: 1px solid #E6E0B6;
  color: #908851;
}
.topRowGold a {
  color: #706831;
}
.topRowGoldLink {
  color: #908851;
}
.topRowGold .topRowNum {
  color: #706831;
}
.topRowSilver {
  background-color: #F1F1F1;
  background-image: url(/images/silver.gif);
  border: 1px solid #D6D6D6;
  color: #808080;
}
.topRowSilver .topRowNum {
  color: #606060;
}
.topRowSilver a {
  color: #606060;
}
.topRowSilverLink {
  color: #808080;
}
.topRowBronze {
  background-color: #F6CDB0;
  background-image: url(/images/bronze.gif);
  border: 1px solid #DF9F76;
  color: #AB6C43;
}
.topRowBronze .topRowNum {
  color: #8B4C23;
}
.topRowBronze a {
  color: #8B4C23;
}
.topRowBronzeLink {
  color: #AB6C43;
}
.cost {
  float: right;
  padding: 2px 20px;
  font-weight: bold;
  font-size: 12px;
  color: #777744;
}
.message {
  border: 1px solid #4C96D4;
  background-color: #E7F1F9;
  padding: 8px 11px;
  margin: 0px 10px;
  font-size: 11px;
  font-weight: bold;
}
#filters {
  border-bottom: 1px solid #dae2e8;
  background: #f7f7f7;
  padding: 6px 7px 6px 7px;
  overflow: hidden;
}
#filters a:hover,
.filter_sections a:hover {
  text-decoration: none;
}
.filter_section {
  display: inline;
  border-right: 1px solid #DAE2E8;
  padding: 5px 4px 5px 0px;
  margin: 0px 4px 0px 0px;
  height: 13px;
}
.filter_btn_off,
.filter_btn_on {
  cursor: pointer;
  margin: 0px 2px 3px 2px;
  padding: 2px 3px 3px 17px;
}
.filter_btn_off {
  color: #36638E;
  background-color: #FFF;
  border: 1px solid #DAE2E8;
}
.filter_btn_off.no_checkbox {
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
}
.filter_btn_on {
  background: #EDF0F3 url('/images/checkbox.gif') 3px 5px no-repeat;
  border: 1px solid #C0CAD5;
  color: #36638E;
  background-color: #FFF;
  border: 1px solid #DAE2E8;
}
.filter_dropdown,
.filter_droppeddown {
  cursor: pointer;
  background: #EDF0F3 url('/images/dropdown.gif') 95% 5px no-repeat;
  margin: 0px 2px 3px 2px;
  border: 1px solid #C0CAD5;
  padding: 2px 40px 3px 10px;
  color: #36638E;
  background-color: #FFF;
  border: 1px solid #DAE2E8;
}
#filter_dropdown_body {
  position: absolute;
  display: none;
  width: 120px;
  padding: 0px;
  margin-left: 507px;
  margin-top: 3px;
}
.filter_btn_off:hover,
.filter_btn_on:hover,
.filter_droppeddown,
.filter_dropdown:hover {
  background-color: #DAE2E8;
  color: #36638E;
  text-decoration: none;
  background-color: #EDF0F3;
  border: 1px solid #C0CAD5;
}
.filter_only_me {
  cursor: pointer;
  background: #EDF0F3;
  border: 1px solid #C0CAD5;
  border-left: 0px;
  color: #2265a1;
  padding: 2px 3px 3px 3px;
  background-color: #FFF;
  border: 1px solid #DAE2E8;
}
.filter_only_me:hover {
  background-color: #DAE2E8;
  text-decoration: none;
  background-color: #EDF0F3;
  border: 1px solid #C0CAD5;
}
.no_top_border,
.no_top_border:hover {
  border-top: 0px;
}
.no_checkbox,
.no_checkbox:hover {
  background-image: none;
  padding: 2px 10px 3px 10px;
}
.bugHref {
  margin: 10px 5px 0px;
  padding: 2px 7px;
  border: 1px solid #C0CAD5;
  background: #FAFAFA;
  color: #666666;
}
.comm {
  margin-bottom: 15px;
}
.wallpost {
  float: none;
  margin: 0;
}
.t_filter_area {
  border-bottom: 1px solid #D8DFEA;
  padding: 6px 10px;
  background-color: #F7F7F7;
  _padding-bottom: 18px;
}
*:first-child + html .t_filter_area {
  padding-bottom: 18px;
}
.t_filter_selected {
  float: left;
  border-bottom: 1px solid #FFFFFF;
  margin-right: 10px;
  margin-bottom: -1px;
  cursor: pointer;
}
.t_filter_selected .t_filter2 {
  border: 1px solid #3B6798;
  border-top: 1px solid #395676;
  border-bottom: 1px solid #4A73A0;
}
.t_filter_selected .t_filter3 {
  border: 1px solid #5C82AB;
  padding: 2px 5px 3px 5px;
  background-color: #6D8FB3;
  color: #FFFFFF;
  font-weight: bold;
}
.t_filter_off {
  cursor: pointer;
  padding: 4px 7px 5px;
  color: #45688E;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-bottom: -1px;
}
