#content {
  padding: 0;
}
.summary_bar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
label {
  font-weight: normal;
  color: #000;
}
.summary_bar #summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
table.main_table {
  width: 100%;
}
table.main_table td,
.onewish table td {
  vertical-align: top;
}
#main_panel {
  width: 460px;
}
.alertmsg {
  margin-right: 18px;
}
.error {
  background: #ffddd2;
  border-color: #d27e6d;
}
.box_body .alertmsg,
.box_body .error {
  margin: 0px 0px 10px 0px;
}
.msg {
  margin-right: 18px;
}
.error {
  margin-right: 18px;
}
.alertmsg ul {
  font-weight: normal;
  list-style-type: none;
  margin: 8px 15px 0px;
  padding: 0;
  line-height: 16px;
}
#msgNoVotes {
  margin: 0px 0px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
#selectGiftContainer {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
#selectGift {
  margin: 0px;
}
#selectGift a {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  padding: 4px;
}
#selectGift img {
  display: block;
}
#selectGift div {
  color: #000;
  visibility: hidden;
  opacity: 0.92;
  filter: alpha(opacity=92);
  background: #F2E9BA;
  text-align: center;
  width: 102px;
  margin: 0px 0px 0px -4px;
  position: absolute;
  z-index: 999;
}
#selectGift span {
  margin: 2px 0px 2px 0px;
  display: block;
}
#selectGift div.gifts_left {
  background: url('../images/gifts_count_bg.gif') center no-repeat;
  visibility: visible;
  text-align: center;
  margin-top: -20px;
  height: 15px;
  font-size: 9px;
  font-weight: bold;
  padding-top: 4px;
  padding-left: 1px;
  color: #696029;
  opacity: 0.85;
  filter: alpha(opacity=85);
  position: relative;
  z-index: 2;
}
b.rbottom {
  display: block;
  background: #FFF;
}
b.rbottom b {
  display: block;
  height: 1px;
  overflow: hidden;
  background: #F2E9BA;
}
b.rbottom b.r {
  margin: 0 1px;
  height: 1px;
}
#selectGift a.gold {
  background: url('../images/gift_gold_bg.gif') no-repeat;
}
#selectGift a:hover,
#selectGift a.gold:hover {
  background: url('../images/gift_bg.gif') no-repeat;
  background-color: transparent;
  text-decoration: none;
}
#selectGift a:hover div {
  visibility: visible;
}
#selectGift a:hover div.gifts_left {
  visibility: hidden;
}
#selectGift a.unactive:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#selectGift a.active {
  background: url('../images/gift_bg.gif') no-repeat;
}
#giftPreviewContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#giftPreviewBox {
  position: absolute;
  z-index: 999;
  border: 1px solid #ADBBCA;
  left: 50%;
  margin-left: -139px;
  background: url('../images/merger-loader.gif') no-repeat center #FFF;
}
#giftPreviewBox img {
  display: block;
  width: 256px;
  height: 256px;
  border: 10px solid #DAE2E8;
}
#giftForm {
  padding: 15px 0px 0px 15px;
}
.formButtons {
  height: 26px;
  margin: 20px 0px 0px 0px;
}
.formButtons li {
  margin-left: 0px;
  margin-right: 6px;
}
label.headerLabel {
  display: block;
  float: left;
  margin-top: 12px;
  margin-bottom: 7px;
  color: #36638E;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
#giftMessage a {
  margin-top: 33px;
  margin-right: 28px;
  float: right;
}
#giftMessage label {
  width: 320px;
}
#giftText {
  width: 320px;
  height: 120px;
  float: left;
}
#selectGiftType {
  float: left;
  width: 320px;
}
#selectGiftType span {
  color: #888;
  display: block;
  margin-left: 2.2em;
}
#infoBox {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}
#infoBox #linkGetVotes {
  font-weight: bold;
  display: block;
  margin-top: 3px;
}
#infoBox ul.nNav {
  float: none;
  margin: auto;
  width: 12em;
}
#infoBox ul.nNav li {
  margin: 0;
  border: 0;
  float: none;
}
ul.commentsPages {
  float: right;
}
#sideMenu {
  border-top: 1px solid #fff;
}
#sideMenu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#sideMenu li {
  padding: 5px 0px 5px 15px;
}
#sideMenu li.active {
  background-color: #eaeaea;
}
#sideMenu li.active a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
#sideMenu li.sub {
  margin-top: 6px;
}
#welcomeMessage {
  padding: 35px 20px;
}
#welcomeMessage div {
  padding: 0px 10px 10px 10px;
}
#memberGiftsList {
  padding: 15px 10px;
}
.giftRow {
  padding: 0px;
  margin: 0px;
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.giftRow td {
  padding: 0px;
  vertical-align: top;
}
.giftRow td.image {
  width: 55px;
  text-align: left;
}
.giftRow td.image img {
  width: 50px;
  margin-right: 5px;
}
.giftRow .info {
  width: 100%;
  border-top: solid 1px #45688E;
}
.giftRow .info .header small,
.wallpost .info .header b {
  font-weight: normal;
  color: #000;
}
.header .privacy {
  float: right;
  font-weight: bold;
  color: #999;
}
.giftRow .info .header {
  padding: 3px 5px 3px;
  background: #f7f7f7;
  border-bottom: solid 1px #DAE2E8;
}
.giftRow .info .actions {
  padding: 3px 5px;
  border-bottom: solid 1px #DAE2E8;
  border-top: none;
  clear: right;
  text-align: right;
  font-size: 10px;
}
.goldRow .info {
  border-top: solid 1px #45688E;
}
.goldRow .info .header {
  background: #fffbe7;
  border-bottom: solid 1px #DAE2E8;
}
.goldRow .info .actions {
  border-bottom: solid 1px #DAE2E8;
}
.giftRow .info .header a.profile_link {
  font-weight: bold;
}
.giftRow .info .actions a:hover {
  text-decoration: underline;
}
.giftRow .info .text {
  padding: 5px 5px 10px 5px;
  text-align: center;
  width: 375px;
  _width: 365px;
  overflow: auto;
  line-height: 140%;
}
.giftRow .info .gifts {
  padding: 15px 5px 10px 5px;
  text-align: center;
  overflow: auto;
}
.giftRow .gift_tip {
  margin: 8px 0px;
  color: #333;
  border: 1px solid #dae2e8;
  background: #f7f7f7;
  padding: 5px;
  line-height: 140%;
}
.giftRow .gift_msg {
  margin-top: 6px;
}
.gift_loader {
  width: 256px;
  height: 256px;
  margin: 0 auto;
  background: url('../images/merger-loader.gif') no-repeat center #FFF;
}
.noGifts {
  font-size: 12px;
  text-align: center;
  padding: 50px 10px;
  margin: 15px 30px 10px 20px;
  color: gray;
  background: #f7f7f7;
  border: solid 1px #ddd;
}
#settingsForm {
  padding: 6px 0px 10px 20px;
}
#settingsForm div {
  margin-bottom: 4px;
  margin-left: 4px;
}
.maininput {
  float: left;
  width: 328px;
}
.maininput input {
  width: 320px;
}
.wish {
  border-bottom: 1px solid #CBD2D8;
  padding: 0px 10px;
  margin: 0px 0px 10px;
  background-color: #FFF;
}
.wishlast {
  margin: 0px 0px 10px;
  padding: 0px 10px;
  background-color: #FFF;
}
.box_body .wishlast {
  margin: 0px;
  padding: 0px 10px 10px;
}
.wish_image {
  display: block;
  width: 100px;
  height: 100px;
  background: #FFF no-repeat 50% 50%;
  padding: 4px;
  border: 0px;
  /*1px solid #B4B4B4;*/
}
.wish_name {
  float: left;
  padding: 0px 0px 4px;
  font-weight: bold;
  color: #36638E;
}
.wish_name span {
  color: #777;
  font-weight: normal;
}
.wish_merchant {
  clear: left;
  padding: 0px 0px 4px;
  font-size: 10px;
  color: #666;
}
.wish_not_enough {
  height: 18px;
  border: 1px solid #ECECEC;
  border-width: 1px 0px;
  background-color: #FAFAFA;
}
.wish_not_enough_left {
  position: absolute;
  height: 18px;
  border: 1px solid #D5E2EF;
  border-width: 1px 0px;
  background-color: #E6EEF4;
}
.wish_not_enough_text {
  position: absolute;
  height: 15px;
  width: 287px;
  padding: 3px 0px 3px 5px;
  color: #486981;
}
.wish_status {
  float: right;
  font-weight: bold;
}
.wish_description {
  clear: left;
  padding: 0px 0px 12px;
  color: #000;
}
.wish_button .button_blue {
  margin: 0px 10px 0px 0px;
}
.wish_links {
  float: right;
  position: relative;
  top: -5px;
  clear: both;
  font-size: 10px;
}
.wish_price {
  padding-top: 6px;
  margin-top: 0px;
}
.participate_form {
  padding-top: 15px;
}
#memberWishes {
  padding: 15px 10px 0px;
}
#participate a:hover {
  text-decoration: underline;
}
.separator {
  background-color: #FFFFFF;
  clear: left;
  height: 10px;
  position: relative;
  z-index: 1;
}
#main_panel #comments {
  margin: 10px auto 20px;
  width: 420px;
}
.wish_comm {
  overflow: hidden;
  border-top: 1px solid #EEEEEE;
  padding-top: 9px;
}
.wish_comm.first {
  border-top: 1px solid #DCE4E9;
}
.wish_comm a.thumb {
  display: block;
  float: left;
  margin: 0px 5px 5px 0px;
  height: 25px;
  overflow: hidden;
}
.wish_comm a.thumb img {
  width: 25px;
}
.wish_comm .comm {
  line-height: 14px;
  padding: 0px 0px 5px 5px;
  margin-left: 30px;
}
.wish_comm .comm .amount,
.wish_comm .comm .old_amount {
  float: right;
  background-color: #F9F1C1;
  border: 1px solid #D7CF9E;
  font-size: 11px;
  color: #88751C;
  padding: 4px;
}
.wish_comm .comm .old_amount {
  background-color: #F7F7F7;
  border-color: #CCC;
  color: #888;
}
.wish_comm .comm small {
  color: #777;
}
#comment_form {
  display: none;
}
#comment_form #wish_comment {
  width: 412px;
  height: 70px;
}
.msgs {
  padding: 0px 20px;
}
.send_button {
  margin: 7px 0px;
  height: 25px;
}
.wish div.alertmsg,
.wishlast div.alertmsg,
.onewish div.alertmsg {
  float: left;
  clear: none;
  font-weight: normal;
  padding: 5px 8px;
  margin: 6px 10px 0px 0px;
}
#progress_top,
#progress_bottom {
  display: none;
  float: right;
  padding: 6px;
}
#gift_error .error {
  margin: 0px;
}
#box_body a:hover {
  text-decoration: underline;
}
a.mb_tab2,
a.mb_tab2:hover {
  display: block;
  text-decoration: none;
}
div.mb_tab_selected a.mb_tab2 {
  color: #FFF;
}
#page {
  background-color: #F7F7F7;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #DAE2E8;
}
.add_wish_row {
  clear: both;
  width: 400px;
  margin: 0px auto;
}
.box_body #cont_wrapper {
  background-color: #FFF;
  clear: left;
  overflow-x: hidden;
  overflow-y: auto;
}
.box_body .cont {
  width: 500px;
  margin: 0px auto;
}
.box_body .image_cont {
  padding: 3px;
  width: 96px;
  height: 96px;
  float: left;
  margin: 3px 10px 3px 0px;
  background: #FFF url(/images/upload.gif) no-repeat 50% 50%;
}
.box_body .image_cont img {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.box_body .item_description {
  padding: 7px 4px 4px;
  color: #000;
}
.box_body .item_name {
  padding: 7px 4px 4px;
  font-weight: bold;
  color: #36638E;
}
.box_body .item_details {
  padding: 0px 4px;
  font-size: 10px;
  color: #666;
}
#participate_not_enough {
  visibility: hidden;
  font-weight: normal;
  margin: 10px 0px 0px;
}
#wishlist_button table,
#demo_button table,
#demo_button_box table {
  margin: 0px auto;
}
#demo_button,
#demo_button_box {
  padding: 10px 0px;
}
#your_gift {
  padding: 4px 0px;
}
#amount_rub {
  padding-left: 5px;
}
#participate_amount {
  width: 60px;
}
#participate_comment {
  width: 200px;
  height: 50px;
}
.wish_price div {
  padding: 3px 0 4px 0;
}
#participate_not_enough_text span {
  padding: 2px 0;
  background-color: #FFF;
}
.summary_tabs {
  padding: 5px 5px;
  border-bottom: 1px solid #DAE1E8;
  background: #F7F7F7;
}
.summary_right {
  padding: 8px 5px;
}
.summary_tab,
.summary_tab_sel {
  font-weight: bold;
  padding: 8px 5px 7px;
}
.summary_tab2 {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px 5px 4px;
  display: block;
}
.pageBody .summary_tab2:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.summary_tab_sel .summary_tab2,
.summary_tab_sel .summary_tab2:hover {
  background: #597DA3;
}
.summary_tab3 {
  max-width: 230px;
  *display: inline;
  height: 13px;
  overflow: hidden;
  font-weight: bold;
  color: #45688E;
  padding: 0px 3px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.summary_tab_sel .summary_tab3 {
  color: #FFF;
}
.summary_tab_x {
  width: 11px;
  height: 11px;
  margin: 2px 1px 0px;
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  filter: alpha(opacity=12);
}
.summary_tab_x:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.summary_tab_sel .summary_tab_x {
  background-position: 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.summary_tab_sel .summary_tab_x:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
