.t_filter_area {
  border-bottom: 1px solid #D8DFEA;
  padding: 10px;
  background-color: #F7F7F7;
  padding-bottom: 32px;
}
*:first-child + html .t_filter_area {
  padding-bottom: 18px;
}
.t_filter_selected {
  float: left;
  border-bottom: 1px solid #FFFFFF;
  margin-right: 10px;
  margin-bottom: -1px;
  cursor: pointer;
}
.t_filter_selected .t_filter2 {
  border: 1px solid #3B6798;
  border-top: 1px solid #395676;
  border-bottom: 1px solid #4A73A0;
}
.t_filter_selected .t_filter3 {
  border: 1px solid #5C82AB;
  padding: 2px 5px 3px 5px;
  background-color: #6D8FB3;
  color: #FFFFFF;
  font-weight: bold;
}
.t_filter_off {
  cursor: pointer;
  padding: 4px 7px 5px;
  color: #45688E;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-bottom: -1px;
}
.group_row_btns {
  margin: 10px 15px 0px -7px;
}
.group_row_btn {
  margin-right: 7px;
}
.group_row_btn button {
  padding-left: 8px;
  padding-right: 8px;
}
