.editorPanel {
  padding: 0px;
}
.gm_right {
  background-color: #F7F7F7;
  border-left: 1px solid #ccc;
}
.gm_left {
  background-color: #F7F7F7;
  overflow: hidden;
  width: 387px;
}
.gm_right .pad {
  padding: 10px 16px 13px 16px;
}
.gm_left .pad {
  padding: 10px 16px 13px 16px;
}
.iPanel {
  /*border: 1px solid #D8DFEA;
 background-color: #FFF;
 padding:8px;*/
  margin: 10px 0px;
  height: 300px;
  width: 200px;
  overflow: auto;
}
.mPanel {
  background-color: #F7F7F7;
  margin: 10px 0px;
}
.mPanel .mOff {
  padding: 7px;
  border: 1px solid #D8DFEA;
  margin-bottom: 2px;
  background: #fff;
}
.mPanel .mOff .mNum {
  float: left;
  width: 20px;
}
.mPanel .mOff .mName {
  float: left;
  width: 300px;
}
.mPanel .mOff .mNonName {
  float: left;
  width: 230px;
}
.mPanel .mOff div.mArrow {
  float: left;
  margin-left: 5px;
  border: 1px solid #D8DFEA;
  font-size: 10px;
  padding: 0px 5px 2px 5px;
  background-color: #E9ECF0;
  color: #45668E;
  cursor: pointer;
  cursor: hand;
}
.mPanel .mOff .mOption {
  float: right;
}
.mPanel .mOff .oEdit {
  float: left;
  width: 220px;
}
.mPanel .mRow {
  padding: 8px;
  margin-bottom: 2px;
  background: #fff;
  border: 1px solid #D8DFEA;
}
.mPanel .mRow.hl {
  background-color: #E7F1F9;
  border-color: #4C96D4;
}
.mPanel .mRow .mNumber {
  float: left;
}
.mPanel .mRow .mName {
  margin-left: 4px;
  float: left;
}
.mPanel .mRow .mOption {
  float: right;
}
.mPanel .mRow .mName .mOption {
  float: none;
  margin-top: 1px;
}
.mPanel .mRow b {
  color: #000;
}
.pad {
  border-bottom: 1px solid #ccc;
}
.pad b {
  color: #808080;
}
.right {
  width: 239px;
  float: left;
}
.divide {
  color: gray;
  padding: 0px 4px 0px 3px;
}
.officersHeader {
  font-size: 13px;
  color: #45668E;
  font-weight: bold;
  padding: 3px 0px 5px 1px;
}
.divide {
  color: gray;
  padding: 0px 4px 0px 3px;
}
div.scrollList {
  color: #777;
}
div.scrollList a {
  border-bottom: 1px solid white;
  padding: 0px 2px;
  font-size: 10px;
}
div.scrollList a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  padding: 0px 2px;
  font-size: 10px;
  color: white;
  text-decoration: none;
}
div.scrollList a.current,
div.scrollList a:hover.current {
  background: transparent;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
#memberPages .commentsPagesWrap,
.scrollList .commentsPagesWrap {
  height: 17px;
}
#memberPages .commentsPages,
.scrollList .commentsPages {
  list-style-type: none;
  height: 10px;
  padding-left: 10px;
  margin: 0px;
  float: left;
}
#memberPages ul.commentsPages li,
.scrollList ul.commentsPages li {
  float: left;
}
#memberPages ul.commentsPages a,
.scrollList ul.commentsPages a {
  /*border-bottom: 1px solid white;*/
  padding: 0px 2px;
  font-size: 10px;
}
#memberPages ul.commentsPages a:hover,
.scrollList ul.commentsPages a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  padding: 0px 2px;
  font-size: 10px;
  color: white;
  text-decoration: none;
}
#memberPages ul.commentsPages li.current a,
.scrollList ul.commentsPages li.current a #memberPages ul.commentsPages li.current a:hover,
.scrollList ul.commentsPages li.current a:hover {
  background: transparent;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
}
.mPanel .mMsg {
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}
.mPanel .mDld {
  background-color: #E7F1F9;
  border: 1px solid #4C96D4;
}
.friendRow {
  background-color: #FFFFFF;
  border: 1px solid #DAE2E8;
  color: #36638E;
  padding: 3px 5px;
  margin: 1px;
  cursor: pointer;
}
.friendRow:hover {
  background-color: #EDF0F3;
  border: 1px solid #C0CAD5;
  color: #36638E;
  text-decoration: none;
}
#goSearch #gSearch {
  margin: 4px 10px 0px 0px;
  float: left;
  width: 154px;
}
