#content {
  padding: 10px 0px 0px 0px;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
#noMatches {
  font-size: 12px;
  text-align: center;
  margin: 10px 20px;
  padding: 50px 10px;
  color: gray;
  background: #fff;
  border: solid 1px #ddd;
}
.match {
  width: 260px;
  float: left;
  display: inline;
  height: 120px;
  padding: 10px;
  border: 1px solid #DAE1E8;
  background-color: #fff;
  margin: 5px;
}
.matchPhoto {
  overflow: hidden;
  height: 110px;
}
.matchInfo {
  width: 135px;
  vertical-align: top;
  padding: 15px 5px 5px 10px;
  border-left: 1px solid #e7e7e7;
  background-color: #fbfbfb;
}
.matchSent {
  width: 545px;
  float: left;
  display: inline;
  padding: 10px;
  border: 1px solid #DAE1E8;
  background-color: #fff;
  margin: 5px;
}
.matchSentInfo {
  width: 420px;
  vertical-align: top;
  padding: 15px 5px 5px 10px;
  border-left: 1px solid #e7e7e7;
}
.pollEdit {
  float: right;
  margin-top: 10px;
  font-size: 9px;
}
.qOnline {
  float: right;
  margin-right: 5px;
  font-weight: normal;
  color: #ccc;
}
#questionEdited {
  height: 13px;
  padding: 2px;
  font-family: Tahoma;
  border: 1px solid #c0cad5;
  font-size: 11px;
}
#qClosed {
  color: #808080;
  font-weight: normal;
  font-size: 12px;
  padding-left: 8px;
}
.oneMatch {
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid #E7E7E7;
}
#oneMatch {
  overflow: auto;
  border: 1px solid #DAE1E8;
  background-color: #FFF;
  padding: 10px;
  width: 430px;
  float: left;
}
.oneQuestion {
  font-size: 11px;
  min-height: 100px;
  height: auto !important;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.matchCitySelect {
  border: 1px solid #c0cad5;
  padding: 2px;
  width: 120px;
  margin: 5px 0px;
}
.matchSexSelect {
  border: 1px solid #c0cad5;
  padding: 2px;
  width: 120px;
  margin: 5px 0px;
}
.matchYearsSelect {
  border: 1px solid #c0cad5;
  padding: 2px;
  width: 120px;
  margin: 5px 0px;
}
.matchLabel {
  font-weight: bold;
  color: #808080;
  margin: 5px 0px;
}
.matchWrapEdit {
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #DAE1E8;
}
.matchEditLabel {
  text-align: right;
  width: 30px;
  vertical-align: top;
  padding: 7px 0px 10px 70px;
  font-weight: bold;
  color: #888;
}
