#content {
  padding: 10px 0px 0px 0px;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
#noOpinions {
  font-size: 12px;
  text-align: center;
  margin: 10px 20px;
  padding: 50px 10px;
  color: gray;
  background: #fff;
  border: solid 1px #ddd;
}
.opinion {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #DAE1E8;
}
.opinionInner {
  font-weight: bold;
  color: #36638E;
  border-bottom: 1px solid #DAE1E8;
  padding-bottom: 2px;
  font-size: 11px;
}
.opinionDel {
  font-size: 9px;
  font-weight: normal;
  float: right;
}
.box_panel {
  display: block;
  padding: 2px;
  background: #EDEFF1;
}
.box_panel_editor {
  background: white;
  border: 1px solid #ADBBCA;
  display: block;
}
.box_panel_editor h2 {
  border-bottom: 1px solid #DAE2E8;
  color: #45688E;
  padding: 5px 0px 3px 0px;
  margin: 0px 0px 10px 0px;
  font-size: 13px;
}
.box_panel_border {
  border: 10px solid #DAE2E8;
  padding: 10px;
}
.progressBar {
  margin: 5px 0px 0px 10px;
  vertical-align: 0px;
  float: left;
  display: none;
}
