#content {
  padding: 12px 0px 0px 0px;
}
.upload {
  margin-bottom: 5px;
}
.pagePhoto a {
  font-size: 10px;
}
.editHead {
  padding: 0px 0px 4px 11px;
  border-bottom: 1px solid #DAE2E8;
}
.aname {
  margin-bottom: 4px;
}
.aname a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #45668E;
}
.aname a:hover {
  text-decoration: underline;
}
.ainfo {
  color: #808080;
  font-size: 11px;
  margin-bottom: 4px;
}
.adesc {
  color: #000;
  font-size: 11px;
  margin-bottom: 4px;
}
.aimage {
  padding-left: 2px;
  text-align: left;
}
.divider {
  font-weight: normal;
  color: gray;
  padding: 0px 6px 0px 5px;
}
.notbold {
  font-weight: normal;
}
#error small {
  font-weight: normal;
}
#error small a {
  color: #DD3C10;
  font-weight: normal;
}
#errorWrap {
  margin: 0px 10px;
}
#album {
  margin: 0px;
  padding: 10px;
  background: #f7f7f7;
}
#album td {
  width: 150px;
  padding: 3px 2px;
  text-align: center;
  vertical-align: middle;
}
#album img {
  background: white;
  padding: 6px;
  border: solid 1px #ccc;
}
#album img:hover {
  border: solid 1px #45688E;
}
.footerBar {
  padding: 0px 10px 3px 10px;
}
.footerBar .info {
  float: left;
  padding: 5px 0px;
  width: 400px;
}
.footerBar .description,
.footerBar .location,
.footerBar .album_tags {
  float: left;
  padding: 0px 0px 8px;
  width: 400px;
}
.footerBar .footer_nav {
  float: right;
  width: 200px;
  display: block;
}
.footerBar .pager {
  clear: right;
  float: right;
  padding-bottom: 4px;
}
#tagframe {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 170px;
  width: 170px;
  border: solid 7px #daE1E8;
}
#tagframeinside {
  display: block;
  position: absolute;
  cursor: crosshair;
  top: 0px;
  left: 0px;
  width: 166px;
  height: 166px;
  border: solid 2px #45668E;
}
#photoborder {
  padding: 0 0 10px 0;
  background: #f7f7f7;
  text-align: center;
  border-top: solid 1px #f7f7f7;
  border-bottom: solid 1px #daE1E8;
}
#photomsg {
  padding: 10px;
  background: #f7f7f7;
  text-align: center;
  aborder-top: solid 1px #f7f7f7;
  aborder-bottom: solid 1px #daE1E8;
}
#photomsg #message {
  margin: 0;
}
#photoborder img {
  /*border: solid 1px #ddd;*/
  background: white;
}
#photoborder img {
  cursor: pointer;
  cursor: hand;
}
#photoborder #photoareaouter {
  margin: 0px;
  padding: 10px;
  border-width: 0px;
  text-align: center;
  overflow: hidden;
}
#photoborder #photoarea {
  margin: auto;
  position: relative;
}
#tagframe2 {
  z-index: 5;
  display: none;
  border: 1px solid #4D7086;
  background-color: #DBE2E6;
  padding: 5px;
  position: absolute;
}
#tagframe2inside3 {
  border: 1px solid #4D7086;
  background-color: #F7F7F7;
  overflow: hidden;
  position: relative;
}
.taghandle {
  font-size: 0em;
  overflow: hidden;
  border-style: none;
  background-color: white;
  z-index: 5;
  display: none;
  position: absolute;
  opacity: 0.80;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  width: 10px;
  height: 10px;
}
#nw {
  cursor: nw-resize;
}
#n {
  cursor: n-resize;
}
#ne {
  cursor: ne-resize;
}
#w {
  cursor: w-resize;
}
#e {
  cursor: e-resize;
}
#sw {
  cursor: sw-resize;
}
#s {
  cursor: s-resize;
}
#se {
  cursor: se-resize;
}
.fadedphoto {
  font-size: 0em;
  overflow: hidden;
  background-color: black;
  opacity: 0.30;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  position: absolute;
  z-index: 2;
  display: none;
}
#photoinfo {
  width: 606px;
  margin: 4px 10px 4px;
  /* float: left; */
}
* html #photoinfo {
  width: 606px;
}
#photocaption {
  text-align: left;
  width: 390px;
  margin: 0px;
  line-height: 15px;
  padding: 0px 11px 8px;
}
#photocaptionleft {
  width: 606px;
  text-align: left;
}
.ph_info {
  opacity: 1.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.ph_info_dis {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#photodate {
  margin: 0px;
  padding: 4px 11px 8px;
  float: left;
}
#phototags {
  text-align: left;
  width: 390px;
  line-height: 15px;
  margin: 0px;
  padding: 0px 11px 8px;
}
#phototags .darklink {
  color: #555;
}
#photocaptionleft .share_and_save {
  padding: 2px 0px 3px 11px;
}
#tagframe {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 170px;
  width: 170px;
  border: solid 7px #DAE1E8;
}
#tagframeinside {
  display: block;
  position: absolute;
  cursor: crosshair;
  top: 0px;
  left: 0px;
  width: 166px;
  height: 166px;
  border: solid 2px #45668E;
}
#photocommentshow {
  float: left;
  clear: left;
  margin-bottom: 10px;
}
#photocomment {
  float: left;
  width: 400px;
}
#photocomment .actions a small {
  color: #45668E;
}
#photocomment .actions a:hover {
  text-decoration: underline;
}
#commenterror {
  float: left;
  clear: left;
  display: none;
  width: 375px;
}
#photoaddcomment {
  float: left;
  clear: left;
  margin: 10px 0px;
  width: 400px;
}
#photoCommHead {
  color: #36638E;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-align: left;
  border: none;
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
  display: none;
}
#progrTop {
  margin-top: 3px;
}
#photoactions,
#photoactions_container {
  z-index: 0;
  float: right;
  width: 155px;
  margin: 3px 0px;
}
#photoactions a,
#photoactions .action_link,
#photoactions .non_action {
  display: block;
  clear: both;
  padding: 3px;
  border-bottom: solid 1px #CCD3DA;
}
#photoactions a:hover,
#photoactions .action_link:hover {
  text-decoration: none;
  background-color: #DAE1E8;
}
#photoactions .non_action {
  margin-top: 0px;
  border-bottom: none;
  color: #666666;
}
#photoactions .non_action:hover {
  text-decoration: none;
  background: transparent;
  color: #666666;
}
a#rotateleft,
a#rotateright {
  height: 25px;
  padding-left: 35px;
  border-bottom: solid 1px #DAE1E8;
}
a#rotateleft {
  background: white url(../images/ccw.gif) no-repeat 7px 5px;
}
a#rotateleft:hover {
  background: #dae1e8 url(../images/ccwhover.gif) no-repeat 7px 5px;
}
a#rotateright {
  background: white url(../images/cw.gif) no-repeat 7px 5px;
}
a#rotateright:hover {
  background: #dae1e8 url(../images/cwhover.gif) no-repeat 7px 5px;
}
/* Edit Photo Album */
#editphotoalbum {
  padding: 0px;
  background: #f7f7f7;
}
#editphotoalbum .emails_error {
  border: solid 1px #dd3c10;
  background: #ffebe8;
  padding: 10px;
  margin: 10px;
  width: 580px;
}
#editphotoalbum .emails_success {
  border: solid 1px #ffe222;
  background: #fffbe2;
  padding: 10px;
  margin: 10px;
  width: 580px;
}
#editphotoalbum .photo {
  margin: 0px 10px 5px;
  padding: 10px;
  background: white;
  border: solid 1px #daE1E8;
}
/* * html .photo { margin: 100px; } */
#editphotoalbum img {
  text-align: center;
}
#editphotoalbum .photo .thumb {
  float: right;
  width: 130px;
}
#editphotoalbum .photo .thumb .covercheck {
  background: #f7f7f7;
  border: solid 1px #ccc;
  padding: 1px 1px 1px;
  text-align: left;
}
#editphotoalbum .covercheck label {
  display: inline;
  margin: 0px 0px 0px 0px;
  color: #000000;
  font-weight: normal;
}
#editphotoalbum .photo .thumb .noradio {
  padding: 3px;
}
#editphotoalbum .photo .info {
  float: left;
  width: 450px;
}
#editphotoalbum .photo .info textarea {
  width: 340px;
  height: 100px;
}
#editphotoalbum .photo .info .tags {
  line-height: 15px;
}
#editphotoalbum .photo .info .notags {
  display: none;
}
#editphotoalbum .photo .info label {
  float: left;
  display: block;
  margin-bottom: 2px;
}
#editphoto small,
#editphotoalbum small {
  color: gray;
}
#editphoto textarea,
#editphotoalbum textarea {
  margin-top: 0px;
}
#report_good {
  color: #000;
  font-weight: normal;
}
#report_bad {
  color: #AC0000;
  font-weight: normal;
}
#message h1 {
  margin-bottom: 5px;
  font-size: 11px;
}
#uploading {
  width: 100%;
}
#uploadingInner {
  width: 400px;
  margin: 20px auto 50px auto;
}
#uploading h4 {
  border-bottom: solid 1px #daE1E8;
  text-align: left;
  padding: 0px 0px 4px 0px;
  margin: 0px;
}
#tagging_instructions,
.youBeenTagged {
  margin: 2px 1px 12px 2px;
  padding: 10px;
  border: 1px solid #D4BC4C;
  background-color: #F9F6E7;
  padding: 8px 11px;
  text-align: left;
}
#frame {
  width: 62px;
  height: 62px;
  position: absolute;
  cursor: crosshair;
  background: url(../images/tagframe.gif);
}
.sectiontype {
  padding-top: 15px;
  padding-bottom: 3px;
  margin: 0px 12px;
  border-bottom: solid 1px #ccc;
}
#photoLocation {
  width: 170px;
  line-height: 15px;
  border-left: solid 1px #ccc;
  float: right;
  padding-left: 10px;
}
#selector #name {
  border: 1px solid #ADBBCA;
  padding: 2px;
}
#tagname {
  display: none;
  color: #36638E;
  font-weight: bold;
  position: absolute;
  background-color: white;
  padding: 3px 0px;
  border: 1px solid #ADBBCA;
}
#tagname a {
  text-decoration: none;
}
#tagname a:hover {
  text-decoration: underline;
}
.albums_edit {
  margin: 0px 10px 5px;
  padding: 10px;
  float: left;
  width: 100%;
}
.album_edit {
  background-color: white;
  border: solid 1px #daE1E8;
  padding: 5px;
  margin: 0px 10px;
  text-align: center;
  float: left;
}
.status_message {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: 1px solid #D4BC4C;
  background-color: #F9F6E7;
  padding: 8px 11px;
  text-align: left;
}
.thumbs_edit {
  width: 100%;
  margin: 0px 10px 5px;
  padding: 10px;
  float: left;
}
.thumb_edit {
  cursor: move;
  margin: 10px;
  background-color: white;
  border: solid 1px #daE1E8;
  padding: 5px;
  float: left;
  width: 75px;
  height: 120px;
}
.thumb_edit_cover {
  background-color: #F9F6E7;
}
.thumb_edit_inner {
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  width: 75px;
  height: 100px;
  overflow: auto;
}
.thumb_edit a {
  color: #ccc;
}
.thumb_edit a:hover {
  color: #2B587A;
}
.thumb_edit_frame {
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 250px;
  font-size: 11px;
  margin-bottom: 20px;
  border: solid 1px #ADBBCA;
}
.thumb_edit_frame2 {
  border: solid 1px #ADBBCA;
  padding: 0px;
  margin: 0px;
}
.thumb_edit_frame3 {
  border: solid 2px #DAE2E8;
  padding: 5px;
  margin: 0px;
}
.thumb_edit_desc {
  width: 96%;
}
.thumb_edit_frame .buttons {
  text-align: center;
  padding: 5px 0px;
}
.thumb_edit_frame .buttons a {
  margin: 5px;
  padding: 3px 5px;
}
.thumb_edit_frame .buttons .ok {
  background-color: #45668E;
  text-align: center;
  color: #FFF;
  width: 65px;
  margin-left: 16px;
}
.hm {
  width: 50%;
  text-align: center;
}
.thumb_edit_frame .buttons .ok:hover,
.thumb_edit_frame .buttons .cancel:hover {
  background-color: #45668E;
  text-align: center;
  text-decoration: none;
  color: #DAE1E8;
}
.thumb_edit_frame .buttons .cancel {
  width: 48px;
  text-align: center;
  background-color: #45668E;
  color: #FFF;
  margin-right: 14px;
}
.thumb_edit_frame hr {
  background-color: #ccc;
  border: 0px;
  padding: 0px;
  height: 1px;
  margin: 2px 0px;
}
#innerBorder {
  border: solid 0px #ADBBCA;
  padding: 0px;
  margin: 0px;
}
#innerPadding {
  border: solid 2px #DAE2E8;
  padding: 0px;
  margin: 0px;
}
#selector {
  left: 0px;
  top: 14px;
  left: 206px;
  position: absolute;
  font-size: 11px;
  width: 189px;
  margin-bottom: 20px;
  background: #F7F7F7;
  z-index: 100;
}
#selector input {
  margin: 2px 2px 0px 5px;
  width: 166px;
}
#selector label {
  display: block;
  padding: 0px 10px 5px 10px;
  font-weight: normal;
  color: #333;
}
#nameLabel {
  background-color: #4B769F;
  border: 1px solid #45688E;
  padding: 0px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
#nameInner {
  border-top: 1px solid #6088B3;
  padding: 4px 10px 5px 10px;
}
#whitePanel {
  background-color: #fff;
  border: 1px solid #555;
  border-width: 0px 1px 0px 1px;
}
#whitePanel input {
  margin: 10px;
  font-size: 12px;
  width: 158px;
}
#selector .buttons {
  text-align: center;
  padding: 5px;
  border-width: 0px 1px;
  background-color: #fff;
  border: 1px solid #555;
  border-top: 0px;
}
#selector .buttons div {
  margin: 0px 2px;
  padding: 3px 5px;
}
#selector .buttons .tag {
  border: 1px solid #2B587A;
  background-color: #4B769F;
  padding: 0px;
  text-align: center;
  color: #FFF;
}
#selector .buttons a {
  width: 100%;
  height: 100%;
  border: none;
}
.tagLine {
  border-top: 1px solid #6E97C4;
  padding: 3px;
}
.cancelLine {
  border-top: 1px solid #fff;
  padding: 3px;
}
.hm {
  width: 55%;
  text-align: left;
}
.hm a:hover {
  text-decoration: none;
}
#selector .buttons .tag:hover {
  background-color: #678BAE;
  text-decoration: none;
}
#selector .buttons .cancel:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
#selector .buttons .cancel {
  border: 1px solid #ccc;
  background-color: #eaeaea;
  padding: 0px;
  text-align: center;
  color: #000;
}
#userlist {
  line-height: 20px;
  max-height: 190px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  background: #F7F7F7;
  overflow: auto;
  height: [object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object];
}
#userlist label {
  display: inline;
  padding: 0px 0px 0px 4px;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
  color: #000;
}
#userlist input {
  width: auto;
  margin: 2px 0px 0px 4px;
  padding: 0px;
}
#userlist hr {
  background-color: #ccc;
  border: 0px;
  padding: 0px;
  height: 1px;
  margin: 2px 0px;
}
#invite_section {
  margin: 6px;
  border: 1px solid #c0c0c0;
  background: #f1f1f1;
  padding: 4px;
  font-size: 9px;
}
#invite_section .inputtext {
  width: 100px;
  font-size: 9px;
  height: 11px;
}
#invite_section .inputcheckbox {
  width: auto;
  float: left;
}
#invite_section label {
  width: 30px;
  margin: 0px;
  float: left;
  padding-top: 6px;
}
.sortPhoto {
  float: left;
  width: 101px;
  height: 75px;
  text-align: center;
}
.sortHelperIn {
  width: 85px;
  height: 65px;
  border: 1px dashed #D8DFEA;
  background: white;
  margin: 5px;
}
.sortPhotoImgIn {
  width: 75px;
  height: 55px;
  overflow: hidden;
}
.sortPhotoImgOut {
  border: 1px solid #CCCCCC;
  background: white;
  padding: 5px;
  margin: 7px;
  cursor: move;
}
.popup {
  background: white;
  position: absolute;
  width: 84px;
  height: 20px;
  display: none;
  text-align: center;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.popup a {
  font-size: 10px;
}
.albumBottom {
  /*width:620px;*/
  padding: 10px 0px 10px 17px;
}
.albumBottomRow {
  border: 1px solid #CCCCCC;
  background: white;
  width: 282px;
  float: left;
  /*border:1px solid white;*/
  height: 110px;
  padding: 5px 0 5px 5px;
  margin: 0 14px 14px 0;
}
.noComments {
  width: 420px;
  margin-bottom: 15px;
  /*text-align:center;*/
}
#progrWrap,
#progrWrapTop {
  float: left;
  margin-left: 5px;
  vertical-align: bottom;
}
#progr,
#progrTop,
#progrMid {
  display: none;
}
.commPhPagesWrap {
  height: 17px;
}
.commPhPages {
  list-style-type: none;
  height: 10px;
  padding-left: 10px;
  margin: 0px;
  float: right;
}
ul.commPhPages li {
  float: left;
}
ul.commPhPages a {
  padding: 0px 2px;
  font-size: 11px;
}
ul.commPhPages a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  padding: 0px 2px;
  font-size: 11px;
  color: white;
  text-decoration: none;
}
ul.commPhPages li.current a,
ul.commPhPages li.current a:hover {
  background: transparent;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
}
