#profileContent {
    padding: 10px 10px 0px
}

#leftColumn {
    float: left;
    width: 200px;
    margin: 0px 10px 0px 0px
}

#leftColumn,
#rightColumn {
    overflow: hidden;
    padding: 0px
}

#rightColumn {
    float: right;
    width: 396px;
    margin: 0px
}

.profileimage {
    text-align: center
}

div#message_crop {
    padding: 8px 11px;
    margin: 0px 0px 10px
}

.overflow_div {
    display: block;
    max-height: 300px;
    height: auto!important;
    height: 300px;
    overflow: hidden;
    overflow-x: visible
}

* html .overflow_div {
    height: expression((this.scrollHeight > 300) ? '300px': 'auto')
}

#message {
    background-color: #e7f1f9;
    border: 1px solid #4c96d4;
    font-size: 11px;
    font-weight: 700;
    padding: 8px 11px
}

#profileActions {
    margin: 0px;
    padding: 10px 0px;
    background: #fff
}

#profileActions a {
    margin: 0px;
    padding: 3px;
    display: block;
    background: #fff;
    border-bottom: solid 1px #ccd3da
}

#profileActions a:hover {
    text-decoration: none;
    background-color: #dae1e8
}

.flexOpen .whenShut,
.flexOpen .whenShut {
    display: none
}

.flexOpen .whenOpen,
.flexShut .whenShut {
    display: block
}

.flexShut .whenOpen {
    display: none
}

.flexOpen {
    padding-bottom: 5px
}

.flexNarrow {
    border-bottom: solid 1px #dae2e8;
    cursor: pointer;
    height: 8px
}

.bOpen .flexNarrow {
    background: url('../images/arrow_up.gif') no-repeat 50% #eee
}

.bOpen :hover.flexNarrow {
    background: url('../images/arrow_up.gif') no-repeat 50% #dae2e8
}

.bShut .flexNarrow {
    background: url('../images/arrow_down.gif') no-repeat 50% #eee
}

.bShut :hover.flexNarrow {
    background: url('../images/arrow_down.gif') no-repeat 50% #dae2e8
}

.bOpen .flexHeader {
    border-top: solid 1px #b1bdd6;
    background-image: url('../images/flex_arrow_open.gif')
}

.bOpen .flexHeader,
.bShut .flexHeader {
    background-repeat: no-repeat;
    background-position: 0
}

.bShut .flexHeader {
    background-color: #eee;
    border-top: solid 1px #ccc;
    background-image: url('../images/flex_arrow_shut.gif')
}

.bShut .flexHeader h2 {
    color: #888
}

.bShut .flexHeader .flexEdit,
.bOpen .flexHeader span {
    display: none
}

.flexHeader {
    cursor: pointer;
    padding: 3px 8px 3px 23px;
    border-top: solid 1px #b1bdd6;
    background: #dae2e8;
    -khtml-user-select: none
}

.flexHeader div {
    float: left
}

.flexHeader .flexEdit {
    font-weight: 700;
    float: right
}

.flexHeader .flexEdit a {
    color: #a9b8cb
}

.flexHeader h2 {
    display: inline;
    color: #45688e
}

.whenOpen .flexHeader {
    border-top: solid 1px #45688e;
    background-image: url('../images/flex_arrow_open.gif')
}

.whenOpen .flexHeader,
.whenShut .flexHeader {
    background-repeat: no-repeat;
    background-position: 0
}

.whenShut .flexHeader {
    background-color: #eee;
    border-top: solid 1px #ccc;
    background-image: url('../images/flex_arrow_shut.gif')
}

.whenShut .flexHeader h2 {
    color: #888
}

.flexBox {
    padding: 10px 8px 15px
}

.no_padding {
    padding: 0px
}

.flexBox h4 {
    margin: 1px 0px 0px;
    padding: 4px 0px 2px;
    font-size: 11px;
    border: none
}

#userProfile {
    background: url(../images/narrowleftbg.gif) repeat-y
}

.profileName h2 {
    color: #45688e;
    font-size: 13px;
    padding-bottom: 0px
}

.profileName {
    width: 225px;
    float: left;
    color: #45688e;
    font-size: 11px;
    font-weight: 700;
    margin: 0px;
    padding: 2px 5px 0px 0px
}

.profileNetworks {
    float: right
}

.profileNetworks ul {
    margin: 0px;
    padding: 4px 0px 0px;
    list-style: none
}

.profileNetworks li {
    margin-bottom: 1px
}

.profileTable {
    margin: 0px;
    padding: 0px
}

.profileTable td {
    vertical-align: top;
    font-size: 11px;
    line-height: 13px;
    margin: 0px;
    padding: 1px 0px
}

.profileTable .label {
    width: 120px;
    color: gray
}

.dataWrap {
    width: 260px
}

.colleges {
    margin: -3px 0px 0px
}

.colleges ul {
    list-style: none;
    margin: 3px 0px 0px;
    padding: 0
}

.profileImg {
    border: 1px solid #dae2e8;
    margin-top: 10px
}

.fSub {
    padding: 2px 8px;
    border-top: solid 1px #ccc;
    background: #eee
}

.fSub .fDetails {
    float: left;
    color: #444;
    width: 184px
}

.fSub .wSeeAll {
    width: 140px
}

.fSub .fSeeAll {
    text-align: right;
    float: left;
    width: 44px
}

.fSub_left {
    float: left
}

.fSub_right {
    float: right
}

.friendTable {
    margin: 0px;
    margin: 5px 5px 15px
}

.friendTable td {
    margin: 0px;
    padding: 1px 0px;
    vertical-align: bottom;
    text-align: center;
    width: 62px;
    font-size: 11px
}

.friendTable td div {
    width: 62px;
    overflow: hidden
}

.friendTable table {
    margin: 0px auto;
    padding-bottom: 0px
}

.friendTable img {
    margin-top: 5px
}

.wallpost {
    padding: 0px;
    margin: 0px 0px 15px
}

.wallpost.replied {
    padding: 0px;
    margin: 0px
}

.wallpost td {
    padding: 0px;
    vertical-align: top
}

.wallpost td.image {
    width: 55px;
    text-align: left
}

.wallpost td.image img {
    width: 50px;
    margin-right: 5px
}

.wallpost .info {
    width: 100%;
    border-top: solid 1px #45688e
}

.wallpost .info .header b,
.wallpost .info .header small {
    font-weight: 400;
    color: #000
}

.wallpost .info .header {
    padding: 3px 5px;
    background: #f7f7f7;
    border-bottom: solid 1px #dae2e8
}

.wallpost .info .actions {
    padding: 3px 5px;
    border-bottom: solid 1px #dae2e8;
    border-top: none;
    clear: right
}

.wallpost .info .header a.profile_link {
    font-weight: 700
}

.wallpost .info .actions a:hover {
    text-decoration: underline
}

.wallpost .info .text {
    padding: 5px;
    overflow-x: auto
}

#photos2 {
    padding: 6px 0px 6px 12px
}

.aPad {
    padding-top: 5px
}

#photos .album {
    width: 180px;
    margin: 0px
}

#photos .album .aTop {
    vertical-align: top
}

#photos .album .image img {
    width: 75px;
    margin-right: 10px
}

#photos .album .date {
    color: gray
}

#nophoto,
.no_photo {
    padding: 5px 0px 4px;
    background: #fff8cc;
    border-bottom: solid 1px #ffe222
}

#percent {
    position: relative;
    left: 90px;
    top: 15px;
    color: #8ba1bc
}

#rateLeft {
    border-top: 1px solid #c0ccd9;
    background-color: #dae2e8
}

#rateLeft,
#rateRight {
    float: left;
    height: 16px
}

#rateRight {
    border-top: 1px solid #ececec;
    border-right: 1px solid #eee;
    background-color: #fafafa
}

#rate {
    margin: -12px 0px 12px
}

#percentGold {
    position: relative;
    left: 95px;
    top: 15px;
    font-size: 11px;
    color: #aaa26c
}

#rateLeftGold {
    float: left;
    height: 16px;
    border-top: 1px solid #ccc490;
    background-color: #e0d7a3
}

#rateRightGold {
    float: left;
    height: 16px;
    border-top: 1px solid #e2daa6;
    border-right: 1px solid #eee;
    background-color: #f5ebbb
}

#rateGold {
    margin: -12px 0px 12px
}

.add {
    margin: 3px 0px 3px 3px
}

.add span {
    vertical-align: top
}

.add img {
    vertical-align: bottom;
    margin-right: 6px
}

.notes_titles {
    margin: 0px;
    padding: 0px;
    list-style: none
}

.notes_titles .added {
    padding: 6px 6px 3px;
    margin: 0px 10px 10px -6px;
    background: #fff8cc
}

.notes_titles li {
    margin-left: 0px;
    padding: 0px 0px 6px
}

.notes_titles li.written {
    background: url(/images/note.gif) no-repeat 0px 1px;
    padding: 0px 0px 6px 22px
}

.notes_titles li.question {
    background: #fff url(/images/qmark.gif) no-repeat 4px 2px;
    padding: 0px 0px 6px 22px
}

.notes_titles li a {
    display: block;
    padding: 0px 0px 1px
}

.notes_titles small {
    color: #333;
    font-weight: 400;
    display: block;
    font-size: 9px
}

.notes_titles small span {
    color: gray
}

.notes_titles small a {
    display: inline;
    font-weight: 400
}

.dArrow,
.upArrow {
    float: right;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 5px 0px 0px
}

.dArrow a,
.upArrow a {
    border: 1px solid #dae2e8;
    line-height: 25px;
    background-color: #fff;
    padding: 0px 6px 3px
}

.dArrow a:hover,
.upArrow a:hover {
    text-decoration: none;
    border: 1px solid #45688e
}

#myLink {
    background-color: #f7f7f7;
    border-bottom: 1px solid #c3cad2;
    border-left: 1px solid #dae1e8;
    border-right: 1px solid #dae1e8;
    padding: 4px;
    font-size: 10px;
    text-align: center;
    color: #444
}

.activity_all {
    clear: both;
    color: #000;
    font-weight: 400;
    padding-top: 2px;
    margin-bottom: 10px
}

.profile_activity img {
    margin: 0px;
    padding: 0px;
    float: left
}

.profile_activity #activity_body {
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 5px;
    width: 115px
}

.profile_activity #activity_body #activity_content {
    color: #000
}

#activity_content #su_placeholder {
    color: #45688e
}

.profile_activity #activity_meta {
    color: gray;
    display: block;
    font-size: 9px;
    line-height: 11px;
    padding-top: 2px
}

#activity_time a {
    color: gray
}

#activity_time a:hover {
    text-decoration: underline;
    cursor: pointer
}

#activity_editor {
    position: relative;
    padding-top: 10px
}

input#edit_activity_text {
    display: block;
    float: left;
    border: 0px;
    height: 13px;
    width: 144px;
    margin: 0px;
    padding: 3px 2px 0px;
    font-size: 11px;
    vertical-align: bottom;
    outline: 0 none!important
}

#activity_text {
    color: #333
}

#edit_activity_toggle {
    display: block;
    float: left;
    margin: 0px;
    height: 20px;
    width: 16px;
    color: #45688e;
    border-left: 1px solid #fff;
    background: #fff url(../images/darr_dd_out.gif) no-repeat scroll 50%;
    text-align: center
}

#edit_activity_toggle:hover {
    text-decoration: none
}

#edit_activity_select {
    display: none;
    position: absolute;
    z-index: 2;
    width: 167px;
    margin: 21px 0px 0px -1px
}

#edit_activity_select .menu_element_last a,
#edit_activity_select .menu_element a {
    display: block;
    overflow: hidden;
    width: 152px;
    background: #fff;
    color: #000;
    border: none;
    padding: 4px 3px 4px 10px;
    margin: 0px;
    border-left: 1px solid #c0cad5;
    border-right: 1px solid #c0cad5
}

#edit_activity_select .menu_element_last a {
    padding-bottom: 3px;
    border-bottom: 1px solid #c0cad5
}

#edit_activity_select .menu_element_last a:hover,
#edit_activity_select .menu_element a:hover {
    padding: 3px 3px 3px 10px;
    background: #587da1;
    border: 1px solid #2a5883;
    text-decoration: none;
    color: #fff
}

#edit_activity_shadow {
    margin: 126px 0px 0px;
    position: absolute;
    left: 0;
    overflow: hidden;
    border: 0;
    z-index: 100;
    height: 2px;
    width: 167px
}

#edit_activity_shadow #shadow1,
#edit_activity_shadow #shadow2 {
    height: 1px;
    background-color: #000;
    opacity: 0.12;
    filter: alpha(opacity=12);
    overflow: hidden
}

#edit_activity_shadow #shadow2 {
    opacity: 0.05;
    filter: alpha(opacity=5)
}

#edit_activity_container {
    border: 1px solid #c0cad5;
    padding: 0px
}

#history {
    margin-top: 10px;
    border-top: 1px solid #dae1e8;
    padding-top: 8px
}

#historyProgress {
    float: right
}

#historyProgress,
#historyHeader {
    margin-bottom: 6px
}

#historyHeader h4 {
    margin: 0px
}

.history_item_x {
    text-align: right
}

.history_item_x a {
    font-weight: 700;
    padding: 1px 3px;
    color: #b5c3d2;
    margin-right: 6px
}

.history_item_x a:hover {
    text-decoration: none;
    background-color: #45688e;
    color: #fff
}

.profile_empty_activity a {
    font-weight: 700;
    color: #d3d3d3
}

.profile_empty_activity a:hover {
    color: #36638e
}

.vRow p {
    margin: 0px;
    padding: 1px 2px 0px
}

.vRow {
    margin: 5px 7px 0px
}

.vRow small {
    color: #555
}

.vRow a img {
    padding: 1px;
    border: 1px solid #aaa;
    background-color: #fff
}

.vRow a:hover img {
    border: 1px solid #000
}

.appThumb {
    margin-top: 3px
}

.appThumb,
.feedPhotos {
    vertical-align: middle
}

.appThumb img,
.feedPhotos a img {
    vertical-align: middle;
    padding: 3px;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 3px 6px 3px 0px
}

.feedPhotos a:hover img {
    border: 1px solid #45688e
}

.feedVideos,
.feedVideos a img {
    vertical-align: top
}

.feedVideos a img {
    padding: 1px;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 3px 6px 3px 0px
}

.feedVideos a:hover img {
    border: 1px solid #45688e
}

.iIcon {
    vertical-align: bottom;
    padding: 1px 3px 0px 0px;
    margin-top: 2px
}

.videoWallLink,
.videoWallLinkHover {
    padding: 2px 0px 1px;
    float: left
}

.durationText {
    cursor: pointer;
    position: absolute;
    width: 159px;
    margin-top: 109px;
    z-index: 3
}

.videoWallThumbSmall .durationText {
    width: 81px;
    margin-top: 42px
}

.durationText div {
    float: right;
    font-size: 10px;
    padding: 0px 3px 1px
}

.appWallIcon,
.videoWallIcon {
    padding: 1px 5px 0px 0px;
    vertical-align: bottom;
    margin-top: 2px
}

.wallIconText {
    vertical-align: bottom
}

a.videoWallLink:hover,
a.videoWallLinkHover:hover {
    text-decoration: none
}

.videoWallLink,
.videoWallLink .iTitle,
.videoWallLinkHover,
.videoWallLinkHover .iTitle {
    vertical-align: bottom
}

.videoWallLinkHover .iTitle {
    text-decoration: underline
}

.videoWallThumb,
.videoWallThumbSmall {
    position: relative;
    margin-top: 4px
}

.videoWallThumb img {
    width: 160px;
    height: 120px
}

.videoWallThumb img,
.videoWallThumbSmall img {
    vertical-align: top;
    padding: 1px;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 3px 6px 0px 0px
}

.videoWallThumbSmall img {
    width: 80px;
    height: 60px
}

.videoWallLinkHover .appThumb img,
.videoWallLinkHover .videoWallThumb img,
.videoWallLinkHover .videoWallThumbSmall img {
    border: 1px solid #45688e
}

a.iLink {
    vertical-align: bottom;
    padding: 2px 0px 1px;
    margin-bottom: 4px
}

a.iLink:hover {
    text-decoration: none;
    padding-bottom: 1px
}

a.iLink:hover span.iTitle {
    border-bottom: 1px solid #45688e
}

.checkinData {
    margin-top: 6px
}

.checkinData img,
.checkinData span {
    vertical-align: bottom
}

.checkinData span {
    color: gray;
    margin-left: 7px
}

.checkinData a {
    margin-left: 5px;
    border-bottom: 1px dashed #a7b7c9;
    vertical-align: bottom
}

.checkinData a:hover {
    text-decoration: none;
    border-bottom: 1px solid #a7b7c9
}

.checkinMsg {
    margin: 5px 0 0 23px
}

#moreWall {
    text-align: center;
    padding-top: 8px
}

a.wallFunc {
    background: #fff;
    padding: 3px 4px 3px 6px
}

a.wallFunc:hover {
    background: #dae1e8;
    color: #36638e;
    text-decoration: none
}

.msg {
    padding: 8px 11px;
    font-size: 11px;
    font-weight: 700;
    margin: 8px;
    text-align: left;
    background-color: #f4ebbd;
    border: 1px solid #d7cf9e
}

.appListTable {
    border-collapse: collapse;
    margin: 0px
}

.appListTable td {
    padding: 0 4px 6px;
    vertical-align: top
}

.appListTable td img {
    width: 16px;
    height: 16px;
    float: left
}

a:hover {
    text-decoration: underline
}

img a:hover {
    text-decoration: none
}

.fig_shadow {
    background-color: #000;
    height: 1px;
    opacity: 0.25;
    filter: alpha(opacity=25);
    overflow: hidden;
    position: absolute;
    width: 348px;
    z-index: 2000
}

.fig_row {
    margin: 4px 4px 0px;
    padding: 2px;
    width: 50px;
    border: 1px solid #d1d1d1;
    cursor: pointer
}

.fig_name {
    vertical-align: top;
    text-align: left;
    font-size: 11px;
    padding: 6px
}

.fig_image {
    height: 50px;
    width: 50px;
    overflow: hidden
}

.fig_head {
    background-color: #f2f2f2;
    width: 348px
}

.memImg {
    overflow: hidden;
    height: 70px
}

.people_table .name {
    padding-top: 3px
}

.people_table td {
    padding: 0
}

#members .flexBox {
    padding-bottom: 10px
}

.rate_shadow {
    background-color: #000;
    height: 1px;
    opacity: 0.25;
    filter: alpha(opacity=25);
    overflow: hidden;
    position: absolute;
    width: 478px;
    z-index: 50
}

.audio_shadow_width,
.video_shadow_width {
    width: 608px
}

#wall .header .memLink {
    font-weight: 700
}

.wallOnline {
    color: #aaa;
    margin: 4px 0px 0px 10px
}

div.choose_audio_send,
div.choose_audio_send_over {
    float: left;
    padding: 3px 4px 3px 6px;
    margin-left: 12px;
    cursor: pointer;
    color: #2b587a;
    position: relative;
    top: 1px
}

div.choose_audio_send_over {
    background-color: #dae1e8
}

small.link,
small.link_over,
span.link,
span.link_over {
    color: #2b587a;
    cursor: pointer
}

small.link_over,
span.link_over {
    text-decoration: underline
}

a.choose_video_item,
a.choose_video_item:hover,
a.choose_video_item_over,
a.choose_video_item_over:hover {
    display: block;
    width: 134px;
    font-size: 10px;
    text-decoration: none;
    margin: 0px auto 10px;
    overflow: hidden
}

a.choose_video_item_over img,
a.choose_video_item img {
    padding: 1px;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 130px;
    height: 97px
}

a.choose_video_item_over img {
    border-color: #45688e
}

a.choose_video_item_over span {
    text-decoration: underline
}

table.choose_photo_table,
table.choose_video_table {
    margin: 0px auto
}

table.choose_photo_table tr td,
table.choose_video_table tr td {
    text-align: center;
    vertical-align: top
}

div.choose_photo_item,
div.choose_photo_item_over {
    width: 87px;
    margin: 0px auto 10px;
    text-align: left;
    background-color: #fff
}

div.choose_photo_item_over {
    position: relative;
    z-index: 2
}

div.choose_photo_item_over a:hover,
div.choose_photo_item a:hover {
    text-decoration: none
}

div.choose_photo_item_over a,
div.choose_photo_item a {
    display: block;
    width: 75px;
    height: 57px;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #aaa;
    background-color: #fff
}

div.choose_photo_item_over a {
    border: 1px solid #45688e
}

div.choose_photo_item_over a img,
div.choose_photo_item a img {
    cursor: pointer
}

div.choose_photo_item_over a table tr td div,
div.choose_photo_item a table tr td div.thumb {
    width: 75px;
    height: 57px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    text-align: center
}

#choose_video_content,
div.choose_audio_content {
    height: 374px;
    position: relative;
    overflow: auto
}

#choose_audio_rows {
    padding: 10px
}

form#upload_new_form {
    padding: 0px;
    margin: 0px
}

.add_wall_menu {
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 1105
}

.add_wall_header,
.menu_header {
    border: 1px solid #3b6798;
    position: absolute;
    z-index: 1107
}

.add_wall_header div,
.menu_header div {
    background: #6d8fb3;
    border: 1px solid;
    border-color: #7e9cbc #5c82ab #6d8fb3;
    padding: 2px 6px;
    color: #fff
}

.add_wall_rows {
    position: absolute;
    z-index: 1106;
    left: -20px;
    top: 20px
}

#menu_edit_photo_cont div.rows a,
.add_wall_rows div.rows a {
    padding: 4px 10px 0px 27px;
    display: block;
    height: 18px;
    background: #fff no-repeat
}

#menu_edit_photo_cont div.rows a:hover,
.add_wall_rows div.rows a:hover {
    text-decoration: none;
    background-color: #dae2e8
}

#menu_edit_photo_cont div.rows,
.add_wall_rows div.rows {
    border: 1px solid #96aabe;
    margin: 0px;
    position: relative;
    z-index: 1106
}

#menu_edit_photo_cont {
    position: absolute;
    z-index: 200;
    display: none;
    width: 210px
}

#menu_edit_photo_cont div.rows {
    top: -1px
}

#menu_edit_photo_cont div.menu_header {
    position: relative;
    cursor: pointer
}

#menu_edit_photo_cont div.rows a {
    background: #fff url(/images/edit_photo_icons.gif) no-repeat 0;
    outline: none;
    padding-left: 26px
}

#menu_edit_photo {
    outline: none
}

#menu_edit_photo span {
    padding-right: 12px;
    background: url('../images/darr_on.gif') no-repeat right 6px
}

.grey_msg {
    border: 1px solid #dbe0ea;
    background-color: #f6f7f9;
    padding: 8px 11px;
    margin-bottom: 15px;
    text-align: justify
}

#menu_edit_photo_cont div.menu_header span {
    padding-right: 12px;
    background: url('../images/darr_dd_over.gif') no-repeat right 6px
}

#crop_preview50,
#crop_preview100 {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 10px
}

#crop_preview50 {
    width: 50px;
    height: 50px
}

#crop_preview50 img,
#crop_preview100 img {
    position: absolute;
    top: 0px;
    left: 0px
}

#transport_iframe {
    position: absolute;
    width: 0px;
    height: 0px;
    left: -9999px;
    top: -9999px
}

table td.add_wall_side,
table td.menu_side {
    background: #000;
    opacity: 0.06;
    filter: alpha(opacity=6);
    overflow: hidden;
    width: 1px
}

table td.add_wall_side div,
table td.menu_side div {
    width: 1px;
    overflow: hidden
}

div.add_wall_bottom,
div.add_wall_bottom2,
div.menu_bottom,
div.menu_bottom2 {
    height: 2px;
    margin-top: -1px;
    overflow: hidden;
    background: #000;
    opacity: 0.07;
    filter: alpha(opacity=7);
    position: relative;
    z-index: 105
}

div.add_wall_bottom2,
div.menu_bottom2 {
    opacity: 0.05;
    filter: alpha(opacity=5)
}

.infobox {
    line-height: 120%;
    border-top: 1px solid #ced7e1;
    border-bottom: 1px solid #a9b5c2;
    background-color: #ebeff1;
    font-size: 11px;
    padding: 8px 0px 8px 10px
}

.shadow_line {
    height: 1px;
    background-color: #f1f1f1;
    margin: 0px 1px 15px
}

.status_table {
    padding: 10px 0;
    border-bottom: 1px solid #c0cad5
}

.reply_table td,
.status_table td {
    vertical-align: top
}

.status_image {
    height: 50px;
    width: 55px;
    overflow: hidden
}

.status_table .info {
    padding: 0 0 3px;
    width: 300px
}

.status_table .name_link {
    font-weight: 700
}

.status_table .message {
    padding: 0 3px
}

.status_table .reply_footer {
    padding: 3px 0 8px;
    font-size: 10px;
    width: 323px
}

.reply_footer .text {
    color: #999
}

.reply_footer .reply_to {
    color: #999;
    padding: 0 4px
}

.reply_footer .actions {
    display: none
}

.wall_reply {
    border-top: 1px solid #dee4e8;
    padding: 5px 0
}

.wall_reply.first {
    border-top: 0px
}

.reply_image {
    height: 32px;
    width: 37px;
    overflow: hidden
}

.reply_image img {
    width: 32px
}

.reply_table.first {
    border-top: 0px
}

.reply_table .info {
    padding: 0 0 3px;
    width: 300px
}

.reply_table .msg_text {
    padding: 0 3px
}

.reply_table .name_link,
.status_top_table .reply_table .name_link {
    font-weight: 400
}

.reply_table .reply_footer {
    padding: 2px 0 0;
    font-size: 10px;
    width: 290px
}

.reply_box {
    padding: 6px 7px;
    margin-bottom: 8px;
    background: #f7f7f7;
    abackground: #fff;
    border-bottom: 1px solid #dae2e8;
    aborder-bottom: 1px solid #fff;
    border-top: 1px solid #dae2e8
}

.reply_message {
    width: 305px;
    height: 14px;
    margin: 0
}

.reply_submit {
    height: 30px;
    width: 310px
}

.reply_to_title {
    display: none;
    padding: 12px 10px 0px
}

.reply_header {
    height: 16px;
    background: #eee;
    background: #f7f7f7;
    width: 343px;
    padding: 2px 7px 0;
    border-width: 1px 0;
    border-color: #dee4e8;
    border-color: #dae2e8;
    aborder-top-color: #fff;
    border-style: solid;
    color: #777
}

.reply_header .pageList .current,
.reply_header .pageList a,
.reply_header .pageList a:hover {
    padding: 0 2px 2px
}

.reply_header .pageList a,
.reply_header .pageList a:hover {
    border-bottom: 2px solid transparent
}

.status_input {
    width: 372px;
    height: 14px
}

.reply_warn,
.status_warn {
    color: #666;
    clear: both;
    padding-top: 5px;
    width: 280px;
    display: none
}

.status_btn {
    margin: 7px 0 0
}

.profile_name h2 {
    color: #45688e;
    font-size: 13px;
    padding-bottom: 0px
}

.profile_name {
    color: #45688e;
    font-size: 11px;
    font-weight: 700;
    margin: 0px;
    padding: 4px 5px 3px
}

.wallpost .info {
    padding-bottom: 8px
}

.wallpost .text {
    width: 315px;
    overflow: hidden
}

.status_top_table td {
    vertical-align: top
}

.status_top_table .image {
    width: 58px;
    padding: 5px 0;
    color: #777;
    overflow: hidden
}

.status_top_image img {
    margin-bottom: 2px
}

.status_top_date {
    padding: 0
}

.status_top_table .reply_table .image {
    width: 30px;
    padding: 2px
}

.status_top_table .info {
    width: 338px
}

.status_top_table .reply_table .info {
    width: 300px;
    padding: 0
}

.status_top_table .text {
    width: 316px;
    overflow: hidden;
    padding: 5px 0 0px
}

.status_top_table .text div {
    padding-top: 4px
}

.status_top_table .text div.raud_icon {
    padding-top: 0px
}

.status_top_table .name_link {
    font-weight: 700
}

.status_top_table .message {
    padding: 0 3px
}

.status_top_table .reply_footer {
    padding: 4px 0 0;
    font-size: 10px;
    width: 316px
}

.status_top_table .reply_header {
    width: 324px;
    cursor: pointer
}

.replies_wrap {
    padding-top: 11px
}

.status_top_table .reply_header.all_replies {
    width: 324px;
    cursor: auto
}

.status_top_table .reply_table .reply_footer {
    width: 297px
}

.status_top_table .reply_footer .actions {
    padding: 0 2px
}

.account_info {
    padding: 0
}

.delete_status {
    background: url("/images/pics/statusx.gif?1") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 17px;
    width: 17px
}

.delete_status_wrap {
    height: 13px;
    width: 17px;
    padding-top: 4px
}

.status_top_table .reply_message {
    width: 316px
}

#one_status .dld,
#status_history .dld,
#wall .dld,
#status_box .dld {
    padding: 5px 50px 8px;
    font-weight: 400;
    margin: 0px;
    border: 0;
    background: #fff;
    color: #777;
    width: 295px
}

#one_status .wall_reply .dld,
#status_box .wall_reply .dld,
#status_history .wall_reply .dld,
#wall .wall_reply .dld {
    padding: 8px 4px 8px 36px;
    font-weight: 400;
    margin: 0px;
    border: 0;
    background: #fff
}

#wall .fBox2 {
    padding: 0 8px
}

#wall .fBox2 .wall_reply .dld {
    padding: 9px 4px 10px 10px;
    font-weight: 400;
    margin: 0px 0px 15px
}

#wall .fBox2 .dld {
    padding: 9px 4px 10px 10px;
    font-weight: 400;
    margin: 0px;
    background-color: #f6f7f9;
    border: 1px solid #dbe0ea;
    width: 364px
}

.raud_icon {
    width: 15px;
    height: 10px;
    background: url("/images/icons/raudicons2.gif") no-repeat scroll 0px 0px transparent;
    margin-top: 4px;
    font-size: 5px
}

.box_title .raud_icon {
    display: none
}

.reply_icon {
    width: 22px;
    height: 25px;
    background: url("/images/icons/reply_icon.gif") no-repeat scroll 0 5px transparent
}

.profileTable .raud_icon {
    margin-top: 2px
}

.comments_icon {
    background-position: 0px -10px
}

.poll_icon {
    background-position: 0px -30px
}

.note_icon {
    background-position: 0px -20px
}

.checkin_icon {
    background-position: 0px -40px
}

.donate_icon {
    background-position: 0px -50px
}

.status_icon {
    width: 22px;
    height: 25px;
    background: url("/images/icons/status_icon.gif") no-repeat scroll 0 5px transparent
}

.reply_icon {
    width: 22px;
    height: 25px;
    background: url("/images/icons/reply_icon.gif") no-repeat scroll 0 5px transparent
}

.external_icon {
    width: 22px;
    height: 25px;
    background: url("/images/icons/extcomment_icon.gif") no-repeat scroll 0 5px transparent
}

.share_icon {
    width: 22px;
    height: 25px;
    background: url("/images/icons/statuses_s.gif") no-repeat scroll 0 5px transparent
}

.status_note_desc,
.status_share_desc,
.status_poll_desc {
    line-height: 17px
}

.wall_post_action {
    color: #767676
}

.wall_post_action div {
    height: 5px
}

.status_desc {
    padding: 0 3px 0 0;
    color: #777;
    line-height: 17px
}

.status_desc_wrap {
    padding: 5px 0px 1px
}

a.status_desc .a {
    color: #2b587a;
    padding-left: 1px
}

a.status_desc:hover {
    text-decoration: none
}

a.status_desc:hover .a {
    text-decoration: underline
}

.wallpost td.ext_message {
    padding-top: 6px;
    line-height: 150%
}

.status_top_box {
    padding: 3px 0;
    border-top: 1px solid #ccd3da
}

.status_top_box.first {
    border-top: 1px solid #dee4e8;
    border-top: 1px solid #fff
}

.status_name {
    font-weight: 700;
    padding-right: 4px
}

#submit_post_box .r,
#submit_status_box .r {
    padding: 8px;
    background: #f7f7f7;
    border-top: 1px solid #ccc
}

.status_progress {
    background: url(/images/progress7.gif) no-repeat 50%;
    height: 50px;
    border-top: 1px solid #ccd3da
}

.post_media {
    padding: 5px 0 0;
    line-height: 100%
}

.post_media .videoWallThumb,
.post_media .videoWallThumbSmall {
    margin: 0
}

#status_top_post .ext_message {
    vertical-align: middle
}

.history_container .post_media {
    display: inline
}

.reply_link {
    font-size: 10px
}

#reply_field,
#status_field {
    overflow: hidden;
    outline: none;
    margin: 0
}

.mini_editor_cont {
    display: none
}

.mention_rich_ta {
    padding: 3px;
    border: 1px solid #c0cad5;
    background: #fff;
    outline: none;
    overflow-x: hidden;
    line-height: normal
}

.mention_rich_ta a {
    color: #2b587a!important;
    cursor: text!important;
    text-decoration: none!important
}

.mention_rich_ta p {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 0px;
    margin: 0;
    line-height: normal
}

.mini_editor_cont .selector_container .result_list {
    display: none
}

.reply_link_wrap {
    padding-top: 5px
}

.reply_date {
    color: #999
}

.status_top_text {
    width: 338px;
    overflow: hidden
}

.reply_actions {
    padding: 0 5px
}

.flexHeader .flexEdit a.wall_link {
    font-weight: 400;
    font-size: 11px;
    color: #2b587a
}

.switch_personal_info {
    padding: 5px 5px 4px
}

#full_info,
#short_info {
    border-top: 1px solid #dae1e8
}

.share_tooltip {
    position: absolute;
    z-index: 2000
}

.tt_content {
    background: #fff;
    border: 1px solid #aebdcc;
    padding: 10px;
    padding-bottom: 0
}

.tt_thumb {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none
}

h4.tt_header {
    margin-left: 0
}

.tt_footer {
    background: #eef2f6;
    border-top: 1px solid #ccd3dc;
    padding: 8px 10px;
    margin: 10px -10px 0
}

.share_tooltip_bottom .tt_bottom_pointer,
.share_tooltip_top .tt_top_pointer {
    display: block
}

.replies {
    display: none
}

#one_status .replies,
#status_history .replies,
.account_info .replies {
    display: block
}

.iconX,
.iconXover {
    background: url("/images/icons/x_icon5.gif") no-repeat scroll 0 -21px transparent;
    cursor: pointer;
    height: 21px;
    width: 21px
}

.iconXover {
    background: transparent url(/images/icons/x_icon5.gif) no-repeat 0px 0px
}

.attach_box {
    padding: 8px 0 0
}

.attach_img {
    padding: 2px;
    border: 1px solid #aaa;
    background: #fff
}

.attach_audio {
    padding: 3px 0 2px 20px;
    background: url(/images/play.gif) no-repeat 0px 1px
}

.attach_audio .performer {
    font-weight: 700
}

.attach_img img {
    vertical-align: top
}

.attach_x {
    padding: 0 5px
}

.status_note {
    padding: 8px 0 0;
    display: none
}

.status_note_label {
    color: #777
}

.status_note_title {
    width: 372px
}

#wall_share_preview {
    background: #fff;
    border: 1px solid #c0cad5;
    margin-top: 5px;
    padding: 10px 10px 5px
}

#wall_share_preview img.loading {
    display: block;
    width: 32px;
    margin: 0 auto 5px;
    vertical-align: middle
}

#wall_share_preview .tt_thumb {
    margin-bottom: 5px
}

#wall_share_preview .descr {
    padding-bottom: 5px
}

.wall_share_preview_tail {
    margin-left: 66px;
    background: url('/images/tooltip_arrow_down_w.gif') no-repeat;
    display: block;
    margin-bottom: -8px;
    top: -2px
}

.attach_url {
    height: 21px;
    background: url("/images/icons/statuses_s.gif") no-repeat scroll 0 2px transparent;
    padding-left: 22px
}

.attach_url span {
    color: #757575;
    line-height: 21px
}

.pollStats {
    width: 300px
}

.pollStatsText {
    padding-top: 5px
}

.pollStatsBg {
    background: #fafafa;
    width: 95%
}

.pollStatsFg {
    background: #dae2e8;
    border-top: 1px solid #cad1d9;
    font-size: 0;
    height: 14px;
    overflow: hidden
}

.pollStatsDesc {
    padding-left: 5px;
    width: 5%
}

.checkin_tooltip {
    position: absolute;
    z-index: 1000
}

.checkin_tooltip .tt_header {
    margin-bottom: 0
}

.checkin_tooltip .tt_checkin_type {
    color: #777;
    font-size: 9px;
    margin: 2px 0 4px;
    padding: 0 0 2px 1px;
    border-bottom: 1px solid #d5dde3
}

.checkinPreviewTable td.label {
    width: 80px;
    color: gray;
    padding: 2px 0
}

.wall_poll {
    background: #fff;
    border: 1px solid #c0cad5;
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 7px;
    clear: both
}

.wall_poll .label {
    color: #777;
    float: left;
    padding: 4px 10px 0 0;
    text-align: right;
    vertical-align: top;
    width: 110px
}

.wall_poll .labeled {
    float: left;
    width: 200px
}

.wall_poll input {
    width: 222px;
    margin-bottom: 3px
}

.wall_poll .divider {
    color: #777;
    padding: 0
}

.wall_poll a.disabled,
.wall_poll a.disabled:hover {
    color: #777;
    cursor: default;
    text-decoration: none
}

.wall_poll a {
    font-size: 10px
}

.attach_poll {
    height: 21px;
    background: url("/images/icons/poll_icon.gif") no-repeat scroll 0 2px transparent;
    padding-left: 22px
}

.attach_poll span {
    color: #757575;
    line-height: 21px
}

.attach_poll span.pollQ {
    color: #2b587a
}

.status_poll_preview_tail {
    margin-left: 50px;
    background: url('/images/tooltip_arrow_down_w.gif') no-repeat;
    display: block;
    margin-bottom: -8px;
    top: -2px
}

.like_wrap {
    padding: 2px 4px;
    margin-top: 4px;
    font-size: 10px;
    cursor: pointer
}

.like_wrap .like_link {
    visibility: hidden
}

.like_wrap div {
    width: 11px;
    height: 10px;
    margin: 3px 3px 0;
    background: url(/images/icons/like.gif?5) no-repeat 1px 0;
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.like_wrap span {
    color: #2f5879
}

.like_wrap:hover div {
    opacity: 1;
    filter: alpha(opacity=100)
}

.like_wrap:hover .like_link {
    text-decoration: underline
}

.like_wrap_on div {
    opacity: 1;
    filter: alpha(opacity=100)
}

.publishedBy {
    font-weight: 700;
    background: url(/images/icons/published.gif) 0 3px no-repeat;
    padding-left: 12px;
    margin-right: 2px
}

.tt_head {
    cursor: pointer;
    margin: -11px -11px 10px;
    border: 1px solid #3b6798
}

.tt_head div {
    border: 1px solid;
    border-color: #7e9cbc #5c82ab #5c82ab;
    background: #6d8fb3;
    color: #fff;
    text-shadow: 0 1px 0 #45688e;
    padding: 2px 9px 3px
}

.publish_tooltip .tt_content {
    padding: 3px 7px 3px 3px
}

.like_stats_tooltip .tt_descr {
    height: 25px;
    width: 180px;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    position: relative
}

.like_stats_tooltip .tt_top_pointer {
    background-image: url(/images/tooltip_arrow_up_b.gif?1)
}

table.like_stats {
    border: 0;
    border-collapse: collapse;
    position: relative
}

table.like_stats td {
    padding: 0;
    vertical-align: top
}

table.like_stats td img {
    width: 25px;
    margin-right: 6px
}

.tt_no_footer .tt_descr {
    margin-bottom: 10px
}

.tt_no_footer .tt_bottom_pointer {
    background: url(/images/tooltip_arrow_white.gif)
}

.status_date_link,
.status_date_link:hover {
    color: #777
}

.history_link {
    border-top: 1px solid #ccd3da
}

.history_link a {
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px
}

.history_link a:hover {
    text-decoration: none;
    background-color: #eceff3
}

.account_header {
    cursor: pointer
}

.account_header.over {
    background: #dae2e8
}

#short_info {
    cursor: pointer
}

.profile_info #short_info {
    cursor: default
}

.status_top_online {
    color: #999;
    padding: 2px 2px 0
}

#statuses_header_link a,
#wall_header_link a {
    margin-left: 2px;
    color: #a9b8cb;
    font-weight: 700
}

.info_link {
    padding: 8px 0px 8px 128px;
    position: relative;
    top: -1px;
    line-height: 13px;
    color: #2b587a;
    cursor: pointer;
    margin-bottom: 10px
}

.info_link:hover {
    padding-top: 7px;
    border-top: 1px solid #ccd3da;
    background: #eceff3
}

.info_link span {
    position: relative;
    top: -1px
}

.profile_top {
    padding-bottom: 5px
}

.profile_top .profile_name {
    padding: 4px 5px 0px
}

.profile_top #current_info_wrap {
    padding: 3px 6px 0px;
    width: 380px;
    overflow: hidden;
    max-height: 39px;
    height: auto!important
}

.my_current_info,
.no_current_info {
    cursor: pointer
}

.my_current_info:hover,
.no_current_info:hover {
    text-decoration: underline
}

.no_current_info {
    position: relative;
    top: -2px;
    font-size: 10px;
    color: #aaa
}

#currinfo_editor {
    position: absolute;
    z-index: 10;
    margin: -24px 0px 0px -13px;
    display: none
}

#currinfo_editor .sidesh {
    background: #000;
    width: 1px;
    opacity: 0.08;
    filter: alpha(opacity=8)
}

#currinfo_editor .sidesh div {
    width: 1px;
    overflow: hidden
}

#currinfo_editor .bottomsh1 {
    background: #000;
    height: 1px;
    opacity: 0.1;
    filter: alpha(opacity=10)
}

#currinfo_editor .bottomsh2 {
    background: #000;
    height: 1px;
    opacity: 0.05;
    filter: alpha(opacity=5)
}

#currinfo_editor .bottomsh1 div,
#currinfo_editor .bottomsh2 div {
    height: 1px;
    overflow: hidden
}

#currinfo_editor .editor {
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 6px;
    width: 384px
}

#currinfo_about,
#currinfo_warn {
    margin: 5px 1px 0px;
    font-size: 10px;
    color: #777;
    display: none
}

#currinfo_clear {
    margin: 4px 6px 0px;
    display: none
}

#currinfo_editor .button_gray {
    display: none
}

#currinfo_editor .button_blue,
#currinfo_editor .button_gray {
    margin: 0px
}

#currinfo_sep {
    display: none;
    height: 13px;
    width: 6px;
    overflow: hidden
}

#currinfo_editor .button_blue button,
#currinfo_editor .button_gray button {
    padding: 2px 10px 3px;
    *padding: 3px 1px 2px
}

#currinfo_input {
    margin: 0px 0px 6px;
    width: 376px
}

#currinfo_progress {
    margin: 7px 6px 0px;
    display: none
}

.app .install_flash_wrap {
    padding: 60px;
    visibility: hidden
}

.app .install_button {
    text-align: center;
    margin: 20px
}

.app input.install_flash {
    width: 100%;
    font-size: 12px;
    background-position: 0px -13px;
    padding: 6px 18px;
    *padding-bottom: 5px
}

.app input.install_flash:hover {
    background-position: 0px -5px
}