#profileContent {
  padding: 10px 10px 0px 10px;
}
#leftColumn {
  float: left;
  width: 200px;
  overflow: hidden;
  padding: 0px;
  margin: 0px 10px 0px 0px;
}
#rightColumn {
  float: right;
  overflow: hidden;
  width: 396px;
  padding: 0px;
  margin: 0px;
}
.profileimage {
  text-align: center;
}
div#message_crop {
  padding: 8px 11px;
  margin: 0px 0px 10px 0px;
}
.overflow_div {
  display: block;
  max-height: 300px;
  height: auto !important;
  height: 300px;
  overflow: hidden;
  overflow-x: visible;
}
* html .overflow_div {
  height: expression((this.scrollHeight > 300) ? '300px' : 'auto');;
}
#activity_blank_nag {
  /*color: #2B587A;*/
}
#message {
  background-color: #E7F1F9;
  border: 1px solid #4C96D4;
  font-size: 11px;
  font-weight: bold;
  padding: 8px 11px;
}
#profileActions {
  margin: 0px;
  padding: 10px 0px;
  background: white;
}
#profileActions a {
  margin: 0px;
  padding: 3px;
  display: block;
  background: white;
  border-bottom: solid 1px #CCD3DA;
}
#profileActions a:hover {
  text-decoration: none;
  background-color: #DAE1E8;
}
/*  Visual  */
.flexOpen .whenShut {
  display: none;
}
.flexOpen .whenShut {
  display: none;
}
.flexOpen .whenOpen {
  display: block;
}
.flexShut .whenShut {
  display: block;
}
.flexShut .whenOpen {
  display: none;
}
.flexOpen {
  padding-bottom: 5px;
}
/*  Headers  */
.flexNarrow {
  border-bottom: solid 1px #DAE2E8;
  cursor: pointer;
  height: 8px;
}
.bOpen .flexNarrow {
  background: url('../images/arrow_up.gif') no-repeat center #eee;
}
.bOpen :hover.flexNarrow {
  background: url('../images/arrow_up.gif') no-repeat center #DAE2E8;
}
.bShut .flexNarrow {
  background: url('../images/arrow_down.gif') no-repeat center #eee;
}
.bShut :hover.flexNarrow {
  background: url('../images/arrow_down.gif') no-repeat center #DAE2E8;
}
.bOpen .flexHeader {
  border-top: solid 1px #b1bdd6;
  background-repeat: no-repeat;
  background-image: url('../images/flex_arrow_open.gif');
  background-position: left center;
}
.bShut .flexHeader {
  background-color: #eee;
  border-top: solid 1px #ccc;
  background-repeat: no-repeat;
  background-image: url('../images/flex_arrow_shut.gif');
  background-position: left center;
}
.bShut .flexHeader h2 {
  color: #888;
}
.bShut .flexHeader .flexEdit {
  display: none;
}
.bOpen .flexHeader span {
  display: none;
}
.flexHeader {
  cursor: pointer;
  padding: 3px 8px 3px 23px;
  border-top: solid 1px #b1bdd6;
  background: #DAE2E8;
  -khtml-user-select: none;
}
.flexHeader div {
  float: left;
}
.flexHeader .flexEdit {
  font-weight: bold;
  float: right;
}
.flexHeader .flexEdit a {
  color: #A9B8CB;
}
.flexHeader h2 {
  display: inline;
  color: #45688E;
}
.whenOpen .flexHeader {
  border-top: solid 1px #45688E;
  background-repeat: no-repeat;
  background-image: url('../images/flex_arrow_open.gif');
  background-position: left center;
}
.whenShut .flexHeader {
  background-color: #eee;
  border-top: solid 1px #ccc;
  background-repeat: no-repeat;
  background-image: url('../images/flex_arrow_shut.gif');
  background-position: left center;
}
.whenShut .flexHeader h2 {
  color: #888;
}
/* Content Box */
.flexBox {
  padding: 10px 8px 15px 8px;
}
.no_padding {
  padding: 0px;
}
.flexBox h4 {
  margin: 1px 0px 0px;
  padding: 4px 0px 2px;
  font-size: 11px;
  border: none;
}
#userProfile {
  background: url(../images/narrowleftbg.gif) repeat-y;
}
.profileName h2 {
  color: #45688E;
  font-size: 13px;
  padding-bottom: 0px;
}
.profileName {
  width: 225px;
  float: left;
  color: #45688E;
  font-size: 11px;
  font-weight: bold;
  margin: 0px;
  padding: 2px 5px 0px 0px;
}
.profileNetworks {
  float: right;
}
.profileNetworks ul {
  margin: 0px;
  padding: 4px 0px 0px;
  list-style: none;
}
.profileNetworks li {
  margin-bottom: 1px;
}
.profileTable {
  margin: 0px;
  padding: 0px;
}
.profileTable td {
  vertical-align: top;
  font-size: 11px;
  line-height: 13px;
  margin: 0px;
  padding: 1px 0px 1px 0px;
}
.profileTable .label {
  width: 120px;
  color: gray;
}
.dataWrap {
  width: 260px;
}
.colleges {
  margin: -3px 0px 0px 0px;
}
.colleges ul {
  list-style: none;
  margin: 3px 0px 0px 0px;
  padding: 0;
}
.profileImg {
  border: 1px solid #DAE2E8;
  margin-top: 10px;
}
/* === Subheader === */
.fSub {
  padding: 2px 8px 2px 8px;
  border-top: solid 1px #ccc;
  background: #eee;
}
.fSub .fDetails {
  float: left;
  color: #444;
  width: 184px;
}
.fSub .wSeeAll {
  width: 140px;
}
.fSub .fSeeAll {
  text-align: right;
  float: left;
  width: 44px;
}
.fSub_left {
  float: left;
}
.fSub_right {
  float: right;
}
.friendTable {
  margin: 0px;
  margin: 5px 5px 15px;
}
.friendTable td {
  margin: 0px;
  padding: 1px 0px;
  vertical-align: bottom;
  text-align: center;
  width: 62px;
  font-size: 11px;
}
.friendTable td div {
  width: 62px;
  overflow: hidden;
}
.friendTable table {
  margin: 0px auto;
  padding-bottom: 0px;
}
.friendTable img {
  margin-top: 5px;
}
.wallpost {
  padding: 0px;
  margin: 0px 0px 15px;
}
.wallpost.replied {
  padding: 0px;
  margin: 0px;
}
.wallpost td {
  padding: 0px;
  vertical-align: top;
}
.wallpost td.image {
  width: 55px;
  text-align: left;
}
.wallpost td.image img {
  width: 50px;
  margin-right: 5px;
}
.wallpost .info {
  width: 100%;
  border-top: solid 1px #45688E;
}
.wallpost .info .header small,
.wallpost .info .header b {
  font-weight: normal;
  color: #000;
}
.wallpost .info .header {
  padding: 3px 5px 3px;
  background: #f7f7f7;
  border-bottom: solid 1px #DAE2E8;
}
.wallpost .info .actions {
  padding: 3px 5px;
  border-bottom: solid 1px #DAE2E8;
  border-top: none;
  clear: right;
}
.wallpost .info .header a.profile_link {
  font-weight: bold;
}
.wallpost .info .actions a:hover {
  text-decoration: underline;
}
.wallpost .info .text {
  padding: 5px 5px;
  overflow-x: auto;
}
#photos2 {
  padding: 6px 0px 6px 12px;
}
.aPad {
  padding-top: 5px;
}
#photos .album {
  width: 180px;
  margin: 0px;
}
#photos .album .aTop {
  vertical-align: top;
}
#photos .album .image img {
  width: 75px;
  margin-right: 10px;
}
#photos .album .date {
  color: gray;
}
#nophoto,
.no_photo {
  padding: 5px 0px 4px 0px;
  background: #fff8cc;
  border-bottom: solid 1px #ffe222;
}
#percent {
  position: relative;
  left: 90px;
  top: 15px;
  color: #8BA1BC;
}
#rateLeft {
  float: left;
  height: 16px;
  border-top: 1px solid #C0CCD9;
  background-color: #DAE2E8;
}
#rateRight {
  float: left;
  height: 16px;
  border-top: 1px solid #ECECEC;
  border-right: 1px solid #EEE;
  background-color: #FAFAFA;
}
#rate {
  margin: -12px 0px 12px 0px;
}
#percentGold {
  position: relative;
  left: 95px;
  top: 15px;
  font-size: 11px;
  color: #AAA26C;
}
#rateLeftGold {
  float: left;
  height: 16px;
  border-top: 1px solid #CCC490;
  background-color: #E0D7A3;
}
#rateRightGold {
  float: left;
  height: 16px;
  border-top: 1px solid #E2DAA6;
  border-right: 1px solid #EEE;
  background-color: #F5EBBB;
}
#rateGold {
  margin: -12px 0px 12px 0px;
}
.add {
  margin: 3px 0px 3px 3px;
}
.add span {
  vertical-align: top;
}
.add img {
  vertical-align: bottom;
  margin-right: 6px;
}
.notes_titles {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.notes_titles .added {
  padding: 6px 6px 3px 6px;
  margin: 0px 10px 10px -6px;
  background: #fff8cc;
}
.notes_titles li {
  margin-left: 0px;
  padding: 0px 0px 6px 0px;
}
.notes_titles li.written {
  background: url(/images/note.gif) no-repeat 0px 1px;
  padding: 0px 0px 6px 22px;
}
.notes_titles li.question {
  background: #FFF url(/images/qmark.gif) no-repeat 4px 2px;
  padding: 0px 0px 6px 22px;
}
.notes_titles li a {
  display: block;
  padding: 0px 0px 1px 0px;
}
.notes_titles small {
  color: #333;
  font-weight: normal;
  display: block;
  font-size: 9px;
}
.notes_titles small span {
  color: gray;
}
.notes_titles small a {
  display: inline;
  font-weight: normal;
}
.upArrow,
.dArrow {
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 5px 0px 0px;
}
.upArrow a,
.dArrow a {
  border: 1px solid #DAE2E8;
  line-height: 25px;
  background-color: #fff;
  padding: 0px 6px 3px 6px;
}
.upArrow a:hover,
.dArrow a:hover {
  text-decoration: none;
  border: 1px solid #45688E;
}
#myLink {
  background-color: #f7f7f7;
  border-bottom: 1px solid #C3CAD2;
  border-left: 1px solid #DAE1E8;
  border-right: 1px solid #DAE1E8;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  color: #444;
}
/* activity */
.activity_all {
  clear: both;
  color: black;
  font-weight: normal;
  padding-top: 2px;
  margin-bottom: 10px;
}
.profile_activity img {
  margin: 0px;
  padding: 0px;
  float: left;
}
.profile_activity #activity_body {
  float: left;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  width: 115px;
}
.profile_activity #activity_body #activity_content {
  color: #000;
}
#activity_content #su_placeholder {
  color: #45688E;
}
.profile_activity #activity_meta {
  color: gray;
  display: block;
  font-size: 9px;
  line-height: 11px;
  padding-top: 2px;
}
#activity_time a {
  color: gray;
}
#activity_time a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#activity_editor {
  position: relative;
  padding-top: 10px;
}
input#edit_activity_text {
  display: block;
  float: left;
  border: 0px;
  height: 13px;
  width: 144px;
  margin: 0px;
  padding: 3px 2px 0px;
  font-size: 11px;
  vertical-align: bottom;
  outline: 0 none !important;
}
#activity_text {
  color: #333;
}
#edit_activity_toggle {
  display: block;
  float: left;
  margin: 0px;
  height: 20px;
  width: 16px;
  color: #45688E;
  border-left: 1px solid #FFF;
  background: #FFFFFF url(../images/darr_dd_out.gif) no-repeat scroll center center;
  text-align: center;
}
#edit_activity_toggle:hover {
  text-decoration: none;
}
#edit_activity_select {
  display: none;
  position: absolute;
  z-index: 2;
  width: 167px;
  margin: 21px 0px 0px -1px;
}
#edit_activity_select .menu_element a,
#edit_activity_select .menu_element_last a {
  display: block;
  overflow: hidden;
  width: 152px;
  background: #fff;
  color: #000;
  border: none;
  padding: 4px 3px 4px 10px;
  margin: 0px;
  border-left: 1px solid #C0CAD5;
  border-right: 1px solid #C0CAD5;
}
#edit_activity_select .menu_element_last a {
  padding-bottom: 3px;
  border-bottom: 1px solid #C0CAD5;
}
#edit_activity_select .menu_element a:hover,
#edit_activity_select .menu_element_last a:hover {
  padding: 3px 3px 3px 10px;
  background: #587DA1;
  border: 1px solid #2A5883;
  text-decoration: none;
  color: #FFF;
}
#edit_activity_shadow {
  margin: 126px 0px 0px;
  position: absolute;
  left: 0;
  overflow: hidden;
  border: 0;
  z-index: 100;
  height: 2px;
  width: 167px;
}
#edit_activity_shadow #shadow1,
#edit_activity_shadow #shadow2 {
  height: 1px;
  background-color: #000;
  opacity: 0.12;
  filter: alpha(opacity=12);
  overflow: hidden;
}
#edit_activity_shadow #shadow2 {
  opacity: 0.05;
  filter: alpha(opacity=5);
}
#edit_activity_container {
  border: 1px solid #C0CAD5;
  padding: 0px;
}
#history {
  margin-top: 10px;
  border-top: 1px solid #DAE1E8;
  padding-top: 8px;
}
#historyProgress {
  margin-bottom: 6px;
  float: right;
}
#historyHeader {
  margin-bottom: 6px;
}
#historyHeader h4 {
  margin: 0px;
}
.history_item_x {
  text-align: right;
}
.history_item_x a {
  font-weight: bold;
  padding: 1px 3px;
  color: #B5C3D2;
  margin-right: 6px;
}
.history_item_x a:hover {
  text-decoration: none;
  background-color: #45688E;
  color: #fff;
}
.profile_empty_activity a {
  font-weight: bold;
  color: lightgrey;
}
.profile_empty_activity a:hover {
  color: #36638E;
}
.vRow p {
  margin: 0px;
  padding: 1px 2px 0px 2px;
}
.vRow {
  margin: 5px 7px 0px 7px;
}
.vRow small {
  color: #555;
}
.vRow a img {
  padding: 1px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.vRow a:hover img {
  border: 1px solid #000;
}
.appThumb {
  vertical-align: middle;
  margin-top: 3px;
}
.feedPhotos {
  vertical-align: middle;
}
.appThumb img,
.feedPhotos a img {
  vertical-align: middle;
  padding: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin: 3px 6px 3px 0px;
}
.feedPhotos a:hover img {
  border: 1px solid #45688E;
}
.feedVideos {
  vertical-align: top;
}
.feedVideos a img {
  vertical-align: top;
  padding: 1px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin: 3px 6px 3px 0px;
}
.feedVideos a:hover img {
  border: 1px solid #45688E;
}
.iIcon {
  vertical-align: bottom;
  padding: 1px 3px 0px 0px;
  margin-top: 2px;
}
.videoWallLink,
.videoWallLinkHover {
  padding: 2px 0px 1px 0px;
  float: left;
}
.durationText {
  cursor: pointer;
  position: absolute;
  width: 159px;
  margin-top: 109px;
  z-index: 3;
}
.videoWallThumbSmall .durationText {
  width: 81px;
  margin-top: 42px;
}
.durationText div {
  float: right;
  font-size: 10px;
  padding: 0px 3px 1px;
}
.appWallIcon,
.videoWallIcon {
  padding: 1px 5px 0px 0px;
  vertical-align: bottom;
  margin-top: 2px;
}
.wallIconText {
  vertical-align: bottom;
}
a.videoWallLink:hover,
a.videoWallLinkHover:hover {
  text-decoration: none;
}
.videoWallLink,
.videoWallLinkHover,
.videoWallLink .iTitle,
.videoWallLinkHover .iTitle {
  vertical-align: bottom;
}
.videoWallLinkHover .iTitle {
  text-decoration: underline;
}
.videoWallThumb,
.videoWallThumbSmall {
  position: relative;
  margin-top: 4px;
}
.videoWallThumb img {
  width: 160px;
  height: 120px;
  vertical-align: top;
  padding: 1px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin: 3px 6px 0px 0px;
}
.videoWallThumbSmall img {
  width: 80px;
  height: 60px;
  vertical-align: top;
  padding: 1px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin: 3px 6px 0px 0px;
}
.videoWallLinkHover .videoWallThumb img,
.videoWallLinkHover .appThumb img,
.videoWallLinkHover .videoWallThumbSmall img {
  border: 1px solid #45688E;
}
a.iLink {
  vertical-align: bottom;
  padding: 2px 0px 1px 0px;
  margin-bottom: 4px;
}
a.iLink:hover {
  text-decoration: none;
  padding-bottom: 1px;
}
a.iLink:hover span.iTitle {
  border-bottom: 1px solid #45688E;
}
.checkinData {
  margin-top: 6px;
}
.checkinData img {
  vertical-align: bottom;
}
.checkinData span {
  color: #808080;
  margin-left: 7px;
  vertical-align: bottom;
}
.checkinData a {
  margin-left: 5px;
  border-bottom: 1px dashed #A7B7C9;
  vertical-align: bottom;
}
.checkinData a:hover {
  text-decoration: none;
  border-bottom: 1px solid #A7B7C9;
}
.checkinMsg {
  margin: 5px 0 0 23px;
}
#moreWall {
  text-align: center;
  padding-top: 8px;
}
a.wallFunc {
  background: white;
  padding: 3px 4px 3px 6px;
}
a.wallFunc:hover {
  background: #DAE1E8;
  color: #36638E;
  text-decoration: none;
}
.msg {
  padding: 8px 11px;
  font-size: 11px;
  font-weight: bold;
  margin: 8px;
  text-align: left;
  background-color: #F4EBBD;
  border: 1px solid #D7CF9E;
}
.appListTable {
  border-collapse: collapse;
  margin: 0px;
}
.appListTable td {
  padding: 0 4px 6px 4px;
  vertical-align: top;
}
.appListTable td img {
  width: 16px;
  height: 16px;
  float: left;
}
a:hover {
  text-decoration: underline;
}
img a:hover {
  text-decoration: none;
}
.fig_shadow {
  background-color: #000000;
  height: 1px;
  opacity: 0.25;
  filter: alpha(opacity=25);
  overflow: hidden;
  position: absolute;
  width: 348px;
  z-index: 2000;
}
.fig_row {
  margin: 4px 4px 0px 4px;
  padding: 2px;
  width: 50px;
  border: 1px solid #D1D1D1;
  cursor: pointer;
}
.fig_name {
  vertical-align: top;
  text-align: left;
  font-size: 11px;
  padding: 6px;
}
.fig_image {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.fig_head {
  background-color: #F2F2F2;
  width: 348px;
}
.memImg {
  overflow: hidden;
  height: 70px;
}
.people_table .name {
  padding-top: 3px;
}
.people_table td {
  padding: 0;
}
#members .flexBox {
  padding-bottom: 10px;
}
.rate_shadow {
  background-color: #000000;
  height: 1px;
  opacity: 0.25;
  filter: alpha(opacity=25);
  overflow: hidden;
  position: absolute;
  width: 478px;
  z-index: 50;
}
.audio_shadow_width {
  width: 608px;
}
.video_shadow_width {
  width: 608px;
}
#wall .header .memLink {
  font-weight: bold;
}
.wallOnline {
  color: #aaa;
  margin: 4px 0px 0px 10px;
}
div.choose_audio_send,
div.choose_audio_send_over {
  float: left;
  padding: 3px 4px 3px 6px;
  margin-left: 12px;
  cursor: pointer;
  color: #2B587A;
  position: relative;
  top: 1px;
}
div.choose_audio_send_over {
  background-color: #DAE1E8;
}
span.link,
span.link_over,
small.link,
small.link_over {
  color: #2B587A;
  cursor: pointer;
}
span.link_over,
small.link_over {
  text-decoration: underline;
}
a.choose_video_item,
a.choose_video_item:hover,
a.choose_video_item_over,
a.choose_video_item_over:hover {
  display: block;
  width: 134px;
  font-size: 10px;
  text-decoration: none;
  margin: 0px auto 10px;
  overflow: hidden;
}
a.choose_video_item img,
a.choose_video_item_over img {
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #AAA;
  width: 130px;
  height: 97px;
}
a.choose_video_item_over img {
  border-color: #45688E;
}
a.choose_video_item_over span {
  text-decoration: underline;
}
table.choose_video_table,
table.choose_photo_table {
  margin: 0px auto;
}
table.choose_video_table tr td,
table.choose_photo_table tr td {
  text-align: center;
  vertical-align: top;
}
div.choose_photo_item,
div.choose_photo_item_over {
  width: 87px;
  margin: 0px auto 10px;
  text-align: left;
  background-color: #fff;
}
div.choose_photo_item_over {
  position: relative;
  z-index: 2;
}
div.choose_photo_item a:hover,
div.choose_photo_item_over a:hover {
  text-decoration: none;
}
div.choose_photo_item a,
div.choose_photo_item_over a {
  display: block;
  width: 75px;
  height: 57px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #AAA;
  background-color: #fff;
}
div.choose_photo_item_over a {
  border: 1px solid #45688E;
}
div.choose_photo_item a img,
div.choose_photo_item_over a img {
  cursor: pointer;
}
div.choose_photo_item a table tr td div.thumb,
div.choose_photo_item_over a table tr td div {
  width: 75px;
  height: 57px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}
#choose_video_content {
  height: 374px;
  position: relative;
  overflow: auto;
}
div.choose_audio_content {
  height: 374px;
  position: relative;
  overflow: auto;
}
#choose_audio_rows {
  padding: 10px;
}
form#upload_new_form {
  padding: 0px;
  margin: 0px;
}
.add_wall_menu {
  position: absolute;
  display: none;
  cursor: pointer;
  z-index: 1105;
}
.add_wall_header,
.menu_header {
  border: 1px solid #3B6798;
  position: absolute;
  z-index: 1107;
}
.add_wall_header div,
.menu_header div {
  background: #6D8FB3;
  border: 1px solid;
  border-color: #7E9CBC #5C82AB #6D8FB3;
  padding: 2px 6px;
  color: #FFF;
}
.add_wall_rows {
  position: absolute;
  z-index: 1106;
  left: -20px;
  top: 20px;
}
.add_wall_rows div.rows a,
#menu_edit_photo_cont div.rows a {
  padding: 4px 10px 0px 27px;
  display: block;
  height: 18px;
  background: #FFF no-repeat;
}
.add_wall_rows div.rows a:hover,
#menu_edit_photo_cont div.rows a:hover {
  text-decoration: none;
  background-color: #DAE2E8;
}
.add_wall_rows div.rows,
#menu_edit_photo_cont div.rows {
  border: 1px solid #96AABE;
  margin: 0px;
  position: relative;
  z-index: 1106;
}
/* edit photo menu */
#menu_edit_photo_cont {
  position: absolute;
  z-index: 200;
  display: none;
  width: 210px;
}
#menu_edit_photo_cont div.rows {
  top: -1px;
}
#menu_edit_photo_cont div.menu_header {
  position: relative;
  cursor: pointer;
}
#menu_edit_photo_cont div.rows a {
  background: #fff url(/images/edit_photo_icons.gif) no-repeat left center;
  outline: none;
  padding-left: 26px;
}
#menu_edit_photo {
  outline: none;
}
#menu_edit_photo span {
  padding-right: 12px;
  background: url('../images/darr_on.gif') no-repeat right 6px;
}
.grey_msg {
  border: 1px solid #DBE0EA;
  background-color: #F6F7F9;
  padding: 8px 11px;
  margin-bottom: 15px;
  text-align: justify;
}
#menu_edit_photo:hover span {
  /*background: url('./../images/darr_on.gif') no-repeat right 6px;*/
}
#menu_edit_photo_cont div.menu_header span {
  padding-right: 12px;
  background: url('../images/darr_dd_over.gif') no-repeat right 6px;
}
#crop_preview100,
#crop_preview50 {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
#crop_preview50 {
  width: 50px;
  height: 50px;
}
#crop_preview100 img,
#crop_preview50 img {
  position: absolute;
  top: 0px;
  left: 0px;
}
#transport_iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -9999px;
  top: -9999px;
}
/* edit photo menu */
table td.add_wall_side,
table td.menu_side {
  background: #000;
  opacity: 0.06;
  filter: alpha(opacity=6);
  overflow: hidden;
  width: 1px;
}
table td.add_wall_side div,
table td.menu_side div {
  width: 1px;
  overflow: hidden;
}
div.add_wall_bottom,
div.add_wall_bottom2,
div.menu_bottom,
div.menu_bottom2 {
  height: 2px;
  margin-top: -1px;
  overflow: hidden;
  background: #000;
  opacity: 0.07;
  filter: alpha(opacity=7);
  position: relative;
  z-index: 105;
}
div.add_wall_bottom2,
div.menu_bottom2 {
  opacity: 0.05;
  filter: alpha(opacity=5);
}
.infobox {
  line-height: 120%;
  border-top: 1px solid #ced7e1;
  border-bottom: 1px solid #a9b5c2;
  background-color: #ebeff1;
  font-size: 11px;
  padding: 8px 0px 8px 10px;
}
.shadow_line {
  height: 1px;
  background-color: #f1f1f1;
  margin: 0px 1px 15px;
}
.status_table {
  padding: 10px 0 10px;
  border-bottom: 1px solid #C0CAD5;
}
.status_table td,
.reply_table td {
  vertical-align: top;
}
.status_image {
  height: 50px;
  width: 55px;
  overflow: hidden;
}
.status_table .info {
  padding: 0 0 3px;
  width: 300px;
}
.status_table .name_link {
  font-weight: bold;
}
.status_table .message {
  padding: 0 3px;
}
.status_table .info_footer {
  padding: 3px 0 8px;
  font-size: 10px;
  width: 323px;
}
.info_footer .text {
  color: #999999;
}
.info_footer .reply_to {
  color: #999999;
  padding: 0 4px;
}
.info_footer .actions {
  display: none;
}
.wall_reply {
  border-top: 1px solid #DEE4E8;
  padding: 5px 0;
}
.wall_reply.first {
  border-top: 0px;
}
.reply_image {
  height: 32px;
  width: 37px;
  overflow: hidden;
}
.reply_image img {
  width: 32px;
}
.reply_table.first {
  border-top: 0px;
}
.reply_table .info {
  padding: 0 0 3px;
  width: 300px;
}
.reply_table .msg_text {
  padding: 0 3px;
}
.status_top_table .reply_table .name_link,
.reply_table .name_link {
  font-weight: normal;
}
.reply_table .info_footer {
  padding: 2px 0 0;
  font-size: 10px;
  width: 290px;
}
.reply_box {
  padding: 6px 7px;
  margin-bottom: 8px;
  background: #F7F7F7;
  abackground: #FFFFFF;
  border-bottom: 1px solid #DAE2E8;
  aborder-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #DAE2E8;
}
.reply_message {
  width: 305px;
  height: 14px;
  margin: 0;
}
.reply_submit {
  /*display:none;*/
  height: 30px;
  width: 310px;
}
.reply_to_title {
  display: none;
  padding: 12px 10px 0px;
}
.reply_header {
  /*margin:0 0 2px; */
  height: 16px;
  background: #EEEEEE;
  background: #F7F7F7;
  width: 343px;
  padding: 2px 7px 0;
  border-width: 1px 0 1px;
  border-color: #DEE4E8;
  border-color: #DAE2E8;
  aborder-top-color: #FFFFFF;
  border-style: solid;
  color: #777777;
}
.reply_header .pageList .current,
.reply_header .pageList a,
.reply_header .pageList a:hover {
  padding: 0 2px 2px;
}
.reply_header .pageList a,
.reply_header .pageList a:hover {
  border-bottom: 2px solid transparent;
}
.status_input {
  width: 372px;
  height: 14px;
}
.status_warn,
.reply_warn {
  color: #666;
  clear: both;
  padding-top: 5px;
  width: 280px;
  display: none;
}
.submit_status {
  /*height: 33px;
  display: none;*/
}
.status_btn {
  margin: 7px 0 0;
}
.profile_name h2 {
  color: #45688E;
  font-size: 13px;
  padding-bottom: 0px;
}
.profile_name {
  /*width: 387px;*/
  color: #45688E;
  font-size: 11px;
  font-weight: bold;
  margin: 0px;
  padding: 4px 5px 3px;
  /*border-bottom:1px solid #CCD3DA;*/
}
.wallpost .info {
  padding-bottom: 8px;
}
.wallpost .text {
  width: 315px;
  overflow: hidden;
}
.status_top_table {
  /*margin-top: 5px;*/
  /*border-bottom:1px solid #CCD3DA;*/
}
.status_top_table td {
  vertical-align: top;
}
.status_top_table .image {
  width: 58px;
  /* s_w */
  padding: 5px 0;
  color: #777777;
  overflow: hidden;
}
.status_top_image img {
  margin-bottom: 2px;
}
.status_top_date {
  padding: 0;
}
.status_top_table .reply_table .image {
  width: 30px;
  padding: 2px;
}
.status_top_table .info {
  width: 338px;
  /* s_w */
}
.status_top_table .reply_table .info {
  width: 300px;
  padding: 0;
}
.status_top_table .text {
  width: 316px;
  overflow: hidden;
  padding: 5px 0 0px;
}
.status_top_table .text div {
  padding-top: 4px;
}
.status_top_table .text div.raud_icon {
  padding-top: 0px;
}
.status_top_table .name_link {
  font-weight: bold;
}
.status_top_table .message {
  padding: 0 3px;
}
.status_top_table .info_footer {
  padding: 4px 0 0;
  font-size: 10px;
  width: 316px;
  /* s_w */
}
.status_top_table .reply_header {
  width: 324px;
  /* s_w */
  cursor: pointer;
}
.replies_wrap {
  padding-top: 11px;
}
.status_top_table .reply_header.all_replies {
  width: 324px;
  /* s_w */
  cursor: auto;
}
.status_top_table .reply_table .info_footer {
  width: 297px;
  /* s_w */
}
.status_top_table .info_footer .actions {
  padding: 0 2px;
}
.account_info {
  /*border-bottom:1px solid #DAE1E8;*/
  padding: 0;
}
.delete_status {
  background: url("/images/pics/statusx.gif?1") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
.delete_status_wrap {
  height: 13px;
  width: 17px;
  padding-top: 4px;
}
.status_top_table .reply_message {
  width: 316px;
  /* s_w */
}
#status_history .dld,
#one_status .dld,
#wall .dld {
  padding: 5px 50px 8px;
  font-weight: normal;
  margin: 0px;
  border: 0;
  /*border-bottom:1px solid #DBE0EA;*/
  background: #FFFFFF;
  color: #777777;
  width: 295px;
  /* s_w */
}
#status_box .dld {
  font-weight: normal;
  background: #FFFFFF;
  color: #777777;
  padding: 5px 50px 8px;
  border: 0;
  margin: 0px;
  width: 295px;
  /* s_w */
}
#status_history .wall_reply .dld,
#status_box .wall_reply .dld,
#one_status .wall_reply .dld,
#wall .wall_reply .dld {
  padding: 8px 4px 8px 36px;
  font-weight: normal;
  margin: 0px;
  border: 0;
  background: #FFF;
}
#wall .fBox2 {
  padding: 0 8px;
}
#wall .fBox2 .wall_reply .dld {
  padding: 9px 4px 10px 10px;
  font-weight: normal;
  margin: 0px 0px 15px;
}
#wall .fBox2 .dld {
  padding: 9px 4px 10px 10px;
  font-weight: normal;
  margin: 0px;
  background-color: #F6F7F9;
  border: 1px solid #DBE0EA;
  width: 364px;
}
.raud_icon {
  width: 15px;
  height: 10px;
  background: url("/images/icons/raudicons2.gif") no-repeat scroll 0px 0px transparent;
  margin-top: 4px;
  font-size: 5px;
}
.box_title .raud_icon {
  display: none;
}
.reply_icon {
  width: 22px;
  height: 25px;
  background: url("/images/icons/reply_icon.gif") no-repeat scroll 0 5px transparent;
}
.profileTable .raud_icon {
  margin-top: 2px;
}
.comments_icon {
  background-position: 0px -10px;
}
.poll_icon {
  background-position: 0px -30px;
}
.note_icon {
  background-position: 0px -20px;
}
.checkin_icon {
  background-position: 0px -40px;
}
.donate_icon {
  background-position: 0px -50px;
}
.status_icon {
  width: 22px;
  height: 25px;
  background: url("/images/icons/status_icon.gif") no-repeat scroll 0 5px transparent;
}
.reply_icon {
  width: 22px;
  height: 25px;
  background: url("/images/icons/reply_icon.gif") no-repeat scroll 0 5px transparent;
}
.external_icon {
  width: 22px;
  height: 25px;
  background: url("/images/icons/extcomment_icon.gif") no-repeat scroll 0 5px transparent;
}
.share_icon {
  width: 22px;
  height: 25px;
  background: url("/images/icons/statuses_s.gif") no-repeat scroll 0 5px transparent;
}
.status_note_desc {
  line-height: 17px;
}
.status_share_desc {
  line-height: 17px;
}
.status_poll_desc {
  line-height: 17px;
}
.wall_post_action {
  color: #767676;
}
.wall_post_action div {
  height: 5px;
}
.status_desc {
  padding: 0 3px 0 0;
  color: #777777;
  line-height: 17px;
}
.status_desc_wrap {
  padding: 5px 0px 1px 0px;
}
a.status_desc .a {
  color: #2B587A;
  padding-left: 1px;
}
a.status_desc:hover {
  text-decoration: none;
}
a.status_desc:hover .a {
  text-decoration: underline;
}
.status_desc a:hover {
  /*border-bottom:1px solid #A7B7C9;
  text-decoration: none;*/
}
.wallpost td.ext_message {
  padding-top: 6px;
  line-height: 150%;
}
.status_top_box {
  padding: 3px 0;
  border-top: 1px solid #CCD3DA;
}
.status_top_box.first {
  border-top: 1px solid #DEE4E8;
  border-top: 1px solid #FFFFFF;
}
.status_name {
  font-weight: bold;
  padding-right: 4px;
}
#submit_status_box .r,
#submit_post_box .r {
  padding: 8px;
  background: #F7F7F7;
  /*background:#FFFFFF;*/
  /*border-top:1px solid #CCD3DA;
  border-top:1px solid #B1BDD6;*/
  border-top: 1px solid #CCCCCC;
}
.status_progress {
  background: url(/images/progress7.gif) no-repeat center center;
  height: 50px;
  border-top: 1px solid #CCD3DA;
}
.post_media {
  padding: 5px 0 0;
  line-height: 100%;
}
.post_media .videoWallThumb,
.post_media .videoWallThumbSmall {
  margin: 0;
}
#status_top_post .ext_message {
  vertical-align: middle;
}
.history_container .post_media {
  display: inline;
}
.reply_link {
  font-size: 10px;
}
#status_field,
#reply_field {
  overflow: hidden;
  outline: none;
  margin: 0;
}
/* Mentions */
.mini_editor_cont {
  display: none;
}
.mention_rich_ta {
  padding: 3px;
  border: 1px solid #C0CAD5;
  background: white;
  outline: none;
  overflow-x: hidden;
  line-height: normal;
}
.mention_rich_ta a {
  color: #2B587A !important;
  cursor: text !important;
  text-decoration: none !important;
}
.mention_rich_ta p {
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  padding: 0px;
  margin: 0;
  line-height: normal;
}
.mini_editor_cont .selector_container .result_list {
  display: none;
}
.reply_link_wrap {
  padding-top: 5px;
}
.reply_date {
  color: #999999;
}
.status_top_text {
  width: 338px;
  overflow: hidden;
}
.reply_actions {
  padding: 0 5px;
}
.reply_link_wrap a {
  /*color: gray;*/
}
.flexHeader .flexEdit a.wall_link {
  font-weight: normal;
  font-size: 11px;
  color: #2B587A;
}
.switch_personal_info {
  padding: 5px 5px 4px;
}
#short_info,
#full_info {
  border-top: 1px solid #DAE1E8;
}
/* Share tooltip start */
.share_tooltip {
  position: absolute;
  z-index: 2000;
}
.tt_content {
  background: white;
  border: 1px solid #AEBDCC;
  padding: 10px;
  padding-bottom: 0;
}
.tt_thumb {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
}
h4.tt_header {
  margin-left: 0;
}
.tt_footer {
  background: #EEF2F6;
  border-top: 1px solid #CCD3DC;
  padding: 8px 10px;
  margin: 10px -10px 0 -10px;
}
.share_tooltip_top .tt_top_pointer,
.share_tooltip_bottom .tt_bottom_pointer {
  display: block;
}
/* Share tooltip end */
.replies {
  display: none;
}
.account_info .replies,
#one_status .replies,
#status_history .replies {
  display: block;
}
.iconX,
.iconXover {
  background: url("/images/icons/x_icon5.gif") no-repeat scroll 0 -21px transparent;
  cursor: pointer;
  height: 21px;
  width: 21px;
}
.iconXover {
  background: transparent url(/images/icons/x_icon5.gif) no-repeat 0px 0px;
}
.attach_box {
  padding: 8px 0 0;
}
.attach_img {
  padding: 2px;
  border: 1px solid #AAAAAA;
  background: #FFFFFF;
}
.attach_audio {
  padding: 3px 0 2px 20px;
  background: url(/images/play.gif) no-repeat 0px 1px;
}
.attach_audio .performer {
  font-weight: bold;
}
.attach_img img {
  vertical-align: top;
}
.attach_x {
  padding: 0 5px;
}
.status_note {
  padding: 8px 0 0;
  display: none;
}
.status_note_label {
  color: #777;
}
.status_note_title {
  width: 372px;
}
/* Status share url attach */
#wall_share_preview {
  background: white;
  border: 1px solid #C0CAD5;
  margin-top: 5px;
  padding: 10px 10px 5px 10px;
}
#wall_share_preview img.loading {
  display: block;
  width: 32px;
  margin: 0 auto 5px auto;
  vertical-align: middle;
}
#wall_share_preview .tt_thumb {
  margin-bottom: 5px;
}
#wall_share_preview .descr {
  padding-bottom: 5px;
}
.wall_share_preview_tail {
  margin-left: 66px;
  background: url('/images/tooltip_arrow_down_w.gif') no-repeat;
  display: block;
  margin-bottom: -8px;
  top: -2px;
}
.attach_url {
  height: 21px;
  background: url("/images/icons/statuses_s.gif") no-repeat scroll 0 2px transparent;
  padding-left: 22px;
}
.attach_url span {
  color: #757575;
  line-height: 21px;
}
/* Inline polls (full at widgets.css) */
.pollStats {
  width: 300px;
}
.pollStatsText {
  padding-top: 5px;
}
.pollStatsBg {
  background: #FAFAFA;
  width: 95%;
}
.pollStatsFg {
  background: #DAE2E8;
  border-top: 1px solid #CAD1D9;
  font-size: 0;
  height: 14px;
  overflow: hidden;
}
.pollStatsDesc {
  padding-left: 5px;
  width: 5%;
}
.checkin_tooltip {
  position: absolute;
  z-index: 1000;
}
.checkin_tooltip .tt_header {
  margin-bottom: 0;
}
.checkin_tooltip .tt_checkin_type {
  color: #777;
  font-size: 9px;
  margin: 2px 0 4px 0;
  padding: 0 0 2px 1px;
  border-bottom: 1px solid #D5DDE3;
}
.checkinPreviewTable td.label {
  width: 80px;
  color: gray;
  padding: 2px 0;
}
.wall_poll {
  background: white;
  border: 1px solid #C0CAD5;
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 7px;
  clear: both;
}
.wall_poll .label {
  color: #777777;
  float: left;
  padding: 4px 10px 0 0;
  text-align: right;
  vertical-align: top;
  width: 110px;
}
.wall_poll .labeled {
  float: left;
  width: 200px;
}
.wall_poll input {
  width: 222px;
  margin-bottom: 3px;
}
.wall_poll .divider {
  color: #777;
  padding: 0;
}
.wall_poll a.disabled,
.wall_poll a.disabled:hover {
  color: #777;
  cursor: default;
  text-decoration: none;
}
.wall_poll a {
  font-size: 10px;
}
.attach_poll {
  height: 21px;
  background: url("/images/icons/poll_icon.gif") no-repeat scroll 0 2px transparent;
  padding-left: 22px;
}
.attach_poll span {
  color: #757575;
  line-height: 21px;
}
.attach_poll span.pollQ {
  color: #2B587A;
}
.status_poll_preview_tail {
  margin-left: 50px;
  background: url('/images/tooltip_arrow_down_w.gif') no-repeat;
  display: block;
  margin-bottom: -8px;
  top: -2px;
}
/* Status likes  */
.like_wrap {
  padding: 2px 4px;
  margin-top: 4px;
  font-size: 10px;
  cursor: pointer;
}
.like_wrap .like_link {
  visibility: hidden;
}
.like_wrap div {
  width: 11px;
  height: 10px;
  margin: 3px 3px 0 3px;
  background: url(/images/icons/like.gif?5) no-repeat 1px 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.like_wrap span {
  color: #2F5879;
}
.like_wrap:hover div {
  opacity: 1;
  filter: alpha(opacity=100);
}
.like_wrap:hover .like_link {
  text-decoration: underline;
}
.like_wrap_on div {
  opacity: 1;
  filter: alpha(opacity=100);
}
.publishedBy {
  font-weight: bold;
  background: url(/images/icons/published.gif) 0 3px no-repeat;
  padding-left: 12px;
  margin-right: 2px;
}
/* Like tooltip */
.tt_head {
  cursor: pointer;
  margin: -11px -11px 10px -11px;
  border: 1px solid #3B6798;
}
.tt_head div {
  border: 1px solid;
  border-color: #7E9CBC #5C82AB #5C82AB;
  background: #6D8FB3;
  color: #FFF;
  text-shadow: 0 1px 0 #45688E;
  padding: 2px 9px 3px;
}
.publish_tooltip .tt_content {
  padding: 3px 7px 3px 3px;
}
.like_stats_tooltip .tt_descr {
  height: 25px;
  width: 180px;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0;
  position: relative;
}
.like_stats_tooltip .tt_top_pointer {
  background-image: url(/images/tooltip_arrow_up_b.gif?1);
}
table.like_stats {
  border: 0;
  border-collapse: collapse;
  position: relative;
}
table.like_stats td {
  padding: 0;
  vertical-align: top;
}
table.like_stats td img {
  width: 25px;
  margin-right: 6px;
}
.tt_no_footer .tt_descr {
  margin-bottom: 10px;
}
.tt_no_footer .tt_bottom_pointer {
  background: url(/images/tooltip_arrow_white.gif);
}
.status_date_link,
.status_date_link:hover {
  color: #777;
}
.history_link {
  border-top: 1px solid #CCD3DA;
}
.history_link a {
  display: block;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.history_link a:hover {
  text-decoration: none;
  background-color: #ECEFF3;
}
.account_header {
  cursor: pointer;
}
.account_header.over {
  background: #DAE2E8;
}
#short_info {
  cursor: pointer;
}
.profile_info #short_info {
  cursor: default;
}
.status_top_online {
  color: #999;
  padding: 2px 2px 0;
}
#wall_header_link a,
#statuses_header_link a {
  margin-left: 2px;
  color: #A9B8CB;
  font-weight: bold;
}
.info_link {
  padding: 8px 0px 8px 128px;
  position: relative;
  top: -1px;
  line-height: 13px;
  color: #2B587A;
  cursor: pointer;
  margin-bottom: 10px;
}
.info_link:hover {
  padding-top: 7px;
  border-top: 1px solid #CCD3DA;
  background: #ECEFF3;
}
.info_link span {
  position: relative;
  top: -1px;
}
.profile_top {
  padding-bottom: 5px;
}
.profile_top .profile_name {
  padding: 4px 5px 0px;
}
.profile_top #current_info_wrap {
  padding: 3px 6px 0px;
  width: 380px;
  overflow: hidden;
  max-height: 39px;
  height: auto !important;
}
.my_current_info,
.no_current_info {
  cursor: pointer;
}
.my_current_info:hover,
.no_current_info:hover {
  text-decoration: underline;
}
.no_current_info {
  position: relative;
  top: -2px;
  font-size: 10px;
  color: #AAA;
}
#currinfo_editor {
  position: absolute;
  z-index: 10;
  margin: -24px 0px 0px -13px;
  display: none;
}
#currinfo_editor .sidesh {
  background: #000;
  width: 1px;
  opacity: 0.08;
  filter: alpha(opacity=8);
}
#currinfo_editor .sidesh div {
  width: 1px;
  overflow: hidden;
}
#currinfo_editor .bottomsh1 {
  background: #000;
  height: 1px;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
#currinfo_editor .bottomsh2 {
  background: #000;
  height: 1px;
  opacity: 0.05;
  filter: alpha(opacity=5);
}
#currinfo_editor .bottomsh1 div,
#currinfo_editor .bottomsh2 div {
  height: 1px;
  overflow: hidden;
}
#currinfo_editor .editor {
  background: #F7F7F7;
  border: 1px solid #CCC;
  padding: 6px;
  width: 384px;
}
#currinfo_about,
#currinfo_warn {
  margin: 5px 1px 0px;
  font-size: 10px;
  color: #777;
  display: none;
}
#currinfo_clear {
  margin: 4px 6px 0px;
  display: none;
}
#currinfo_editor .button_gray {
  display: none;
}
#currinfo_editor .button_blue,
#currinfo_editor .button_gray {
  margin: 0px;
}
#currinfo_sep {
  display: none;
  height: 13px;
  width: 6px;
  overflow: hidden;
}
#currinfo_editor .button_blue button,
#currinfo_editor .button_gray button {
  padding: 2px 10px 3px;
  *padding: 3px 1px 2px;
}
#currinfo_input {
  margin: 0px 0px 6px;
  width: 376px;
}
#currinfo_progress {
  margin: 7px 6px 0px;
  display: none;
}
.app .install_flash_wrap {
  padding: 60px 60px;
  visibility: hidden;
}
.app .install_button {
  text-align: center;
  margin: 20px;
}
.app input.install_flash {
  width: 100%;
  font-size: 12px;
  background-position: 0px -13px;
  padding: 6px 18px;
  *padding-bottom: 5px;
}
.app input.install_flash:hover {
  background-position: 0px -5px;
}
