#content {
  padding: 0px 0px 0px 0px;
}
.summaryBar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 11px 10px 0 10px;
  color: black;
  font-weight: normal;
  line-height: normal;
}
.summaryBar .summary {
  color: #45688E;
  float: left;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
#noQuestions {
  font-size: 12px;
  text-align: center;
  margin: 10px 20px;
  padding: 50px 10px;
  color: gray;
  background: #fff;
  border: solid 1px #ddd;
}
.questionOut {
  margin: 10px auto 0px auto;
  display: block;
  padding: 2px;
  width: 584px;
  background: #EDEFF1;
}
.questionOutTwo {
  background: white;
  border: 1px solid #ADBBCA;
  width: 582px;
  display: block;
}
.questionOutTwo h2 {
  border-bottom: 1px solid #DAE2E8;
  color: #45688E;
  padding: 5px 0px 3px 0px;
  margin: 0px 0px 10px 0px;
  font-size: 13px;
}
.questionOutThree {
  border: 10px solid #DAE2E8;
  padding: 10px;
}
.question {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #DAE1E8;
}
.questionInner {
  border-bottom: 1px solid #DAE1E8;
  padding-bottom: 2px;
  font-size: 11px;
  width: 420px;
  overflow: hidden;
}
.questionDel {
  font-size: 9px;
  font-weight: normal;
  float: right;
  color: #777;
}
.divider {
  color: #777;
  font-weight: normal;
  padding: 0px 5px;
}
.dividerSm {
  color: #777;
  font-weight: normal;
  padding: 0px 3px;
}
h4,
h5 {
  color: #36638E;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin: 10px auto;
}
#addQuestion {
  padding: 10px 0px 20px 0px;
  background-color: #fafafa;
}
#qMessage {
  text-align: middle;
  color: #36638E;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
}
.ratePages {
  list-style-type: none;
  padding: 0px;
  height: 20px;
  margin-top: -6px;
}
ul.ratePages li {
  float: left;
  margin-right: 1px;
  padding: 2px 3px;
}
ul.ratePages li a {
  padding: 0px 3px;
}
ul.ratePages li.current {
  border: 1px solid #DAE1E8;
  background-color: #EEF2F4;
}
ul.ratePages li.current {
  border: 1px solid #DAE1E8;
}
#addcomment {
  margin: 0px;
  padding: 10px 10px 10px 80px;
  border-top: 1px solid #DAE1E8;
}
#appCommHead {
  color: #36638E;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  text-align: left;
  border: none;
  float: left;
}
.newcomm {
  padding: 0px;
  margin: 0px;
  float: left;
  margin-bottom: 15px;
}
.newcomm td {
  padding: 0px;
  vertical-align: top;
}
.newcomm td.image {
  width: 55px;
  text-align: left;
  height: 70px;
  overflow: hidden;
}
.newcomm td.image img {
  width: 50px;
  margin-right: 5px;
}
.newcomm .info {
  width: 100%;
}
.newcomm .info .header {
  padding: 7px;
  background: #EEF2F4;
  height: 1.2em;
  border-bottom: solid 1px #DAE1E8;
}
.text {
  padding: 10px 5px 5px 10px;
  width: 410px;
}
.options {
  text-align: right;
  margin-bottom: 5px;
}
.options li {
  width: 114px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.photo img {
  width: 75px;
  margin-left: 5px;
}
.commnav {
  list-style: none;
  margin: 0 0 1.0em 0;
  padding: 0;
}
.commnav li {
  font-size: 1.0em;
}
.commnav li a {
  border: 0;
  border-bottom: 1px solid #CAD1D9;
  display: block;
  padding: 4px 10px 4px 6px;
}
.commnav li a:hover {
  border-bottom: 1px solid #CAD1D9;
  background: #DAE1E8;
  color: #36638E;
  text-decoration: none;
}
#progrWrap {
  vertical-align: bottom;
  display: none;
}
.voteLink {
  background-color: #F4EBBD;
  border: 1px solid #D7CF9E;
  padding: 3px;
  font-size: 10px;
  color: #908851;
}
a.voteLink:hover {
  text-decoration: none;
  background-color: #FAF4D9;
  color: #908851;
}
.voteCont {
  margin: 5px 10px;
}
.commsCont {
  margin: 10px 0px 0px 0px;
  font-size: 10px;
}
.qButts {
  width: 250px;
  height: 29px;
  vertical-align: bottom;
  list-style-type: none;
  margin: 0;
}
.qButt {
  height: 23px;
  float: left;
  margin: 0px 3px;
  text-align: center;
  border: 1px solid #ADBBCA;
  background-color: #DAE2E8;
}
.qButt a {
  float: left;
  padding: 3px 10px 5px 10px;
  text-decoration: none;
}
.qButt a:hover {
  background-color: #FFF;
  padding: 3px 10px 5px 10px;
  border: 1px solid #BDC7D8;
  text-decoration: none;
}
.qArea {
  width: 420px;
  overflow: hidden;
  margin: 15px 10px 6px 0px;
  line-height: 150%;
}
.qArea1 {
  padding: 15px 10px 6px 0px;
  line-height: 150%;
}
.qText {
  background: #FFF url(/images/qmark.gif) no-repeat 0px 5px;
  padding: 2px 5px 5px 20px;
}
.qDetails {
  font-size: 10px;
  color: #333;
  margin-top: 4px;
}
.qEdit {
  padding: 5px 10px 6px 0px;
  line-height: 150%;
}
.qDate {
  font-size: 10px;
  text-align: right;
  color: #555;
}
.questions {
  background-color: #f7f7f7;
  padding: 10px 10px 15px 10px;
}
.qPhoto {
  vertical-align: top;
  padding-right: 10px;
}
.qAddQuestion {
  margin-left: 160px;
}
.qAddButtons {
  margin-top: 30px;
  height: 25px;
}
.qAddButtons li,
.qEdit .nNav li {
  margin: 0 5px 0 0;
}
.qEdit .nNav {
  margin: 8px 10px 0px 0px;
}
.qDelButtons {
  height: 30px;
  float: right;
  margin: 10px 5px 0px 0px;
}
.qDelButtons .nNav li,
.qAddCommButtons .nNav li {
  margin: 0 5px 0 0;
}
.qAddCommButtons {
  height: 20px;
  margin: 10px 0px 0px 0px;
}
