#rateBar {
    background: #f7f7f7 url(/images/rate_1.gif) repeat-y 0px 0px
}

#content,
.mainPanel {
    padding: 0px
}

.mainPanel {
    overflow: hidden;
    position: relative;
    width: 451px
}

.sidePanel {
    padding: 0px 0px 10px;
    width: 175px
}

.column {
    float: left
}

.rateRow {
    background: #faf3d8 url(/images/golden.gif) repeat-x bottom;
    border: 1px solid #e6e0b6;
    width: 416px;
    padding: 10px 0px;
    line-height: 150%
}

.rateVoteFrom {
    color: #908851
}

.rateRowFirst {
    background-image: url(/images/goldencross.gif);
    background-repeat: no-repeat;
    background-position: 5px 0px;
    width: 53px;
    vertical-align: top
}

.rateRowSecond {
    width: 70px;
    vertical-align: top;
    text-align: center
}

.rateRowThird {
    width: 320px;
    vertical-align: top;
    overflow: hidden
}

.rateRowThird div {
    padding: 0px 10px 4px 3px;
    margin-right: 10px;
    overflow: hidden
}

.rateRowThird p {
    overflow: hidden;
    word-wrap: break-word
}

.rateVoteMSG {
    margin: 0px 11px 0px 0px;
    padding: 8px 10px 4px 3px;
    text-align: left
}

.rateVoteMSG img {
    margin-bottom: 5px
}

#rrGreen .rateRow {
    background: #def0c8;
    border: 1px solid #b1c79a
}

#rrGreen .rateVoteFrom {
    color: #37702a
}

#rrGreen .rateRowFirst {
    background: #def0c8
}

#rrGreen .ratePlus {
    margin: 5px 0px 0px 5px;
    color: #b0cc9c;
    font-weight: 700;
    font-size: 26px
}

#rrGreen .rateVoteMSG {
    border-top: 1px solid #b1c79a
}

#rrGreen .rateVoteMSG img {
    border: 1px solid #b1c79a
}

#rrRed .rateRow {
    background: #fbebe0;
    border: 1px solid #debeab
}

#rrRed .rateVoteFrom {
    color: #8b4c23
}

#rrRed .rateRowFirst {
    background: #fbebe0
}

#rrRed .ratePlus {
    margin: 5px 0px 0px 5px;
    color: #dec2af;
    font-weight: 700;
    font-size: 26px
}

#rrRed .rateVoteMSG {
    border-top: 1px solid #debeab
}

#rrRed .rateVoteMSG img {
    border: 1px solid #debeab
}

#rrBlue .rateRow {
    background: #d9e6ee;
    border: 1px solid #99b3c9
}

#rrBlue .rateVoteFrom {
    color: #0b5588
}

#rrBlue .rateRowFirst {
    background: #d9e6ee
}

#rrBlue .ratePlus {
    margin: 5px 0px 0px 5px;
    color: #99b3c9;
    font-weight: 700;
    font-size: 26px
}

#rrBlue .rateVoteMSG {
    border-top: 1px solid #99b3c9
}

#rrBlue .rateVoteMSG img {
    border: 1px solid #99b3c9
}

.rateSideTitle {
    background-color: #e8e8e8;
    padding: 8px 10px;
    margin: 6px 5px 5px 7px
}

.rateInvited {
    padding: 0px 10px 5px
}

.rateInvited ul {
    padding-left: 15px;
    margin-bottom: 0px
}

.rateInvitedLine {
    padding: 3px 0px 0px 15px;
    margin: 4px 0px 10px;
    border-top: 1px solid #ddd
}

.rateProfile {
    padding: 0px 10px 5px
}

.rateProfile div {
    padding: 3px 0px
}

.rateProfile div img {
    vertical-align: bottom
}

.rateProfileLine {
    padding: 3px 0px 0px 18px;
    margin: 4px 0px 0px;
    border-top: 1px solid #ddd
}

.ratePages {
    list-style-type: none;
    padding-left: 0px;
    margin: 0
}

#ratePagesTopDiv {
    float: left;
    vertical-align: top;
    padding: 1px 28px 0px 0px
}

#ratePagesBottomDiv {
    float: right;
    vertical-align: bottom;
    padding: 6px 12px 0px 0px
}

ul.ratePages li {
    float: left;
    margin-right: 1px;
    padding: 2px 6px
}

ul.ratePages li.current {
    border: 1px solid #dae1e8;
    background-color: #fff
}

#rateRowsWrap {
    background-color: #fff;
    margin-right: 1px;
    padding: 8px 0px
}

#rateRowsWrap,
.rateTabs {
    border-bottom: 1px solid #dae1e8
}

.rateTabs {
    width: 450px;
    height: 24px;
    vertical-align: bottom;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 13px
}

.rateTabOn {
    height: 24px;
    float: left;
    margin: 0px 3px;
    text-align: center;
    border: 1px solid #c3cad2;
    border-bottom: 0px;
    background-color: #fff
}

.rateTabOn a {
    float: left;
    padding: 5px 10px;
    text-decoration: none
}

.rateTabOff {
    height: 23px;
    float: left;
    margin: 0px 3px;
    text-align: center;
    border: 1px solid #c3cad2;
    border-bottom: 0px;
    background-color: #f5f7fa
}

.rateTabOff a {
    float: left;
    padding: 5px 10px 3px;
    border-bottom: 2px #eef0f3 solid;
    text-decoration: none
}

.rateTabOff a:hover,
.rateTabOn a:hover {
    background-color: #fff;
    text-decoration: none
}

.rateHelp {
    margin: 15px 17px 15px 16px;
    background-color: #fff;
    padding: 0px 6px 6px;
    border: 1px solid #ddd
}

#percent {
    position: relative;
    left: 180px;
    top: 27px;
    font-size: 16px;
    color: #8ba1bc
}

#rateLeft {
    border-top: 1px solid #c0ccd9;
    background-color: #dae2e8
}

#rateLeft,
#rateRight {
    float: left;
    height: 32px
}

#rateRight {
    border-top: 1px solid #ececec;
    border-right: 1px solid #eee;
    background-color: #fafafa
}

#rate {
    margin: 0px 2px 9px
}

#percentGold {
    position: relative;
    left: 190px;
    top: 27px;
    font-size: 16px;
    color: #aaa26c
}

#rateLeftGold {
    float: left;
    height: 32px;
    border-top: 1px solid #ccc490;
    background-color: #e0d7a3
}

#rateRightGold {
    float: left;
    height: 32px;
    border-top: 1px solid #e2daa6;
    border-right: 1px solid #eee;
    background-color: #f5ebbb
}

#rateGold {
    margin: 0px 2px 9px
}

.noRate {
    margin: 40px 0px;
    text-align: center;
    color: gray;
    font-size: 13px
}

#rateNew {
    float: right;
    color: #908851;
    font-size: 10px;
    border: 0px;
    padding: 2px 5px 0px 0px;
    margin-right: 7px
}

#rateHelp {
    padding: 0px 30px 30px;
    line-height: 160%
}

#rateHelp h2 {
    font-size: 12px;
    padding: 30px 0px 1px;
    color: #2b587a;
    border-bottom: 1px solid #dae2e8;
    margin: 0px 15px 5px 0px
}

.rateVoteBack {
    text-align: right;
    font-size: 10px;
    padding: 0px 5px 0px 0px
}

.rateVoteBack a {
    color: #908851
}

.rateBox {
    padding: 20px 0px 0px;
    margin: 0px 10px 0px 80px;
    width: 430px
}

.rateBoxInner {
    width: 100%;
    padding: 10px
}

.rateBoxInner2 {
    width: 100%;
    height: 100%
}

.rateBoxTD {
    width: 130px;
    height: 180px;
    padding-top: 3px;
    vertical-align: top
}

.rateBoxQ {
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 3px;
    margin: 10px 10px 0px
}

.rateBoxTD2 {
    width: 110px;
    margin: 9px 0px 10px 10px
}

.rateBoxTD3 {
    background-color: #fff;
    width: 108px
}

.rateBoxTD4 {
    width: 100%;
    vertical-align: top;
    padding-left: 12px
}

.rateBoxMSG {
    margin: 5px 0px 6px;
    padding-top: 4px
}

.rateGreen .rateBoxMSG a,
.rateGreen .rateBoxMSG a:hover {
    color: #37702a
}

.rateGreen .rateBoxMSG a.active {
    font-weight: 700
}

.rateBoxText {
    width: 255px;
    height: 81px
}

.rateTextDisabled {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.rateBoxNotice {
    font-size: 10px;
    margin: 5px 15px 5px 0px
}

.rateBoxBottom {
    width: 450px;
    margin-bottom: 10px
}

.rateBoxLine {
    height: 1px;
    margin: 0px 1px
}

.rateYellow .rateBoxNotice {
    color: #817945
}

.rateYellow .rateBoxText {
    border: 1px solid #c4bb98
}

.rateYellow #rateBoxPlus {
    color: #c4bb98;
    font-weight: 700;
    font-size: 20px
}

.rateYellow .rateBoxTD3,
.rateYellow .rateBoxText {
    border: 1px solid #c4bb98
}

.rateYellow .rateBoxInner {
    border: 1px solid #c4bb98;
    background-color: #e9deb4
}

.rateYellow .rateBoxInner2 {
    background: #faf3d8 url(/images/goldenhigh.gif) repeat-x bottom
}

.rateYellow .rateBoxQ {
    color: #817945;
    border-bottom: 1px solid #e6e0b6
}

.rateYellow .rateBoxTD2 {
    border: 1px solid #e9deb4
}

.rateYellow .rateBoxMSG {
    color: #817945
}

.rateYellow .rateBoxLine {
    border-top: 1px solid #efeac8
}

.rateGreen .rateBoxNotice {
    color: #37702a
}

.rateGreen .rateBoxText {
    border: 1px solid #8dbf56
}

.rateGreen #rateBoxPlus {
    color: #8dbf56;
    font-weight: 700;
    font-size: 30px
}

.rateGreen .rateBoxTD3 {
    border: 1px solid #37702a
}

.rateGreen .rateBoxInner {
    border: 1px solid #37702a;
    background-color: #8dbf56
}

.rateGreen .rateBoxInner2 {
    background: #bed8a1 url(/images/greenhigh.gif) repeat-x bottom
}

.rateGreen .rateBoxQ {
    color: #37702a;
    border-bottom: 1px solid #8dbf56
}

.rateGreen .rateBoxText,
.rateGreen .rateBoxTD2 {
    border: 1px solid #8dbf56
}

.rateGreen .rateBoxMSG {
    color: #37702a
}

.rateGreen .rateBoxLine {
    border-top: 1px solid #d5edbc
}

.rateRed .rateBoxNotice {
    color: #8b4c23
}

.rateRed .rateBoxText {
    border: 1px solid #bf7f56
}

.rateRed #rateBoxPlus {
    color: #bf7f56;
    font-weight: 700;
    font-size: 40px
}

.rateRed .rateBoxTD3 {
    border: 1px solid #99613d
}

.rateRed .rateBoxInner {
    border: 1px solid #8b4c23;
    background-color: #c68d69
}

.rateRed .rateBoxInner2 {
    background: #dcbba8 url(/images/redhigh.gif) repeat-x bottom
}

.rateRed .rateBoxQ {
    color: #8b4c23;
    border-bottom: 1px solid #c39679
}

.rateRed .rateBoxText {
    border: 1px solid #bf7f56
}

.rateRed .rateBoxTD2 {
    border: 1px solid #c39679
}

.rateRed .rateBoxMSG {
    color: #8b4c23
}

.rateRed .rateBoxLine {
    border-top: 1px solid #edd0bc
}

.rateBlue .rateBoxNotice {
    color: #0b5588
}

.rateBlue .rateBoxText {
    border: 1px solid #bf7f56
}

.rateBlue #rateBoxPlus {
    color: #8aa6bd;
    font-weight: 700;
    font-size: 40px
}

.rateBlue .rateBoxTD3,
.rateBlue .rateBoxInner {
    border: 1px solid #5a89a9
}

.rateBlue .rateBoxInner {
    background-color: #99b3c9
}

.rateBlue .rateBoxInner2 {
    background: #c5dbe9 url(/images/bluehigh.gif) repeat-x bottom
}

.rateBlue .rateBoxQ {
    color: #0b5588;
    border-bottom: 1px solid #99b3c9
}

.rateBlue .rateBoxText,
.rateBlue .rateBoxTD2 {
    border: 1px solid #99b3c9
}

.rateBlue .rateBoxMSG {
    color: #0b5588
}

.rateBlue .rateBoxLine {
    border-top: 1px solid #cedeec
}

input.customVotes {
    font-size: 26px;
    font-weight: 700;
    width: 71px;
    margin: 9px 0px 0px;
    color: #8aa6bd;
    vertical-align: top;
    text-align: center;
    padding: 2px;
    border: 1px solid #99b3c9
}

.rateOptions {
    vertical-align: bottom;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px 0px 120px
}

.rateOptions,
.rateOptions li {
    text-align: center;
    height: 24px
}

.rateOptions li {
    float: left;
    margin: 0px 3px
}

.rateOptions a,
.rateOptions a:hover {
    float: left;
    padding: 5px 15px 6px;
    text-decoration: none;
    white-space: nowrap
}

#yellowOption {
    border: 1px solid #e8e0c3;
    background-color: #faf3d8
}

#yellowOption a {
    color: #a49e79
}

#yellowOption.active a,
#yellowOption a:hover {
    color: #817945
}

#yellowOption.active {
    border: 1px solid #c4bb98;
    background-color: #eee3bd
}

#greenOption {
    border: 1px solid #cfdebf;
    background-color: #e8f2dc
}

#greenOption a {
    color: #83a67b
}

#greenOption.active a,
#greenOption a:hover {
    color: #37702a
}

#greenOption.active {
    border: 1px solid #8dbf56;
    background-color: #c8e0ac
}

#redOption {
    border: 1px solid #e4d4ca;
    background-color: #f5e9e2
}

#redOption a {
    color: #b79076
}

#redOption.active a,
#redOption a:hover {
    color: #8b4c23
}

#redOption.active {
    border: 1px solid #ca9573;
    background-color: #e7cbba
}

#blueOption {
    border: 1px solid #ced8e0;
    background-color: #e4ebf1
}

#blueOption a {
    color: #7b99b2
}

#blueOption.active a,
#blueOption a:hover {
    color: #0b5588
}

#blueOption.active {
    border: 1px solid #99b3c9;
    background-color: #cbe2f1
}

.flatTabs {
    padding-top: 12px;
    background-color: #fafafa
}