#content {
    padding: 0px
}

#searchWrap {
    padding: 0px 8px
}

.select {
    width: 200px;
    padding: 2px
}

.select,
.iText {
    border: 1px solid #c0cad5;
    font-family: Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, tahoma, verdana, arial, sans-serif;
    font-size: 11px
}

.iText {
    padding: 3px
}

.iText,
.inputtext {
    width: 100%
}

.summaryBar {
    border-bottom: 1px solid #dae2e8;
    clear: both;
    padding: 11px 10px 0;
    color: #000;
    font-weight: 400;
    line-height: normal
}

.summaryBar .summary {
    color: #45688e;
    float: left;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 4px
}

.results {
    padding: 10px 10px 5px;
    width: 606px
}

.uBar {
    background: #f7f7f7;
    border-top: solid 1px #ddd;
    border-bottom: 1px solid #d8dfea;
    padding: 5px 10px
}

.uBar label {
    color: #666;
    font-size: 11px;
    font-weight: 400
}

.criteriaLabel {
    float: left;
    width: 450px
}

.searchResults {
    background: #f7f7f7
}

.column {
    float: left
}

.editSearch {
    float: right;
    text-align: right;
    width: 150px
}

.criteria {
    float: left;
    padding: 1px 2px 0px;
    padding-left: 0px;
    margin-top: 5px
}

.criterion {
    float: left;
    padding: 3px 5px;
    border: solid 1px #ccc;
    background: #fff;
    margin-right: 5px;
    margin-bottom: 4px
}

.criterion span {
    color: gray;
    font-weight: 700
}

.result {
    background: #fff;
    border: 1px solid #dae2e8;
    padding: 5px 4px 4px;
    margin-bottom: 5px
}

.result .image {
    border-bottom: 1px solid #fff;
    float: left;
    line-height: 1px;
    padding: 0px 9px 0px 0px;
    text-align: left;
    width: 100px
}

.result .info {
    float: left;
    padding: 0px;
    width: 337px
}

.result .info dd,
.result .info dl,
.result .info dt {
    margin: 0px;
    padding: 0px
}

.result .info dl {
    line-height: 15px
}

.result .info dt {
    color: gray;
    clear: both;
    float: left;
    padding: 0px;
    width: 70px
}

.result .info dd {
    float: left;
    display: inline;
    padding: 0px;
    width: 237px
}

.result .info dt.matches {
    padding-top: 0px
}

.result .info dd.aux {
    margin-left: 70px
}

.result .info dd.matches {
    padding-bottom: 5px
}

.result .info dd.matches div {
    padding: 0px
}

.result .info dd.matches span {
    margin: 0px;
    padding: 0px 0px 1px;
    background: #fff8cc;
    border-bottom: solid 1px #ffe222
}

.result .info dd .network_details {
    color: #777
}

.result .info dd .bbb {
    color: #bbb
}

#actions a:hover {
    text-decoration: none;
    background-color: #dae1e8
}

.fallBack {
    background: #fff;
    border: 1px solid #ccc;
    color: #777;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 0px 5px;
    padding: 60px 20px;
    text-align: center
}

#aSearch {
    padding: 20px 0px 0px
}

.aHead {
    color: #45688e;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 700
}

.note {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #111;
    padding: 10px;
    margin: 0px 60px
}

.note strong {
    color: #45688e;
    display: block
}

h2 {
    color: #45688e;
    float: left;
    font-size: 11px;
    padding: 10px 20px 0px 0px;
    text-align: right;
    width: 125px
}

.search_section {
    clear: both
}

.aColumn {
    border-top: 1px solid #ddd;
    float: left;
    padding: 5px 0px 10px;
    width: 220px
}

.aColumn div {
    padding-right: 30px;
    padding-bottom: 0px
}

.aRight {
    width: 200px
}

.aRight div {
    padding-right: 10px
}

.search_section label {
    display: block;
    padding-top: 4px;
    padding-bottom: 2px
}

.search_section select {
    clear: both;
    margin-left: 0px;
    width: 198px
}

#network_selector {
    padding: 0px 0px 20px;
    text-align: center
}

#search_buttons {
    clear: both;
    padding: 20px 0px;
    text-align: center
}

#search_buttons #n_sel {
    margin-right: 5px
}

select#hr,
select#yr {
    width: 70px
}

select#s1,
select#s2,
select#sx {
    width: 108px
}

select#cn_sel {
    width: 200px
}

input#z1,
input#z2 {
    width: 100px
}

.simpleBlock {
    padding: 60px 50px
}

.simpleHeader {
    padding: 3px 8px 3px 11px;
    border-top: solid 1px #b1bdd6;
    background: #dae2e8;
    color: #45688e;
    font-weight: 700
}

.simpleBar {
    padding: 15px 55px;
    border-top: solid 1px #ccc;
    background: #f7f7f7;
    border-bottom: solid 1px #dae2e8
}

.sWord {
    color: #777;
    margin-right: 5px
}

.commentsPages {
    list-style-type: none;
    padding-left: 0px;
    height: 20px;
    margin: 0px;
    float: right
}

ul.commentsPages li {
    float: left;
    margin-right: 1px;
    padding: 2px 6px
}

ul.commentsPages li.current {
    border: 1px solid #dae1e8;
    background-color: #fff
}

.commentsPagesWrap {
    width: 370px;
    height: 20px;
    float: right
}

#progrWrap,
#progrWrapTop {
    float: right;
    margin-right: 5px;
    vertical-align: bottom
}

#progr,
#progrMid,
#progrTop {
    display: none
}

a.greyX,
a.greyX:hover {
    font-weight: 700;
    color: #d3d3d3;
    padding: 0px 2px 1px;
    text-decoration: none;
    font-size: 10px;
    margin: 5px
}

a.greyX:hover {
    color: #fff;
    background-color: #d3d3d3
}