#achievements_css {
    display: none
}

.achievements_none {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.ach_page_block {
    padding: 20px
}

.ach_subtabs {
    background: #fafbfc
}

.achievements_top_notify_wrap {
    margin: 0 0 10px
}

.achievements_new_wrap {
    padding: 20px;
    background: #e7edf2
}

.achievements_new_head {
    margin-bottom: 20px;
    font-size: 15px
}

.achievements_unlocked_wrap {
    padding: 20px;
    background: #faf0dd;
    position: relative
}

.achievements_unlocked_head {
    margin-bottom: 20px;
    font-size: 15px
}

.achievements_unlocked_hide {
    right: 20px;
    top: 20px;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    color: #7f7660;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.3;
    position: absolute
}

.achievements_unlocked_hide:before {
    content: '\2715'
}

.achievements_unlocked_hide:hover {
    opacity: 1
}

.achievements {
    padding: 25px 30px
}

.ach_page_block .achievements {
    padding: 5px 10px
}

.ach_page_block .achievements_new_wrap .achievements,
.ach_page_block .achievements_unlocked_wrap .achievements {
    padding: 0
}

.achievements_none {
    background: url(/images/agents/sad.png) center 10px no-repeat;
    padding: 100px 0 10px;
    text-align: center;
    color: #929eb0;
    font-size: 14px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .achievements_none {
        background-image: url(/images/agents/sad_2x.png);
        background-size: 70px 70px
    }
}

.achievement {
    -o-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
    float: left;
    text-align: center;
    height: 155px;
    width: 145px;
    line-height: 155px;
    overflow: hidden
}

.achievements_opacity .achievement {
    opacity: 0.1
}

.achievements_opacity .achievement.achievement_marked {
    opacity: 1
}

.achievement_transparent {
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
    opacity: 0.4
}

.achievement_transparent:hover {
    opacity: 0.75
}

.achievement_blur {
    pointer-events: none
}

.achievement_img {
    width: 128px;
    height: 128px;
    vertical-align: middle
}

.achievement_blur .achievement_img,
.achievement_blur_only .achievement_img {
    -o-transition: width 200ms linear, height 200ms linear, filter 200ms linear;
    transition: width 200ms linear, height 200ms linear, filter 200ms linear;
    width: 100px;
    height: 100px;
    filter: blur(10px) grayscale(75%);
    opacity: 0.8
}

.achievement_blur_only .achievement_img:hover {
    width: 128px;
    height: 128px;
    filter: blur(0) grayscale(0%)
}

.achievement_row {
    padding: 10px;
    -o-transition: filter 600ms linear;
    transition: filter 600ms linear;
    display: block;
    text-decoration: none
}

.achievements_new_wrap .achievement_row:hover {
    background: #e0e8f1;
    text-decoration: none
}

.achievements_unlocked_wrap .achievement_row:hover {
    background: #f2e7ce;
    text-decoration: none
}

.achievement_row.achievement_row_faded {
    filter: blur(10px) grayscale(75%)
}

.achievement_row__img {
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 15px
}

.achievement_row_content {
    padding-top: 10px;
    overflow: hidden
}

.achievement_row__title {
    font-size: 16px
}

.achievement_row__descr {
    margin-top: 6px;
    color: #000;
    font-size: 13px;
    line-height: 19px
}

.ach_form_row__label {
    margin-bottom: 4px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #42648b
}

.ach_form_row__input .text {
    box-sizing: border-box;
    resize: vertical;
    width: 100%
}

.ach_form_row__input.ach_form_row__input_photo .text {
    float: left;
    width: 310px
}

.ach_form_row__input.ach_form_row__input_photo .flat_button {
    float: right
}

.ach_form_row {
    margin-bottom: 10px
}

.ach_form_submit_row {
    margin-top: 15px
}

.ach_divider.divider {
    margin-left: 14px
}

.ach_divider.divider:before {
    padding-right: 4px;
    font-size: 10px
}

.ach_block__requirements {
    margin-top: 12px;
    color: #656565
}

.ach_block_requirement {
    margin-top: 3px;
    padding-left: 20px;
    background: url('/images/icons/msg_error.png') no-repeat 0;
    background-size: 16px 16px;
    line-height: 18px
}

.ach_block_requirement.ach_block_requirement_done {
    background: url('/images/icons/msg_ok.png') no-repeat 0;
    background-size: 16px 16px
}

.ach_block_requirement.ach_block_requirement_info {
    background: url('/images/icons/msg_info.png') no-repeat 0;
    background-size: 16px 16px
}

.ach_block_requirement_progress {
    border-radius: 4px;
    margin-left: 4px;
    height: 8px;
    width: 100px;
    background: #ced7e0;
    display: inline-block;
    vertical-align: baseline
}

.ach_block_request {
    margin-top: 12px
}

.ach_block_request .flat_button {
    vertical-align: middle
}

.ach_block_request .flat_button:empty {
    display: none
}

.ach_block_requirement_progress__bar {
    border-radius: 4px;
    background: #5181b8;
    height: 8px
}

.achievement_owner {
    padding: 15px 11px;
    text-align: center;
    font-size: 12.5px;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis
}

.achievement_owner_img_wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    margin: 0 auto 6px;
    overflow: hidden;
    position: relative
}

.achievement_owner_img_wrap:before {
    background-color: #fff
}

.achievement_owner_img_wrap:before,
.achievement_owner_img_wrap:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px
}

.achievement_owner_img_wrap:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .achievement_owner_img_wrap:after {
        background-image: url(/images/camera_200.png)
    }
}

.achievement_owner_img {
    z-index: 1;
    position: relative;
    vertical-align: middle;
    width: 100px
}

.achievement_owner_name {
    line-height: 140%
}

.ach_search_form {
    margin: -20px -20px 20px
}

.ach_search_form_add_button {
    margin-top: 10px
}

.ach_list_row {
    border-bottom: 1px solid #e7e8ec;
    padding: 10px
}

.ach_list_row.ach_list_row_last_visible,
.ach_list_row:last-child {
    border-bottom: 0px none
}

.ach_list_row:hover {
    background: #f0f2f5
}

.ach_list_row.ach_list_row_removed {
    opacity: 0.6
}

.ach_list_row.ach_list_row_child {
    margin-left: 128px
}

.ach_list_row_id {
    float: right;
    margin-bottom: 20px;
    font-size: 14px
}

.ach_list_row_img_wrap {
    float: left;
    width: 128px
}

.ach_list_row_child .ach_list_row_img_wrap {
    width: 100px
}

.ach_list_row_img {
    max-height: 128px;
    max-width: 128px
}

.ach_list_row_child .ach_list_row_img {
    max-height: 100px;
    max-width: 100px
}

.ach_list_row_img_stub {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #f2f4f7
}

.ach_list_row_child .ach_list_row_img_stub {
    width: 100px;
    height: 100px
}

.ach_list_row_content {
    margin-left: 143px
}

.ach_list_row_child .ach_list_row_content {
    margin-left: 115px
}

.ach_list_row__title {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 4px;
    font-size: 14px
}

.ach_list_row__descr {
    margin-bottom: 12px
}

.ach_list_row__parent {
    margin-bottom: 4px;
    color: #939393
}

.ach_list_row__actions>b {
    font-size: 12px
}

.ach_list_row_hidden {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #656565;
    font-size: 12.5px
}

.ach_list_row__weight {
    margin-bottom: 4px;
    color: #656565
}

.ach_list_row_parent_id {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000
}

.ach_list_row_parent_title {
    color: #656565
}

.ach_request_form_achievement {
    overflow: hidden
}

.ach_request_form_achievement_img {
    float: right;
    margin-left: 15px;
    width: 64px;
    height: 64px
}

.ach_request_form_achievement__title {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 4px;
    padding-top: 4px
}

.ach_edit_form {
    float: left;
    width: 400px
}

.ach_form_image {
    float: left;
    margin-left: 40px
}

.ach_form_image>img {
    max-width: 128px
}

.ach_choose_photo_cell {
    float: left;
    padding: 15px 10px;
    cursor: pointer;
    width: 105px
}

.ach_choose_photo_cell.ach_choose_photo_cell_selected {
    background: #d7e0e7
}

.ach_choose_photo_cell:hover {
    background: #e7edf2
}

.ach_choose_photo_cell__img {
    width: 105px;
    height: 105px
}

.ach_choose_photo_panel {
    padding-top: 20px;
    border-top: 1px solid #e7e8ec;
    margin-bottom: 4px
}

.ach_choose_photo_panel .ach_choose_photo_panel_name {
    font-size: 32px;
    color: #939393;
    line-height: 32px;
    margin-bottom: 12px
}

.ach_choose_photo_panel:first-child {
    padding-top: 0;
    border-top: 0;
    margin-bottom: 0
}

.ach_links_form {
    width: 400px
}

.ach_links_list_row {
    padding: 10px 0;
    border-top: 1px solid #e7e8ec
}

.ach_links_list_row:first-child {
    margin-top: 15px;
    border-top: 1px solid #e7e8ec
}

.ach_links_list_row_img_wrap {
    float: left;
    width: 60px;
    height: 60px;
    position: relative
}

.ach_links_list_row_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative
}

.ach_links_list_row_img:before {
    background-color: #fff
}

.ach_links_list_row_img:before,
.ach_links_list_row_img:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px
}

.ach_links_list_row_img:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ach_links_list_row_img:after {
        background-image: url(/images/camera_200.png)
    }
}

.ach_links_list_row_content {
    margin-left: 75px
}

.ach_links_list__user {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 4px;
    font-size: 14px
}

.ach_links_list__user .mem_link {
    color: #42648b
}

.ach_links_list__info {
    margin-bottom: 8px;
    color: #939393
}

.ach_links_list__note {
    border-radius: 8px;
    padding: 6px 12px;
    background: #e1e8ee;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px
}

.ach_links_list__note:empty {
    display: none
}

.ach_history_filters {
    border-bottom: 1px solid #e7e8ec;
    margin: 0 0 15px;
    padding: 0 0 15px
}

.ach_history_filters.ach_history_filters_form {
    padding: 15px 20px;
    margin: 0;
    background-color: #fafbfc
}

.ach_history_filter {
    float: left;
    margin-right: 11px
}

.ach_history_filter:last-child {
    margin-right: 0
}

.ach_history_filter__label {
    float: left;
    margin-right: 5px;
    color: #656565;
    line-height: 28px
}

.ach_history_filter__input {
    float: left
}

.ach_history_row {
    padding: 10px 0
}

.ach_history_row_note_wrap {
    margin-top: 4px
}

.ach_history_row_note {
    border-radius: 8px;
    padding: 6px 12px;
    background: #e1e8ee;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 15px
}

.ach_history_row_note.ach_history_row_note_adm {
    background: #e8f2e4
}

.ach_history_row__date {
    float: right;
    margin-left: 20px;
    color: #656565;
    line-height: 35px
}

.ach_history_row_img_wrap {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle
}

.ach_history_row_img {
    width: 35px;
    height: 35px
}

.ach_history_row_img_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative
}

.ach_history_row_img_circle:before {
    background-color: #fff
}

.ach_history_row_img_circle:before,
.ach_history_row_img_circle:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px
}

.ach_history_row_img_circle:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ach_history_row_img_circle:after {
        background-image: url(/images/camera_200.png)
    }
}

.ach_history_row_img_sep {
    padding: 0 7px;
    font-family: monospace, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai";
    font-size: 20px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle
}

.ach_history_row_img_sep.red {
    color: #b55
}

.ach_history_row_img_sep.green {
    color: #5a5
}

.ach_history_row__text {
    margin-left: 10px;
    color: #939393;
    display: inline-block;
    max-width: 520px;
    vertical-align: middle
}

.ach_tt {
    width: 238px
}

.ach_tt__title {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 4px;
    color: #000;
    font-size: 14px
}

.ach_tt__descr {
    color: #656565
}

.ach_tt__actions {
    margin-top: 12px
}

.ach_tt__actions:empty {
    display: none
}

.achievements_achieved_box_icon {
    float: left;
    text-align: center;
    width: 128px;
    height: 128px
}

.achievements_achieved_box_icon_img {
    width: 100px;
    height: 100px;
    -o-transition: opacity 600ms ease-in, width 600ms ease-in, height 600ms ease-in, filter 600ms ease-in;
    transition: opacity 600ms ease-in, width 600ms ease-in, height 600ms ease-in, filter 600ms ease-in;
    filter: blur(10px) grayscale(75%);
    opacity: 0.8;
    vertical-align: middle
}

.achievements_achieved_box_visible .achievements_achieved_box_icon_img {
    width: 128px;
    height: 128px;
    filter: blur(0) grayscale(0%);
    opacity: 1
}

.achievements_achieved_box_content {
    -o-transition: opacity 600ms ease-in, width 600ms ease-in, height 600ms ease-in, filter 600ms ease-in;
    transition: opacity 600ms ease-in, width 600ms ease-in, height 600ms ease-in, filter 600ms ease-in;
    margin-left: 142px;
    padding-top: 15px;
    opacity: 0.2
}

.achievements_achieved_box_visible .achievements_achieved_box_content {
    opacity: 1
}

.achievements_achieved_box__title {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 14px;
    color: #42648b;
    display: inline-block;
    font-size: 14px
}

.achievements_achieved_box__descr {
    color: #656565
}

.ach_request_rows:empty {
    display: none
}

.ach_request_rows_empty {
    text-align: center;
    color: #656565;
    font-size: 14px
}

.ach_request_rows_closed {
    border-top: 1px solid #d3d9de;
    padding-top: 25px;
    margin-top: 15px
}

.ach_request_row {
    border-bottom: 1px solid #e7e8ec;
    padding: 10px
}

.ach_request_row:last-child {
    border-bottom: 0 none
}

.ach_request_row_agent_num {
    color: #656565
}

.ach_request_row_text {
    color: #939393
}

.ach_request_row_actions {
    box-sizing: border-box;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 180px
}

.ach_request_row_actions:empty {
    display: none
}

.ach_request_row_fulfilled .ach_request_row_actions {
    padding-right: 5px;
    color: #5a5
}

.ach_request_row_img_wrap {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.ach_request_row_img {
    width: 35px;
    height: 35px
}

.ach_request_row_img_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative
}

.ach_request_row_img_circle:before {
    background-color: #fff
}

.ach_request_row_img_circle:before,
.ach_request_row_img_circle:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px
}

.ach_request_row_img_circle:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ach_request_row_img_circle:after {
        background-image: url(/images/camera_200.png)
    }
}

.ach_request_row_img_sep {
    padding: 0 7px;
    color: #45688e;
    font-family: monospace, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai";
    font-size: 20px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle
}

.ach_request_row_content {
    margin-left: 9px;
    display: inline-block;
    vertical-align: middle;
    width: 435px
}

.ach_request_row_note {
    margin-top: 4px;
    border-radius: 8px;
    padding: 6px 12px;
    background: #e1e8ee;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 15px
}

.ach_request_row_note:empty {
    display: none
}

.ach_leaders_row {
    padding: 8px 10px 8px 0;
    -o-transition: 100ms in-out background;
    transition: 100ms in-out background;
    display: block;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none
}

.ach_leaders_row:hover {
    background: #e7edf2;
    text-decoration: none
}

.ach_leaders_row.ach_leaders_row_bordered {
    border-top: 1px solid #e7e8ec
}

.ach_leaders_row__position {
    text-align: center;
    color: #42648b;
    display: inline-block;
    font-size: 14px;
    width: 50px
}

.ach_leaders_row__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    vertical-align: top
}

.ach_leaders_people .ach_leaders_row__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative
}

.ach_leaders_people .ach_leaders_row__img:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff
}

.ach_leaders_people .ach_leaders_row__img:after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .ach_leaders_people .ach_leaders_row__img:after {
        background-image: url(/images/camera_200.png)
    }
}

.ach_leaders_row__name {
    color: #2a5885;
    display: inline-block
}

.ach_leaders_row_my .ach_leaders_row__name {
    color: #42648b
}

.ach_leaders_row_my .ach_leaders_row__name,
.ach_leaders_row__name_note {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ach_leaders_row__name_note {
    margin-left: 6px;
    color: #656565;
    font-size: 12.5px
}

.ach_leaders_row__count {
    float: right;
    color: #939393
}

.ach_leaders_cards .ach_leaders_row__count {
    color: #009345
}

.ach_leaders_yellow_cards .ach_leaders_row__count {
    color: #f0b94a
}