#ads_web_css {
    display: none
}

.ads_web_simple_table .ads_unions_list td,
.ads_web_simple_table .ads_unions_list th {
    text-align: left
}

.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_clicks,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_clicks *,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_cpc,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_cpc *,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_cpm,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_cpm *,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_ctr,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_ctr *,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_money,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_money *,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_views,
.ads_web_simple_table .ads_unions_list.ads_web_stat_table .column_views * {
    text-align: right
}

#ads_web_widget_resize,
#ads_web_widget_result {
    height: 20px
}

#ads_web_widget_container_wrap {
    overflow-x: scroll;
    overflow-y: visible;
    padding: 10px 0
}

#ads_web_widget_container_wrap2 {
    border: 1px dashed #ffe0e0;
    display: inline-block
}

.ads_web_widget_html {
    width: 450px;
    height: 200px;
    margin: 0;
    background-color: #f0f4fb
}

.ads_web_graph_item_cur {
    font-weight: 700
}

.ads_web_param_label {
    padding-right: 10px;
    vertical-align: top
}

.ads_web_param_label_input,
.ads_web_param_label_textarea {
    padding-top: 5px
}

.ads_web_param_label_radiobutton {
    padding-top: 1px
}

.box_body .ads_web_param_label_input {
    padding-top: 3px
}

.box_body .ads_web_param_label_radiobutton {
    padding-top: 0
}

.ads_web_param_value {
    padding-bottom: 10px
}