#blog_css {
    display: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.blog_about_link_icon,
.blog_about_sprite,
.blog_iphone_video_wrap,
.blog_iphone_video_wrap.blog_android_video,
.blog_iphone_video_wrap.blog_iphone_black_video,
.blog_job_icon,
.blog_link_icon,
.blog_nav_link_ic,
.blog_new_entry_icon,
.blog_product_icon,
.blog_snapster_android:after,
.blog_snapster_en .blog_snapster_photo_android,
.blog_snapster_en .blog_snapster_photo_iphone,
.blog_snapster_en .blog_snapster_photo_wp,
.blog_snapster_ios:after,
.blog_snapster_photo_android,
.blog_snapster_photo_iphone,
.blog_snapster_photo_shadow,
.blog_snapster_photo_wp,
.blog_snapster_wp:after {
    -ms-high-contrast-adjust: none
}

.blog_wide_column_left .narrow_column {
    z-index: 10
}

.blog_new_entry_icon {
    background-image: url(/images/icons/edit_newsfeed.png);
    background-size: 13px 28px;
    height: 13px;
    width: 13px;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0.6
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_new_entry_icon {
        background-image: url(/images/icons/edit_newsfeed_2x.png);
        background-size: 13px 28px
    }
}

.blog_new_entry_icon:hover {
    opacity: 1
}

.ui_rmenu_loading .ui_rmenu_item_sel .blog_new_entry_icon {
    display: none
}

.blog_page .wide_column_wrap {
    margin-right: 255px
}

.blog_cover_wrap {
    width: 705px;
    height: 60px;
    margin: 0px auto;
    background: #f7f8fa;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px
}

.blog_cover_upload_wrap:hover {
    background: #f3f4f7
}

.blog_cover_wrap_selected {
    height: 248px
}

.blog_cover_upload_str {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 15px;
    color: #65788f;
    height: 100%;
    line-height: 60px
}

.blog_cover_wrap_selected .blog_cover_upload_str {
    display: none
}

#blog_cover_img {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    cursor: move;
    z-index: 1
}

#blog_cover_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: none
}

.blog_cover_wrap_selected #blog_cover_canvas {
    display: block
}

.blog_cover_actions_wrap {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    display: none
}

.blog_cover_cancel {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    opacity: 0
}

.blog_cover_wrap:hover .blog_cover_cancel {
    opacity: 1
}

.blog_cover_cancel:hover {
    background: rgba(0, 0, 0, .7)
}

.blog_cover_drag_text_wrap {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0px;
    width: 100%;
    z-index: 2;
    text-align: center;
    display: none;
    opacity: 0;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    pointer-events: none
}

.blog_cover_wrap:hover .blog_cover_drag_text_wrap {
    opacity: 1
}

.blog_cover_drag_text {
    padding: 4px 7px;
    color: #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5)
}

.blog_cover_wrap_selected #blog_cover_img,
.blog_cover_wrap_selected .blog_cover_actions_wrap,
.blog_cover_wrap_selected .blog_cover_drag_text_wrap {
    display: block
}

.blog_cover_wrap_move .blog_cover_actions_wrap,
.blog_cover_wrap_move .blog_cover_drag_text_wrap {
    display: none
}

.blog_create_wrap {
    padding: 9px 43px 30px
}

.blog_create_url {
    width: 450px;
    margin-top: 10px
}

.blog_create_dd {
    margin-left: 10px
}

.blog_post_date_wr {
    margin-top: 10px;
    height: 30px
}

.blog_post_date_wr .datepicker_container {
    float: left;
    margin-right: 10px
}

.blog_ch_date_info {
    color: #9cabb8;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    letter-spacing: 1px;
    margin-top: 7px;
    margin-right: 10px
}

.blog_change_date_tt {
    max-width: 300px;
    word-wrap: break-word
}

.blog_date_checkbox {
    margin-top: 7px;
    width: 147px
}

.blog_change_date_tools {
    display: none
}

.blog_short_text_area {
    min-height: 50px;
    width: 100%
}

.blog_entry {
    margin-top: 25px;
    z-index: 1
}

.blog_entry_link {
    text-decoration: none!important
}

.blog_entry_cover {
    width: 710px;
    height: 250px;
    background-size: 710px 250px;
    margin-bottom: 20px
}

.blog_entry_head {
    margin-bottom: 30px
}

.blog_entry_author_ava {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: block
}

.blog_entry_author_info {
    padding-top: 4px;
    color: #939393;
    font-size: 12.5px;
    margin-left: 52px
}

.blog_entry_author_name {
    font-size: 13px;
    line-height: 15px;
    color: #222
}

.blog_entry_date {
    font-size: 12.5px;
    color: #939393;
    line-height: 15px;
    margin-top: 3px
}

.blog_entry_cont {
    padding: 24px 25px
}

.blog_entry_author_info_short {
    line-height: 14px;
    margin-top: 6px
}

.blog_entry_author_info_short,
.blog_entry_author_info_short a {
    color: #656565
}

.blog_entry_title {
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 33px;
    color: #000
}

.blog_entry_text_wrap {
    border: 1px solid #d3d9de;
    padding: 19px
}

.blog_entry_text .wk_sub_header {
    font-size: 17px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.blog_entry_text,
.blog_entry_text_wrap .wk_text {
    color: #000;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: -0.1px;
    padding-top: 12px;
    text-decoration: none!important;
    display: block;
    word-wrap: break-word
}

.blog_entry_text .page_video_inline_wrap,
.blog_entry_text .wk_inline_video,
.blog_entry_text_wrap .wk_text .page_video_inline_wrap,
.blog_entry_text_wrap .wk_text .wk_inline_video {
    margin: 0px auto
}

.blog_entry_text .page_doc_photo_href,
.blog_entry_text_wrap .wk_text .page_doc_photo_href {
    display: block
}

.blog_entry_text_wrap .wk_text img,
.blog_entry_text img {
    margin: 0px!important
}

.blog_entry_text_wrap .wk_text li img,
.blog_entry_text li img {
    margin-top: 10px!important
}

.blog_entry_text_wrap .wk_text a b,
.blog_entry_text a b {
    color: #2a5885
}

.blog_first_image_wrap {
    text-align: center;
    padding-bottom: 20px;
    margin: 10px -25px 0px
}

.blog_first_image {
    max-width: 100%
}

.blog_entry_text b {
    color: #000
}

.blog_more_but {
    display: block;
    color: #2a5885;
    margin-top: 13px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    opacity: 0.8
}

.blog_entry_text:hover .blog_more_but {
    opacity: 1
}

.blog_entry_text .wikiPhotoNoBorder {
    display: block;
    margin: 15px auto
}

.blog_edit_arhive {
    margin-left: 15px;
    margin-top: 17px;
    width: 215px
}

.blog_entry_like_widget {
    border-top: 1px solid #e7e8ec;
    margin: 0px 25px;
    position: relative;
    padding: 16px 0px 25px
}

.blog_entry_with_pagination .blog_entry_like_widget {
    padding-bottom: 16px
}

.blog_share_block {
    margin-left: 15px
}

.blog_cat_name {
    line-height: 17px;
    font-size: 12.5px;
    padding-top: 3px
}

.blog_cat_name a {
    margin-left: 15px
}

.blog_cat_name a:first-child {
    margin-left: 0px
}

.blog_entry_nav {
    padding: 25px 0px 26px!important;
    height: auto
}

.blog_entry_nav:empty {
    display: none
}

.blog_nav_link {
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    letter-spacing: -0.1px;
    width: 200px;
    word-wrap: break-word;
    position: relative;
    padding-left: 21px
}

.blog_nav_link_next {
    text-align: right;
    padding-left: 0px;
    padding-right: 21px
}

.blog_nav_link_ic {
    content: '';
    display: block;
    background: url(/images/blog/blog_icons.png) no-repeat 0px -65px;
    width: 9px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 0px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_nav_link_ic {
        background-image: url(/images/blog/blog_icons_2x.png);
        background-size: 22px 80px
    }
}

.blog_nav_link_next .blog_nav_link_ic {
    left: initial;
    right: 0px;
    background-position: -13px -65px
}

.blog_entry_edit_link {
    position: absolute;
    top: 23px;
    right: 0
}

.blog_history_row .blog_entry_head {
    margin-bottom: 20px
}

.blog_history_diff_row {
    margin-top: 10px;
    line-height: 24px;
    word-wrap: break-word
}

.blog_history_diff_row .wk_diff_add,
.blog_history_diff_row .wk_diff_remove {
    padding: 2px 5px
}

.blog_history_diff_row:first-child {
    margin-top: 5px
}

.blog_history_field {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin-top: 15px
}

.blog_history_field:first-child {
    margin-top: 0
}

.blog_remove_btn {
    margin-right: 15px;
    margin-top: 8px;
    display: none
}

.blog_remove_visible {
    display: block
}

.blog_right_list_title {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #222!important;
    font-size: 13px!important;
    padding: 14.5px 20px 0px!important;
    line-height: 19px!important;
    height: auto!important
}

.blog_follow_msg {
    padding: 10px 20px 15px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.1px
}

.blog_follow_btn {
    width: 100%;
    margin-top: 15px
}

.blog_followed_state {
    margin-top: 10px;
    line-height: 15px;
    font-size: 12.5px
}

.blog_followed_state .pr {
    display: inline
}

.blog_followed_state.loading .blog_unfollow_text {
    display: none
}

.blog_followed_state .pr_bt {
    margin-top: 7px
}

.blog_more_btn_wrap {
    text-align: center;
    margin-top: 15px
}

.blog_arhive_wrap {
    padding: 0px 25px
}

.blog_arhive_item {
    padding: 20px 0px;
    border-bottom: 1px solid #e7e8ec;
    position: relative
}

.blog_arhive_title {
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.blog_arhive_title a {
    color: #4a6f97
}

.blog_arhive_info {
    margin-top: 8px
}

.blog_arhive_author {
    font-size: 12px
}

.blog_arhive_date {
    color: #939393;
    font-size: 12px;
    letter-spacing: -0.1px
}

.blog_arhive_year {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #939393;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 14px;
    opacity: 0.7
}

.blog_right_menu {
    margin-top: 25px
}

.blog_right_menu_nav .left_menu_nav_wrap {
    padding-top: 0px
}

.blog_links {
    padding: 20px
}

.blog_link {
    display: block;
    line-height: 17px;
    margin-bottom: 22px;
    position: relative;
    padding-left: 34px
}

.blog_link:last-child {
    margin-bottom: 0px
}

.blog_link_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 17px;
    background-position: 0px 0px;
    background-image: url(/images/blog/blog_icons.png);
    background-repeat: no-repeat
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_link_icon {
        background-image: url(/images/blog/blog_icons_2x.png);
        background-size: 22px 80px
    }
}

.blog_link_icon_products {
    background-position: 3px -21px;
    height: 20px;
    top: -1px
}

.blog_link_icon_jobs {
    background-position: 1px -45px;
    height: 16px
}

.blog_about_page {
    background: #f7f8fa
}

.blog_products_page {
    background: #f2f4f7
}

.blog_about_page #page_body {
    background: #fff;
    float: none;
    margin-top: 0px!important
}

.blog_about_page .page_block {
    box-shadow: none;
    margin-top: 0px!important
}

.blog_about_page #page_body,
.blog_about_page #page_layout,
.blog_about_page .scroll_fix {
    width: 100%!important;
    padding: 0px!important
}

.blog_about_wrap {
    width: 960px;
    margin: 0px auto
}

.blog_about_tabs {
    padding: 0px 30px!important;
    position: relative
}

.blog_about_tabs_line,
.blog_about_tabs_line2 {
    position: absolute;
    width: 30px;
    height: 1px;
    background: -o-linear-gradient(right, #eef0f3, rgba(238, 240, 243, 0));
    background: linear-gradient(270deg, #eef0f3, rgba(238, 240, 243, 0));
    bottom: -1px;
    left: -30px
}

.blog_about_tabs_line2 {
    left: initial;
    right: -30px;
    background: -o-linear-gradient(left, #eef0f3, rgba(238, 240, 243, 0));
    background: linear-gradient(90deg, #eef0f3, rgba(238, 240, 243, 0))
}

.blog_about_tabs .ui_tab,
.blog_about_tabs .ui_tab_plain {
    font-size: 14px;
    padding: 17px 10px!important
}

.blog_about_page .footer_wrap {
    display: none
}

.blog_about_link_icon,
.blog_about_sprite {
    background: url(/images/blog/about_icons.png) no-repeat
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_about_link_icon,
    .blog_about_sprite {
        background-image: url(/images/blog/about_icons_2x.png);
        background-size: 65px 323px
    }
}

.blog_about_big_title {
    font-size: 39px;
    letter-spacing: -0.1px;
    color: #000;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding-top: 66px;
    text-align: center
}

.blog_about_cover_wrap {
    height: 375px;
    width: 100%;
    position: relative;
    margin-top: 42px;
    overflow: hidden
}

.blog_about_cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(/images/blog/about_cover.jpg) no-repeat 50%;
    background-size: cover;
    min-width: 960px;
    transition: -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -o-transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.blog_about_cover_scaling {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.blog_about_company_info {
    margin-top: 60px
}

.blog_about_company_logo {
    width: 65px;
    height: 38px;
    margin: 0px auto;
    background-position: 0px -267px
}

.blog_about_company_descr {
    color: #000;
    line-height: 32px;
    font-size: 22px;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-align: center;
    width: 780px;
    margin: 51px auto 0px
}

.blog_about_company_descr_line1 {
    margin-bottom: 15px
}

.blog_about_company_descr b {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.blog_about_company_stats,
.blog_about_press {
    margin-top: 63px;
    background: #f7f8fa;
    height: 340px
}

.blog_products_page .blog_about_company_stats,
.blog_products_page .blog_about_press {
    background: #f2f4f7
}

.blog_about_company_stats_cont {
    padding-top: 22px
}

.blog_about_company_stats_wr {
    margin: 0px auto
}

.blog_about_company_stat_block {
    width: 25%;
    text-align: center;
    height: 105px;
    margin-top: 30px
}

.blog_about_company_stat_number {
    color: #2a5885;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 65px
}

.blog_about_company_stat_descr {
    color: #000;
    font-size: 14px;
    line-height: 19px;
    margin-top: 1px
}

.blog_stat_similarweb_info {
    color: #939699;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    margin-top: 15px
}

.blog_about_company_offices .blog_about_company_descr {
    margin-top: 20px
}

.blog_about_company_offices_items {
    margin-top: 63px
}

.blog_about_company_offices_item {
    margin-left: 30px;
    cursor: pointer
}

.blog_about_company_offices_item.disabled {
    cursor: default
}

.blog_about_company_offices_item:first-child {
    margin-left: 0px
}

.blog_about_company_offices_pic {
    width: 300px;
    height: 202px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px
}

.blog_about_company_office_spb {
    background-image: url(/images/blog/spb_office.jpg)
}

.blog_about_company_office_msk {
    background-image: url(/images/blog/moscow_office.jpg)
}

.blog_about_company_office_ua {
    background-image: url('/images/blog/vk_ua.jpg')
}

.blog_about_company_office_city {
    color: #4a6f97;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.1;
    line-height: 26px;
    margin-top: 14px
}

.blog_about_company_office_city,
.blog_about_company_office_country {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.blog_about_company_office_country {
    color: #939699;
    margin-left: 5px;
    font-weight: 300
}

.blog_about_press {
    margin-top: 74px;
    height: auto;
    padding-bottom: 46px
}

.blog_about_links_wrap {
    margin-top: 34px
}

.blog_about_links {
    width: 50%;
    box-sizing: border-box
}

.blog_about_links:last-child {
    padding-left: 25px
}

.blog_about_links_cat {
    color: #7c7f82;
    font-size: 14px;
    letter-spacing: -0.1px;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 19px;
    margin-bottom: 1px
}

.blog_about_link {
    margin-top: 20px
}

.blog_about_link_pic {
    background: #7394b5;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: relative;
    overflow: hidden
}

.blog_about_link_pic_community {
    background: none
}

.blog_about_link_ava {
    width: 100%;
    height: 100%
}

.blog_about_link_pic_other {
    background: #e3e9ef
}

.blog_about_link_icon {
    width: 25px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0px 0px -13px;
    background-position: -16px 0px
}

.blog_about_link_icon_partners {
    width: 28px;
    height: 24px;
    margin: -12px 0px 0px -14px;
    background-position: -14px -59px
}

.blog_about_link_icon_adv {
    width: 25px;
    height: 26px;
    margin: -13px 0px 0px -13px;
    background-position: -15px -115px
}

.blog_about_link_icon_logo {
    width: 33px;
    height: 19px;
    margin: -9px 0px 0px -17px;
    background-position: -11px -231px
}

.blog_about_link_other {
    width: 24px;
    height: 21px;
    margin: -10px 0px 0px -12px;
    background-position: -16px -173px
}

.blog_about_link_cont {
    margin-left: 71px
}

.blog_about_link_title {
    font-size: 19px;
    line-height: 26px;
    color: #2a5885;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    letter-spacing: -0.1px
}

.blog_about_link_download_ic {
    width: 12px;
    height: 14px;
    background-position: 0px -309px;
    display: inline-block;
    margin-right: 8px
}

.blog_about_link_title_ads {
    padding-top: 12px
}

.blog_about_link_descr {
    color: #7c7f82;
    line-height: 19px;
    font-size: 14px;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin-top: 2px
}

.blog_jobs_page,
.blog_jobs_page .footer_wrap {
    background: #fff
}

.blog_products_wrap {
    background-size: #f2f4f7;
    padding: 61px 0px 50px;
    margin-top: 0px;
    height: auto
}

.blog_product,
.blog_snapster {
    box-shadow: 0px 1px 0px 0px #e1e8ed, 0px 0px 0px 1px #e9eef2;
    border-radius: 3px;
    background: #fff
}

.blog_product {
    width: 300px;
    height: 300px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    overflow: hidden
}

.blog_product_last {
    margin-right: 0px
}

.blog_product_icon {
    background: url(/images/blog/blog_products.png) no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transition: top 200ms ease-out;
    transition: top 200ms ease-out
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_product_icon {
        background-image: url(/images/blog/blog_products_2x.png);
        background-size: 110px 774px
    }
}

.blog_product:hover .blog_product_icon {
    top: -8px
}

.blog_product_icon_iphone {
    width: 82px;
    height: 100px;
    margin: 61px 0px 0px 110px;
    background-position: -14px 0px
}

.blog_product_icon_android {
    width: 80px;
    height: 96px;
    margin: 67px 0px 0px 110px;
    background-position: -14px -274px
}

.blog_product_icon_win {
    width: 96px;
    height: 104px;
    margin: 63px 0px 0px 101px;
    background-position: -7px -134px
}

.blog_product_icon_mob {
    width: 72px;
    height: 112px;
    margin: 59px 0px 0px 114px;
    background-position: -19px -402px
}

.blog_product_icon_api {
    width: 110px;
    height: 110px;
    margin: 60px 0px 0px 95px;
    background-position: 0px -539px
}

.blog_product_icon_ads {
    width: 100px;
    height: 88px;
    margin: 71px 0px 0px 100px;
    background-position: -5px -686px
}

.blog_product_title,
.blog_snapster_title {
    color: #42648b;
    font-size: 19px;
    line-height: 26px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.blog_product_descr,
.blog_product_title {
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 69px;
    position: absolute;
    letter-spacing: -0.1px
}

.blog_product_descr {
    color: #939393;
    font-size: 14px;
    line-height: 20px;
    bottom: 45px
}

.blog_snapster {
    height: 680px;
    margin-top: 0px;
    text-align: center;
    letter-spacing: -0.1px;
    overflow: hidden
}

.blog_snapster_photo {
    height: 480px;
    width: 100%;
    background-color: #fafbfc;
    position: relative;
    overflow: hidden
}

.blog_snapster_photo_shadow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 740px;
    margin-left: -370px;
    height: 12px;
    background: url(/images/pics/cm_shadow.png) no-repeat 0px 0px;
    z-index: 10
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_photo_shadow {
        background-image: url(/images/pics/cm_shadow_2x.png);
        background-size: 740px 12px
    }
}

.blog_snapster_photo_android,
.blog_snapster_photo_iphone,
.blog_snapster_photo_wp {
    position: absolute;
    top: 70px;
    right: 213px;
    transition: -webkit-transform 200ms ease-out;
    -o-transition: transform 200ms ease-out, -o-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out, -o-transform 200ms ease-out
}

.blog_snapster_photo_android,
.blog_snapster_photo_wp {
    background: url(/images/blog/vinci_android.png) no-repeat 0px 0px;
    width: 258px;
    height: 522px;
    z-index: 2;
    right: 118px;
    top: 112px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_photo_android,
    .blog_snapster_photo_wp {
        background-image: url(/images/blog/vinci_android_2x.png);
        background-size: 258px 522px
    }
}

.blog_snapster_en .blog_snapster_photo_android {
    background-image: url(/images/blog/vinci_android_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_en .blog_snapster_photo_android {
        background-image: url(/images/blog/vinci_android_en_2x.png);
        background-size: 258px 522px
    }
}

.blog_snapster_photo_iphone {
    background: url(/images/blog/vinci_ios.png) no-repeat 0px 0px;
    width: 272px;
    height: 554px;
    z-index: 3;
    left: 50%;
    margin-left: -136px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_photo_iphone {
        background-image: url(/images/blog/vinci_ios_2x.png);
        background-size: 272px 554px
    }
}

.blog_snapster_en .blog_snapster_photo_iphone {
    background-image: url(/images/blog/vinci_ios_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_en .blog_snapster_photo_iphone {
        background-image: url(/images/blog/vinci_ios_en_2x.png);
        background-size: 272px 554px
    }
}

.blog_snapster_photo_wp {
    background: url(/images/blog/vinci_winphone.png);
    right: 586px;
    top: 115px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_photo_wp {
        background-image: url(/images/blog/vinci_winphone_2x.png);
        background-size: 258px 505px
    }
}

.blog_snapster_en .blog_snapster_photo_wp {
    background: url(/images/blog/vinci_winphone_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_en .blog_snapster_photo_wp {
        background-image: url(/images/blog/vinci_winphone_en_2x.png);
        background-size: 258px 505px
    }
}

.blog_snapster_photo_android.blog_snapster_photo_screen_over,
.blog_snapster_photo_android:hover,
.blog_snapster_photo_iphone.blog_snapster_photo_screen_over,
.blog_snapster_photo_iphone:hover,
.blog_snapster_photo_wp.blog_snapster_photo_screen_over,
.blog_snapster_photo_wp:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px)
}

.blog_snapster_title {
    margin-top: 44px
}

.blog_snapster_descr {
    color: #000;
    line-height: 19px;
    font-size: 14px;
    margin-top: 3px
}

.blog_snapster_apps {
    margin-top: 23px
}

.blog_snapster_apps a {
    margin-left: 9px
}

.blog_snapster_apps a:first-child {
    margin-left: 0px
}

.blog_snapster_android,
.blog_snapster_ios,
.blog_snapster_wp {
    position: relative;
    display: inline-block;
    padding-left: 34px
}

.blog_snapster_android:after,
.blog_snapster_ios:after,
.blog_snapster_wp:after {
    content: '';
    position: absolute;
    background-image: url(/images/blog/about_install_icons.png);
    width: 13px;
    height: 13px;
    left: 10px;
    top: 8px;
    background-repeat: no-repeat;
    background-position: 0px 0px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_snapster_android:after,
    .blog_snapster_ios:after,
    .blog_snapster_wp:after {
        background-image: url(/images/blog/about_install_icons_2x.png);
        background-size: 13px 39px
    }
}

.blog_snapster_android:active:after,
.blog_snapster_ios:active:after,
.blog_snapster_wp:active:after {
    top: 9px
}

.blog_snapster_wp:after {
    background-position: 0px -26px
}

.blog_snapster_android:after {
    background-position: 0px -13px
}

.blog_jobs {
    margin-top: 63px;
    padding-bottom: 50px
}

.blog_job {
    padding: 30px 35px;
    letter-spacing: -0.1px;
    display: block;
    text-decoration: none!important;
    display: table
}

.blog_job:hover {
    background: #f5f7fa
}

.blog_job_icon_wrap {
    padding: 10px;
    margin-right: 25px
}

.blog_job_icon {
    width: 70px;
    height: 70px;
    background-image: url(/images/jobs_icons.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_job_icon {
        background-image: url(/images/jobs_icons_2x.png);
        background-size: 70px 820px
    }
}

.blog_job_icon_web_dev {
    background-position: 0 0
}

.blog_job_icon_ios_dev {
    background-position: 0 -75px
}

.blog_job_icon_android_dev {
    background-position: 0 -150px
}

.blog_job_icon_analytics_dev {
    background-position: 0 -225px
}

.blog_job_icon_sysadmin {
    background-position: 0 -300px
}

.blog_job_icon_tester {
    background-position: 0 -375px
}

.blog_job_icon_designer {
    background-position: 0 -450px
}

.blog_job_icon_product_manager {
    background-position: 0 -525px
}

.blog_job_icon_support_agent {
    background-position: 0 -600px
}

.blog_job_icon_wp_dev {
    background-position: 0 -675px
}

.blog_job_icon_c_dev {
    background-position: 0 -750px
}

.blog_job_cont {
    margin-left: 125px;
    min-height: 90px;
    display: table-cell;
    vertical-align: middle
}

.blog_job_title {
    margin-top: 0px
}

.blog_job_descr {
    line-height: 21px;
    margin-top: 5px
}

.blog_email_status_wrap {
    padding: 20px
}

.blog_email_status_item {
    margin-bottom: 10px
}

.blog_email_status_filed {
    color: #939393;
    margin-right: 10px
}

.blog_iphone_video_wrap {
    width: 252px;
    height: 521px;
    background-image: url(/images/blog/smartfeed_ios_blog.png);
    position: relative
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_iphone_video_wrap {
        background-image: url(/images/blog/smartfeed_ios_blog_2x.png);
        background-size: 252px 521px
    }
}

.blog_iphone_video_wrap.blog_iphone_black_video {
    background-image: url(/images/blog/smartfeed_ios_blog_black.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_iphone_video_wrap.blog_iphone_black_video {
        background-image: url(/images/blog/smartfeed_ios_blog_black_2x.png);
        background-size: 252px 524px
    }
}

.blog_iphone_video_wrap.blog_android_video {
    background-image: url(/images/blog/smartfeed_android_blog.png);
    width: 239px;
    height: 485px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .blog_iphone_video_wrap.blog_android_video {
        background-image: url(/images/blog/smartfeed_android_blog_2x.png);
        background-size: 239px 485px
    }
}

.blog_iphone_video_wrap.blog_android_video .blog_iphone_video {
    top: 46px;
    left: 11px
}

.blog_iphone_video {
    width: 216px;
    height: 384px;
    position: absolute;
    top: 65px;
    left: 18px
}

.blog_iphone_video video {
    background-repeat: no-repeat;
    background-size: auto 384px;
    background-position: 50%
}

.blog_video {
    position: relative;
    display: inline-block;
    margin: 15px 0
}

.blog_video video {
    display: block
}

.blog_video ._blog_video_unmute_btn {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff no-repeat 12px 12px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%2212%2012%2025%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20opacity%3D%22.3%22%20d%3D%22M12%2012h24v24H12z%22%2F%3E%0A%20%20%20%20%3Cg%20fill%3D%22%231E1E1E%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M24.980843%2030.822762c-.032051%201.2070087-.6704932%201.608931-1.828752.6202508-1.7185994-1.4687545-3.6088746-3.194293-4.2421592-3.7215065-.6321794-.528454-1.644919-.620251-3.0728486-.620251-1.4268244%200-1.8150587-.6202512-1.8150587-1.2405017s-.0136933-1.8288162-.0136933-2.001246c0-.0549443.004646-.085056.0136933-.1291845.0195496-.095355-.0581776-.9728524%200-1.591076.085101-.9055665.3882343-1.2405024%201.8150587-1.2405024%201.4279296%200%202.4406692-.0917972%203.0728486-.620251.6332846-.528454%202.5235598-2.252752%204.2421593-3.7215066%201.1582588-.9886802%201.7967004-.5867575%201.8287515.620251.043103%201.6064504e-7%203.850203e-7%206.6822696%200%202.8295855.0431032%205.3568042%200%206.9632545z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M34.5812997%2020.1813245l-6.4000244%206.3999023c-.341712.3417055-.3417173.895725-.0000118%201.237437.3417055.341712.8957248.3417172%201.2374368.0000117l6.4000244-6.3999023c.341712-.3417055.3417173-.895725.0000118-1.237437-.3417055-.341712-.8957248-.3417172-1.2374368-.0000117z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M28.1812753%2021.4187732l6.4000244%206.3999023c.341712.3417055.8957313.3417002%201.2374368-.0000118s.3417003-.8957314-.0000118-1.237437l-6.4000244-6.3999022c-.341712-.3417055-.8957313-.3417002-1.2374368.0000118s-.3417003.8957314.0000118%201.237437z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, .5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-transition: background-color 0.2s, opacity 0.2s;
    transition: background-color 0.2s, opacity 0.2s
}

.blog_video ._blog_video_unmute_btn:hover {
    background-color: #eee
}

.blog_video._blog_video_unmuted ._blog_video_unmute_btn {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%2212%2012%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20opacity%3D%22.3%22%20d%3D%22M12%2012h24v24H12z%22%2F%3E%0A%20%20%20%20%3Cg%20id%3D%22Group-5%22%20fill%3D%22%231E1E1E%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M24.980843%2030.822762c-.032051%201.2070087-.6704932%201.608931-1.828752.6202508-1.7185994-1.4687545-3.6088746-3.194293-4.2421592-3.7215065-.6321794-.528454-1.644919-.620251-3.0728486-.620251-1.4268244%200-1.8150587-.6202512-1.8150587-1.2405017s-.0136933-1.8288162-.0136933-2.001246c0-.0549443.004646-.085056.0136933-.1291845.0195496-.095355-.0581776-.9728524%200-1.591076.085101-.9055665.3882343-1.2405024%201.8150587-1.2405024%201.4279296%200%202.4406692-.0917972%203.0728486-.620251.6332846-.528454%202.5235598-2.252752%204.2421593-3.7215066%201.1582588-.9886802%201.7967004-.5867575%201.8287515.620251.043103%201.6064504e-7%203.850203e-7%206.6822696%200%202.8295855.0431032%205.3568042%200%206.9632545z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M27.8812816%2022.1187184c.0737402.0737403.2138434.2488693.3590057.5029032.241777.4231097.3847127.887651.3847127%201.3783784%200%20.4907274-.1429358.9552688-.3847127%201.3783784-.1451623.254034-.2852655.429163-.3590057.5029032-.3417088.3417087-.3417088.895728%200%201.2374368.3417087.3417088.895728.3417088%201.2374368%200%20.1762598-.1762597.4111566-.4698807.6409943-.8720968C30.1429357%2025.5759812%2030.375%2024.8217726%2030.375%2024c0-.8217726-.2320642-1.5759812-.6152873-2.2466216-.2298377-.402216-.4647345-.695837-.6409943-.8720968-.3417087-.3417088-.895728-.3417088-1.2374368%200-.3417088.3417087-.3417088.895728%200%201.2374368z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M30.8812816%2020.1187184c.1375896.1375897.3825507.4642045.638697.976497.4071252.8142506.6673665%201.7901702.7054825%202.933928-.038116%201.085471-.2983572%202.0613906-.7054824%202.875641-.2561463.5122927-.5011074.8389075-.638697.9764972-.3417088.3417087-.3417088.895728%200%201.2374368.3417087.3417088.895728.3417088%201.2374368%200%20.2637116-.2637116.6207023-.7396992.9665078-1.43131.5167785-1.033557.842501-2.255035.889264-3.658265-.046763-1.4615167-.3724855-2.6829947-.889264-3.7165517-.3458055-.691611-.7027962-1.1675985-.9665078-1.43131-.3417087-.341709-.895728-.341709-1.2374368%200-.3417088.3417086-.3417088.895728%200%201.2374367z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    opacity: 0
}

.blog_video._blog_video_unmuted:hover ._blog_video_unmute_btn {
    opacity: 1
}

.blog_video._blog_video_unmuteable {
    cursor: pointer
}

.blog_email_templates_wrap {
    padding: 1px 20px 20px
}

.blog_email_templates_posts {
    margin: 20px 0px
}

.blog_email_template_row {
    color: #2a5885;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none!important
}

.blog_email_template_row:hover {
    background-color: #f0f2f5
}

.blog_email_template_row_disabled {
    background: #f2f4f7!important;
    cursor: default
}

.blog_email_template_row_cont {
    padding: 10px
}

.blog_email_template_row_tools a {
    color: #939393
}

.blog_email_templates_tools {
    margin-top: 20px
}

.blog_email_templates_tools .flat_button {
    margin-right: 10px
}

.blog_edit_label {
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px
}

.blog_edit_inp {
    width: 100%;
    padding: 9px!important;
    box-sizing: border-box
}

textarea.blog_edit_inp {
    min-height: 110px;
    resize: vertical
}

.blog_email_edit_cover {
    width: 600px;
    margin: -20px -20px 10px -25px
}

.blog_email_edit_cover.blog_cover_wrap_selected {
    height: 211px
}

.blog_email_edit_cover .blog_cover_cancel {
    padding: 7px 11px
}

.blog_email_info_wrap {
    margin-top: 20px
}

.blog_email_info_row {
    margin-top: 10px
}

.blog_email_info_label {
    width: 100px;
    color: #828282;
    text-align: right
}

.blog_email_info_val {
    margin-left: 10px
}

.blog_authors_list {
    margin-top: 20px
}

.blog_authors_row {
    text-align: center;
    padding: 13px;
    width: 100px;
    cursor: pointer
}

.blog_authors_row_ava {
    width: 100px;
    height: 100px;
    border-radius: 50px
}

.blog_authors_row_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 7px;
    line-height: 14px
}

.blog_positions_list {
    margin-top: 15px;
    padding-left: 17px!important
}

.blog_positions_how_add {
    margin-top: 10px;
    line-height: 150%
}

.blog_load_more_but {
    margin-top: 15px;
    text-align: center
}

.blog_load_more_but .more_but {
    display: inline-block
}

.blog_load_more_but_hidden,
.blog_notify_settings {
    display: none
}

.blog_notify_settings_checkbox {
    width: 250px;
    margin-top: 8px
}

.blog_email_settings_tt {
    white-space: nowrap
}

.blog_email_settings_checkbox {
    padding: 6px 0px
}

.blog_email_settings_checkbox:first-child {
    padding-top: 0px
}

.blog_email_settings_inp {
    width: 100%
}

.blog_email_settings_row {
    margin-top: 5px;
    padding-bottom: 15px
}

#notification_image_wrap {
    margin-top: 5px
}

.blog_email_settings_label {
    color: #828282;
    width: 132px;
    text-align: right
}

.blog_email_settings_labeled {
    margin-left: 144px
}

.blog_email_settings_label,
.blog_email_settings_labeled {
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 15px
}

.blog_reg_button {
    font-size: 13px;
    line-height: 18px;
    padding: 8px 25px 10px;
    border-radius: 100px
}

.blog_reg_button:active {
    padding: 9px 25px
}

.blog_reg_wrap {
    text-align: center;
    letter-spacing: -0.1px
}

.blog_reg_title {
    font-size: 19px;
    line-height: 19px
}

.blog_reg_text {
    font-size: 13px;
    line-height: 19px;
    color: #777e8c;
    margin-top: 10px
}

.blog_notifications {
    padding: 25px
}

.blog_notification_setting_row {
    margin-top: 10px
}

.blog_notification_setting_row:first-child {
    margin-top: 0
}

.blog_notification_setting_row_label {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #656565
}

.blog_notification_setting_row_value {
    margin-top: 5px
}

.blog_notification_setting_row_value .checkbox {
    margin-top: 20px
}

.blog_notification_setting_row_input {
    width: 400px
}

textarea.blog_notification_setting_row_input {
    height: 60px
}

#blog_notification_image {
    width: 50px;
    height: 50px;
    background-color: #f0f2f5;
    margin-top: 10px;
    cursor: pointer;
    background-size: cover
}

#blog_notification_image.app {
    width: 100px;
    height: 100px
}

#blog_notification_image.banner {
    width: 100%;
    height: 200px
}

.blog_notifications_select_photos {
    margin-top: 15px
}

.blog_notifications_select_photo_item {
    float: left;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-color: #e5ebf1;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 5px 5px 0
}

.blog_notifications_select_photo_item.banner {
    width: 197px;
    height: 78px
}

.blog_notifications_select_photo_item.banner:nth-child(2n) {
    margin-right: 0
}

.blog_notifications_photos_empty {
    font-size: 14px;
    text-align: center;
    padding: 70px 0;
    color: #939393
}

.blog_notifications_select_photos_upload_wrap {
    background-color: #f0f2f5;
    margin: -20px -25px 0;
    padding: 10px 15px
}

.blog_notifications_select_photos_upload_btn {
    position: relative;
    overflow: hidden
}

.blog_notifications_select_photos_upload_btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.blog_notification_extended_button {
    display: inline-block
}

#notification_additional,
.blog_notification_extended_button {
    margin-top: 15px
}