#datepicker_css {
  display: none;
}
.cal_table {
  width: 182px;
  text-align: center;
  border: 1px solid #597da3;
}
.cal_table_head {
  width: 182px;
  text-align: center;
}
.cal_table .month {
  text-align: center;
  background-color: #597da3;
  padding: 4px 0;
  color: white;
  font-weight: bold;
  border-top: 1px solid #4C7097;
  border-bottom: 1px solid #4C7097;
  width: 100%;
}
.cal_table .month_arr {
  text-align: center;
  background-color: #597da3;
  border-top: 1px solid #4C7097;
  border-bottom: 1px solid #4C7097;
}
.cal_table .month_arr .arr {
  display: block;
  width: 25px;
  height: 25px;
  background: url(/images/icons/back_fwd.gif?1) no-repeat 0 0;
}
.cal_table .month_arr .arr.left {
  background-position: 3px -30px;
}
.cal_table .month_arr .arr.right {
  background-position: 8px -50px;
}
.cal_table a.month_arrow:hover {
  color: #DAE2E8;
  text-align: center;
  font: bold 13px Tahoma;
  text-decoration: none;
}
.cal_table .daysofweek {
  background-color: #F1F1F1;
  text-align: center;
  width: 26px;
  color: #777777;
  padding: 5px 0;
}
.cal_table .day {
  width: 26px;
  font-size: 1em;
  font-family: Tahoma;
  background-color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
}
.cal_table.disabled .day {
  cursor: auto;
}
.cal_table .day.hover {
  background-color: #e1e7ed;
}
.cal_table .day.sel,
.cal_table .day.sel.hover {
  background-color: #DAE2E8;
}
.cal_table .today {
  font-weight: bold;
}
.cal_table .past_day {
  color: #999999;
}
.cal_table .no_month_day {
  color: #CCC;
  background-color: #FFFFFF;
}
.datepicker_control {
  background: url(/images/calendar1.gif?1) right center no-repeat #ffffff;
  border: 1px solid #C0CAD5;
  padding: 3px 2px 2px;
  cursor: pointer;
}
.firefox .datepicker_control {
  padding: 2px 2px 1px;
}
.datepicker_control.disabled,
.datepicker_control.disabled input {
  color: #777777;
  background-color: #F2F2F2;
  cursor: auto;
}
.datepicker_text {
  border: 0;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}
.cal_box {
  display: none;
  position: absolute;
  padding-top: 6px;
}
.cal_frame {
  z-index: 100;
  border: 0;
  position: absolute;
  display: none;
}
.cal_div {
  z-index: 200;
  position: absolute;
}
.cal_month_sel {
  color: #FFF;
}
.cal_month_sel:hover {
  text-decoration: none;
}
