#datepicker_css {
    display: none
}

.datepicker_text {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.cal_table {
    width: 280px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 12.5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none
}

.cal_table>thead {
    display: block;
    border: 0 solid #5181b8;
    border-width: 1px 1px 0;
    border-radius: 6px 6px 0 0;
    background-color: #5181b8;
    overflow: hidden
}

.cal_table>tbody {
    display: block;
    border: 0 solid #cfd9e1;
    border-width: 0 1px 1px;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    overflow: hidden
}

.cal_table>tbody>tr:last-of-type>td:first-of-type {
    border-bottom-left-radius: 6px
}

.cal_table>tbody>tr:last-of-type>td:last-of-type {
    border-bottom-right-radius: 6px
}

.cal_table_head {
    width: 280px;
    overflow: hidden
}

.cal_table .month {
    text-align: center;
    background-color: #5181b8;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    width: 100%
}

.cal_table .month,
.cal_table .month .year {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.cal_table .month .year {
    font-weight: 400;
    color: #cee0f5
}

.cal_table .cal_table_head .month {
    text-align: left;
    padding-left: 9px
}

.cal_table .month_arr {
    text-align: center;
    background-color: #5181b8
}

.cal_table .month_arr .arr {
    display: block;
    width: 30px;
    height: 32px;
    opacity: 0.8;
    cursor: pointer
}

.cal_table .month_arr .arr:hover {
    opacity: 1
}

.cal_table .month_arr .arr.left {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2232%22%20viewBox%3D%220%200%2030%2032%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h30v32h-30z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20d%3D%22m17%2021-4-5%204-5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') 50% no-repeat
}

.cal_table .month_arr .arr.right {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2232%22%20viewBox%3D%220%200%2030%2032%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22matrix(-1%200%200%201%2030%200)%22%3E%3Cpath%20d%3D%22m0%200h30v32h-30z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20d%3D%22m17%2021-4-5%204-5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') 50% no-repeat
}

.cal_table .daysofweek {
    text-align: center;
    background-color: #5181b8;
    color: #cee0f5;
    height: 40px;
    line-height: 40px
}

.cal_table .day,
.cal_table .daysofweek {
    width: 40px;
    box-sizing: border-box
}

.cal_table .day {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background-color: #fff
}

.cal_table .day:hover:not(.inactive_day) {
    background-color: #f0f2f5
}

.cal_table .day.sel,
.cal_table .day.sel:hover {
    background-color: #5181b8;
    color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    box-shadow: none
}

.cal_table.disabled .day {
    cursor: auto
}

.cal_table .month_selector .day {
    width: 140px
}

.cal_table .today {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    box-shadow: inset 0px 0px 0px 1px #d3d9de;
    background: #f5f7fa;
    color: #222
}

.cal_table .inactive_day {
    color: #939393;
    cursor: default
}

.cal_table .next_month_day,
.cal_table .prev_month_day {
    background-color: #f5f7fa
}

.datepicker_control {
    border: 1px solid #d3d9de;
    border-radius: 3px;
    cursor: pointer
}

.datepicker_text {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 5px 30px 7px 9px;
    background: #fff url(/images/icons/calendar.png?2) no-repeat;
    padding-right: 22px;
    border-right: 8px solid transparent;
    background-position: right 6px;
    box-sizing: border-box;
    cursor: pointer;
    height: 28px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .datepicker_text {
        background-image: url(/images/icons/calendar_2x.png?2);
        background-size: 15px 15px
    }
}

.datepicker_control.disabled,
.datepicker_control.disabled .datepicker_text {
    color: #828282;
    background-color: #f2f4f7;
    cursor: auto
}

.cal_box {
    padding-top: 6px
}

.cal_box,
.cal_frame {
    display: none;
    position: absolute
}

.cal_frame {
    z-index: 1;
    border: 0
}

.cal_div {
    z-index: 100;
    position: absolute
}

.cal_month_sel {
    color: #fff
}

.cal_month_sel:hover {
    text-decoration: none
}

.datepicker_at {
    padding: 7px 9px 8px
}

.timepicker_dots {
    float: left;
    padding: 7px 4px 8px
}

.cal_clear {
    border-top: 1px solid #e7e8ec;
    background: #fafbfc;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box
}