#editdb_css {
  display: none;
}
.edb_anim {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
.edb_regions_lnk {
  display: inline-block;
  background: #f5f8fc;
  margin: -10px 10px;
  padding: 10px;
}
.edb_country_lnk:hover .edb_regions_lnk {
  background: #E9EDF1;
}
#edb_countries .edb_regions_lnk:hover {
  background: #E1E7ED;
}
.edb_country_lnk {
  display: block;
  font-size: 13px;
  background: #ffffff no-repeat 15px 18px;
  padding: 15px 40px;
}
.edb_country_lnk:hover {
  text-decoration: none;
  background-color: #f5f8fc;
  background-position: 20px 18px;
  padding: 15px 45px;
}
.edb_country_img {
  vertical-align: middle;
}
#edb_filter_wrap {
  padding: 10px;
  background: #F7F7F7;
  border-bottom: 1px solid #E7EAED;
}
#edb_filter_reset {
  margin: 1px 0px 0px 584px;
  display: none;
  cursor: pointer;
  background: transparent url(/images/icons/input_clear.gif) 6px 6px no-repeat;
  padding: 2px;
  width: 19px;
  height: 19px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  z-index: 95;
}
#edb_filter_reset:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#edb_filter {
  padding: 5px 20px;
  width: 565px;
  background: #ffffff url(/images/magglass.png) no-repeat 5px 6px;
  outline: none;
}
.edb_country_lnk .edb_hl {
  background: #E1E7ED;
  padding: 0px 1px 0px;
  margin: 0px -1px;
  *padding: 0px;
  *margin: 0px;
}
#edb_countries {
  min-height: 500px;
}
#edb_no_countries,
#edb_no_cities {
  color: #777;
  font-size: 15px;
  text-align: center;
  padding: 240px 20px;
  height: 20px;
}
#edb_no_countries {
  display: none;
}
.edb_checkable {
  padding: 5px;
  background-position: 5px -44px;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.edb_checkable:hover,
.edb_checked {
  background: #f5f8fc;
}
.edb_info,
.edb_childlinks {
  padding: 5px 25px;
}
.edb_checkable:hover .edb_info,
.edb_checked .edb_info {
  background: url(/images/icons/plus_icon1.gif?2) 0px -39px no-repeat;
}
.edb_big_city .edb_name {
  font-weight: bold;
}
.edb_lang_city .edb_name {
  color: #45688E;
}
.edb_divide {
  padding: 0 4px;
}
.edb_native,
.edb_parents,
.edb_parent,
.edb_child_lnk,
.edb_children,
.edb_divide {
  color: #777;
}
.edb_no_children .edb_children {
  opacity: 0;
}
.edb_checkable:hover .edb_native,
.edb_checked .edb_native,
.edb_checkable:hover .edb_parents,
.edb_checked .edb_parents,
.edb_checkable:hover .edb_parent,
.edb_checked .edb_parent,
.edb_checkable:hover .edb_child_lnk,
.edb_checked .edb_child_lnk,
.edb_checkable:hover .edb_divide,
.edb_checked .edb_divide {
  color: #8795a5;
}
.edb_parents {
  padding: 0 25px;
}
.edb_checkable:hover .edb_children {
  color: #8795a5;
  opacity: 1;
}
.edb_checked .edb_children {
  color: #8795a5;
}
#edb_city_by_name,
#edb_city_by_uni,
#edb_city_by_school {
  margin: 0px 5px;
  padding: 5px 5px 5px 20px;
  width: 145px;
  background: #ffffff url(/images/magglass.png) no-repeat 5px 6px;
  outline: none;
}
#edb_city_by_name {
  margin-left: 0;
}
