#fonts_css {
    display: none
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/opensans400.eot);
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400.eot?#iefix) format('embedded-opentype'), url(/fonts/opensans400.woff) format('woff'), url(/fonts/opensans400.ttf) format('truetype')
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/opensans300.eot);
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans300.eot?#iefix) format('embedded-opentype'), url(/fonts/opensans300.woff) format('woff'), url(/fonts/opensans300.ttf) format('truetype')
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/opensans600.eot);
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600.eot?#iefix) format('embedded-opentype'), url(/fonts/opensans600.woff) format('woff'), url(/fonts/opensans600.ttf) format('truetype')
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/opensans700.eot);
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700.eot?#iefix) format('embedded-opentype'), url(/fonts/opensans700.woff) format('woff'), url(/fonts/opensans700.ttf) format('truetype')
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans1.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400_cyrext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600_cyrext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700_cyrext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans2.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400_cyr.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600_cyr.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700_cyr.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans3.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400_latext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600_latext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700_latext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/opensans400_lat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/opensans600_lat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/opensans700_lat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}