#groups_css {
  display: none;
}
#group .narrow_column .module_body {
  border-left: 1px solid #F1F1F1;
}
#group .narrow_column .audios_module .module_body {
  padding: 8px 0px 8px 8px;
}
#group {
  padding: 10px 10px 0px;
}
#group h4.simple .top_header {
  width: 395px;
  height: 1.23em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-overflow: ellipsis-word;
}
.group_info {
  padding: 7px 6px 10px;
  line-height: 150%;
}
.group_info_private {
  padding-top: 5px;
  color: #777;
}
.group_info .label {
  width: 120px;
  color: #777;
  padding: 3px 0px 0px;
}
.group_info .labeled {
  width: 265px;
  overflow: hidden;
  padding: 3px 0px 0px;
}
.group_row_labeled {
  padding: 0px 0px 2px;
}
.group_row_labeled a {
  color: #45688E;
}
#page_avatar.group_no_avatar {
  padding: 175px 10px 25px;
  text-align: center;
  background: #EEF2F6 url(/images/community_200.gif) no-repeat 0 0;
}
#group_photos .module_body {
  padding: 0px 0px 10px;
}
#group_photos.module.empty .module_body {
  padding: 0px;
}
#group_photos.module.empty .module_body .empty_wrap {
  padding: 20px 0px;
}
.group_photos_wrap {
  margin: 5px -1px 0px;
}
#group_photos .profile_sized_photos {
  margin: 0;
}
.group_photos_wrap .profile_wide_sized_photos,
.page_wide_no_narrow .profile_sized_photos {
  display: none;
}
.page_wide_no_narrow .group_photos_wrap .profile_wide_sized_photos {
  display: block;
}
.group_photos_table,
.group_photos_table a img {
  margin: 0px auto;
}
.profile_wide_sized_photos a.page_post_thumb_wrap {
  margin-right: 6px;
}
.group_photos_table a {
  display: block;
  width: 75px;
  height: 57px;
  background: #F1F1F1;
  text-align: center;
  overflow: hidden;
  margin: 0px 3px 0px 2px;
}
.group_wiki_wrap {
  padding-bottom: 10px;
  overflow: hidden;
}
.group_wiki_hider {
  padding: 8px 0 8px 125px;
  border-top: 1px solid #FFF;
  display: block;
}
.group_wiki_hider span {
  padding: 0px 8px;
  color: #2B587A;
  visibility: hidden;
}
.group_wiki_hider span:hover {
  text-decoration: underline;
}
.group_wiki_hider:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.group_wiki_hider:hover span {
  visibility: visible;
}
#group .group_wiki_wrap .wk_text {
  display: none;
  padding: 10px 8px;
  width: 370px;
  word-wrap: break-word;
  line-height: 150%;
}
#group .group_wiki_wrap .wk_text.expanded {
  padding: 10px 0 0;
  width: auto;
}
.groups_edit_board_row {
  padding: 5px 0px;
}
.groups_edit_board_label {
  padding: 5px 10px 0px;
  width: 200px;
  color: #777;
}
.groups_edit_board_labeled {
  width: 160px;
}
#group_voting .module_body {
  padding-bottom: 11px;
}
#group_voting .header_bottom {
  padding: 3px 9px;
}
.group_voting_title {
  font-weight: bold;
  color: #45688E;
  padding: 0px 6px 3px;
  margin: 13px 8px 4px;
  border-bottom: 1px solid #E7EAED;
}
.group_voting_row_wrap {
  width: 100%;
  padding: 0px 5px;
}
.group_voting_row {
  background: #F1F1F1;
  width: 100%;
}
.group_voting_row_desc {
  padding: 1px 7px 3px;
}
.group_voting_text {
  padding: 6px 7px 4px;
}
.group_voting_percent {
  background: #E1E7ED;
  border: solid #D8DFE5;
  border-width: 1px 1px 0px 0px;
  height: 13px;
}
.group_voting_table {
  padding: 0px 8px;
}
.group_voting_table .radiobtn {
  padding: 12px 6px;
  border-top: 1px solid #E7EAED;
}
.group_voting_table .radiobtn.first {
  padding-top: 8px;
  border-top: 0px;
}
#group_voting_msg {
  margin: 10px 14px 0px;
}
.group_voting_actions {
  font-weight: normal;
}
#group_like_module,
.group_block_module {
  margin: 0px 0px 10px;
  padding: 11px 10px 10px;
  background: #F1F1F1;
  line-height: 160%;
}
.group_block_module {
  margin: 10px 0px 0px;
}
.group_like_desc {
  padding-bottom: 10px;
}
.group_like_enter_desc {
  margin: 11px 0 3px 0;
  text-align: center;
  color: #777;
}
.group_like_desc_wrap {
  margin: 11px 0 3px 0;
  text-align: center;
}
.group_like_desc_wrap .num_delim {
  line-height: normal;
}
.group_like_desc_wrap .progress {
  margin: 0 auto;
  padding: 2px 0 2px 0;
}
.group_actions_btn {
  padding: 7px 0 8px;
  text-align: center;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 13px;
  background-color: #dbe0e5;
}
.group_actions_btn:hover {
  cursor: pointer;
  background: #d6dce2;
}
.group_actions_btn:active {
  padding: 8px 0 7px;
  background-color: #d4d7da;
}
.group_actions_btn .progress {
  margin: 0 auto;
}
.group_actions_btn_text {
  padding-right: 15px;
  background: url(/images/profile_arrs.png) no-repeat right -26px;
  color: #5f6d7a;
}
.group_actions_btn:hover .group_actions_btn_text {
  color: #5f6d7a;
}
.group_actions_btn_text_no_arr {
  color: #5f6d7a;
}
#group_actions_wrap {
  position: absolute;
  width: 178px;
  background: #FFF;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  line-height: normal;
}
.group_actions_header {
  text-align: center;
  background: #d6dce2;
  padding: 6px 0 8px 0;
  line-height: 13px;
  cursor: pointer;
}
.group_actions_header_inner {
  padding-right: 15px;
  background: url(/images/profile_arrs.png) no-repeat right -26px;
  color: #5f6d7a;
}
.group_actions_inner {
  line-height: 140%;
  border: none;
}
.group_actions_item {
  display: block;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
.group_actions_item:hover {
  background-color: #ebeef2;
  text-decoration: none;
}
.group_actions_item .progress {
  margin-top: 6px;
}
.group_actions_separator {
  margin: 5px 10px 0 10px;
  padding-bottom: 5px;
  border-top: 1px solid #e6e6e6;
}
.group_button_wrap {
  padding-bottom: 10px;
}
.group_button_action {
  margin: 1px 0 3px 0;
  text-align: center;
}
.group_button_action .progress {
  margin: 4px auto;
}
#group_block_comment_wrap {
  padding-top: 10px;
}
#group_block_comment,
#group_block_public_comment,
#group_block_admin_comment {
  width: 396px;
  height: 40px;
  padding: 5px;
  vertical-align: top;
}
.group_block_button,
.group_block_button.dark_box_btn {
  margin-top: 14px;
}
#group_block_reason_wrap,
#group_block_duration_wrap {
  height: 30px;
}
.group_block_day,
.group_block_month {
  padding-left: 5px;
}
.is_rtl1 .group_block_day,
.is_rtl1 .group_block_month {
  padding-left: 0;
  padding-right: 5px;
}
#group_block_subreason_wrap {
  height: 30px;
  padding: 10px 0 0;
}
#group_block_warning,
#group_block_public_preview,
#group_block_admin_preview {
  padding-bottom: 10px;
}
#group_block_public_comment_preview,
#group_block_admin_comment_preview {
  padding-bottom: 10px;
  display: none;
}
.page_actions a.group_block_mem {
  display: inline;
  padding: 0px;
  background: none;
}
.page_actions a.group_block_mem:hover {
  text-decoration: underline;
  background: none;
}
.group_abuse_made {
  padding: 4px 6px;
  color: #777;
}
.groups_donate {
  margin: 5px 0px;
  background: #F7F7F7;
  border: solid #DAE1E8;
  border-width: 1px 0px;
  padding: 7px;
}
#groups_donate_options {
  display: none;
  padding-bottom: 5px;
}
#groups_donate_options .radiobtn {
  padding: 3px 5px;
}
#groups_donate_button {
  display: none;
}
#groups_donate_other {
  display: none;
  padding: 0px 5px 7px;
}
#groups_donate_other_val {
  width: 70px;
}
#groups_donate_other_add {
  padding: 0px 5px;
}
.groups_no_donations {
  padding: 30px 10px;
  text-align: center;
  color: #777;
}
.summary_wrap.groups_donators_summary {
  padding: 0px;
  margin: 0px 5px 10px;
}
#groups_donators_wrap {
  padding: 7px 5px 0px;
  overflow: hidden;
  height: 360px;
}
div.gl_message {
  margin: 10px 10px 0px;
}
.groups_list_search {
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
  padding: 13px 16px;
  position: relative;
}
#groups_list_search {
  padding: 5px 40px 6px 26px;
  background: url(/images/magglass.png) no-repeat scroll 8px 9px white;
  height: 17px;
  width: 320px;
  outline: none;
  -o-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}
.groups_in_search #groups_list_search {
  -width: 390px;
}
#groups_list_search::-ms-clear {
  display: none;
}
#groups_create_btn {
  position: relative;
  left: 0px;
  opacity: 1;
  margin-top: 2px;
  -o-transition: opacity 120ms linear, left 280ms linear;
  -ms-transition: opacity 120ms linear, left 280ms linear;
  -moz-transition: opacity 120ms linear, left 280ms linear;
  -webkit-transition: opacity 120ms linear, left 280ms linear;
  transition: opacity 120ms linear, left 280ms linear;
}
.groups_in_search #groups_create_btn {
  left: 10px;
  opacity: 0;
  pointer-events: none;
}
.groups_search_advanced_btn {
  display: none;
  padding: 8px 10px 9px;
  color: #4C6381;
  cursor: pointer;
  position: absolute;
  right: 8px;
  border-radius: 2px;
  text-align: center;
  min-width: 124px;
}
.groups_in_search .groups_search_advanced_btn {
  display: block;
}
.groups_search_advanced_btn:active {
  padding: 9px 10px 8px;
}
.groups_search_advanced_btn:hover {
  background-color: #E1E6EB;
}
.groups_extended_search_toggle_icon {
  display: inline-block;
  vertical-align: top;
  background-image: url(/images/flydead_flat.gif);
  background-position: 0px 0px;
  width: 14px;
  height: 9px;
  margin-left: 3px;
  margin-top: 2px;
}
.groups_advanced_block_expanded .groups_extended_search_toggle_icon {
  background-position: 0px -79px;
}
.groups_list {
  padding: 0px 10px;
}
.group_list_row {
  border-bottom: 1px solid #EDEDED;
  padding: 10px 0;
  background: #FFFFFF;
}
.group_list_row:last-child {
  border-bottom: 0px;
}
.group_row_blockinv {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.group_row_photo {
  height: 100px;
  overflow: hidden;
  width: 100px;
}
.group_row_info {
  padding-left: 10px;
  width: 485px;
  overflow: hidden;
  color: #777777;
}
.group_inv_info {
  padding: 0px 0px 0px 15px;
  width: 480px;
  overflow: hidden;
}
.group_row_label {
  color: #777;
  width: 70px;
  padding: 0 10px;
}
.group_row_labeled,
.group_row_status_wrap {
  margin-bottom: 3px;
  width: 405px;
}
.group_row_status_wrap {
  color: #777;
  padding: 5px 0;
}
.group_row_actions {
  padding: 0 5px;
}
.group_row_actions {
  padding: 0px;
}
.groups_no_list {
  border: 0;
  background: #FFF;
  color: #777;
  font-size: 1.18em;
  margin: 0 0 3px;
  padding: 80px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groups_more_link {
  display: block;
  padding: 10px 0px;
  margin: 0px 10px 10px;
  border-top: 1px solid #DAE1E8;
  text-align: center;
}
.groups_more_link:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.group_friends_in_gr {
  padding-top: 6px;
  margin: 0px -2px;
}
.group_friend_in_gr {
  height: 32px;
  overflow: hidden;
  padding: 0px 2px;
}
.group_row_buttons {
  margin: 8px -3px 0px -2px;
}
.group_row_button {
  margin: 0px 3px 0px 2px;
}
.group_friend_in_img {
  width: 32px;
}
.groups_create_box {
  padding: 3px 0px 1px;
  width: 370px;
}
.groups_create_header {
  color: #36638E;
  font-size: 1.09em;
  font-weight: bold;
  margin: 11px 0px 5px;
}
.groups_create_section {
  padding: 9px 1px 2px;
}
.groups_create_section .radiobtn div {
  width: 18px;
}
.groups_create_about {
  color: #777;
  padding: 2px 23px 0px;
}
#group_create_title,
#group_create_desc {
  width: 360px;
}
.groups_about_public {
  font-size: 0.9em;
  color: #777;
  padding-top: 10px;
}
.groups_search_focused .group_row_highlight {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  padding: 0px 1px 0px;
  margin: 0px -1px;
  *padding: 0px;
  *margin: 0px;
}
.group_full_private {
  font-size: 1.09em;
  padding: 140px 20px 200px;
  text-align: center;
  width: 567px;
}
.public_contacts_list {
  padding: 10px;
  overflow-x: hidden;
  height: 315px;
  position: relative;
}
.public_contacts_list_header {
  border-bottom: 1px solid #dae1e8;
  margin: 0pt 5px 4px;
  padding: 5px 0pt 2px;
  width: 430px;
}
.public_contacts_list .row {
  padding: 10px 0px;
  width: 50px;
}
.public_contacts_list .info {
  padding: 10px;
  width: 220px;
}
.public_contacts_list .info_wide {
  padding: 10px;
  width: 340px;
}
.public_contacts_list .actions,
.public_contacts_list .edit_actions {
  width: 120px;
  padding: 10px 0;
  overflow: hidden;
}
.public_contacts_list .actions a,
.public_contacts_list .edit_actions a {
  display: block;
  padding: 4px 6px;
  margin: 0px 0px 2px;
}
.public_contacts_list .actions a:hover,
.public_contacts_list .edit_actions a:hover {
  text-decoration: none;
  background: #E1E7ED;
}
.public_contacts_list .name a {
  font-size: 1.09em;
  color: #2B587A;
  font-weight: bold;
  padding-bottom: 5px;
}
.public_contacts_list .name span {
  font-weight: bold;
  font-size: 1.09em;
  padding-bottom: 5px;
  color: #777777;
}
.public_contacts_list .image {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.public_contacts_list .image a {
  display: block;
}
.public_contacts_list h2 {
  border: 0;
}
.public_contacts_list .cell_wrap {
  padding: 0px 10px;
}
.public_contacts_list .cell {
  border-bottom: 1px solid #E6EAED;
}
.public_contacts_list .cell_wrap:last-child .cell {
  border-bottom: none;
}
.public_contacts_list .cell_wrap.sort_taken {
  background: #FFFFFF;
  opacity: 0.9;
  z-index: 400;
  border-bottom: none;
}
.public_contacts_list .desc {
  padding: 4px 1px 0;
}
#public_events_list.public_contacts_list .desc {
  padding: 4px 0 0;
}
.public_contacts_list .extra_info {
  padding: 4px 1px 0;
  color: #777777;
  line-height: 150%;
}
.public_contacts_list .extra_info a {
  color: #777777;
}
.public_contacts_list .extra_info span {
  background: url(/images/icons/info_icons.gif) no-repeat 0 0;
  padding: 0 8px 0 13px;
}
.public_contacts_list .extra_info .info_phone {
  background-position: 0 -18px;
  padding-left: 9px;
}
.public_no_contacts {
  padding: 120px 5px 5px;
  height: 140px;
  text-align: center;
  font-size: 1.09em;
  color: gray;
}
#group_like_module .like_link_state {
  width: 180px;
}
#group_like_module .group_send_msg {
  margin-bottom: 10px;
}
#group_like_module .group_send_msg a:hover {
  text-decoration: none;
}
#group_like_module .group_send_msg .flat_button {
  padding-top: 7px;
  padding-bottom: 8px;
}
#group_like_module #group_subscribe.like_link_state {
  padding: 6px 0px 8px;
}
#group_like_module .like_link_state .subscribe_button_wrap {
  padding: 3px 30px 14px;
}
#group_like_module .like_link_state .desc {
  padding-bottom: 13px;
}
#group_like_module .like_link_state .desc .share_event_link {
  padding-top: 1px;
}
#group_like_module .group_friends_count {
  padding-top: 14px;
  text-align: center;
}
.group_event_took_place {
  text-align: center;
}
.group_user_invited {
  padding: 2px 0 11px;
  text-align: center;
}
#public_contact_memlink_tip {
  color: #777;
  padding: 3px 0;
  font-size: 0.9em;
}
.public_edit_contact_info h2 {
  margin: 0 0 10px 10px;
  border-bottom: none;
}
.public_edit_contact_info .label {
  padding: 3px 10px 2px;
  width: 70px;
  clear: both;
  color: #777;
}
.public_edit_contact_info .labeled_text {
  padding: 3px 0px 10px;
  width: 190px;
}
.public_edit_contact_info .labeled {
  padding: 0px 0px 5px;
  width: 190px;
  overflow: hidden;
}
.public_edit_contact_info .labeled .text {
  width: 182px;
}
.gle_block {
  width: 190px;
  overflow: hidden;
  padding: 10px 0px;
}
.gle_table {
  width: 190px;
}
.gle_td {
  vertical-align: top;
}
.gle_thumb {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.gle_img {
  width: 50px;
  vertical-align: top;
}
.gle_row {
  padding: 1px 0px 2px;
  margin: 0px 8px;
  width: 124px;
  white-space: nowrap;
  height: 13px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.gle_date,
.gle_place {
  color: #777;
}
.gl_events_msg_hide {
  padding: 15px 0px 3px;
}
div.gl_summary_short {
  padding: 13px 0px 0px;
  margin: 0px 10px;
}
.gle_list {
  padding: 0px 10px;
}
#gle_list_more_lnk {
  display: block;
  background: #EFF1F3;
  margin: 0px 10px 10px;
  padding: 10px;
  text-align: center;
  color: #738392;
}
#gle_list_more_lnk:hover {
  background: #E9EDF1;
  text-decoration: none;
}
#gle_list_more {
  display: none;
}
.group_share_club {
  text-decoration: none;
  width: 11px;
  height: 13px;
  background: url(/images/icons/mono_iconset.png?1) no-repeat 0px -192px;
  cursor: pointer;
  margin: 3px 5px 0px;
}
#group_share_progress,
#group_unshare_progress {
  height: 17px;
}
.groups_list_search_summary {
  padding: 8px 0px 0px;
}
.groups_list_last_row {
  border-bottom: none;
}
#groups_loading {
  background: url('/images/upload.gif') center center no-repeat;
  width: 32px;
  height: 9px;
  margin: 10px 0 0 0;
  z-index: 95;
  position: absolute;
  display: none;
  top: 0;
  right: 7px;
}
.groups_search_input_wrap {
  display: inline-block;
  position: relative;
}
#groups_reset_search {
  margin: 4px 3px 0 0;
  display: none;
  cursor: pointer;
  background: transparent url(/images/icons/input_clear.gif) 6px 6px no-repeat;
  padding: 2px;
  width: 19px;
  height: 19px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  z-index: 95;
  top: 0;
  right: 0;
}
.groups_search_advanced_wrap {
  height: 0;
  overflow: hidden;
  -o-transition: height 200ms ease;
  -ms-transition: height 200ms ease;
  -moz-transition: height 200ms ease;
  -webkit-transition: height 200ms ease;
  transition: height 200ms ease;
}
.groups_advanced_block_expanded .groups_search_advanced_wrap {
  height: 68px;
}
.groups_search_advanced_wrap .groups_search_block {
  margin-top: 13px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.groups_search_advanced_wrap .groups_search_block_title {
  font-weight: bold;
  color: #45688E;
  margin-bottom: 7px;
}
.groups_search_advanced_wrap .groups_search_cbs_wrap {
  margin-top: 34px;
  display: inline-block;
  vertical-align: top;
}
.groups_search_advanced_wrap .groups_search_cbs_wrap > .checkbox_container {
  display: inline-block;
}
#groups_list_search_cont {
  display: none;
}
.groups_row_type {
  color: #777;
  /*margin-left: 8px;*/
  display: block;
  padding-top: 4px;
}
.groups_inv_more {
  display: none;
}
.groups_inv_showmore {
  display: block;
  padding: 10px 0px;
  margin: 0px;
  border-top: 1px solid #DAE1E8;
  text-align: center;
}
.groups_inv_showmore:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.gle_invites_list {
  padding: 0px 10px;
}
.groups_inv_last_row {
  border-bottom: none;
  padding-bottom: 0px;
}
.groups_inv_info {
  width: 540px;
  padding-left: 10px;
}
.groups_inv_info_l {
  color: #777777;
  margin-left: 8px;
}
.groups_inv_cont {
  background: #F7F7F7;
  padding: 10px;
  margin: 8px 0px 0px 0px;
}
.groups_row_inv_info {
  padding-left: 10px;
  width: 410px;
}
.group_inv_status {
  margin-top: 2px;
  color: #777777;
}
.groups_acted_text {
  padding: 0px 0px 4px;
}
.gle_summary_progress {
  display: none;
}
#gle_invites_more {
  display: none;
}
.group_inv_event_time {
  padding: 2px 0px 4px;
}
.groups_row_img {
  width: 100px;
}
.gle_invites_actions {
  margin: 0px 0px 14px;
  text-align: center;
  background: #F7F7F7;
  padding: 8px;
}
div.gtop_message {
  margin: 0 0 10px 0;
  padding: 8px 13px;
  border: none;
  background-color: #F0F2F5;
}
.gtop_mesage_buttons {
  padding: 10px 0px 3px;
}
.gtop_mesage_buttons a {
  margin: 6px 0 0 20px;
}
.groups_catalog_info {
  padding: 20px;
  background-color: #f7f7f7;
}
.groups_catalog_data {
  padding: 0px 20px 20px;
}
#groups_catalog_box_error {
  margin-bottom: 18px;
  display: none;
}
.groups_catalog_thumb_box {
  width: 75px;
}
.groups_catalog_thumb_box img {
  width: 75px;
  height: 75px;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.groups_catalog_comm_info {
  padding-left: 10px;
}
.groups_catalog_comm_title {
  font-weight: bold;
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groups_catalog_info_row {
  color: #666;
  padding-top: 5px;
}
.groups_catalog_header {
  color: #45688E;
  line-height: 1.27em;
  margin: 0px;
  padding: 20px 0px 9px;
  font-size: 1.09em;
  font-weight: bold;
}
.groups_catalog_data .wddi_data {
  min-height: 18px;
  _height: 18px;
}
.groups_catalog_data .wdd_text {
  width: 351px;
}
.groups_catalog_save {
  padding-top: 30px;
}
.groups_catalog_delete {
  margin-top: 5px;
}
.groups_catalog_city_label {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
#groups_catalog_city_wrap {
  display: inline-block;
  margin-top: 6px;
  margin-left: 6px;
}
#group_recom_rows,
#fgroup_recom_preview {
  line-height: 0;
}
#group_recom_preload {
  display: none;
}
#group_recom_more {
  display: block;
  margin: 0px 10px;
  color: #6A7989;
  background: #EFF1F3;
  height: 13px;
  padding: 9px 0px 8px;
  text-align: center;
}
#group_recom_more:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.group_recom {
  display: inline;
  display: inline-block;
  zoom: 1;
  width: 292px;
  padding: 10px;
  line-height: normal;
}
.group_recom_photo {
  width: 105px;
  height: 90px;
  overflow: hidden;
}
.group_recom_img {
  width: 90px;
  vertical-align: top;
}
.group_recom_lnk {
  color: #45688E;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 164px;
}
.group_recom_name {
  font-weight: bold;
  padding: 1px 0px 2px;
}
.group_recom_desc,
.group_recom_size {
  color: #777;
  padding: 3px 0px 4px;
}
.group_recom_name,
.group_recom_desc,
.group_recom_size {
  width: 187px;
  overflow: hidden;
  white-space: nowrap;
}
.group_recom_name .page_verified {
  vertical-align: top;
}
.group_recom_info {
  width: 187px;
}
.group_recom_btn {
  margin-top: 6px;
}
.group_recom_done {
  padding-top: 12px;
  color: #777;
}
.group_age_disclaimer {
  line-height: 160%;
  padding: 0 6px;
}
.group_age_checkbox {
  margin: 12px 0 5px;
}
.box_controls.group_age_disclaimer_box .flat_button {
  margin-left: 0;
  margin-right: 10px;
}
.box_controls.group_age_disclaimer_box .flat_button.button_disabled {
  background-color: #839dbb;
  color: #e8edf3;
}
.is_rtl1 .box_controls.group_age_disclaimer_box .flat_button {
  margin-left: 10px;
  margin-right: 0;
}
.box_controls.group_age_disclaimer_box .flat_button.group_age_disclaimer_close {
  color: #45688E;
  background-color: transparent;
  padding: 5px;
}
.box_controls.group_age_disclaimer_box .flat_button.group_age_disclaimer_close:hover {
  text-decoration: underline;
}
