#language_css {
    display: none;
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0;
}

.language_suggested {
    background: #FFF8CC;
}

.language_selected {
    font-weight: bold;
    color: #000;
}

.language_not_found_msg {
    padding: 1px;
    display: none;
}

.language_name_hl {
    font-style: normal;
    background: #e7edf2;
}

.language_column a:hover {
    text-decoration: none;
}

.language_column a:hover .language_title {
    text-decoration: underline;
}

.languages_list {
    padding: 20px 0 20px 30px;
}

.language_column {
    margin: 0 3px;
    float: left;
    width: 160px;
}

.language_column a,
.language_column b {
    padding: 3px 7px;
    display: block;
}

.language_box_row {
    padding: 0 10px;
    display: block;
}

.language_box_row:hover {
    background-color: #EDF0F4;
    text-decoration: none;
}

.language_box_row.language_box_row_selected .language_box_row_label {
    color: #333333;
}

.language_box_row.language_box_row_selected:hover {
    background-color: transparent !important;
    cursor: default;
}

.language_box_row .language_box_row_label {
    background-position: 0;
    padding-left: 50px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    height: 42px;
    line-height: 42px;
    background-repeat: no-repeat;
    background-size: 34px 26px;
    color: #426A87;
}