#login_css {
    display: none
}

.login_mobile_close,
.LoginMobilePromoDevice--android.LoginMobilePromoDevice--br,
.LoginMobilePromoDevice--android.LoginMobilePromoDevice--en,
.LoginMobilePromoDevice--android.LoginMobilePromoDevice--ru,
.LoginMobilePromoDevice--android.LoginMobilePromoDevice--ua,
.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--br,
.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--en,
.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ru,
.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ua,
.UnblockForm__content__header .antispam_team_logo {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.UnblockTooltip {
    position: absolute;
    width: 0;
    height: 0;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    -o-animation: fadeIn .3s ease;
    animation: fadeIn .3s ease;
    -o-transition: opacity .2s ease, visibility .2s ease;
    transition: opacity .2s ease, visibility .2s ease;
    z-index: 1001;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif
}

.UnblockTooltip__in {
    position: relative;
    padding: 4px 9px 5px;
    border-radius: 4px;
    font-size: 12.5px;
    line-height: 15px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    direction: ltr
}

.UnblockTooltip__in:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent
}

.UnblockTooltip--removed {
    visibility: hidden;
    opacity: 0
}

.UnblockTooltip--black .UnblockTooltip__in {
    color: #fff;
    background: hsla(0, 0%, 5%, .7)
}

.UnblockTooltip--black.UnblockTooltip--t .UnblockTooltip__in:before {
    border-top-color: hsla(0, 0%, 5%, .7)
}

.UnblockTooltip--black.UnblockTooltip--r .UnblockTooltip__in:before {
    border-right-color: hsla(0, 0%, 5%, .7)
}

.UnblockTooltip--black.UnblockTooltip--b .UnblockTooltip__in:before {
    border-bottom-color: hsla(0, 0%, 5%, .7)
}

.UnblockTooltip--black.UnblockTooltip--l .UnblockTooltip__in:before {
    border-left-color: hsla(0, 0%, 5%, .7)
}

.UnblockTooltip--white .UnblockTooltip__in {
    color: #000;
    background: #fff;
    border: 1px solid #c5d0db;
    padding: 12px 14px 13px;
    border-radius: 2px
}

.UnblockTooltip--white .UnblockTooltip__in:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent
}

.UnblockTooltip--white.UnblockTooltip--t .UnblockTooltip__in:before {
    border-top-color: #c5d0db
}

.UnblockTooltip--white.UnblockTooltip--r .UnblockTooltip__in:before {
    border-right-color: #c5d0db
}

.UnblockTooltip--white.UnblockTooltip--b .UnblockTooltip__in:before {
    border-bottom-color: #c5d0db
}

.UnblockTooltip--white.UnblockTooltip--l .UnblockTooltip__in:before {
    border-left-color: #c5d0db
}

.UnblockTooltip--white.UnblockTooltip--t .UnblockTooltip__in:after {
    border-top-color: #fff
}

.UnblockTooltip--white.UnblockTooltip--r .UnblockTooltip__in:after {
    border-right-color: #fff
}

.UnblockTooltip--white.UnblockTooltip--b .UnblockTooltip__in:after {
    border-bottom-color: #fff
}

.UnblockTooltip--white.UnblockTooltip--l .UnblockTooltip__in:after {
    border-left-color: #fff
}

.UnblockTooltip--t {
    -ms-flex-align: end;
    align-items: flex-end
}

.UnblockTooltip--t .UnblockTooltip__in {
    bottom: 5px
}

.UnblockTooltip--t .UnblockTooltip__in:after,
.UnblockTooltip--t .UnblockTooltip__in:before {
    top: 100%
}

.UnblockTooltip--t .UnblockTooltip__in:after {
    margin-top: -1px
}

.UnblockTooltip--r {
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-align: center;
    align-items: center
}

.UnblockTooltip--r .UnblockTooltip__in {
    left: 5px
}

.UnblockTooltip--r .UnblockTooltip__in:after,
.UnblockTooltip--r .UnblockTooltip__in:before {
    right: 100%;
    top: 50%;
    margin-top: -5px
}

.UnblockTooltip--r .UnblockTooltip__in:after {
    margin-right: -1px
}

.UnblockTooltip--b {
    -ms-flex-align: start;
    align-items: flex-start
}

.UnblockTooltip--b .UnblockTooltip__in {
    top: 5px
}

.UnblockTooltip--b .UnblockTooltip__in:after,
.UnblockTooltip--b .UnblockTooltip__in:before {
    bottom: 100%
}

.UnblockTooltip--b .UnblockTooltip__in:after {
    margin-bottom: -1px
}

.UnblockTooltip--l {
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-align: center;
    align-items: center;
    direction: rtl
}

.UnblockTooltip--l .UnblockTooltip__in {
    right: 5px
}

.UnblockTooltip--l .UnblockTooltip__in:after,
.UnblockTooltip--l .UnblockTooltip__in:before {
    left: 100%;
    top: 50%;
    margin-top: -5px
}

.UnblockTooltip--l .UnblockTooltip__in:after {
    margin-left: -1px
}

.UnblockTooltip--align-left {
    -ms-flex-pack: left;
    justify-content: left
}

.UnblockTooltip--align-left .UnblockTooltip__in {
    right: 14px
}

.UnblockTooltip--align-left .UnblockTooltip__in:after,
.UnblockTooltip--align-left .UnblockTooltip__in:before {
    left: 14px;
    margin-left: -5px
}

.UnblockTooltip--align-center {
    -ms-flex-pack: center;
    justify-content: center
}

.UnblockTooltip--align-center .UnblockTooltip__in {
    -ms-transform: translateX(-50%)
}

.UnblockTooltip--align-center .UnblockTooltip__in:after,
.UnblockTooltip--align-center .UnblockTooltip__in:before {
    left: 50%;
    margin-left: -5px
}

.UnblockTooltip--align-right {
    -ms-flex-pack: left;
    justify-content: left;
    direction: rtl
}

.UnblockTooltip--align-right .UnblockTooltip__in {
    left: 14px
}

.UnblockTooltip--align-right .UnblockTooltip__in:after,
.UnblockTooltip--align-right .UnblockTooltip__in:before {
    right: 14px;
    margin-right: -5px
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 100%
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 100%
    }
}

.UnblockForm__content {
    padding-bottom: 50px
}

.UnblockForm__content__header {
    margin-bottom: 40px
}

.UnblockForm__content__header .antispam_team_logo {
    background: url(/images/spamfight_brown.png) no-repeat;
    height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-left: 120px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .UnblockForm__content__header .antispam_team_logo {
        background-image: url(/images/spamfight_brown_2x.png);
        background-size: 160px 160px
    }
}

.UnblockForm__content__header .reason {
    text-align: center;
    margin-top: 12px
}

.UnblockForm__content__inputs .input {
    margin: 0px 100px 22px
}

.UnblockForm__content__inputs .input .label {
    margin-bottom: 8px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.UnblockForm__content__inputs .input input {
    width: 200px;
    font-size: 13px
}

.UnblockForm__content__inputs .input input.finished {
    background: #ebf1f8
}

.UnblockForm__content__inputs .input.phone_number_prefix_input.finished {
    pointer-events: none
}

.UnblockForm__content__inputs .input.phone_number_prefix_input.finished #phone_number_prefix_filter_wrap .selector_container {
    background-color: #ebf1f8
}

.UnblockForm__content__inputs .input.phone_number_input .prefix_input_wrap.finished {
    background: #ebf1f8
}

.UnblockForm__content__inputs .input.phone_number_input .prefix_input_wrap.finished .prefix_input_prefix {
    padding-top: 5.5px
}

.UnblockForm__content__inputs .input.phone_number_input .prefix_input_wrap .prefix_input {
    font-size: 13px
}

.UnblockForm__content__inputs .input.verification_code_input {
    margin-bottom: 18px
}

.UnblockForm__content__inputs .input.new_password_input {
    height: 81px
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pwd_level0 {
    display: none
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pwd_level1 {
    background: #cd4849;
    width: 25%
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pwd_level2 {
    background: #ff762d;
    width: 50%
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pwd_level3 {
    background: #c9b72d;
    width: 75%
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pwd_level4 {
    background: #60b92b;
    width: 100%
}

.UnblockForm__content__inputs .input.new_password_input .blocked_pass_strength {
    color: #777
}

.UnblockForm__content__inputs .input.new_password_input #blocked_about_pass {
    position: absolute;
    margin-top: -1px;
    height: 5px;
    width: 200px;
    overflow: hidden
}

.UnblockForm__content__inputs .input.new_password_input .blocked_about_login {
    padding-top: 5px;
    margin-left: 2px;
    font-size: 12px;
    color: #777
}

.UnblockForm__content__inputs .input ._change_phone_button {
    display: block;
    position: absolute;
    right: 135px;
    margin-top: 5px;
    z-index: 5
}

.UnblockForm__content__inputs .UnblockForm__mainButton {
    width: 200px;
    margin: 3px 100px 0px
}

.UnblockForm__content__inputs .resend_button_wrap {
    margin-top: 16px;
    text-align: center
}

.UnblockForm__content__inputs .resend_button_wrap .resend_button {
    color: #828282
}

.UnblockForm .submit_error {
    line-height: 20px
}

.UnblockForm .DelayedRequestFinished__button {
    text-align: center;
    margin-top: 40px
}

.UnblockForm .DelayedRequestFinished__notMeButton {
    text-align: center;
    margin-top: 16px
}

.UnblockForm .DelayedWaitExplanation .DelayedWaitExplanation__progressWrap {
    text-align: center;
    margin-top: 40px
}

.page_section {
    margin: 0 0 20px 82px;
    padding: 60px 0px 18px;
    width: 463px
}

.page_section .error {
    margin: 15px 0;
    display: none
}

.page_section .error.msg {
    display: block
}

.page_section .info {
    padding-bottom: 22px;
    text-align: center
}

.page_section .section_row {
    padding-bottom: 5px
}

.page_section .section_row.section_actions_row {
    padding: 10px 0 0
}

.page_section .section_row.section_actions_row_long {
    margin-right: -110px
}

.page_section .label {
    padding: 8px 10px 0px 0px;
    float: left;
    text-align: right;
    width: 220px;
    color: #777
}

.page_section .labeled {
    float: left
}

.page_section .labeled .text {
    width: 192px;
    height: 22px
}

.page_section .button_blue {
    margin-top: 5px
}

.page_section_msg.msg {
    padding: 8px;
    margin: 0 0 25px
}

.page_section_msg.msg:empty {
    display: none
}

.page_section .msg {
    margin: 20px 0
}

.page_section_result {
    text-align: center;
    margin: 0 -50px;
    font-size: 14px
}

.page_section_result_title {
    margin-bottom: 14px;
    font-weight: 700
}

.page_section h2 {
    margin: 0 0 10px;
    padding: 0 0 3px
}

.bottom_row {
    border-top: 1px solid #e7e8ec;
    padding: 13px 6px;
    text-align: center;
    background-color: #fafbfc;
    color: #000;
    font-size: 12.5px;
    line-height: 19px
}

#pass_wrap {
    display: none
}

.login_sure_thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px
}

.login_sure_name {
    float: left;
    width: 180px
}

.login_sure_name_wrap {
    padding: 8px 0 6px;
    line-height: 1
}

.login_sure_name_lnk {
    margin: 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #42648b
}

.login_sure_name_city {
    color: #939699;
    font-size: 12.5px;
    line-height: 1.154
}

.login_sure {
    padding: 0 0 0 90px
}

.login_sure_btns {
    margin: 26px 0 0
}

.login_sure_btns .button_cancel,
.login_sure_btns .flat_button {
    float: left;
    margin-right: 4px
}

.login_sure_btns .button_cancel .button {
    padding-top: 8px
}

.login_sure_btns .button_blue,
.login_sure_btns .button_cancel {
    margin-right: 5px
}

.login_help_content {
    line-height: 160%;
    padding: 25px 35px
}

.login_help_back {
    width: 130px;
    margin: 20px auto 0px
}

.page_block {
    margin-top: 20px
}

.login_blocked_wrap .page_block {
    padding: 24px 30px 20px;
    letter-spacing: -0.2px
}

.login_blocked_wrap .page_block:not(:first-child) {
    margin-top: 20px
}

.login_blocked_wrap .page_block.finished .content .radiobtn {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.login_blocked_wrap .page_block .header {
    height: 36px;
    border-bottom: 1px solid #e7e8ec;
    letter-spacing: -0.4px
}

.login_blocked_wrap .page_block .header h1 {
    margin-top: 5px
}

.login_blocked_wrap .page_block.tutorial_step .content:empty {
    display: none
}

.login_blocked_wrap .page_block .content {
    margin: 24px auto 0;
    color: #000;
    font-size: 14px;
    line-height: 22px
}

.login_blocked_wrap .page_block .content .radiobtn {
    margin-bottom: 14px;
    letter-spacing: -0.1px;
    font-size: 13px
}

.login_blocked_wrap .page_block .content .radiobtn:last-child {
    margin-bottom: 0px
}

.login_blocked_wrap .page_block .content .list_of_actions_to_perform {
    margin-top: 18px;
    padding-left: 15px;
    margin-bottom: 4px
}

.login_blocked_wrap .page_block .content .list_of_actions_to_perform li {
    color: #768eab;
    padding-left: 8px
}

.login_blocked_wrap .page_block .content .list_of_actions_to_perform li span {
    color: #000
}

.login_blocked_wrap .page_block .content .list_of_actions_to_perform li:not(:first-child) {
    margin-top: 16px
}

.login_blocked_wrap .page_block .content .ban_explanation_piece_wrap:not(:first-child) {
    margin-top: 10px
}

.login_blocked_wrap .page_block .content .tutorial_step_hint {
    margin-bottom: 20px;
    overflow-y: hidden;
    -o-transition-property: all;
    transition-property: all;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
}

.login_blocked_wrap .page_block .footer {
    border-top: 1px solid #e7e8ec;
    margin-top: 25px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 22px
}

.login_blocked_wrap .page_block .footer_without_border {
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    line-height: 22px
}

.login_blocked_wrap .page_block .footer_plug {
    text-align: center;
    font-size: 14px;
    line-height: 22px
}

.login_blocked_wrap .login_blocked_temporarily {
    height: 36px;
    border-bottom: 1px solid #e7e8ec
}

.login_blocked_wrap .login_blocked_temporarily .login_blocked_temporarily_title {
    margin-top: 5px
}

.login_blocked_wrap .login_blocked_about {
    font-size: 14px;
    line-height: 22px;
    color: #000
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_about:not(:empty) {
    margin-top: 14px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity {
    margin-top: 22px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 18px 20px;
    overflow: hidden
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason {
    font-size: 13px;
    position: relative;
    margin: 0;
    min-width: 450px;
    max-width: 600px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason .user_info {
    margin-bottom: 8px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason .page_post_thumb_wrap {
    display: block
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_photo {
    width: 50px;
    height: 50px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_photo .login_blocked_reason_img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_story {
    margin: auto;
    width: -webkit-fit-content;
    width: fit-content;
    line-height: 0px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_story .story_preview {
    width: 135px;
    height: 255px;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_video_cell .video_preview {
    max-width: 100%
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text {
    word-wrap: break-word
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_mail {
    padding-top: 8px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_mail .wall_module {
    width: 387px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_mail .im_msg_media_geo {
    position: relative
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_wall.wall_module .wall_text {
    padding: 0
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_wall.wall_module .wall_text .page_media_thumbed_link:last-child {
    margin-bottom: 0px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_photo {
    margin-top: 13px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .login_blocked_reason_action_photo .login_blocked_reason_action_photo_img {
    max-width: 100%;
    display: block
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .wall_text {
    padding: 15px 0px 4px;
    letter-spacing: -0.1px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_text .wall_text .wall_post_text {
    padding-top: 0px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_label {
    padding-top: 4px;
    margin-left: 15px
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_label .login_blocked_reason_action_time {
    color: #939393
}

.login_blocked_wrap .login_blocked_about .login_blocked_reason_activity .login_blocked_reason_market_item {
    text-align: center
}

.login_blocked_wrap .login_blocked_about .about_bottom {
    margin-top: 24px
}

.login_blocked_wrap .login_blocked_centered {
    padding-bottom: 20px
}

.login_blocked_wrap .login_blocked_centered,
.login_blocked_wrap .login_blocked_bottom {
    margin: 0 auto;
    text-align: center;
    font-size: 1.09em;
    color: #111;
    line-height: 160%;
    width: 480px
}

.login_blocked_wrap .login_blocked_bottom:empty {
    display: none
}

.login_blocked_wrap .login_blocked_bad_form {
    width: 200px;
    margin: 20px auto 0
}

.login_blocked_wrap .login_blocked_reason_wout_msg {
    min-height: 30px;
    overflow: hidden
}

.login_blocked_wrap .login_blocked_reason_wout_msg .login_blocked_reason_label {
    margin-top: 6px
}

.login_blocked_wrap .tutorial_step .header {
    height: auto;
    padding-bottom: 11px
}

.settings_deact_page .settings_deact_header {
    margin-bottom: 10px;
    color: #222;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.settings_deact_page .settings_reason {
    padding: 0 0 11px
}

.settings_deact_page .settings_reason .settings_reason_desc {
    display: none
}

.settings_deact_page .settings_reason_text {
    margin-top: 8px;
    width: 510px;
    height: 65px;
    resize: none
}

#login_blocked_wrap h2 {
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 1.09em
}

#blocked_reasons_btn_wrap {
    padding-top: 10px;
    text-align: center
}

.login_blocked_msg {
    padding-bottom: 20px;
    font-size: 1.09em;
    color: #111;
    line-height: 160%
}

#login_blocked_img {
    margin-bottom: 10px
}

#login_blocked_wrap .login_blocked_row {
    margin: 0 auto 10px;
    padding: 0;
    width: 134px
}

.login_blocked_submit {
    width: 134px;
    margin: 11px auto 0px
}

#login_blocked_wrap .login_blocked_label {
    padding: 6px 0 10px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.09em;
    color: #45688e;
    width: 200px
}

.login_blocked_submit {
    margin: 11px auto 0px;
    width: 134px
}

input.login_big_text {
    font-family: tahoma, verdana, arial, sans-serif;
    background: #fff;
    border: 1px solid #c0cad5;
    font-size: 1.09em!important;
    padding: 5px 4px 4px;
    margin: 0px
}

.login_blocked_tt_pointer {
    background: url(/images/ddtooltip.png) 0 0 no-repeat;
    width: 8px;
    height: 11px;
    position: absolute;
    left: -7px;
    overflow: hidden;
    z-index: 10;
    top: 31px
}

.login_blocked_tt table .tt_text {
    line-height: 120%;
    color: #000;
    padding: 10px;
    width: 200px
}

.login_blocked_phone_tt table div.tt_text {
    width: 220px
}

#blocked_code,
#blocked_pass,
#blocked_phone {
    width: 124px;
    outline: none
}

.login_select_wrap input.login_readonly,
.login_readonly_wrap {
    background: #e1e7ed
}

#blocked_other_phone,
#blocked_use_reg_phone {
    position: absolute;
    margin: -19px 0px 0px 144px
}

.is_rtl1 #blocked_other_phone,
.is_rtl1 #blocked_use_reg_phone {
    margin-left: 0px;
    margin-right: 144px
}

#blocked_phone_table {
    border: 1px solid #c0cad5;
    width: 134px
}

#blocked_phone_prefix {
    vertical-align: top;
    width: 1px;
    color: #777;
    font-size: 1.09em;
    padding: 5px 0px 4px 5px
}

.login_readonly_wrap #blocked_phone_prefix {
    color: #000
}

.blocked_phone_field {
    vertical-align: top;
    width: 100%;
    padding: 5px 0px 0px
}

.is_rtl1 #blocked_phone_prefix {
    padding: 5px 5px 4px 0px
}

#blocked_phone_table #blocked_phone {
    width: 100%;
    outline: none;
    border: 0px;
    padding: 0px;
    margin: 0px -1px;
    background: transparent
}

#blocked_country_wrap .selector_container td.selector {
    padding-top: 3px;
    padding-bottom: 4px
}

#blocked_country_wrap .selector_container td.selector input {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 1.09em!important
}

#blocked_country_wrap .disabled.selector_container .selector_dropdown {
    background-color: #f2f2f2;
    border-color: #f2f2f2
}

.blocked_no_code {
    padding-top: 10px;
    text-align: center
}

.login_blocked_resend_box {
    line-height: 160%
}

.login_blocked_robot {
    width: 160px;
    height: 160px;
    margin: -7px auto -9px;
    background: url(/images/join/robot.gif) no-repeat
}

table.login_blocked_reason_thumbs {
    border-collapse: collapse;
    border-spacing: 0
}

.login_blocked_reason_td {
    vertical-align: top
}

.login_blocked_thumb_cell {
    overflow: hidden;
    text-align: center;
    width: 66px
}

.login_blocked_thumb_photo {
    margin: 0 8px;
    display: block;
    padding-bottom: 6px;
    height: 50px;
    width: 50px
}

.login_blocked_thumb_photo .user_preview {
    border-radius: 50%
}

.login_blocked_thumb_name {
    text-align: center
}

.login_blocked_photo_cell {
    margin: 0 3px 0 2px;
    max-height: 130px;
    max-width: 130px;
    overflow: hidden
}

.login_blocked_photo_img {
    max-width: 130px
}

.login_blocked_photo_caption {
    padding: 10px
}

.login_blocked_video_cell_a {
    margin: 0 3px 0 2px;
    display: block;
    overflow: hidden;
    text-align: center
}

.login_blocked_video_title_a {
    margin-top: 5px;
    display: block;
    text-align: center
}

.login_btn_with_arr {
    padding-right: 25px;
    background: url(/images/backlink.gif) no-repeat right -127px
}

.login_authcheck_wrap {
    padding: 15px 20px 20px
}

.login_authcheck_wrap .msg {
    margin: 0 0 20px
}

.login_authcheck_wrap .dark {
    width: 140px
}

.login_authcheck_info {
    padding-bottom: 20px;
    line-height: 19px
}

.login_authcheck_row {
    margin: 0 auto 10px;
    width: 140px
}

.login_authcheck_row .subheader {
    margin-top: 0;
    width: 360px
}

.login_authcheck_no_code {
    display: block;
    position: absolute;
    margin: -23px 0 0 150px
}

.login_authcheck_options {
    padding: 15px 0 0
}

.login_authcheck_options .progress_inline {
    margin-bottom: 3px
}

#login_authcheck_remember {
    width: 200px
}

.login_blocked_activity_row {
    position: relative;
    padding: 0 4px 4px;
    margin-bottom: 13px
}

.login_blocked_activity_photo {
    position: absolute;
    padding-top: 2px
}

.login_blocked_activity_img {
    width: 30px;
    height: 30px;
    overflow: hidden
}

.login_blocked_activity_info {
    margin-left: 40px
}

.login_blocked_activity_label {
    color: #777
}

.login_blocked_activity_label .mem_link {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.login_blocked_reasons {
    margin: 10px 0
}

.login_blocked_text {
    padding: 10px 7px;
    line-height: 160%
}

.login_blocked_period {
    background: #f6f7f9;
    border: 1px solid #dbe0ea;
    padding: 8px;
    line-height: 160%;
    margin-bottom: 20px
}

.login_blocked_label {
    width: 130px;
    color: #777;
    padding: 4px 10px 0
}

#login_blocked_phone {
    width: 130px
}

.login_blocked_row {
    padding-bottom: 10px
}

#login_blocked_error {
    margin-bottom: 10px;
    display: none
}

.login_blocked_sure {
    line-height: 160%
}

#login_blocked_finish {
    display: none
}

#login_blocked_success {
    margin-bottom: 10px
}

.LoginMobilePromo {
    position: relative;
    line-height: 19px
}

.LoginMobilePromo__devices {
    white-space: nowrap;
    padding-top: 32px;
    font-size: 0
}

.LoginMobilePromoDevice__button.flat_button {
    margin-top: 16px;
    line-height: 16px;
    font-size: 13px
}

.LoginMobilePromoDevice__button:before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: -4px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    bottom: -1px
}

.LoginMobilePromoDevice {
    text-decoration: none;
    display: inline-block;
    padding-top: 395px
}

.LoginMobilePromoDevice--android {
    background: no-repeat 0 8px;
    width: 183px
}

.LoginMobilePromoDevice--android .LoginMobilePromoDevice__button:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%22.533%22%2F%3E%3Cpath%20fill%3D%22%235181B8%22%20d%3D%22M6%2012v1.495c0%20.279.232.505.5.505.276%200%20.5-.214.5-.505V12h2v1.495c0%20.279.232.505.5.505.276%200%20.5-.214.5-.505V12h1a1%201%200%200%200%201-.99V6H4v5.01c0%20.546.444.99%201%20.99h1zM2.5%206c-.276%200-.5.215-.5.49v3.02a.5.5%200%200%200%20.5.49c.276%200%20.5-.215.5-.49V6.49A.5.5%200%200%200%202.5%206zm7.144-3.778C11.918%202.916%2012%205%2012%205H4s.082-2.084%202.356-2.778l-.32-.688a.375.375%200%200%201%20.679-.317l.393.842C7.38%202.02%207.678%202%208%202c.323%200%20.62.02.892.059l.393-.842a.375.375%200%200%201%20.68.317l-.321.688zM13.5%206a.5.5%200%200%201%20.5.49v3.02c0%20.275-.224.49-.5.49a.5.5%200%200%201-.5-.49V6.49c0-.275.224-.49.5-.49zm-7-2c.268%200%20.5-.224.5-.5%200-.268-.224-.5-.5-.5-.268%200-.5.224-.5.5%200%20.268.224.5.5.5zm3%200c.268%200%20.5-.224.5-.5%200-.268-.224-.5-.5-.5-.268%200-.5.224-.5.5%200%20.268.224.5.5.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}

.LoginMobilePromoDevice--android.LoginMobilePromoDevice--ru {
    background-image: url(/images/login/ru/reg_android_ru.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--android.LoginMobilePromoDevice--ru {
        background-image: url(/images/login/ru/reg_android_ru_2x.png);
        background-size: 183px 384px
    }
}

.LoginMobilePromoDevice--android.LoginMobilePromoDevice--en {
    background-image: url(/images/login/en/reg_android_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--android.LoginMobilePromoDevice--en {
        background-image: url(/images/login/en/reg_android_en_2x.png);
        background-size: 183px 384px
    }
}

.LoginMobilePromoDevice--android.LoginMobilePromoDevice--ua {
    background-image: url(/images/login/ua/reg_android_ua.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--android.LoginMobilePromoDevice--ua {
        background-image: url(/images/login/ua/reg_android_ua_2x.png);
        background-size: 183px 384px
    }
}

.LoginMobilePromoDevice--android.LoginMobilePromoDevice--br {
    background-image: url(/images/login/br/reg_android_br.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--android.LoginMobilePromoDevice--br {
        background-image: url(/images/login/br/reg_android_br_2x.png);
        background-size: 183px 384px
    }
}

.LoginMobilePromoDevice--ios {
    background: no-repeat 0 0;
    width: 198px;
    margin-left: -31px
}

.LoginMobilePromoDevice--ios .LoginMobilePromoDevice__button:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%22.533%22%2F%3E%3Cpath%20fill%3D%22%235181B8%22%20d%3D%22M11.761%207.085c-.017-1.689%201.381-2.499%201.444-2.54-.786-1.145-2.01-1.302-2.446-1.32-1.04-.105-2.031.611-2.56.611-.527%200-1.343-.596-2.206-.58-1.135.017-2.182.658-2.766%201.671-1.18%202.04-.302%205.063.847%206.718.562.81%201.231%201.72%202.11%201.687.847-.033%201.168-.546%202.191-.546%201.024%200%201.312.546%202.208.53.911-.017%201.489-.826%202.046-1.638.645-.94.91-1.85.927-1.896-.02-.01-1.777-.68-1.795-2.697zm-1.684-4.956c.467-.564.782-1.348.696-2.129-.672.027-1.487.446-1.97%201.01-.432.5-.811%201.297-.71%202.063.751.058%201.517-.38%201.984-.944z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}

.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ru {
    background-image: url(/images/login/ru/reg_iphone_ru.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ru {
        background-image: url(/images/login/ru/reg_iphone_ru_2x.png);
        background-size: 198px 396px
    }
}

.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--en {
    background-image: url(/images/login/en/reg_iphone_en.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--ios.LoginMobilePromoDevice--en {
        background-image: url(/images/login/en/reg_iphone_en_2x.png);
        background-size: 198px 396px
    }
}

.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ua {
    background-image: url(/images/login/ua/reg_iphone_ua.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--ios.LoginMobilePromoDevice--ua {
        background-image: url(/images/login/ua/reg_iphone_ua_2x.png);
        background-size: 198px 396px
    }
}

.LoginMobilePromoDevice--ios.LoginMobilePromoDevice--br {
    background-image: url(/images/login/br/reg_iphone_br.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .LoginMobilePromoDevice--ios.LoginMobilePromoDevice--br {
        background-image: url(/images/login/br/reg_iphone_br_2x.png);
        background-size: 198px 396px
    }
}

.login_mobile_close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/images/cross_popup.png) no-repeat 25px 25px;
    padding: 25px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    cursor: pointer
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .login_mobile_close {
        background-image: url(/images/cross_popup_2x.png);
        background-size: 12px 12px
    }
}

.login_mobile_close:hover {
    opacity: 1;
    filter: none
}

.login_mobile_apps {
    position: relative;
    padding: 38px 50px;
    text-align: center
}

.login_mobile_header {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 8px
}

.login_mobile_info {
    font-size: 14px;
    color: #626d7a;
    line-height: 20px
}

.login_mobile_install_button {
    margin: 26px auto 6px
}

.login_about_mobile {
    font-size: 12.5px;
    text-align: center;
    padding: 12px 25px 14px;
    background: #fafbfc;
    color: #000;
    border-top: 1px solid #e7e8ec;
    border-radius: 0 0 4px 4px
}

.login_all_products_button {
    display: inline-block;
    line-height: 15px;
    margin-top: 24px
}

.login_all_products_button:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    -o-transition: transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
    background: url('/images/svg_icons/login_all_products_arrow.svg') no-repeat 50% / contain
}

.login_all_products_button:hover:after {
    -o-transform: translateX(2px);
    transform: translateX(2px)
}

.login_app_sms_sent {
    display: none;
    color: #939393;
    text-align: center;
    font-size: 14px;
    height: 30px;
    margin: 26px auto 6px
}

.login_app_sms_phone_wrap {
    margin-top: 20px;
    text-align: center
}

.login_app_sms_reg_phone {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.login_app_sms_reg_phone_change {
    margin-left: 3px
}

#login_app_sms_phone_chooser {
    display: none
}

.login_app_sms_row {
    padding-bottom: 10px
}

.login_app_sms_label {
    float: left;
    text-align: right;
    width: 175px;
    padding: 5px 12px 0 0;
    color: #656565
}

.login_app_sms_labeled {
    overflow: hidden;
    width: 160px
}

.login_page .page_block {
    margin: 50px auto;
    padding: 37px 30px;
    width: 680px
}

.login_page #footer_wrap {
    padding: 24px 15px 35px;
    border-top: 1px solid #e4e8ed
}

.login_page .msg {
    margin: 20px 0 30px;
    background-image: none;
    padding-left: 18px
}

.login_page .msg .listing {
    margin: 19px 0;
    color: #000
}

.login_page .msg .listing li {
    padding: 0 0 0 3px
}

.login_fast_restore_wrap,
.login_form_wrap {
    margin: 0 auto;
    width: 270px
}

.login_fast_restore_wrap input.big_text,
.login_form_wrap input.big_text {
    margin-bottom: 15px;
    width: 270px
}

.login_header {
    margin: 0 0 25px;
    text-align: center;
    font-size: 20px
}

.login_buttons_wrap {
    margin-top: 20px
}

.login_button {
    width: 105px
}

.login_reg_button {
    margin-left: 10px;
    width: 155px;
    background-color: #5fb053
}

.login_reg_button.hover,
.login_reg_button:hover {
    background-color: #68b35d
}

.login_reg_button.active,
.login_reg_button:active {
    background-color: #5aa84d
}

.login_link {
    display: block;
    margin: 38px 0 15px
}

.login_tt {
    width: 270px
}

.login_fast_restore_wrap {
    margin: 38px auto 0
}

.login_fast_restore_wrap .login_fast_restore_link {
    display: block
}

.login_fast_restore_wrap .login_fast_restore,
.login_fast_restore_wrap.shown .login_fast_restore_link {
    display: none
}

.login_fast_restore_wrap.shown .login_fast_restore {
    display: block
}

.login_fast_restore_wrap .subheader {
    margin-bottom: 18px
}

.login_fast_restore_wrap .msg {
    margin-left: -205px;
    margin-right: -205px
}

.login_fast_restore_resend {
    padding-top: 15px;
    color: #656565;
    text-align: center;
    font-size: 12.5px
}

.login_fast_restore_resend a {
    font-size: 13px
}

.login_fast_restore_resend .progress_inline {
    height: 15px
}

.login_relogin_wrap {
    margin-top: 50px
}

.login_relogin_title {
    margin: 0;
    line-height: 24px;
    text-align: center;
    padding: 40px 0 0;
    font-size: 20px;
    letter-spacing: 0.4px
}

.login_relogin_msg {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    line-height: 19px;
    padding-top: 10px
}

.login_relogin_photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative;
    margin: 32px auto 0;
    display: block
}

.login_relogin_photo:before {
    background-color: #fff
}

.login_relogin_photo:before,
.login_relogin_photo:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px
}

.login_relogin_photo:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .login_relogin_photo:after {
        background-image: url(/images/camera_200.png)
    }
}

.login_relogin_name {
    line-height: 19px;
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 12px
}

.login_relogin_city {
    padding-top: 6px;
    line-height: 15px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #656565
}

.login_relogin_btns {
    text-align: center;
    padding: 32px 0 40px
}

.login_relogin_btns .flat_button+.flat_button {
    margin-left: 10px
}

.login_change_mail_section.page_section .info {
    text-align: left
}

.login_ban_message_call {
    color: #828282
}

.login_change_mail_box {
    padding: 10px 0px 0px
}

.login_change_mail_box .clear_fix {
    padding-bottom: 10px
}

.login_change_mail_box .label {
    color: #656565;
    padding: 8px 10px 0px;
    text-align: right;
    width: 120px
}

.login_change_mail_box .labeled {
    width: 210px
}

.login_change_mail_box .labeled .big_text {
    width: 250px
}

.login_change_mail_box .error {
    margin: 0 0 20px
}

.login_change_mail_box .done_msg {
    padding-bottom: 10px
}

.login_user {
    width: 100px;
    margin: 0 auto;
    padding: 0 0 20px;
    overflow: hidden
}

.login_user_img {
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.login_user_name {
    padding: 0 0 25px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.login_user_name b {
    font-weight: 500
}

.login_box_form_wrap .login_buttons_wrap {
    margin-top: 0
}

.login_box_form_wrap .flat_button {
    margin-right: 15px
}

.login_box_form_wrap .login_forgot_wrap {
    display: inline-block;
    padding-top: 7px;
    text-align: center
}

.login_box_form_wrap .login_forgot_wrap .checkbox,
.login_box_form_wrap .login_forgot_wrap .login_forgot {
    line-height: 20px
}

.login_box_form_wrap .login_forgot_wrap .checkbox {
    display: none
}

.login_box_form_wrap .login_forgot_wrap .checkbox:before {
    float: none;
    display: inline-block;
    margin: 0 7px -3px 0
}

.login_compact_mobile_promo {
    position: relative;
    margin: 29px 350px 0 0;
    padding: 56px 40px 58px;
    overflow: hidden
}

.login_compact_mobile_promo_picture {
    position: absolute;
    right: 32px;
    bottom: 0;
    width: 350px;
    height: 200px
}

.login_compact_mobile_promo_title {
    margin: 0 0 16px;
    max-width: 150px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.login_compact_mobile_promo_text {
    max-width: 150px;
    color: #656565;
    font-size: 14px;
    line-height: 19px
}