#meminfo_css {
    display: none
}

.Button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 12.5px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai";
    line-height: 15px;
    outline: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative
}

.Button+.Button {
    margin: 0 0 0 10px
}

.Button--primary {
    background: #5181b8;
    color: #fff;
    border-radius: 4px
}

.Button--primary:not(.Button--disabled):focus,
.Button--primary:not(.Button--disabled):hover {
    background: #5b88bd
}

.Button--primary:not(.Button--disabled):active {
    background-color: #4872a3
}

.Button--secondary {
    background: #e5ebf1;
    color: #55677d;
    border-radius: 4px
}

.Button--secondary:not(.Button--disabled):focus,
.Button--secondary:not(.Button--disabled):hover {
    background: #dfe6ed
}

.Button--secondary:not(.Button--disabled):active {
    background-color: #dae2ea
}

.Button--negative {
    background: #e64646;
    color: #fff;
    border-radius: 4px
}

.Button--negative:not(.Button--disabled):focus,
.Button--negative:not(.Button--disabled):hover {
    background: #eb5050
}

.Button--negative:not(.Button--disabled):active {
    background-color: #db3b3b
}

.Button--positive {
    background: #4bb34b;
    color: #fff;
    border-radius: 4px
}

.Button--positive:not(.Button--disabled):focus,
.Button--positive:not(.Button--disabled):hover {
    background: #51b851
}

.Button--positive:not(.Button--disabled):active {
    background-color: #43a843
}

.Button--tertiary {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    color: #55677d;
    background: transparent
}

.Button--tertiary:not(.Button--disabled):focus,
.Button--tertiary:not(.Button--disabled):hover {
    background: #e5ebf1
}

.Button--tertiary:not(.Button--disabled):active {
    background-color: #dae2ea
}

.Button--link {
    display: inline-block;
    color: #2a5885
}

.Button--link:not(.Button--disabled):focus,
.Button--link:not(.Button--disabled):hover {
    text-decoration: underline
}

.Button--size-s:not(.Button--link) {
    padding: 5px 16px 6px
}

.Button--size-s:not(.Button--disabled):not(.Button--link):active {
    padding: 6px 16px 5px
}

.Button--size-m:not(.Button--link) {
    padding: 7px 16px 8px
}

.Button--size-m:not(.Button--disabled):not(.Button--link):active {
    padding: 8px 16px 7px
}

.Button--size-l:not(.Button--link) {
    padding: 12px 25px 13px
}

.Button--size-l:not(.Button--disabled):not(.Button--link):active {
    padding: 13px 25px 12px
}

.Button--mobile,
.Button--wide {
    display: block;
    width: 100%
}

.Button--mobile {
    padding: 14px 0 15px;
    background: #fff;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 0 #e3e4e8, 0 -1px 0 #e3e4e8
}

.Button--mobile:hover {
    background: #fafbfc
}

.Button--mobile:not(.Button--disabled):active {
    padding: 15px 0 14px
}

.Button--wide+.Button--wide {
    margin: 10px 0 0
}

.Button--disabled {
    opacity: .5;
    cursor: default
}

.Button--overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.Button--keyboard-button {
    border-radius: 6px
}

.Button--keyboard-button:before {
    display: inline-block;
    position: relative;
    margin: 0 4px 0 -7px;
    vertical-align: -7px;
    width: 24px;
    height: 24px
}

.Button--keyboard-button:not(.Button--text) {
    font-size: 13px;
    font-weight: 500;
    color: #3670b3
}

.Button--keyboard-button.Button--vkpay {
    color: #fff
}

.Button--location:before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23528bcc%22%20d%3D%22M6%2C10q0%2C3.27%2C5%2C9.14h0a1.29%2C1.29%2C0%2C0%2C0%2C1.82.14l.14-.14q5-5.88%2C5-9.14a5.78%2C5.78%2C0%2C0%2C0-6-6A5.78%2C5.78%2C0%2C0%2C0%2C6%2C10Zm4%2C0a2%2C2%2C0%2C1%2C1%2C2%2C2A2%2C2%2C0%2C0%2C1%2C10%2C10Z%22%2F%3E%3C%2Fsvg%3E');
    content: ''
}

.Button--open_app:before {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23528bcc%22%20d%3D%22M14.5%2C19h3A1.5%2C1.5%2C0%2C0%2C0%2C19%2C17.5v-3A1.5%2C1.5%2C0%2C0%2C0%2C17.5%2C13h-3A1.5%2C1.5%2C0%2C0%2C0%2C13%2C14.5v3A1.5%2C1.5%2C0%2C0%2C0%2C14.5%2C19ZM11%2C17.5v-3A1.5%2C1.5%2C0%2C0%2C0%2C9.5%2C13h-3A1.5%2C1.5%2C0%2C0%2C0%2C5%2C14.5v3A1.5%2C1.5%2C0%2C0%2C0%2C6.5%2C19h3A1.5%2C1.5%2C0%2C0%2C0%2C11%2C17.5ZM6.5%2C11h3A1.5%2C1.5%2C0%2C0%2C0%2C11%2C9.5v-3A1.5%2C1.5%2C0%2C0%2C0%2C9.5%2C5h-3A1.5%2C1.5%2C0%2C0%2C0%2C5%2C6.5v3A1.5%2C1.5%2C0%2C0%2C0%2C6.5%2C11Zm6.32-1.94%2C2.12%2C2.12a1.49%2C1.49%2C0%2C0%2C0%2C2.12%2C0l2.12-2.12a1.49%2C1.49%2C0%2C0%2C0%2C0-2.12L17.06%2C4.82a1.49%2C1.49%2C0%2C0%2C0-2.12%2C0L12.82%2C6.94A1.49%2C1.49%2C0%2C0%2C0%2C12.82%2C9.06Z%22%2F%3E%3C%2Fsvg%3E');
    content: ''
}

.Button--vkpay:after {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2052%2024%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M28.0263591%207.94C28.5175203%207.94%2028.9858297%208.04049933%2029.4313015%208.24150101%2029.8767732%208.44250268%2030.2679829%208.72390081%2030.6049423%209.08570383%2030.9419017%209.44750684%2031.210323%209.87534685%2031.4102142%2010.3692367%2031.6101053%2010.8631265%2031.7100494%2011.4029515%2031.7100494%2011.9887278%2031.7100494%2012.5745041%2031.6101053%2013.1143291%2031.4102142%2013.6082189%2031.210323%2014.1021088%2030.9419017%2014.5299488%2030.6049423%2014.8917518%2030.2679829%2015.2535548%2029.8767732%2015.5349529%2029.4313015%2015.7359546%2028.9858297%2015.9369563%2028.5175203%2016.0374556%2028.0263591%2016.0374556%2027.6951109%2016.0374556%2027.4067008%2015.9972559%2027.1611203%2015.9168552%2026.9155397%2015.8364545%2026.7013738%2015.7503123%2026.5186161%2015.6584258%2026.3130138%2015.5435677%2026.1302589%2015.4114828%2025.970346%2015.2621673L25.970346%2018.7078931%2024%2018.7078931%2024%208.02614314%2025.4563427%208.02614314%2025.7990115%208.80143145C25.9703468%208.64063011%2026.170235%208.49705963%2026.398682%208.37071572%2026.592862%208.26734343%2026.8270168%208.16971551%2027.1011532%208.07782903%2027.3752897%207.98594255%2027.6836886%207.94%2028.0263591%207.94zM25.7990115%2011.9887278C25.7990115%2012.643419%2025.9874775%2013.1660155%2026.3644152%2013.556533%2026.7413528%2013.9470506%2027.2096622%2014.1423064%2027.7693575%2014.1423064%2028.3290528%2014.1423064%2028.7973622%2013.9470506%2029.1742998%2013.556533%2029.5512375%2013.1660155%2029.7397035%2012.643419%2029.7397035%2011.9887278%2029.7397035%2011.3340366%2029.5512375%2010.8114401%2029.1742998%2010.4209226%2028.7973622%2010.030405%2028.3290528%209.83514919%2027.7693575%209.83514919%2027.2096622%209.83514919%2026.7413528%2010.030405%2026.3644152%2010.4209226%2025.9874775%2010.8114401%2025.7990115%2011.3340366%2025.7990115%2011.9887278zM36.339374%207.94C36.7848457%207.94%2037.1960442%208.01752806%2037.5729819%208.17258649%2037.9499195%208.32764493%2038.2754517%208.54300064%2038.5495881%208.81866008%2038.8237246%209.09431952%2039.0378905%209.4216602%2039.1920923%209.80069193%2039.346294%2010.1797237%2039.4233937%2010.5932066%2039.4233937%2011.0411532L39.4233937%2015.9513125%2037.9670511%2015.9513125%2037.6243822%2015.1760242C37.4416246%2015.3368255%2037.2417364%2015.480396%2037.0247117%2015.6067399%2036.8305317%2015.721598%2036.596377%2015.8220973%2036.3222405%2015.9082409%2036.0481041%2015.9943845%2035.7397052%2016.0374556%2035.3970346%2016.0374556%2034.5403582%2016.0374556%2033.8835827%2015.8278427%2033.4266886%2015.4086107%2032.9697945%2014.9893786%2032.7413509%2014.452425%2032.7413509%2013.7977338%2032.7413509%2013.4072163%2032.8184506%2013.0482901%2032.9726524%2012.7209445%2033.1268541%2012.3935989%2033.3867088%2012.1122008%2033.7522241%2011.8767417%2034.1177393%2011.6412826%2034.6003265%2011.4575124%2035.2%2011.3254256%2035.7996735%2011.1933388%2036.5506819%2011.1272964%2037.4530478%2011.1272964%2037.4530478%2010.6908356%2037.3359704%2010.3520093%2037.1018122%2010.1108072%2036.867654%209.86960524%2036.5563995%209.74900604%2036.1680395%209.74900604%2035.9053254%209.74900604%2035.6968706%209.79494859%2035.5426689%209.88683507%2035.3884671%209.97872155%2035.2656787%2010.0763495%2035.1742998%2010.1797218%2035.0714987%2010.3060657%2035.0029656%2010.4496361%2034.9686985%2010.6104375L32.9983526%2010.6104375C33.044042%2010.2428916%2033.1496971%209.89832243%2033.3153213%209.57671975%2033.4809454%209.25511707%2033.7065334%208.97371894%2033.9920923%208.73251693%2034.2776511%208.49131492%2034.617461%208.29893049%2035.0115321%208.15535786%2035.4056033%208.01178524%2035.8482128%207.94%2036.339374%207.94zM35.7397035%2014.486879C36.2537093%2014.486879%2036.6677634%2014.3346943%2036.9818781%2014.0303203%2037.2959928%2013.7259464%2037.4530478%2013.3325633%2037.4530478%2012.8501593L37.4530478%2012.5055867C36.8705078%2012.5055867%2036.4021984%2012.5314294%2036.0481054%2012.5831155%2035.6940125%2012.6348016%2035.4170246%2012.7094583%2035.2171334%2012.8070877%2035.0172423%2012.9047171%2034.8830316%2013.0224449%2034.8144975%2013.1602746%2034.7459634%2013.2981043%2034.7116969%2013.4531604%2034.7116969%2013.6254476%2034.7116969%2013.8436779%2034.8087854%2014.0418052%2035.0029654%2014.2198353%2035.1971454%2014.3978653%2035.4427223%2014.486879%2035.7397035%2014.486879zM40.1186161%208.02614314L42.1746293%208.02614314%2044.1449753%2013.1947318%2045.9439868%208.02614314%2048%208.02614314C47.4403047%209.47335521%2046.9320177%2010.7827179%2046.4751236%2011.9542705%2046.2809436%2012.4596462%2046.089622%2012.9535286%2045.9011532%2013.4359326%2045.7126844%2013.9183367%2045.5442072%2014.3576623%2045.3957166%2014.7539228%2045.2472261%2015.1501832%2045.1215821%2015.4803953%2045.0187809%2015.7445689%2044.9159797%2016.0087425%2044.8531577%2016.1637987%2044.830313%2016.2097419%2044.636133%2016.6806601%2044.4448115%2017.079786%2044.2563427%2017.4071316%2044.0678739%2017.7344772%2043.8651301%2018.0015183%2043.6481054%2018.2082629%2043.4310807%2018.4150074%2043.196926%2018.5643207%2042.9456343%2018.6562072%2042.6943425%2018.7480937%2042.408788%2018.7940362%2042.0889621%2018.7940362%2041.9975833%2018.7940362%2041.9090614%2018.7911648%2041.8233937%2018.7854219%2041.7377261%2018.779679%2041.6663375%2018.7710648%2041.6092257%2018.759579%2041.5292692%2018.7480932%2041.4607361%2018.7308647%2041.4036244%2018.7078931L41.4036244%2017.0711733C41.8376738%2017.0711733%2042.1717726%2016.9735454%2042.4059308%2016.7782867%2042.640089%2016.5830279%2042.8199884%2016.3360867%2042.9456343%2016.0374556L43.1169687%2015.6067399%2040.1186161%208.02614314zM9.54666667%204C14.0266667%204%209.97333333%204%2014.4533333%204%2018.9333333%204%2020%205.06666667%2020%209.54666667%2020%2014.0266667%2020%209.97333333%2020%2014.4533333%2020%2018.9333333%2018.9333333%2020%2014.4533333%2020%209.97333333%2020%2014.0266667%2020%209.54666667%2020%205.06666667%2020%204%2018.9333333%204%2014.4533333%204%209.97333333%204%2012.0483607%204%209.54666667%204%205.06666667%205.06666667%204%209.54666667%204zM17.1861661%209.42885176C17.2602965%209.18164766%2017.1861661%209%2016.8333537%209L15.666687%209C15.3700421%209%2015.2332845%209.15691696%2015.159113%209.32994954%2015.159113%209.32994954%2014.5658232%2010.7760781%2013.7253498%2011.7154331%2013.4534356%2011.9873473%2013.3298232%2012.0738636%2013.1815008%2012.0738636%2013.1073498%2012.0738636%2013%2011.9873473%2013%2011.7401638L13%209.42885176C13%209.13220684%2012.9139117%209%2012.666687%209L10.8333537%209C10.6479763%209%2010.5364889%209.13767969%2010.5364889%209.26816395%2010.5364889%209.5493779%2010.956705%209.61422912%2011.0000203%2010.4052822L11.0000203%2012.123325C11.0000203%2012.5%2010.9319949%2012.5682924%2010.7836724%2012.5682924%2010.3881665%2012.5682924%209.42609705%2011.1157034%208.85550102%209.45356188%208.74367794%209.13049914%208.63152112%209%208.33335368%209L7.16668701%209C6.83335368%209%206.76668294%209.15691696%206.76668294%209.32994954%206.76668294%209.63895981%207.16220951%2011.1716047%208.60831749%2013.1986372%209.57238263%2014.582939%2010.9306871%2015.3333333%2012.166687%2015.3333333%2012.9082787%2015.3333333%2013.0000203%2015.1666667%2013.0000203%2014.8795839L13.0000203%2013.8333333C13.0000203%2013.5%2013.0702744%2013.4334759%2013.3051131%2013.4334759%2013.4781457%2013.4334759%2013.7747906%2013.5199922%2014.4669621%2014.187433%2015.2579947%2014.9784655%2015.3884069%2015.3333333%2015.8333537%2015.3333333L17.0000203%2015.3333333C17.3333537%2015.3333333%2017.5000203%2015.1666667%2017.4038729%2014.8377593%2017.2986588%2014.5099509%2016.9209835%2014.0343445%2016.4198437%2013.4705514%2016.1479089%2013.1491963%2015.7400375%2012.8031312%2015.6164252%2012.6300574%2015.4433926%2012.4076046%2015.4928334%2012.3087024%2015.6164252%2012.1109597%2015.6164252%2012.1109597%2017.0378436%2010.1086373%2017.1861661%209.42885176z%22%2F%3E%3C%2Fsvg%3E');
    content: '';
    display: inline-block;
    position: relative;
    margin: 0 -7px 0 2px;
    vertical-align: -8px;
    height: 24px;
    width: 52px
}

.InfoBlock .InfoBlock--header {
    padding: 9px 18px;
    background-color: #dfe5eb;
    color: #36638e;
    font-weight: 700
}

.InfoBlock .InfoBlock--header .InfoBlock--loading {
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin-right: -9px
}

.InfoBlock .InfoBlock--content .InfoBlock--content-expand_button {
    margin: 8px 18px 0
}

.ArchivePage__requests {
    margin-top: 10px
}

.ArchivePage__requests-row {
    line-height: 34px
}

.ArchivePage__requests-row .ArchivePage__requests-row__log-button {
    vertical-align: middle
}

.ArchivePage__requests-row .ArchivePage__requests-row__log-button.ArchivePage__requests-row__delete-doc-button {
    color: #c23838
}

.ArchivePage .ArchivePage__requests__all-logs-button {
    font-weight: 400
}

.ArchivePage .ArchivePage__show-more-button {
    width: 95%;
    margin: 8px auto;
    display: block
}

.mi_ajax_mark.mi_ajax_mark_big .mi_ajax_mark_loading,
.mi_ajax_mark .mi_ajax_mark_loading {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.box_body .deleted .member_name_wrap {
    margin-bottom: 10px
}

.box_body .deleted .group {
    margin-top: 15px
}

.box_body .deleted .group .header {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.box_body .deleted .group .rows .row {
    padding-top: 5px
}

.box_body .deleted .group .rows .row.wiped_dialog .text {
    width: 560px
}

.box_body .deleted .group .rows .row.wiped_dialog .date {
    width: 130px
}

.box_body .photos_amount_in_albums_box .photos_clean_queue {
    margin-bottom: 15px
}

.box_body .photos_amount_in_albums_box .header {
    padding: 0 8px 8px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.box_body .photos_amount_in_albums_box .row {
    clear: both;
    padding: 8px
}

.box_body .photos_amount_in_albums_box .row:hover {
    background-color: #eff1f3
}

.box_body .photos_amount_in_albums_box .row .name {
    float: left
}

.box_body .photos_amount_in_albums_box .row .photos_amount {
    float: right
}

.uploaded_stories_rows {
    padding: 10px
}

.uploaded_stories_rows .story {
    margin: 10px;
    display: inline-block
}

.uploaded_stories_rows .story .header {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    background: #000;
    background: rgba(0, 0, 0, .4);
    width: 130px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border-radius: 6px 6px 0px 0px
}

.uploaded_stories_rows .story .header a {
    color: #fff
}

.uploaded_stories_rows .story .story_preview {
    width: 135px;
    height: 255px;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px
}

.deleted_content_page {
    padding: 16px 20px
}

.deleted_content_page .info_block:not(:first-child) {
    margin-top: 8px
}

.deleted_content_page .info_block .info_type {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.deleted_content_page .thumbnail {
    margin-top: 12px;
    max-width: 920px
}

.mi_body_adaptive #page_layout {
    padding: 0;
    width: 100%!important
}

.mi_body_adaptive .scroll_fix {
    width: 100%!important
}

.mi_body_adaptive #page_body {
    margin-top: 0;
    width: 100%!important
}

.mi_body_adaptive #page_header_cont {
    display: none!important
}

.mi_body_adaptive .page_block:first-child {
    margin-top: 0
}

.mi_body_adaptive #footer_wrap {
    display: none
}

.mi_body_adaptive .page_block_header {
    padding: 0 15px
}

.mi_body_adaptive .ui_tabs {
    padding: 0 5px
}

.mi_section {
    padding: 0 0 18px
}

.mi_section h2 {
    margin: 5px 0 7px;
    font-weight: 700;
    font-size: 1.09em;
    color: #36638e;
    border-color: #b9c4da
}

.mi_meminforow_labeled {
    padding-top: 10px;
    max-width: 300px
}

.mi_body_adaptive .mi_meminforow_labeled {
    max-width: auto
}

.mi_meminforow_label {
    padding-top: 10px;
    padding-right: 7px;
    color: #777
}

table.history tr td,
table.history tr th {
    padding-top: 12px
}

table.history tr.old_session {
    color: #999
}

table.history .cur_session {
    color: #999;
    padding-left: 5px
}

.activity_history_link {
    padding-top: 20px
}

.settings_about_tt table .tt_text {
    color: #000;
    padding: 10px;
    max-width: 400px;
    line-height: 16px
}

.settings_about_tt table.toup1 .bottom_pointer {
    margin-right: 0px;
    margin-left: 64px;
    display: block;
    background: url(/images/tooltip_arrow_white.gif) no-repeat
}

.settings_about_tt table.toup .top_pointer {
    margin-right: 0px;
    margin-left: 64px;
    display: block;
    bottom: -2px;
    background: url(/images/tooltip_arrow_up.gif) no-repeat
}

#member_apps_table,
#member_apps_table td,
#member_apps_table th {
    border: none
}

#member_apps_table th {
    background-color: #f5f7f9
}

.mi_section .msg {
    margin-bottom: 10px
}

.mi_payments_buttons {
    float: right;
    margin-right: 28px;
    padding-top: 10px;
    width: 200px
}

.mi_body_adaptive .mi_payments_buttons {
    margin-right: 18px
}

.mi_payments_buttons .info_msg {
    margin: 0 0 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #36638e;
    font-weight: 700;
    font-size: 1.19em
}

#mi_payments_buttons>div {
    margin-bottom: 10px
}

.mi_payments_info {
    margin-left: 28px;
    border-collapse: collapse;
    width: 535px
}

.mi_body_adaptive .mi_payments_info {
    margin-left: 18px
}

.mi_payments_info .mi_meminforow_label {
    width: 180px;
    vertical-align: top
}

.mi_section_title {
    padding: 9px 18px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dfe5eb;
    color: #36638e
}

.mi_body_adaptive .mi_section_title {
    padding: 9px 10px
}

.mi_section_data {
    margin: 0 28px;
    padding: 10px 0 0
}

.mi_body_adaptive .mi_section_data {
    margin: 0 18px
}

.mi_section_data.mi_contests {
    padding-top: 15px
}

.mi_section_data.mi_contests h4 {
    margin: 15px 0 5px
}

.mi_section_data.mi_contests .info_msg {
    margin: 0 0 15px
}

.mi_section_data.mi_contests .mi_history_table {
    margin: 0px
}

.mi_section_data.mi_contests .mi_history_table td {
    padding: 3px 10px 10px 0px
}

.mi_section_data.mi_contests .flat_button {
    margin-top: 5px
}

.mi_tabsbar {
    padding: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8ebed
}

.mi_payments_table {
    margin: 10px;
    width: 100%
}

.mi_payments_table td,
.mi_payments_table th {
    padding: 0 10px 10px 0
}

.mi_history_table {
    margin: 10px
}

.mi_history_table td,
.mi_history_table th {
    padding: 0 10px 10px 0
}

.mi_vkpay_history_table td {
    vertical-align: top
}

.mi_more_link {
    margin: 15px 18px 0;
    padding: 7px 0px;
    border-radius: 2px;
    color: #738392;
    text-align: center;
    display: block
}

.mi_more_link.flat_button {
    background-color: #e9edf1
}

.mi_body_adaptive .mi_more_link {
    margin: 10px 10px 0
}

#mi_money_transfer_history_tabsbar_progress,
#mi_payments_tabsbar_progress,
#mi_votes_history_tabsbar_progress {
    padding: 14px 5px 0 0;
    display: none
}

.mi_summary_tab_hidden {
    display: none
}

.mi_payments_empty {
    text-align: center
}

.mi_payments_empty.info_msg {
    margin: 10px 0 0
}

#change_balance_box td {
    vertical-align: top
}

.mi_new_balance_wrap {
    padding-top: 5px
}

#balance_change_votes {
    width: 170px
}

#balance_comment {
    width: 170px;
    height: 40px
}

#change_balance_box .radiobtn {
    padding-bottom: 5px
}

#change_balance_error {
    display: none
}

#refund_payment_error .msg {
    margin: 0
}

#refund_amount {
    width: 180px
}

#refund_comment {
    width: 180px;
    height: 50px
}

.mi_status_cancelled,
.mi_status_cancelled_fm,
.mi_status_in_process {
    color: red;
    font-weight: 700;
    white-space: nowrap
}

.mi_status_cancelled_fm {
    color: #45688e
}

.mi_status_in_process {
    color: #878700
}

.mi_payment_status_tt_row {
    cursor: pointer;
    border-bottom: 1px dashed
}

.mi_payment_status_tt.tt_w .tt_text {
    line-height: 19px;
    width: 280px
}

.mi_tt_label {
    color: #777
}

.mi_history_add_votes {
    color: green;
    font-weight: 700
}

.mi_history_withdraw_votes {
    color: red;
    font-weight: 700
}

#mi_access_check {
    padding: 200px
}

.mi_blank {
    padding: 100px 50px;
    text-align: center;
    color: #777;
    font-size: 15px
}

.mi_subtabsbar {
    padding: 5px 18px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8ebed
}

.mi_summary_subtab_hidden {
    display: none
}

#mi_interests_table td {
    padding: 3px 0
}

.mi_interest_bar {
    background-color: #dae2e8;
    height: 16px
}

.mi_personal_info_disclaimer {
    padding: 10px 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dae1e8;
    line-height: 160%
}

.mi_privacy_label {
    margin-bottom: 5px
}

.mi_privacy_comment {
    margin-bottom: 8px
}

.mi_privacy_comment .cl_priv_comment {
    width: 300px;
    height: 45px;
    padding: 6px 8px 8px 7px
}

.mi_close_privacy_text {
    margin-top: 0px
}

.mi_deleted_content_wrap {
    padding: 10px;
    margin-top: -5px
}

.mi_deleted_content_wrap a {
    text-decoration: none
}

.mi_deleted_content_wrap .mi_deleted_photo {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-right: 5px;
    background: 50% 50% no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    position: relative
}

.mi_deleted_content_wrap .mi_deleted_photo .mi_deleted_photo_time {
    position: absolute;
    top: -20px;
    color: #939393
}

.mi_deleted_content_wrap .mi_deleted_photo:last-child {
    margin-bottom: 0
}

.mi_deleted_content_wrap .mi_deleted_video {
    width: 150px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px
}

.mi_deleted_content_wrap .mi_deleted_video .mi_deleted_video_img {
    width: 100%;
    display: block
}

.mi_deleted_photo_counter .pg_in {
    font-size: 14px;
    height: 43px;
    line-height: 50px
}

.mi_section_actions {
    margin: 8px 0 0;
    padding: 0 28px
}

.mi_body_adaptive .mi_section_actions {
    padding: 0 18px
}

.mi_table {
    width: 100%;
    border-collapse: collapse
}

.mi_table .mi_row {
    line-height: 26px;
    position: relative
}

.mi_table .mi_row:first-child td {
    padding-top: 6px
}

.mi_table .mi_row .mi_row_title {
    display: inline-block;
    padding-left: 20px;
    color: #828282;
    width: 150px
}

.mi_table .mi_row .mi_row_data {
    display: inline-block;
    max-width: 599px
}

.mi_table .mi_row .mi_row_data:not(:last-child) {
    width: 160px
}

.mi_table .mi_row .mi_row_data:last-child {
    padding-right: 20px
}

.mi_change_label_recent {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mi_slim_button {
    font-size: 12px;
    padding: 3px 12px 4px
}

.mi_slim_button:active {
    padding: 4px 12px 3px
}

tr:first-child td .mi_right_column {
    margin-top: 6px
}

.mi_right_column {
    position: absolute;
    right: 20px;
    top: 3px
}

.mi_ajax_mark {
    display: inline-block
}

.mi_ajax_mark.mi_ajax_mark_big {
    display: block;
    text-align: center;
    height: auto;
    vertical-align: middle
}

.mi_ajax_mark.mi_ajax_mark_big .mi_ajax_mark_loading {
    display: inline-block;
    width: 34px;
    height: 34px;
    -o-animation-name: round_spinner;
    animation-name: round_spinner;
    -o-animation-duration: 700ms;
    animation-duration: 700ms;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url(/images/icons/round_spinner_big.png);
    margin-top: 16px;
    background-size: auto
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .mi_ajax_mark.mi_ajax_mark_big .mi_ajax_mark_loading {
        background-image: url(/images/icons/round_spinner_big_2x.png);
        background-size: 34px 34px
    }
}

.mi_ajax_mark .mi_ajax_mark_loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    -o-animation-name: round_spinner;
    animation-name: round_spinner;
    -o-animation-duration: 700ms;
    animation-duration: 700ms;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url(/images/icons/round_spinner.png);
    margin: 0 8px;
    height: 12px;
    width: 12px;
    background-size: 12px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .mi_ajax_mark .mi_ajax_mark_loading {
        background-image: url(/images/icons/round_spinner_2x.png);
        background-size: 16px 16px
    }
}

.mi_page_block {
    padding-bottom: 20px
}

.mi_header {
    height: auto;
    line-height: 40px;
    padding-top: 10px
}

.mi_header .page_block_header_inner {
    display: inline
}

.mi_header .page_block_header_extra {
    margin-top: -8px
}

.mi_personal_info {
    padding: 18px 20px 10px
}

.ui_tabs.mi_tabs {
    line-height: 24px;
    font-size: 14px;
    padding: 0
}

.ui_tabs.mi_tabs li:first-child>.ui_tab {
    margin-left: -5px
}

.ui_tabs.mi_tabs .ui_tab {
    margin: 0 3px -1px
}

.mi_table>tbody>tr>td:first-child,
.mi_table>thead>tr>th:first-child {
    padding-left: 28px
}

.mi_body_adaptive .mi_table>tbody>tr>td:first-child,
.mi_body_adaptive .mi_table>thead>tr>th:first-child {
    padding-left: 18px
}

.mi_table>tbody>tr>td:last-child,
.mi_table>thead>tr>th:last-child {
    padding-right: 28px
}

.mi_body_adaptive .mi_table>tbody>tr>td:last-child,
.mi_body_adaptive .mi_table>thead>tr>th:last-child {
    padding-right: 18px
}

.mi_table_changename>tbody>tr>td:first-child {
    width: 150px
}

.mi_ban_comment {
    height: 60px;
    width: 300px
}

.mi_ban_form .mi_ban_wrap {
    padding: 10px 100px 0
}

.mi_ban_form .mi_ban_wrap .trusted_warning {
    margin-top: 10px
}

.mi_ban_form .ban_subcause_text {
    padding-left: 8px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 300px
}

.mi_ban_form .select_ban_cat {
    margin-top: -6px
}

.mi_ban_form .row {
    margin-top: 10px;
    min-height: 30px
}

.mi_ban_form .row.row_small {
    margin-top: 0;
    min-height: 20px
}

.mi_ban_form .row.row_small .labeled {
    padding-top: 0;
    padding-bottom: 6px
}

.mi_ban_form .label {
    float: left;
    width: 100px;
    color: #666;
    text-align: right;
    padding-top: 8px
}

.mi_ban_form .labeled {
    padding-left: 10px;
    text-align: left;
    float: left;
    line-height: 18px;
    padding-top: 6px
}

.mi_ban_form .labeled.labeled_no_label {
    padding-left: 110px
}

.mi_ban_form .row_content {
    float: left;
    padding: 0 0 0 5px
}

.mi_ban_form .row_content_near_input {
    line-height: 28px;
    padding-bottom: 2px
}

.mi_ban_form .fast_action {
    border-bottom: 1px dotted;
    line-height: 12px;
    color: #656565;
    display: inline-block
}

.mi_ban_form .fast_action:hover {
    border-bottom: 1px solid;
    text-decoration: none
}

.mi_table_block_row__reason>span {
    display: block
}

.mi_group_chats_warning {
    padding-bottom: 10px
}

.mi_light_bottom_margined {
    margin-bottom: 5px
}

.mi_comments_info_textarea {
    width: 100%;
    resize: vertical;
    margin-top: 10px
}

.meminfo_restore_all {
    margin: 15px 0
}

.meminfo_restore_content_row {
    padding: 8px
}

.meminfo_restore_content_row:hover {
    background: #e9ebf0
}

.meminfo_restore_content_row .meminfo_restore_content_row_time {
    display: inline-block
}

.meminfo_restore_limit_progress {
    display: inline-block;
    color: #828282
}

.meminfo_sort_selector {
    margin: 12px 0 5px
}

.meminfo_sort_selector .meminfo_sort_selector_label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.meminfo_sort_selector .meminfo_sort_selector_object {
    display: inline-block;
    vertical-align: middle
}

h2.meminfo_decline_purchases_title {
    margin: 2px 0 10px;
    padding: 0 0 10px;
    color: #42648b;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 1px solid #e7e8ec
}

.meminfo_decline_purchases_check {
    text-align: left;
    margin: 7px 0 3px;
    padding: 2px 0 5px
}

.meminfo_decline_purchases_btn {
    margin: 6px 0 0;
    padding: 6px 0 0
}

.meminfo_decline_purchases_select_div {
    padding-bottom: 2px
}

.deleted_rows_header {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mi_deleted_box_header {
    display: inline-block;
    margin-top: 0px
}

.mi_deleted_photos_album_selector_block {
    float: right
}

.mi_deleted_photos_info_block {
    margin-top: 10px
}

.mi_deleted_photos_info_block .mi_deleted_photos_info_separator {
    border-bottom: 1px solid #e7e8ec;
    margin: 12px 0
}

.mi_clickhouse_logs_cell {
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 16px
}

.mi_clickhouse_logs_cell_nowrap {
    white-space: nowrap
}

.mi_subscription_box>div:not(.tb_tabs_wrap) {
    padding: 20px 25px
}

.mi_subscription_box .mi_history_table {
    margin: 0 -25px!important
}

.mi_move_subscription_header {
    margin-top: 0
}

input.mi_move_subscription_user_inp {
    padding: 5px 9px 7px;
    width: 420px
}

.mi_move_subscription_user_progress {
    margin: 8px -45px;
    display: none
}

.loading .mi_move_subscription_user_progress {
    display: block
}

#mi_move_subscription_user_info {
    display: none;
    padding-top: 20px
}