#meminfo_css {
    display: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.box_body .deleted .member_name_wrap {
    margin-bottom: 10px
}

.box_body .deleted .group {
    margin-top: 15px
}

.box_body .deleted .group .header {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.box_body .deleted .group .rows .row {
    padding-top: 5px
}

.box_body .deleted .group .rows .row.wiped_dialog .text {
    width: 560px
}

.box_body .deleted .group .rows .row.wiped_dialog .date {
    width: 130px
}

.box_body .photos_amount_in_albums_box .photos_clean_queue {
    margin-bottom: 15px
}

.box_body .photos_amount_in_albums_box .header {
    padding: 0 8px 8px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.box_body .photos_amount_in_albums_box .row {
    clear: both;
    padding: 8px
}

.box_body .photos_amount_in_albums_box .row:hover {
    background-color: #eff1f3
}

.box_body .photos_amount_in_albums_box .row .name {
    float: left
}

.box_body .photos_amount_in_albums_box .row .photos_amount {
    float: right
}

.uploaded_stories_rows {
    padding: 10px
}

.uploaded_stories_rows .story {
    margin: 10px;
    display: inline-block
}

.uploaded_stories_rows .story .header {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    background: #000;
    background: rgba(0, 0, 0, .4);
    width: 130px;
    font-size: 12px;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border-radius: 6px 6px 0px 0px
}

.uploaded_stories_rows .story .header a {
    color: #fff
}

.uploaded_stories_rows .story .story_preview {
    width: 135px;
    height: 255px;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px
}

.deleted_content_page {
    padding: 16px 20px
}

.deleted_content_page .info_block:not(:first-child) {
    margin-top: 8px
}

.deleted_content_page .info_block .info_type {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.deleted_content_page .thumbnail {
    margin-top: 12px;
    max-width: 920px
}

.mi_body_adaptive #page_layout {
    padding: 0;
    width: 100%!important
}

.mi_body_adaptive .scroll_fix {
    width: 100%!important
}

.mi_body_adaptive #page_body {
    margin-top: 0;
    width: 100%!important
}

.mi_body_adaptive #page_header_cont {
    display: none!important
}

.mi_body_adaptive .page_block:first-child {
    margin-top: 0
}

.mi_body_adaptive #footer_wrap {
    display: none
}

.mi_body_adaptive .page_block_header {
    padding: 0 15px
}

.mi_body_adaptive .ui_tabs {
    padding: 0 5px
}

.mi_section {
    padding: 0 0 18px
}

.mi_section h2 {
    margin: 5px 0 7px;
    font-weight: 700;
    font-size: 1.09em;
    color: #36638e;
    border-color: #b9c4da
}

.mi_meminforow_labeled {
    padding-top: 10px;
    max-width: 300px
}

.mi_body_adaptive .mi_meminforow_labeled {
    max-width: auto
}

.mi_meminforow_label {
    padding-top: 10px;
    padding-right: 7px;
    color: #777
}

table.history tr td,
table.history tr th {
    padding-top: 12px
}

table.history tr.old_session {
    color: #999
}

table.history .cur_session {
    color: #999;
    padding-left: 5px
}

.activity_history_link {
    padding-top: 20px
}

.settings_about_tt table .tt_text {
    color: #000;
    padding: 10px;
    max-width: 400px;
    line-height: 16px
}

.settings_about_tt table.toup1 .bottom_pointer {
    margin-right: 0px;
    margin-left: 64px;
    display: block;
    background: url(/images/tooltip_arrow_white.gif) no-repeat
}

.settings_about_tt table.toup .top_pointer {
    margin-right: 0px;
    margin-left: 64px;
    display: block;
    bottom: -2px;
    background: url(/images/tooltip_arrow_up.gif) no-repeat
}

#member_apps_table,
#member_apps_table td,
#member_apps_table th {
    border: none
}

#member_apps_table th {
    background-color: #f5f7f9
}

.mi_section .msg {
    margin-bottom: 10px
}

.mi_payments_buttons {
    float: right;
    margin-right: 28px;
    padding-top: 10px;
    width: 200px
}

.mi_body_adaptive .mi_payments_buttons {
    margin-right: 18px
}

.mi_payments_buttons .info_msg {
    margin: 0 0 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #36638e;
    font-weight: 700;
    font-size: 1.19em
}

#mi_payments_buttons>div {
    margin-bottom: 10px
}

.mi_payments_info {
    margin-left: 28px;
    border-collapse: collapse;
    width: 535px
}

.mi_body_adaptive .mi_payments_info {
    margin-left: 18px
}

.mi_payments_info .mi_meminforow_label {
    width: 180px;
    vertical-align: top
}

.mi_section_title {
    padding: 9px 18px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dfe5eb;
    color: #36638e
}

.mi_body_adaptive .mi_section_title {
    padding: 9px 10px
}

.mi_section_data {
    margin: 0 28px;
    padding: 10px 0 0
}

.mi_body_adaptive .mi_section_data {
    margin: 0 18px
}

.mi_section_data.mi_contests {
    padding-top: 15px
}

.mi_section_data.mi_contests h4 {
    margin: 15px 0 5px
}

.mi_section_data.mi_contests .info_msg {
    margin: 0 0 15px
}

.mi_section_data.mi_contests .mi_history_table {
    margin: 0px
}

.mi_section_data.mi_contests .mi_history_table td {
    padding: 3px 10px 10px 0px
}

.mi_section_data.mi_contests .flat_button {
    margin-top: 5px
}

.mi_tabsbar {
    padding: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8ebed
}

.mi_payments_table {
    margin: 10px;
    width: 100%
}

.mi_payments_table td,
.mi_payments_table th {
    padding: 0 10px 10px 0
}

.mi_history_table {
    margin: 10px
}

.mi_history_table td,
.mi_history_table th {
    padding: 0 10px 10px 0
}

.mi_more_link {
    margin: 15px 18px 0;
    padding: 7px 0px;
    border-radius: 2px;
    color: #738392;
    text-align: center;
    display: block
}

.mi_more_link.flat_button {
    background-color: #e9edf1
}

.mi_body_adaptive .mi_more_link {
    margin: 10px 10px 0
}

#mi_money_transfer_history_tabsbar_progress,
#mi_payments_tabsbar_progress,
#mi_votes_history_tabsbar_progress {
    padding: 14px 5px 0 0;
    display: none
}

.mi_summary_tab_hidden {
    display: none
}

.mi_payments_empty {
    text-align: center
}

.mi_payments_empty.info_msg {
    margin: 10px 0 0
}

#change_balance_box td {
    vertical-align: top
}

.mi_new_balance_wrap {
    padding-top: 5px
}

#balance_change_votes {
    width: 170px
}

#balance_comment {
    width: 170px;
    height: 40px
}

#change_balance_box .radiobtn {
    padding-bottom: 5px
}

#change_balance_error {
    display: none
}

#refund_payment_error .msg {
    margin: 0
}

#refund_amount {
    width: 180px
}

#refund_comment {
    width: 180px;
    height: 50px
}

.mi_status_cancelled,
.mi_status_cancelled_fm,
.mi_status_in_process {
    color: red;
    font-weight: 700;
    white-space: nowrap
}

.mi_status_cancelled_fm {
    color: #45688e
}

.mi_status_in_process {
    color: #878700
}

.mi_payment_status_tt_row {
    cursor: pointer;
    border-bottom: 1px dashed
}

.mi_payment_status_tt.tt_w .tt_text {
    line-height: 19px;
    width: 280px
}

.mi_tt_label {
    color: #777
}

.mi_history_add_votes {
    color: green;
    font-weight: 700
}

.mi_history_withdraw_votes {
    color: red;
    font-weight: 700
}

#mi_access_check {
    padding: 200px
}

.mi_block_label {
    color: #777;
    padding-top: 4px;
    width: 40px
}

.mi_block_msg {
    line-height: 160%;
    padding-bottom: 10px
}

.mi_blank {
    padding: 100px 50px;
    text-align: center;
    color: #777;
    font-size: 15px
}

.mi_subtabsbar {
    padding: 5px 18px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8ebed
}

.mi_summary_subtab_hidden {
    display: none
}

#mi_interests_table td {
    padding: 3px 0
}

.mi_interest_bar {
    background-color: #dae2e8;
    height: 16px
}

.mi_personal_info_disclaimer {
    padding: 10px 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dae1e8;
    line-height: 160%
}

.mi_privacy_label {
    margin-bottom: 5px
}

.mi_privacy_comment {
    margin-bottom: 8px
}

.mi_privacy_comment .cl_priv_comment {
    width: 300px;
    height: 45px;
    padding: 6px 8px 8px 7px
}

.mi_close_privacy_text {
    margin-top: 0px
}

.mi_deleted_content_wrap {
    padding: 10px;
    margin-top: -5px
}

.mi_deleted_content_wrap a {
    text-decoration: none
}

.mi_deleted_content_wrap .mi_deleted_photo {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-right: 5px;
    background: 50% 50% no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    position: relative
}

.mi_deleted_content_wrap .mi_deleted_photo .mi_deleted_photo_time {
    position: absolute;
    top: -20px;
    color: #939393
}

.mi_deleted_content_wrap .mi_deleted_photo:last-child {
    margin-bottom: 0
}

.mi_deleted_content_wrap .mi_deleted_video {
    width: 150px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px
}

.mi_deleted_content_wrap .mi_deleted_video .mi_deleted_video_img {
    width: 100%;
    display: block
}

.mi_deleted_photo_counter .pg_in {
    font-size: 14px;
    height: 43px;
    line-height: 50px
}

.mi_section_actions {
    margin: 8px 0 0;
    padding: 0 28px
}

.mi_body_adaptive .mi_section_actions {
    padding: 0 18px
}

.mi_table {
    width: 100%;
    border-collapse: collapse
}

.mi_table>tbody>tr>td:first-child,
.mi_table>thead>tr>th:first-child {
    padding-left: 28px
}

.mi_body_adaptive .mi_table>tbody>tr>td:first-child,
.mi_body_adaptive .mi_table>thead>tr>th:first-child {
    padding-left: 18px
}

.mi_table>tbody>tr>td:last-child,
.mi_table>thead>tr>th:last-child {
    padding-right: 28px
}

.mi_body_adaptive .mi_table>tbody>tr>td:last-child,
.mi_body_adaptive .mi_table>thead>tr>th:last-child {
    padding-right: 18px
}

.mi_table_changename>tbody>tr>td:first-child {
    width: 150px
}

.mi_ban_comment {
    height: 60px;
    width: 300px
}

.mi_ban_form .mi_ban_wrap {
    padding: 10px 100px 0
}

.mi_ban_form .mi_ban_wrap .trusted_warning {
    margin-top: 10px
}

.mi_ban_form .ban_subcause_text {
    padding-left: 8px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 300px
}

.mi_ban_form .select_ban_cat {
    margin-top: -6px
}

.mi_ban_form .row {
    margin-top: 10px;
    min-height: 30px
}

.mi_ban_form .row.row_small {
    margin-top: 0;
    min-height: 20px
}

.mi_ban_form .row.row_small .labeled {
    padding-top: 0;
    padding-bottom: 6px
}

.mi_ban_form .label {
    float: left;
    width: 100px;
    color: #666;
    text-align: right;
    padding-top: 8px
}

.mi_ban_form .labeled {
    padding-left: 10px;
    text-align: left;
    float: left;
    line-height: 18px;
    padding-top: 6px
}

.mi_ban_form .labeled.labeled_no_label {
    padding-left: 110px
}

.mi_ban_form .row_content {
    float: left;
    padding: 0 0 0 5px
}

.mi_ban_form .row_content_near_input {
    line-height: 28px;
    padding-bottom: 2px
}

.mi_ban_form .fast_action {
    border-bottom: 1px dotted;
    line-height: 12px;
    color: #656565;
    display: inline-block
}

.mi_ban_form .fast_action:hover {
    border-bottom: 1px solid;
    text-decoration: none
}

.mi_table_block_row__reason>span {
    display: block
}

.mi_group_chats_warning {
    padding-bottom: 10px
}

.mi_light_bottom_margined {
    margin-bottom: 5px
}

.mi_comments_info_textarea {
    width: 100%;
    resize: vertical;
    margin-top: 10px
}

.meminfo_restore_all {
    margin: 15px 0
}

.meminfo_restore_content_row {
    padding: 8px
}

.meminfo_restore_content_row:hover {
    background: #e9ebf0
}

.meminfo_restore_content_row .meminfo_restore_content_row_time {
    display: inline-block
}

.meminfo_restore_limit_progress {
    display: inline-block;
    color: #828282
}

.meminfo_sort_selector {
    margin: 12px 0 5px
}

.meminfo_sort_selector .meminfo_sort_selector_label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.meminfo_sort_selector .meminfo_sort_selector_object {
    display: inline-block;
    vertical-align: middle
}

h2.meminfo_decline_purchases_title {
    margin: 2px 0 10px;
    padding: 0 0 10px;
    color: #42648b;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 1px solid #e7e8ec
}

.meminfo_decline_purchases_check {
    text-align: left;
    margin: 7px 0 3px;
    padding: 2px 0 5px
}

.meminfo_decline_purchases_btn {
    margin: 6px 0 0;
    padding: 6px 0 0
}

.meminfo_decline_purchases_select_div {
    padding-bottom: 2px
}

.deleted_rows_header {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}