#page_help_css {
    display: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.fans_fan_bl,
.fans_fan_ph.online:after {
    -ms-high-contrast-adjust: none
}

.fans_fan_bl_wrap {
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease
}

.fans_fan_ph.online.mobile:after {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%209%2014%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22%238AC176%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22online%22%20transform%3D%22translate(-297.000000%2C%20-432.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M297%2C434.005859%20C297%2C432.898054%20297.895858%2C432%20298.997392%2C432%20L304.002608%2C432%20C305.105737%2C432%20306%2C432.89706%20306%2C434.005859%20L306%2C443.994141%20C306%2C445.101946%20305.104142%2C446%20304.002608%2C446%20L298.997392%2C446%20C297.894263%2C446%20297%2C445.10294%20297%2C443.994141%20L297%2C434.005859%20Z%20M299%2C435%20L304%2C435%20L304%2C442%20L299%2C442%20L299%2C435%20Z%22%20id%3D%22mobile_l%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")
}

.fans_rows {
    padding: 25px 14px 5px
}

.fans_rows.wall_module {
    padding: 0
}

.fans_rows.fans_idols {
    padding: 9px 15px
}

.fans_rows .post_full_like_wrap {
    padding: 8px 0 12px;
    margin: 0 20px;
    background: none;
    border-top: 0;
    border-bottom: 1px solid #e7e8ec
}

.fans_rows .wall_text+.replies {
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e8ec;
    margin: 0 20px
}

.fans_rows .post:last-child .post_full_like_wrap,
.fans_rows .post:last-child .wall_text+.replies {
    border-bottom: 0
}

.fans_rows.wall_module .wall_text {
    padding-bottom: 4px
}

.fans_rows.wall_module .wall_text .page_media_thumbed_link {
    margin-bottom: 0
}

.fans_idol_row {
    width: 284px;
    padding: 16px 10px;
    font-size: 12.5px
}

.fans_idol_ph {
    display: block;
    height: 100px
}

.fans_idol_img {
    width: 100px
}

.fans_idol_info {
    overflow: hidden;
    line-height: 140%
}

.fans_idol_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1px 0 5px
}

.fans_idol_lnk {
    color: #42648b
}

.fans_idol_status {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.fans_idol_size {
    padding-top: 5px;
    color: #939393
}

.fans_idol_sub,
.fans_idol_unsub {
    margin-top: 11px
}

.fans_fan_row {
    width: 100px;
    height: 100px;
    padding: 0 11px 55px;
    overflow: hidden
}

.fans_fan_ph {
    height: 100px;
    display: block
}

.fans_fan_ph.online:after {
    bottom: 5%;
    right: 5%;
    border: 3px solid #fff;
    height: 13px;
    width: 13px
}

.fans_fan_ph.online.mobile:after {
    bottom: 3%;
    right: 9%;
    background-color: #fff;
    height: 14px;
    width: 9px
}

.fans_fan_img {
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.fans_fan_name {
    padding-top: 6px;
    font-size: 12.5px;
    line-height: 140%;
    text-align: center
}

.fans_fan_bl_wrap {
    position: absolute;
    z-index: 10;
    right: 3px;
    top: 3px;
    background: #fff;
    padding: 2px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    border-radius: 12px
}

.fans_fanph_wrap:hover .fans_fan_bl_wrap {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.fans_fan_bl {
    background: #7f7f7f url(/images/cross_delete_user.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease
}

.fans_fan_bl_wrap:hover .fans_fan_bl {
    background-color: #4f4f4f
}

.fans_fan_block {
    line-height: 160%
}

.fans_fanph_wrap,
.fans_idolph_wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden
}

.fans_idolph_wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 14px
}

#fans_idol_search {
    margin: 15px 45px 6px
}

#fans_idol_search_inp {
    padding: 4px 20px 5px;
    width: 70px;
    background: url(/images/magglass.png) no-repeat scroll 5px 6px #fff;
    height: 13px;
    outline: none
}

#fans_idol_search_inp::-ms-clear {
    display: none
}

#fans_reset_search {
    margin: 1px 0px 0px 89px;
    display: none;
    cursor: pointer;
    background: transparent url(/images/icons/input_clear.gif) 6px 6px no-repeat;
    padding: 2px;
    width: 19px;
    height: 19px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    z-index: 95;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear
}

#fans_reset_search:hover {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.fans_search_link {
    position: absolute;
    padding-top: 11px;
    right: 15px
}