#paysupp_admin_css {
    display: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

#content {
    padding: 0;
    padding-bottom: 10px
}

.section_title {
    border-bottom: 1px solid #dae1e8;
    color: #45688e;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0
}

.section_content {
    margin: 9px
}

.fallbackBig {
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #777;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 10px 0px;
    padding: 60px 20px;
    text-align: center
}

.hidden {
    display: none
}

.summary a,
.summaryBar {
    font-weight: 400
}

.summaryBar {
    border-bottom: 1px solid #dae2e8;
    clear: both;
    padding: 11px 10px 0;
    color: #000
}

.summaryBar .summary {
    color: #45688e;
    float: left;
    font-weight: 700;
    padding: 3px 0 4px
}

.paysupp_list {
    border-collapse: collapse
}

.paysupp_list td {
    padding: 8px 6px 8px 10px;
    border-bottom: 1px solid #dae2e8;
    background-color: #fff
}

.paysupp_list .closed {
    color: #606060
}

.paysupp_list .closed td {
    background-color: #f0f0f0
}

.paysupp_list .closed a {
    color: #606060
}

.paysupp_list a {
    color: #2b587a
}

.paysupp_list .date_cell {
    font-size: 10px
}

.paysupp_table {
    border-collapse: collapse
}

.paysupp_ticket_buttons {
    padding-top: 5px
}

.paysupp_table input {
    width: 190px
}

.paysupp_table .td_label {
    width: 45%;
    padding-right: 8px;
    padding-top: 10px;
    text-align: right;
    color: #606060;
    height: 25px;
    vertical-align: top
}

.paysupp_table .td_input {
    vertical-align: top;
    padding-top: 7px
}

.ticket_show .paysupp_table .td_input {
    padding-top: 4px
}

.paysupp_table .flatButtons {
    margin: 10px 0
}

.paysupp_table .flatButtons li {
    margin-left: 0;
    margin-right: 10px
}

#change_status_btn_container,
.btnstatus {
    float: right
}

.btnstatus {
    cursor: pointer;
    font-weight: 400;
    padding: 5px 10px 6px
}

.btnstatus:hover {
    text-decoration: none!important
}

.btnstatus1:hover {
    color: #37702a
}

.btnstatus2:hover {
    color: #8b4c23
}

.btnstatus1 {
    background-color: #e8f2dc;
    border-color: #cfdebf;
    color: #37702a
}

.btnstatus2 {
    background-color: #f5e9e2;
    border-color: #e4d4ca;
    color: #8b4c23
}

.btnstatus,
.msgstatus {
    border-width: 1px;
    border-style: solid
}

.closed .ticket_status {
    color: #606060
}

.ticket_status {
    font-size: 10px;
    color: #000
}

.section_content {
    padding: 4px 6px
}

.message_list {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee
}

.new_message {
    width: 300px;
    margin: 0 auto;
    text-align: center
}

.new_message textarea {
    width: 100%;
    height: 70px;
    margin: 0 5px;
    border: 1px solid #c0cad5
}

.date {
    width: 100px;
    color: gray
}

.date,
.outgoing {
    text-align: right;
    vertical-align: top
}

.outgoing {
    width: 80px;
    height: 25px;
    padding-right: 8px;
    color: #45688e
}

.outgoing span {
    font-weight: 700
}

.incoming {
    width: 80px;
    height: 25px;
    padding-right: 8px;
    text-align: right;
    vertical-align: top;
    color: #8eacc6
}

.incoming span {
    font-weight: 700
}

.message_history {
    width: 55%;
    vertical-align: top
}

#formButtons {
    margin: 0;
    float: left
}

#uploadImage {
    float: right;
    margin-top: 3px
}

.images_link {
    color: #606060;
    font-size: 10px
}

.msgstatus {
    border: 1px solid #cfdebf;
    padding: 10px;
    margin: 3px 0
}

.msgstatus,
.msgstatus1 {
    background-color: #e8f2dc;
    color: #37702a
}

.msgstatus1 {
    border-color: #cfdebf
}

.msgstatus2 {
    background-color: #f5e9e2;
    border-color: #e4d4ca;
    color: #8b4c23
}

.section_content .msg {
    margin-left: 0;
    margin-right: 0
}

.paysupp_table .divider {
    height: 10px;
    width: 400px
}

.radio_gray {
    color: #777
}

.td_radio_label {
    padding-top: 6px!important
}

.td_radio_input {
    padding-top: 0!important
}

.radiobtn_container table td {
    vertical-align: top
}

td.radiobtn {
    padding-top: 1px!important
}

td.radiobtn_label {
    padding-top: 0px!important
}

.show_ticket td {
    padding-top: 0!important
}

.rate_title {
    padding-top: 3px;
    padding-left: 7px
}

.rate_title div {
    color: #888
}

.rate_change {
    display: none
}

.rate_shadow {
    right: 11px;
    width: 476px
}

.paysuppFriendListItem {
    float: left;
    width: 200px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px
}

.paysuppFriendListItemPhoto {
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
    padding: 1px;
    border: 1px solid #d1d1d1
}

.paysuppFriendListItemPhoto a {
    margin: 0!important;
    padding: 0!important;
    text-decoration: none
}

.paysuppFriendListItemPhoto img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none
}

.paysuppFriendListItemDescr {
    float: left;
    margin-left: 10px
}

.paysuppFriendListItemDescr small {
    color: #666;
    margin-top: 5px
}

.td_title small {
    display: inline!important
}

.td_title small a {
    color: #666
}

.appRows .user_photo {
    min-height: 50px;
    max-height: 120px;
    overflow: hidden;
    margin-top: 5px
}

.appRows .adminNav li {
    margin-left: 0;
    margin-right: 10px
}

.appRow .td_label {
    color: #666;
    padding: 3px 5px 3px 0;
    width: 50px
}

.appRow .td_label a {
    color: #666
}

.appRow .td_title {
    font-weight: 900;
    color: #2b587a;
    padding-left: 0
}

.appRow .msg {
    margin: 0!important
}

.appRow small {
    display: block;
    margin-top: 4px;
    text-align: center;
    color: #666;
    margin-right: 20px;
    font-size: 9px
}

.paysuppReason textarea {
    width: 100%;
    margin-top: 10px
}

#content {
    padding-top: 0!important
}

#reason_error {
    display: none;
    color: #900;
    padding-top: 4px
}

.user_friends_list {
    padding: 7px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 590px
}

.user_friends_list a {
    display: block;
    padding: 3px 0
}

.user_groups_list {
    padding: 7px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 590px
}

.user_groups_list a {
    display: block;
    padding: 3px 0;
    border-bottom: 1px dashed #d1d1d1
}

.user_groups_list .wikiTable {
    width: 100%
}

.fallbackBig {
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #777;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 10px 5px;
    padding: 60px 20px;
    text-align: center
}

#noRows {
    display: none;
    margin-bottom: 10px
}

.appRowContainer {
    overflow: hidden
}

.tip-red {
    color: #d33;
    font-weight: 900
}

.tip-yellow {
    color: #707040;
    font-weight: 900
}

.tip-red span,
.tip-yellow span,
.tip-green span {
    font-weight: 100
}

.message_row .delete_link {
    margin-right: 10px;
    display: none
}

.message_row:hover .delete_link {
    margin-right: 10px;
    display: inline
}

#search_results .wikiTable {
    width: 100%!important
}

.t_filter_area {
    border-bottom: 1px solid #d8dfea;
    padding: 6px 10px;
    background-color: #f7f7f7;
    _padding-bottom: 18px
}

:first-child+html .t_filter_area {
    padding-bottom: 18px
}

.t_filter_selected {
    float: left;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    margin-bottom: -1px;
    cursor: pointer
}

.t_filter_selected .t_filter2 {
    border: 1px solid #3b6798;
    border-top: 1px solid #395676;
    border-bottom: 1px solid #4a73a0
}

.t_filter_selected .t_filter3 {
    border: 1px solid #5c82ab;
    padding: 2px 5px 3px;
    background-color: #6d8fb3;
    color: #fff;
    font-weight: 700
}

.t_filter_off {
    cursor: pointer;
    padding: 4px 7px 5px;
    color: #45688e;
    font-weight: 700;
    float: left;
    margin-right: 10px;
    margin-bottom: -1px
}

.hidden_message {
    color: #d7cf9e!important
}

.transfer-form td {
    vertical-align: top
}

.transfer-form .mphoto {
    width: 50px;
    max-height: 50px;
    overflow: hidden
}

.transfer-form .mid {
    color: gray;
    font-size: 9px;
    margin: 4px 0
}

.transfer-form .mbalance {
    margin: 4px 0 0
}

.warnArrow {
    color: #36638e;
    font-size: 30px;
    width: 100px;
    vertical-align: middle!important
}

.warnArrow,
.form_transfer {
    text-align: center
}

.form_transfer ul,
li {
    margin: 0 auto
}

.form_transfer input {
    width: 60px;
    margin-bottom: 4px
}

.transfer-form-container {
    padding: 10px;
    border: 1px solid #dee4e8;
    background-color: #f5f5f5
}

.transfer-form .td_label {
    width: 249px;
    color: #606060;
    padding-top: 4px;
    padding-right: 8px;
    text-align: right
}

.transfer-form .td_input input {
    width: 235px;
    border: 1px solid #c0cad5
}

.transfer-form .td_input textarea {
    width: 229px
}

.transfer-form .amount {
    color: #36638e;
    font-size: 11px;
    font-weight: 900
}

.ban_form .td_input textarea {
    width: 229px
}

.stat_table {
    border-collapse: collapse;
    margin: 0 20px
}

.stat_table td,
.stat_table th {
    border: 1px solid #d0d0d0;
    padding: 8px
}

.hightlight_green {
    color: #37702a;
    font-weight: 100
}

.hightlight_yellow {
    color: orange;
    font-weight: 900
}

.hightlight_red {
    color: red;
    font-weight: 900
}

.hightlight_blue {
    color: #45688e;
    font-weight: 900
}

.section {
    color: #36638e;
    padding: 0px 0px 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #b9c4da;
    font-weight: 700;
    font-size: 13px
}

.payments_table a {
    padding: 3px 3px 2px;
    text-decoration: none;
    border: none
}

#new_message .button_blue button,
#new_message .button_gray button {
    padding: 4px 8px
}

#new_message .button_gray {
    margin-left: 5px
}

.paysupp_pages_bottom {
    padding: 0 10px;
    line-height: 100%;
    height: 21px
}

.paysupp_pages_bottom:empty {
    display: none
}

.appRow {
    margin: 0 10px 5px;
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #dae2e8
}

.paysupp_log_table {
    margin: 10px 0;
    border-collapse: collapse;
    width: 100%
}

.paysupp_log_table_date {
    width: 135px
}

.paysupp_log_table td,
.paysupp_log_table th {
    border-bottom: 1px solid #e7e8ec;
    padding: 5px 0 5px 20px;
    vertical-align: top
}