#phototag_css {
  display: none;
}
#pv_friends {
  position: absolute;
  width: 192px;
  display: none;
  background: #FFF;
  z-index: 700;
}
#pv_friends .name_input {
  padding: 10px;
  background: #F2F2F2;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
}
#pv_friends .name_input input {
  width: 160px;
}
#pv_friends .list_wrap {
  padding: 5px;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  border-top: 1px solid #DAE1E8;
  border-bottom: 1px solid #DAE1E8;
}
#pv_friends .list_wrap a {
  display: block;
  padding: 5px;
}
#pv_friends .list_wrap a em {
  background: #D8DFEA;
  font-weight: bold;
  font-style: normal;
}
#pv_friends .list_wrap a:hover {
  text-decoration: none;
  background: #E1E7ED;
}
#pv_friends .box_controls {
  border-top: 0px;
}
#pv_friends .box_controls .progress {
  margin: 7px auto 0px;
}
#pv_friends_list .progress {
  display: block;
  margin: 10px auto 5px;
}
#pv_friends table {
  width: 100%;
}
#pv_friends .button_blue,
#pv_friends .button_gray {
  margin: 3px;
}
