#post_css {
    display: none
}

.page_album_nocover,
.page_album_title,
.page_doc_row .page_doc_icon,
.page_docs_preview .page_media_x_wrap .page_media_x,
.page_market_album_nocover,
.page_pics_preview .page_media_x_wrap .page_media_x,
.page_post_video_play_inline {
    -ms-high-contrast-adjust: none
}

.page_docs_preview .page_media_x_wrap .page_media_x,
.page_pics_preview .page_media_x_wrap .page_media_x {
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.post_thumbed_media {
    margin: 0 -5px -5px 0;
    padding: 10px 0
}

.post_thumbed_media:last-child {
    padding-bottom: 1px
}

.reply_text .post_thumbed_media:last-child {
    padding-bottom: 4px
}

.post_thumbed_media:empty {
    margin: 0;
    padding: 0
}

.post_thumbed_media .media_desc {
    padding-top: 8px;
    clear: both
}

.post_thumbed_media .media_desc_soft {
    padding: 0;
    float: left;
    margin: 0 5px 5px 0;
    clear: none;
    max-width: 99%
}

.page_post_sized_thumbs {
    padding: 10px 0 4px
}

.wall_text .page_post_sized_thumbs:last-child {
    padding-bottom: 0
}

.page_post_sized_full_thumb {
    margin: 20px 0 10px
}

.page_post_sized_full_thumb_first {
    margin-top: 10px
}

.page_post_sized_relative_wrap {
    position: relative;
    float: left
}

.page_post_sized_relative {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.post_moder_info {
    margin: 9px 0 -9px;
    color: #939393;
    line-height: 1.462
}

.wall_module .post_poster .post_moder_info {
    margin: 10px 0
}

.post_moder_reply {
    color: #939393
}

a.page_post_thumb_wrap,
span.page_post_thumb_wrap {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 5px 5px 0
}

a.page_post_thumb_unsized:hover,
a.page_post_thumb_wrap:hover {
    text-decoration: none!important
}

.page_post_thumb_video {
    position: relative
}

.page_post_thumb_sized_photo,
.page_post_video_play_inline {
    position: absolute;
    top: 0;
    left: 0
}

.page_post_video_play_inline {
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, .5) url(/images/icons/video_play_small.png?1) 19px 13px no-repeat;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_post_video_play_inline {
        background-image: url(/images/icons/video_play_small_2x.png?1);
        background-size: 17px 24px
    }
}

.page_post_video_play_inline:hover {
    background-color: rgba(0, 0, 0, .6)
}

.page_post_video_play_inline_loading {
    background-image: none
}

.page_post_video_play_inline_loading .pr {
    position: relative;
    top: 50%;
    margin-top: -3px;
    opacity: 1;
    text-align: center
}

.page_post_video_play_inline_loading .pr .pr_bt {
    width: 6px;
    height: 6px;
    margin-right: 3px;
    background: #fff
}

.page_post_video_play_inline_loading .pr .pr_bt:last-child {
    margin-right: 0
}

.page_post_video_is_processing {
    position: absolute;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 240px;
    height: 18px;
    margin: auto;
    border-radius: 5px;
    padding: 15px 10px;
    line-height: 18px;
    text-align: center
}

.page_album_wrap {
    padding: 6px 0 4px
}

.page_album_description {
    max-height: 0;
    margin-top: 6px;
    margin-bottom: -6px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-transition: max-height 0.2s ease, margin 0.2s ease;
    transition: max-height 0.2s ease, margin 0.2s ease
}

.page_album_row:hover .page_album_description {
    margin-bottom: 0;
    max-height: 90px
}

.page_album_link {
    position: relative;
    display: block
}

.page_album_thumb_wrap {
    background-color: #ecf1f5;
    text-align: center;
    overflow: hidden
}

.page_album_thumb {
    max-width: 100%;
    vertical-align: top
}

.page_album_title {
    font-size: 12.5px;
    background: url(/images/album_top_shadow.png);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 35px 12px 9px;
    overflow: hidden;
    box-sizing: border-box
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_album_title {
        background-image: url(/images/album_top_shadow_2x.png);
        background-size: 1px 200px
    }
}

.page_album_title_text {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em
}

.page_album_size {
    float: right;
    font-size: 13.5px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin: -1px 0 0 5px
}

.page_album_photos {
    margin-left: 5px
}

.page_album_under_row {
    padding-top: 5px;
    clear: both
}

.page_preview_album_wrap {
    position: relative
}

.page_album_nocover {
    background: #ecf1f5 url(/images/camera_big.png?1) no-repeat 50% 45%;
    width: 279px;
    height: 185px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_album_nocover {
        background-image: url(/images/camera_big_2x.png?1);
        background-size: 60px 48px
    }
}

.page_album_nocover .page_album_size {
    display: none
}

.page_album_nocover .page_album_title {
    background: none;
    color: #8997a5
}

.page_album_nocover .page_album_thumb_wrap {
    background: none
}

.page_album_wrap .page_post_sized_thumbs {
    margin: 0;
    padding: 0
}

.page_private_album_wrap {
    width: 200px;
    padding: 60px 10px;
    margin: 6px 0 4px;
    background: #eee;
    font-size: 12px;
    color: #777;
    text-align: center
}

.page_market_album_wrap {
    margin: 6px 0 5px;
    border: 1px solid rgba(0, 20, 51, .12);
    border-radius: 2px
}

.wall_text .page_market_album_wrap {
    margin-bottom: -21px
}

.wall_text .page_market_album_wrap~div {
    margin-top: 36px
}

.page_market_album_link {
    display: block
}

.page_market_album_thumb_wrap {
    background-color: #fff;
    text-align: center;
    overflow: hidden
}

.page_market_album_under_row {
    padding-top: 2px
}

.page_market_album_under_row .page_post_sized_thumbs {
    margin: 0;
    padding: 0
}

.page_market_album_under_row .page_post_thumb_wrap {
    margin-right: 2px
}

.page_market_album_title {
    display: block;
    padding: 9px 15px 11px;
    font-size: 12.5px;
    line-height: 17px;
    overflow: hidden
}

.page_market_album_title:hover {
    text-decoration: none
}

.page_market_album_title_text {
    padding-bottom: 4px;
    color: #000;
    font-size: 16px;
    line-height: 21px
}

.page_market_album_size {
    color: #939393
}

.page_market_album_nocover {
    background: #ecf1f5 url(/images/icons/mall_icon.png?2) no-repeat 50% 45%;
    width: 100%;
    padding-top: 55.51181102%
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_market_album_nocover {
        background-image: url(/images/icons/mall_icon_2x.png?2);
        background-size: 81px 82px
    }
}

.page_market_album_nocover .page-market_album_thumb_wrap {
    background: none
}

.feedback_text .page_doc_row {
    overflow: visible
}

.feedback_text .page_doc_row .page_doc_title {
    max-width: 100%;
    white-space: normal
}

.page_doc_row {
    font-size: 12.5px;
    color: #2a5885;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.page_doc_row .page_doc_icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 3px;
    background: url(/images/icons/doc_icons.png) no-repeat;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_doc_row .page_doc_icon {
        background-image: url(/images/icons/doc_icons_2x.png);
        background-size: 30px 210px
    }
}

.page_doc_row .page_doc_icon:hover {
    text-decoration: none
}

.page_doc_row .page_doc_icon.page_doc_icon1 {
    background-position: left 0px
}

.page_doc_row .page_doc_icon.page_doc_icon2 {
    background-position: left -30px
}

.page_doc_row .page_doc_icon.page_doc_icon3,
.page_doc_row .page_doc_icon.page_doc_icon4 {
    background-position: left -60px
}

.page_doc_row .page_doc_icon.page_doc_icon5 {
    background-position: left -90px
}

.page_doc_row .page_doc_icon.page_doc_icon6 {
    background-position: left -120px
}

.page_doc_row .page_doc_icon.page_doc_icon7 {
    background-position: left -150px
}

.page_doc_row .page_doc_icon.page_doc_icon8 {
    background-position: left -180px
}

.page_doc_row .page_doc_title {
    color: #42648b;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 16px
}

.page_doc_row .page_doc_description_row {
    pointer-events: none;
    margin-left: 38px
}

.page_doc_row .page_doc_description_row .page_doc_size {
    display: inline-block;
    color: #939393;
    pointer-events: none
}

.page_doc_row .page_doc_description_row .page_doc_app {
    color: #939393;
    display: inline-block;
    pointer-events: all
}

.page_doc_row .claim_hint {
    display: inline-block;
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
    pointer-events: visiblePainted;
    white-space: normal
}

.page_doc_row .claim_hint svg {
    vertical-align: bottom;
    width: 15px;
    height: 15px
}

.claim_hint_tooltip {
    max-width: 250px
}

.page_pics_preview .page_preview_doc_wrap {
    padding: 0 5px 5px 0;
    width: 130px;
    height: 97px
}

.page_docs_preview .page_preview_doc_wrap,
.page_docs_preview .page_preview_wall_reply_wrap,
.page_docs_preview .page_preview_wall_wrap {
    padding: 5px 0
}

.draggable_thumb.moving .page_post_video_play_inline,
.draggable_thumb.moving .video_thumb_label {
    display: none
}

.post_doc_thumb_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.post_doc_thumb_label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    z-index: 2;
    height: 23px;
    border-radius: 3px;
    overflow: hidden;
    text-align: right;
    pointer-events: none
}

.draggable_thumb.moving .post_doc_thumb_label,
.thumb_no_controls .post_doc_thumb_label {
    display: none
}

.post_doc_thumb_label:before {
    content: '';
    display: inline-block;
    height: 23px;
    width: 1px
}

.post_doc_thumb_label_content {
    display: inline-block;
    padding: 0 7px;
    border-radius: 3px 0 0 3px;
    background: rgba(0, 0, 0, .4);
    white-space: nowrap;
    text-transform: uppercase;
    pointer-events: none;
    color: #fff;
    font-size: 12.5px;
    line-height: 23px;
    height: 23px;
    vertical-align: top
}

.post_doc_thumb_label_content .divider:before {
    color: #fff;
    vertical-align: unset
}

.post_doc_thumb_label_content:first-child {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.post_doc_thumb_label_content+.post_doc_thumb_label_content {
    padding: 0 7px 0 0;
    border-radius: 0
}

.post_doc_thumb_label_content+.post_doc_thumb_label_content .divider:first-child {
    margin-left: 0px
}

.post_media_voting {
    margin: 15px 0 7px
}

.wall_module .copy_quote .post_media_voting:last-child,
.wall_module .post_btl .post_media_voting:last-child,
.wall_module .post_fr_likes .post_media_voting:last-child,
.wall_tt .post_media_voting {
    margin-bottom: 0!important
}

.media_voting {
    position: relative;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #e0e2e7;
    background-color: #fff;
    cursor: auto
}

.media_voting.media_voting_clickable_options {
    cursor: pointer
}

.media_voting .ui_actions_menu_icons {
    z-index: 2;
    top: 10px;
    right: 16px
}

.media_voting .ui_actions_menu_wrap {
    display: block!important
}

.media_voting .ui_actions_menu_wrap.shown .ui_actions_menu {
    top: 34px
}

.media_voting .ui_actions_menu {
    right: -5px;
    top: 44px
}

.media_voting.media_voting_board {
    border-radius: 0;
    box-shadow: none;
    background: transparent
}

.media_voting.media_voting_board .ui_actions_menu_icons {
    right: 20px
}

.media_voting.media_voting_board .ui_actions_menu {
    right: -1px
}

.media_voting.media_voting_fixed {
    border-bottom: 1px solid #e7e8ec
}

.media_voting.media_voting_fixed .ui_actions_menu_icons {
    top: 17px;
    right: 16px
}

.media_voting.media_voting_fixed .ui_actions_menu_wrap.shown .ui_actions_menu {
    top: 41px
}

.media_voting.media_voting_fixed .ui_actions_menu {
    right: -5px;
    top: 51px
}

.media_voting_report {
    position: relative;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #e0e2e7;
    background-color: #fff;
    padding: 16px 20px
}

.media_voting_report.wall_reasons_result {
    color: #939393
}

.media_voting_report.media_voting_board {
    border-radius: 0;
    box-shadow: none;
    background: transparent
}

.media_voting_header {
    height: 200px;
    text-align: center;
    padding: 0 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1
}

.media_voting_question {
    color: #222;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding-top: 10px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 34px;
    max-height: 102px;
    font-size: 30px
}

.im_msg_media.im_msg_media_poll .media_voting_question {
    line-height: 22px;
    max-height: 66px;
    font-size: 19px
}

.media_voting_info {
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #656565;
    padding-top: 12px
}

.media_voting_info a {
    color: #656565
}

.media_voting_info a:hover {
    text-decoration: underline
}

.media_voting_author {
    padding-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%
}

.media_voting_options {
    padding: 0 20px;
    position: relative;
    z-index: 1
}

.media_voting_clickable_options .media_voting_options {
    cursor: pointer
}

.media_voting_option_wrap {
    margin: -5px;
    padding: 5px
}

.media_voting_clickable_option .media_voting_option_wrap {
    cursor: pointer
}

.media_voting_option_wrap+.media_voting_option_wrap {
    margin-top: 5px
}

.media_voting_option_wrap.media_voting_option_selected .media_voting_option {
    background: #d7dfe8
}

.media_voting_option_wrap.media_voting_option_selected .media_voting_option_text:after {
    background-position: 0 -16px!important
}

.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap:not(.media_voting_option_selected):hover .media_voting_option {
    background: #d5dce3
}

.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap.media_voting_option_selected:hover .media_voting_option {
    background: #cfd8e3
}

.media_voting_option {
    border-radius: 4px;
    background: #e5eaf0;
    min-height: 30px;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden
}

.media_voting_option_percent {
    padding: 6px 10px 8px 0;
    line-height: 16px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    white-space: nowrap;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -o-transition: opacity 0.1s, transform 0.1s, -o-transform 0.1s;
    transition: opacity 0.1s, transform 0.1s;
    transition: opacity 0.1s, transform 0.1s, -o-transform 0.1s
}

.media_voting_option_voted .media_voting_option_percent:before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    vertical-align: top;
    background: url('/images/svg_icons/votings/voting.svg') 0 -64px
}

.media_voting_option_text {
    padding: 6px 75px 8px 10px;
    line-height: 16px;
    font-size: 13px;
    color: #000;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    z-index: 1
}

.media_voting_multiple .media_voting_option_text:after {
    content: '';
    display: block;
    opacity: 0;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    width: 16px;
    height: 16px;
    background: url('/images/svg_icons/votings/voting.svg') 0 0;
    position: absolute;
    right: 10px;
    top: 7px
}

.media_voting_can_vote.media_voting_multiple .media_voting_option_text:after,
.media_voting_just_voted.media_voting_multiple .media_voting_option_text:after {
    opacity: 1
}

.media_voting_option_bar {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d7dfe8;
    -o-transition: width 0.5s;
    transition: width 0.5s
}

.media_voting_option_leader .media_voting_option_bar {
    background: #c6d1de
}

.media_voting_option_count {
    color: rgba(129, 140, 153, .72);
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    white-space: nowrap;
    visibility: hidden
}

.media_voting_option_count .media_voting_option_counter {
    position: absolute;
    display: inline-block;
    white-space: pre;
    visibility: visible;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    pointer-events: none
}

.media_voting_separator:after,
.media_voting_separator:before {
    content: '\a0'
}

.media_voting_photo {
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: 8px
}

.media_voting_photo:after {
    content: '';
    display: block;
    background: rgba(0, 0, 0, .4)
}

.media_voting_photo:after,
.media_voting_photo_gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.media_voting_photo_img {
    min-width: 510px;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: top
}

.media_voting_photo_holder {
    overflow: hidden
}

.media_voting_photo_holder,
.media_voting_photo_img {
    position: relative;
    z-index: 0;
    width: 100%
}

.media_voting_footer {
    min-height: 16px;
    padding: 19px 0 21px;
    margin: 0 20px;
    line-height: 16px;
    font-size: 13px;
    color: #656565;
    text-align: center;
    position: relative;
    z-index: 1
}

.media_voting_footer_button {
    padding: 5px 15px 6px;
    background: #5181b8;
    display: block;
    border-radius: 4px;
    font-size: 12.5px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .02);
    margin: -4px 0 -6px;
    position: absolute;
    left: 50%;
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    color: #fff
}

.media_voting_footer_button:hover {
    background: #5b88bd
}

.media_voting_footer_button:active {
    background: #4872a3
}

.media_voting_footer_voted {
    position: absolute;
    left: 0;
    right: 0
}

.media_voting_footer_voted b {
    color: inherit!important;
    background: none!important
}

.media_voting_footer_pr {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 4.5px
}

.media_voting_footer_button,
.media_voting_footer_pr,
.media_voting_footer_voted {
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s
}

.media_voting_has_selected_options .media_voting_footer_voted {
    opacity: 0;
    pointer-events: none
}

.media_voting_has_selected_options .media_voting_footer_button {
    pointer-events: all;
    opacity: 1
}

.media_voting_just_voted .media_voting_footer_button,
.media_voting_just_voted .media_voting_footer_voted,
.media_voting_locked .media_voting_footer_button,
.media_voting_locked .media_voting_footer_voted {
    pointer-events: none;
    opacity: 0
}

.media_voting_just_voted .media_voting_footer_pr,
.media_voting_locked .media_voting_footer_pr {
    opacity: 1
}

.media_voting_bg_gradient,
.media_voting_bg_photo,
.media_voting_bg_tile {
    background-position: top;
    box-shadow: none
}

.media_voting_bg_gradient .media_voting_footer_button,
.media_voting_bg_photo .media_voting_footer_button,
.media_voting_bg_tile .media_voting_footer_button {
    background: hsla(0, 0%, 100%, .95)
}

.media_voting_bg_gradient .media_voting_footer_button:hover,
.media_voting_bg_photo .media_voting_footer_button:hover,
.media_voting_bg_tile .media_voting_footer_button:hover {
    background: hsla(0, 0%, 100%, .98)
}

.media_voting_bg_gradient .media_voting_footer_button:active,
.media_voting_bg_photo .media_voting_footer_button:active,
.media_voting_bg_tile .media_voting_footer_button:active {
    background: #fff
}

.media_voting_bg_gradient .media_voting_footer_pr .pr_bt,
.media_voting_bg_photo .media_voting_footer_pr .pr_bt,
.media_voting_bg_tile .media_voting_footer_pr .pr_bt {
    background-color: #fff
}

.media_voting_bg_gradient .ui_actions_menu_icons,
.media_voting_bg_photo .ui_actions_menu_icons,
.media_voting_bg_tile .ui_actions_menu_icons {
    background: none
}

.media_voting_bg_gradient .ui_actions_menu_icons:before,
.media_voting_bg_photo .ui_actions_menu_icons:before,
.media_voting_bg_tile .ui_actions_menu_icons:before {
    content: '';
    display: block;
    background: url('/images/svg_icons/votings/voting.svg') 0 -96px;
    width: 18px;
    height: 4px;
    position: relative;
    left: 2px;
    top: 10px
}

.media_voting_bg_gradient .media_voting_question,
.media_voting_bg_photo .media_voting_question,
.media_voting_bg_tile .media_voting_question {
    color: #fff
}

.media_voting_bg_gradient .media_voting_footer,
.media_voting_bg_gradient .media_voting_info,
.media_voting_bg_photo .media_voting_footer,
.media_voting_bg_photo .media_voting_info,
.media_voting_bg_tile .media_voting_footer,
.media_voting_bg_tile .media_voting_info,
.media_voting_bg_gradient .media_voting_footer a,
.media_voting_bg_gradient .media_voting_info a,
.media_voting_bg_photo .media_voting_footer a,
.media_voting_bg_photo .media_voting_info a,
.media_voting_bg_tile .media_voting_footer a,
.media_voting_bg_tile .media_voting_info a {
    color: hsla(0, 0%, 100%, .84)
}

.media_voting_bg_gradient .media_voting_option,
.media_voting_bg_photo .media_voting_option,
.media_voting_bg_tile .media_voting_option {
    background: hsla(0, 0%, 100%, .12)
}

.media_voting_bg_gradient.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap:not(.media_voting_option_selected):hover .media_voting_option,
.media_voting_bg_photo.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap:not(.media_voting_option_selected):hover .media_voting_option,
.media_voting_bg_tile.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap:not(.media_voting_option_selected):hover .media_voting_option {
    background: hsla(0, 0%, 100%, .18)
}

.media_voting_bg_gradient.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap.media_voting_option_selected:hover .media_voting_option,
.media_voting_bg_photo.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap.media_voting_option_selected:hover .media_voting_option,
.media_voting_bg_tile.media_voting_can_vote.media_voting_clickable_option .media_voting_option_wrap.media_voting_option_selected:hover .media_voting_option {
    background: hsla(0, 0%, 100%, .3)
}

.media_voting_bg_gradient .media_voting_option_wrap .media_voting_option_bar,
.media_voting_bg_photo .media_voting_option_wrap .media_voting_option_bar,
.media_voting_bg_tile .media_voting_option_wrap .media_voting_option_bar {
    background: hsla(0, 0%, 100%, .12)
}

.media_voting_bg_gradient .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar,
.media_voting_bg_photo .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar,
.media_voting_bg_tile .media_voting_option_wrap.media_voting_option_leader .media_voting_option_bar {
    background: hsla(0, 0%, 100%, .28)
}

.media_voting_bg_gradient .media_voting_option_wrap.media_voting_option_selected .media_voting_option,
.media_voting_bg_photo .media_voting_option_wrap.media_voting_option_selected .media_voting_option,
.media_voting_bg_tile .media_voting_option_wrap.media_voting_option_selected .media_voting_option {
    background: hsla(0, 0%, 100%, .24)
}

.media_voting_bg_gradient .media_voting_option_wrap.media_voting_option_selected .media_voting_option_text:after,
.media_voting_bg_photo .media_voting_option_wrap.media_voting_option_selected .media_voting_option_text:after,
.media_voting_bg_tile .media_voting_option_wrap.media_voting_option_selected .media_voting_option_text:after {
    background-position: 0 -48px!important
}

.media_voting_bg_gradient.media_voting_just_voted.media_voting_multiple .media_voting_option_wrap.media_voting_option_voted .media_voting_option,
.media_voting_bg_photo.media_voting_just_voted.media_voting_multiple .media_voting_option_wrap.media_voting_option_voted .media_voting_option,
.media_voting_bg_tile.media_voting_just_voted.media_voting_multiple .media_voting_option_wrap.media_voting_option_voted .media_voting_option {
    background: hsla(0, 0%, 100%, .24)
}

.media_voting_bg_gradient .media_voting_option_wrap.media_voting_option_voted .media_voting_option_text:after,
.media_voting_bg_photo .media_voting_option_wrap.media_voting_option_voted .media_voting_option_text:after,
.media_voting_bg_tile .media_voting_option_wrap.media_voting_option_voted .media_voting_option_text:after {
    background-position: 0 -48px!important
}

.media_voting_bg_gradient .media_voting_option_text,
.media_voting_bg_photo .media_voting_option_text,
.media_voting_bg_tile .media_voting_option_text {
    color: #fff
}

.media_voting_bg_gradient .media_voting_option_text:after,
.media_voting_bg_photo .media_voting_option_text:after,
.media_voting_bg_tile .media_voting_option_text:after {
    background-position: 0 -32px!important
}

.media_voting_bg_gradient .media_voting_option_count,
.media_voting_bg_photo .media_voting_option_count,
.media_voting_bg_tile .media_voting_option_count {
    color: hsla(0, 0%, 100%, .44)
}

.media_voting_bg_gradient .media_voting_option_voted .media_voting_option_percent:before,
.media_voting_bg_photo .media_voting_option_voted .media_voting_option_percent:before,
.media_voting_bg_tile .media_voting_option_voted .media_voting_option_percent:before {
    background-position: 0 -80px
}

.media_voting_bg_gradient .media_voting_option_percent,
.media_voting_bg_photo .media_voting_option_percent,
.media_voting_bg_tile .media_voting_option_percent {
    color: #fff
}

.media_voting_footer_voted_friend {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    margin: -4px 0;
    overflow: hidden;
    border-radius: 24px
}

.media_voting_footer_voted_friend+span {
    margin-left: 8px
}

.media_voting_footer_voted_friend+.media_voting_footer_voted_friend {
    margin-left: 2px
}

.media_voting_footer_voted_friend img {
    width: 24px;
    height: 24px
}

svg+.media_voting_footer_voted_friend+.media_voting_footer_voted_friend,
svg+.media_voting_footer_voted_friend+.media_voting_footer_voted_friend+.media_voting_footer_voted_friend {
    -webkit-clip-path: url(#media_voting_footer_voted_friend_mask);
    clip-path: url(#media_voting_footer_voted_friend_mask);
    margin-left: -2px
}

.media_voting_just_voted .media_voting_option_bar {
    width: 0%!important
}

.media_voting_just_voted .media_voting_option_count {
    opacity: 0
}

.media_voting_just_voted .media_voting_option_percent {
    -o-transform: translateX(24px);
    transform: translateX(24px);
    opacity: 0
}

.page_pics_preview .page_media_x_wrap {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(29, 32, 34, .6);
    border-radius: 0 0 0 2px;
    padding: 5px;
    cursor: pointer
}

.page_pics_preview .page_media_x_wrap .page_media_x {
    display: block;
    background: url(/images/attach_icons.png?4) no-repeat 0 -40px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    width: 8px;
    height: 8px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_pics_preview .page_media_x_wrap .page_media_x {
        background-image: url(/images/attach_icons_2x.png?4);
        background-size: 32px 254px
    }
}

.page_pics_preview .page_media_x_wrap:hover .page_media_x {
    opacity: 1;
    filter: none
}

.page_media_sortable {
    position: relative
}

.page_docs_preview .page_media_x_wrap {
    margin: 0 4px;
    float: right;
    cursor: pointer
}

.page_docs_preview .page_media_x_wrap .page_media_x {
    display: block;
    background: url(/images/attach_icons.png?4) no-repeat 0 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 9px;
    height: 9px;
    margin: 2px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .page_docs_preview .page_media_x_wrap .page_media_x {
        background-image: url(/images/attach_icons_2x.png?4);
        background-size: 32px 254px
    }
}

.page_docs_preview .page_media_x_wrap:hover .page_media_x {
    opacity: 1;
    filter: none
}

.page_docs_preview .page_preview_doc_wrap .page_media_x_wrap {
    margin: 9px 4px
}

.page_docs_preview .page_preview_group_wrap {
    position: relative
}

.page_docs_preview .page_preview_group_wrap .page_media_x_wrap {
    position: absolute;
    top: 0;
    right: 0
}

.page_preview_mark_as_ads_wrap,
.page_preview_note_wrap,
.page_preview_page_wrap,
.page_preview_postpone_wrap,
.page_preview_share_wrap {
    margin-right: -5px;
    padding-top: 10px
}

.page_preview_poll_wrap {
    margin-right: -5px
}

.article_poll_creation .page_add_media,
.article_poll_creation .page_preview_poll_wrap {
    display: none
}

.article_poll_creation .media_preview_has_medias {
    padding: 0;
    margin-bottom: 0;
    border-bottom: none
}

.page_preview_audio_wrap {
    position: relative
}

.page_preview_audio_wrap .audio {
    padding-top: 0;
    margin-left: -6px;
    margin-right: 23px
}

.page_preview_audio_wrap .page_media_x_wrap {
    position: absolute;
    top: 9px;
    right: 0;
    margin: 0;
    padding: 4px
}

.media_preview_has_medias {
    padding: 0 0 5px;
    margin-bottom: 15px
}

.media_preview_has_medias.wall_post_media_preview {
    padding: 13px 20px 12px
}

.wall_post_media_preview {
    padding: 0 20px;
    margin-bottom: 0
}

div.media_preview {
    padding: 10px 0;
    display: none
}

div.media_preview:empty {
    padding: 0
}

div.med_no_attach {
    padding-bottom: 0
}

.page_preview_map {
    vertical-align: top
}

.page_preview_map_wrap {
    position: relative;
    margin: 0 5px 5px 0
}

.post_inline_ban_user {
    line-height: 15px;
    display: block
}

.post_inline_ban_user .divide {
    height: 15px
}

.post_inline_action_padded {
    padding-top: 1em
}

.post_inline_action_more_padded {
    padding-top: 1.5em
}

.post_inline_progress {
    vertical-align: 2px;
    display: inline-block
}

.post_inline_progress+* {
    visibility: hidden
}

.post_header_action_link {
    float: right;
    line-height: 32px
}

.Post__copyright {
    font-size: 12.5px;
    line-height: 15px;
    color: #939393;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 8px
}

.Post__copyright:last-child {
    margin-bottom: -4px
}

.Post__copyrightLink {
    color: #939393
}

.Post__copyrightButton {
    display: block;
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    color: #2a5885;
    outline: none;
    margin: 0 -9px
}

.Post__copyrightButton:last-child {
    margin-bottom: -4px
}

.Post__copyrightButton:first-child {
    margin-top: -3px
}

.checkbox+.Post__copyrightButton {
    margin-top: 20px
}

.checkbox+.Post__copyrightButton:after {
    content: '';
    display: block;
    height: 1px;
    left: 9px;
    right: 9px;
    top: -6px;
    background: #dbe4ec;
    position: absolute
}

.Post__copyrightButton:hover {
    text-decoration: none;
    background: #e4eaf0
}

.Post__copyrightButton:before {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7%205h4a1%201%200%200%201%200%202H7v4a1%201%200%200%201-2%200V7H1a1%201%200%201%201%200-2h4V1a1%201%200%201%201%202%200v4zM1.488%2020.119L3.49%2022.12l-.51.51-2.98%201%20.974-3%20.514-.512zm1.001-1l6.872-6.855a.895.895%200%200%201%201.269%200l.736.734a.889.889%200%200%201%200%201.266L4.49%2021.122l-2-2.002z%22%20fill%3D%22%237293B6%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E') 0 0;
    width: 12px;
    height: 12px;
    margin: 0 9px 0 2px;
    vertical-align: -1px
}

.Post__copyrightButton--added:before {
    background-position: 0 12px
}

.Post__copyrightButton--disabled {
    pointer-events: none;
    color: #000;
    opacity: 0.5
}

.PostCopyrightBox__input.dark {
    width: 100%;
    margin-top: 16px
}

.PostCopyrightBox__error {
    display: none
}