#profile_edit_css {
  display: none;
}
#pedit_filters .tab_word {
  margin-left: 8px;
  margin-right: 8px;
}
#pedit_result {
  padding: 15px 15px 0 15px;
  display: none;
}
#pedit_msg {
  line-height: 160%;
  background: #F4EBBD;
}
#profile_editor {
  background-color: #F7F7F7;
  overflow: hidden;
}
#pedit_general {
  padding: 20px 0 15px 0;
}
#pedit_interests {
  padding: 20px 0 15px 0;
}
#pedit_contacts {
  padding: 20px 0 11px 0;
}
#pedit_education {
  padding: 0 0 15px 0;
}
#pedit_career {
  padding: 10px 0 15px 0;
}
#pedit_military {
  padding: 10px 0 15px 0;
}
.pedit_general_row {
  padding-bottom: 8px;
}
.pedit_row {
  padding-bottom: 8px;
}
.pedit_general_label {
  color: #555;
  width: 195px;
  padding: 8px 10px 0 0;
}
.pedit_label {
  color: #555;
  width: 215px;
  padding: 8px 10px 0 0;
}
.pedit_label_box {
  color: #555;
  width: 110px;
  padding: 7px 10px 0 0;
}
#pedit_status_prep,
#pedit_status_partner,
#pedit_status_detail {
  display: none;
}
#pedit_status_detail_content {
  color: #777;
  font-size: 0.9em;
  padding-bottom: 2px;
}
#pedit_lovers_content {
  color: #777;
  font-size: 0.9em;
  padding-bottom: 2px;
  width: 220px;
}
#pedit_status_prep {
  padding: 4px 0 0 10px;
}
#pedit_status_progress {
  padding: 3px 5px 5px;
  background-position: 50% 50%;
}
#pedit_status_help_wrap {
  position: relative;
  display: none;
}
#pedit_status_help {
  position: absolute;
  width: 200px;
  left: 10px;
  border: 1px solid #ADBBCA;
}
#pedit_status_help_content {
  border: 10px solid #DAE2E8;
  background-color: white;
  padding: 10px;
  height: 85px;
}
.pedit_bday,
.pedit_bmonth {
  padding-right: 8px;
}
#pedit_bday_vis_detail {
  padding: 8px 10px 0;
}
#pedit_first_name,
#pedit_last_name,
#pedit_middle_name,
#pedit_maiden_name,
#pedit_home_town {
  width: 210px;
}
#pedit_mobile,
#pedit_home,
#pedit_skype,
#pedit_website {
  width: 155px;
}
.pedit_name_pointer {
  top: 40px;
}
#pedit_name_tt_place {
  width: 1px;
  height: 1px;
}
.pedit_side_name_tt table .tt_text {
  line-height: 120%;
  color: #000;
  padding: 10px;
  width: 200px;
}
#pedit_name_request {
  background-color: #FFFFFF;
  border: 1px solid #B9C4DA;
  font-weight: normal;
  line-height: 160%;
  margin: 0 10px;
  margin-bottom: 10px;
}
#pedit_name_request .pedit_name_req_header {
  color: #222;
}
.pedit_general_family_row {
  padding-bottom: 8px;
}
#pedit_add_grandparent_link,
#pedit_add_parent_link,
#pedit_add_sibling_link,
#pedit_add_child_link,
#pedit_add_grandchild_link {
  padding: 8px 0 4px;
}
.pedit_wrap_relation {
  width: 410px;
  padding: 0 0 4px 0;
}
.pedit_relation_date {
  padding-top: 4px;
}
.pedit_controls_separator {
  margin-top: 10px;
  height: 0px;
  display: block
  overflow: hidden;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #FFF;
}
.pedit_separator_bottom {
  margin-bottom: 13px;
}
.pedit_controls {
  padding: 15px 0 0 205px;
}
/* Lovers list box */
.pedit_side_pwd_tt table .tt_text {
  line-height: 120%;
  color: #000;
  padding: 10px;
  width: 180px;
}
.pedit_side_tt_pointer {
  background: url(/images/ddtooltip.png) 0 0 no-repeat;
  width: 8px;
  height: 11px;
  position: absolute;
  left: -7px;
  top: 40px;
  overflow: hidden;
  z-index: 10;
}
.pedit_partner_pointer {
  top: 32px;
}
.pedit_partner_pointer1 {
  top: 45px;
}
#pedit_partner_tt_place,
#pedit_partner_tt_place1 {
  width: 1px;
  height: 1px;
}
.pedit_livejournal {
  padding-top: 12px;
}
.pedit_livejournal .pedit_label {
  width: 140px;
  padding: 8px 10px 0 0;
}
#pedit_show_social_button {
  margin-top: 5px;
}
/* Contacts */
#pedit_contacts .text {
  width: 170px;
}
.pedit_privacy_padding_fix {
  border: 1px solid #F7F7F7;
  position: relative;
}
.pedit_privacy_control {
  width: 180px;
  padding: 8px 10px;
}
.pedit_select_progress {
  margin: 7px 8px;
  display: none;
}
#pedit_settings_message {
  padding: 5px 0px 5px 0px;
  text-align: center;
}
.pedit_box_row .pedit_label {
  width: 125px;
}
.pedit_box_row .pedit_labeled {
  padding: 4px 0px;
}
.pedit_row .pedit_labeled_l {
  padding: 8px 0px 4px;
}
#pedit_lj_authorize .pedit_label {
  width: 140px;
}
#pedit_lj_error {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  margin-bottom: 8px;
  display: none;
}
#pedit_show_social {
  margin-top: 5px;
}
/* Interests (former personal) */
.pedit_interests_row {
  padding-bottom: 14px;
}
.pedit_interests_label {
  color: #555;
  width: 160px;
  padding: 4px 10px 0 0;
}
.pedit_interests_labeled {
  width: 298px;
}
.pedit_interests_details {
  padding-top: 5px;
  color: #999;
  width: 150px;
}
#pedit_interests_activities,
#pedit_interests_interests,
#pedit_interests_music,
#pedit_interests_movies,
#pedit_interests_tv,
#pedit_interests_books,
#pedit_interests_games,
#pedit_interests_quotes,
#pedit_interests_about {
  width: 266px;
  height: 80px;
  line-height: 1.27em;
}
#pedit_interests .pedit_controls {
  padding: 15px 0 0 170px;
}
.pedit_import_info {
  width: 270px;
  color: #888888;
}
/* Education */
.pedit_edu,
#primary_uni,
#unis,
#schools,
#works,
#militaries {
  display: none;
}
#profile_editor .header,
#add_uni_link,
#add_school_link,
#add_work_link,
#add_military_link {
  margin: 0px 0px 0px 240px;
  padding: 10px 0px 0px;
  color: #45688E;
}
#profile_editor .header {
  font-weight: bold;
}
.pedit_edu_big_row {
  margin-top: 10px;
}
.pedit_edu_big_row .pedit_progress,
#adding_to_db img {
  float: left;
  position: relative;
  top: 11px;
  display: none;
}
.pedit_edu_big_row a {
  margin: 7px 10px 0px;
}
.pedit_edu_big_row span.add_item_link {
  display: none;
}
.pedit_edu_big_row span.add_item_link b {
  font-weight: normal;
  width: 160px;
  position: absolute;
  padding-top: 8px;
}
.pedit_edu_big_row span.add_item_link b a {
  float: none;
  display: inline;
  margin: 0px;
}
.pedit_edu_row {
  padding: 0px;
  height: 38px;
}
.pedit_edu_row#status_detail {
  height: 20px;
  font-size: 0.9em;
  color: #777;
}
.pedit_edu_row .label {
  clear: both;
  width: 220px;
  padding: 8px 10px 0;
  color: #555;
}
.pedit_edu_row .labeled {
  width: 210px;
}
.pedit_edu_row #bday_vis_detail {
  float: left;
  padding-top: 4px;
}
.pedit_edu_row input.text {
  border: 1px solid #C0CAD5;
  padding: 3px;
  width: 192px;
}
#adding_to_db .pedit_edu_row .label {
  width: 140px;
}
.separator {
  clear: both;
  height: 11px;
  border-bottom: 1px solid #fff;
}
.separator div {
  height: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.deleted {
  color: #777;
  display: none;
  height: 23px;
  margin: 3px 0px 0px 10px;
}
.deleted div {
  float: left;
  margin: 3px 0px 0px;
}
#pedit_education .pedit_controls,
#pedit_career .pedit_controls,
#pedit_military .pedit_controls {
  padding: 15px 0 0 240px;
}
/* Personal */
#pedit_units_toggler_wrap {
  padding: 5px 0 0 10px;
}
#pedit_inspired_by {
  width: 210px;
}
.pedit_twitter_msg {
  min-height: 42px;
}
.pedit_label_sel {
  padding-top: 10px;
}
.pedit_box_row .pedit_labeled_radio {
  padding: 2px 0px 5px;
}
.pedit_box_radio {
  padding: 6px 0px;
}
.pedit_label_radio {
  padding-top: 6px;
}
.pedit_box_row .pedit_instagram_info {
  width: 282px;
  color: #777777;
  padding-top: 8px;
  padding-bottom: 0px;
  line-height: 160%;
}
.pedit_job_progress {
  position: absolute;
  margin-left: 450px;
  width: 177px;
}
#export_box_service_4 {
  padding-top: 8px;
}
.pedit_edu_txt {
  width: 178px;
}
