#restore_css {
  display: none;
}
#restore h2 {
  margin: 0 27px 10px;
  padding-top: 15px;
}
#request_form,
#request_result {
  padding: 15px 54px 35px;
  line-height: 160%;
}
#request_form {
  padding-top: 0px;
}
#request_result,
#request_result_msg {
  display: none;
}
#comment {
  height: 80px;
}
.request_thumb {
  width: 60px;
  height: 50px;
  overflow: hidden;
}
.request_name {
  width: 140px;
}
.request_name_wrap {
  padding: 7px 0 10px;
  line-height: 100%;
}
.request_name_lnk {
  margin: 0;
  color: #45688E;
  font-size: 1.09em;
  font-weight: bold;
}
.request_name_city {
  color: #777;
}
.request_section {
  padding: 10px 0px;
  clear: both;
  position: relative;
  line-height: 100%;
}
.request_section_wrap {
  width: 210px;
}
.request_section_info,
.request_section_info_s,
.request_name_info {
  margin: 0 0 10px 228px !important;
  padding: 8px 11px !important;
  width: 266px;
  clear: none;
  position: absolute;
  bottom: 0;
  min-height: 56px;
}
.request_section_info_s {
  min-height: 58px;
}
.request_name_info {
  min-height: 32px;
}
.request_section h3,
.restore_section h3 {
  margin: 0;
  padding: 10px 0;
  color: #45688E;
  font-size: 1.09em;
  font-weight: bold;
  line-height: 100%;
}
.request_section .info_msg {
  margin: 0 0 10px 0;
  padding: 8px 11px 10px 11px;
  text-align: left;
  line-height: 160%;
}
.request_info.info_msg {
  margin-top: 20px;
}
.request_section_wrap input,
.request_section_wrap textarea {
  width: 202px;
}
.request_section_wrap textarea {
  margin: 0;
  height: 66px;
  display: block;
}
.request_section .file_button_gray,
.restore_section .file_button_gray {
  display: block;
  width: 150px;
  line-height: 100%;
  float: left;
}
.request_section .button_blue {
  margin-top: 10px;
}
.restore_section,
.restore_button_row {
  padding: 10px 0;
}
.restore_submit_row {
  padding-bottom: 10px;
}
.restore_section_wrap {
  width: 228px;
}
.restore_section_wrap input,
.restore_section_wrap textarea {
  width: 202px;
  height: 14px;
}
.info_msg.restore_section_info {
  padding: 9px 11px;
}
.info_msg.restore_section_info.restore_section_info_dbl {
  padding: 11px 11px;
}
.restore_section_info,
.restore_name_info {
  width: 266px;
  margin-top: 31px;
}
.restore_section_info.restore_section_info_top {
  margin-top: 0;
}
.restore_name_info {
  margin-top: 0;
}
.restore_section #photo_photos,
.restore_section #doc_photos {
  margin-top: 10px;
}
.restore_section .file_button_gray,
.restore_section .button_blue {
  margin-top: 10px;
}
.restore_fill_info {
  padding: 10px 0;
}
#doc_upload_frame,
#photo_upload_frame {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10000px;
}
#doc_photos,
#photo_photos {
  margin-bottom: 5px;
  display: none;
  text-align: center;
}
.restore_uploaded_image {
  margin: 0 5px;
  display: inline-block;
  text-align: center;
}
.restore_uploaded_image__img {
  display: block;
}
.restore_uploaded_image__img_removed {
  opacity: 0.3;
}
.restore_uploaded_image__delete {
  color: #2B587A;
  cursor: pointer;
  line-height: 200%;
}
.restore_uploaded_image__delete:hover {
  text-decoration: underline;
}
.restore_roll {
  margin: 0 -10px;
  padding: 0 10px;
  -o-transition: background 1000ms linear;
  -ms-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -webkit-transition: background 1000ms linear;
  transition: background 1000ms linear;
}
.restore_roll.restore_roll_colored {
  background: #DBE0EA;
}
.restore_roll_short {
  /*background: #F6F7F9;
  border-bottom: 1px solid #DBE0EA;*/
  color: #45688E;
  cursor: pointer;
  padding: 20px 10px;
  margin: 0 -10px;
  font-weight: bold;
  line-height: 100%;
}
.restore_roll_short_message {
  font-weight: normal;
}
.restore_roll_short_col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.restore_roll_short_cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 5px;
}
.restore_roll_short_opposite_cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
.restore_roll_short_opposite_cell .restore_uploaded_image__img {
  display: inline-block;
  margin: 0 0 0 2px;
}
.restore_roll_short:hover {
  background: #F6F7F9;
}
.restore_roll .restore_roll_short {
  display: none;
}
.restore_roll.restore_roll_hidden .restore_roll_short {
  display: block;
}
.restore_roll.restore_roll_hidden .restore_roll_full {
  display: none;
}
.restore_roll_used {
  border-bottom: 1px solid #DBE0EA;
}
#phone_confirm_box .msg {
  display: none;
  margin-bottom: 10px;
}
#phone_confirm_box .clear_fix {
  padding: 10px 0px;
}
#phone_confirm_box .label {
  padding: 4px 10px 0px;
  color: #777;
  width: 150px;
}
#phone_confirm_box .labeled {
  width: 200px;
}
#phone_confirm_box .labeled input {
  width: 150px;
}
#phone_confirm_box .labeled small {
  color: #777;
}
#occupiedEmailForm li {
  margin: 10px 0;
}
#occupiedEmailForm input.text {
  margin: 5px 0;
  width: 200px;
}
#request_result_wrap,
#request_result_msg {
  padding-bottom: 10px;
}
#request_result_msg {
  line-height: 160%;
}
#request_result_wrap .info {
  padding-bottom: 0;
}
#restore_cancel_button {
  width: 200px;
  margin: 20px auto 10px;
}
.request_result_msg {
  text-align: left;
  margin-top: 10px;
  display: none;
}
#request_email_or_phone_need,
#request_old_password_need {
  display: none;
}
#request_email_or_phone {
  color: #000;
  margin: 10px 0px;
}
.restore_blocked_wrap {
  padding: 30px;
}
.restore_blocked_wrap .restore_blocked_centered {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.09em;
  color: #111;
  line-height: 160%;
  width: 500px;
}
.restore_blocked_wrap .restore_blocked_img {
  height: 160px;
  width: 225px;
  margin-bottom: 15px;
}
.restore_blocked_wrap .restore_blocked_bottom {
  margin: 0 auto;
  text-align: center;
  font-size: 1.09em;
  color: #111;
  line-height: 160%;
  width: 400px;
}
.restore_section_doc {
  height: 220px;
  width: 220px;
  background: url('/images/restore/doc.png') no-repeat top left;
  float: right;
}
.restore_section_faces {
  text-align: center;
}
.restore_section_face__tablet,
.restore_section_face__monitor {
  height: 220px;
  width: 220px;
  display: inline-block;
}
.restore_section_face__tablet {
  background: url('/images/restore/w.png') no-repeat top center;
}
.restore_section_face__monitor {
  background: url('/images/restore/m.png') no-repeat top center;
}
.restore_response_images {
  margin-top: 8px;
  text-align: center;
}
.restore_response_image {
  width: 38%;
}
.restore_response_image.restore_response_image_landscape {
  width: 75%;
}
