#stats_css {
  display: none;
}
#stats_cont {
  padding: 10px 20px;
}
.dev #stats_cont {
  padding: 20px 30px;
  width: 665px;
}
#stats_msg_wrap {
  margin-bottom: 10px;
  display: none;
}
.stats_head {
  border-bottom: 1px solid #DAE1E8;
  color: #45688E;
  font-size: 1.09em;
  font-weight: bold;
  margin: 0 10px 10px 10px;
  padding: 10px 0 2px;
  text-align: left;
}
#stats_cont .stats_head {
  margin: 0 0 10px 0;
}
#stats_cont .stats_no_data {
  margin: 0;
}
#stats_cont.stats_loading {
  opacity: 0.75;
  pointer-events: none;
}
#stat_group_postsreach_table.stats_loading {
  opacity: 0.75;
  pointer-events: none;
}
.stats_menu_items {
  float: right;
  margin-right: 14px;
  margin-top: 10px;
}
.stats_menu_items .active {
  font-weight: bold;
}
.stats_flash_wrap {
  height: 385px;
  margin-bottom: 25px;
  position: relative;
}
.dev .stats_flash_wrap {
  width: 665px;
}
.stats_privacy_form {
  padding: 0 30px;
}
.stats_time_info {
  padding: 10px 20px;
  font-size: 0.91em;
}
.stats_clean_bots_form {
  padding: 0 30px;
}
.stats_no_data {
  background: none repeat scroll 0 0 #F7F7F7;
  border: 1px solid #DDDDDD;
  color: #777777;
  line-height: 200%;
  margin: -5px 10px 15px;
  padding: 5px;
  text-align: center;
}
.stat_row {
  padding-bottom: 10px;
  margin: 0 -4px 0 10px;
}
.stat_details {
  padding-left: 10px;
}
.stat_info {
  padding: 5px 0 0 10px;
  color: #666;
  display: none;
}
.stat_info .wikiTable {
  margin: 10px auto;
}
#stats_tabs .progress {
  margin: 10px;
}
#all_stats_tabs {
  background-color: #F7F7F7;
  padding-top: 12px;
}
.all_stats_tabs {
  border-bottom: 1px solid #DAE1E8;
  height: 24px;
  list-style-type: none;
  margin: 0pt;
  padding: 0px 7px;
  vertical-align: bottom;
}
.all_stats_tab_active {
  background-color: #FFFFFF;
  border-color: #C3CAD2;
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  float: left;
  height: 24px;
  margin: 0px 3px -1px;
  text-align: center;
  position: relative;
}
.all_stats_tab_active a {
  float: left;
  height: 21px;
  line-height: 1.9em;
  padding: 0 10px;
  text-decoration: none;
}
.all_stats_tab {
  background-color: #F5F7FA;
  border-color: #C3CAD2;
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  float: left;
  height: 23px;
  margin: 0px 3px;
  text-align: center;
}
.all_stats_tab a {
  border-bottom: 2px solid #EEF0F3;
  float: left;
  text-decoration: none;
  padding: 0 10px;
  height: 21px;
  line-height: 1.9em;
}
.all_stats_tab a:hover {
  background-color: #FFFFFF;
  text-decoration: none;
}
.all_stats_tab_active,
.all_stats_tab,
.all_stats_tab a:hover {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -khtml-border-top-right-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
}
.stats_api_method_row {
  margin-left: 15px;
  color: #45688E;
  font-weight: bold;
  font-size: 1.18em;
  border-bottom: 1px solid #DAE1E8;
}
.stats_api_method_row .graph_link {
  font-weight: normal;
  font-size: 1em;
  margin: 2px 20px 0px;
}
.stats_api_method_time {
  margin-left: 15px;
}
.stat_app_short_info {
  padding: 10px 20px;
}
.stat_app_visit_header {
  border-right: 1px solid #D3DBE1;
  background-color: #E3E9EE;
}
.stat_app_visit_header > div {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #D3DBE1;
  padding: 5px 10px;
  text-align: right;
}
.stat_app_visit_row.even {
  background-color: #F0F2F4;
}
.stat_app_visit_row > div {
  padding: 5px 10px;
  text-align: right;
}
#apps_edit_subtabs {
  background-color: #F7F7F7;
  border: 1px solid #DAE1E8;
  border-width: 0px 0px 1px;
  padding: 10px;
}
.apps_edit_subtab1 {
  float: right;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
  color: #45688E;
}
.apps_edit_subtab1:hover {
  background-color: #E1E7ED;
}
.apps_edit_subtab1.active {
  background-color: #597DA3;
  color: white;
  cursor: default;
}
.apps_edit_subtab2 {
  padding: 3px 8px 4px;
  font-weight: bold;
}
.stats_hidden {
  display: none;
}
.gray_divider {
  font-weight: normal;
  color: #777;
  margin: 0px 5px;
}
.stats_graph_selector_link {
  font-weight: normal;
  font-size: 1em;
  margin-top: 2px;
}
.stats_graph_selector_link.selected a {
  font-weight: bold;
  cursor: default;
}
.stats_graph_selector_link.selected a:hover {
  text-decoration: none;
}
.piechart_row {
  cursor: default;
}
.stats_no_stats_absolute_mask {
  position: absolute;
  background-color: #FBFBFB;
  opacity: 0.95;
  filter: alpha(opacity=95);
  width: 564px;
  height: 660px;
  margin-left: 1px;
  padding: 20px;
  font-weight: bold;
  color: gray;
  text-align: center;
}
.graph_horizontal_menu_wrapper .stats_head {
  margin-bottom: 0;
  padding-bottom: 8px;
}
.graph_horizontal_menu_wrapper .summary_tabs {
  margin: 0 10px 10px;
}
#stats_audio_top h4 {
  border-bottom: 1px solid #DAE1E8;
  color: #45688E;
  font-size: 1.09em;
  font-weight: bold;
  margin: 0 10px 10px;
  padding: 10px 0 2px;
  text-align: left;
}
#stats_export_link {
  padding: 11px 10px 0 0;
}
.stats_title_link {
  font-weight: normal;
  font-size: 0.9em;
}
#stats_export_box .clear_fix {
  padding-bottom: 10px;
}
#stats_export_box .label {
  color: #777;
  padding: 5px 10px 0px;
  width: 144px;
  min-height: 17px;
  text-align: right;
}
#stats_export_box .labeled,
#stats_export_box .labeled_text {
  padding-left: 10px;
}
#stats_export_box .labeled_text {
  padding-top: 5px;
}
#stats_export_box .error {
  margin-bottom: 10px;
  display: none;
}
#stats_export_box .checkbox {
  margin-bottom: 12px;
}
#stats_empty {
  margin: 10px 0;
  padding: 100px 0;
  color: #777;
  text-align: center;
  font-size: 1.18em;
}
.piechart_table {
  margin: 0 70px 20px 0;
}
.piechart_table tr td {
  padding: 7px 8px 8px 8px;
  border-bottom: 1px solid #EAEEF1;
  text-align: left;
}
.piechart_stat_color {
  float: left;
  margin: 2px 8px 0 0;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.piechart_table tr td.piechart_stat_name {
  min-width: 120px;
  max-width: 190px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.piechart_stat_info {
  padding-left: 0!important;
}
.piechart_col_header th {
  padding: 7px 0;
  font-weight: bold;
  background-color: #EEF2F6;
  text-align: left;
}
th.piechart_col_header_first {
  padding-left: 28px;
}
th.piechart_col_header_second {
  padding-right: 20px;
}
.post_like_icon,
.post_share_icon,
.post_comment_icon {
  background: url(/images/icons/feedback_icons.png) no-repeat 0px 0px;
  height: 10px;
  margin: 2px 2px 0px;
  padding-right: 1px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 13px;
  height: 14px;
  display: inline-block;
}
.is_2x .post_share_icon {
  background-image: url(/images/icons/feedback_icons_2x.png);
  background-size: 18px 42px;
}
.is_2x .post_like_icon {
  background-image: url(/images/icons/feedback_icons_2x.png);
  background-size: 18px 42px;
}
.is_2x .post_comment_icon {
  background-image: url(/images/icons/feedback_icons_2x.png);
  background-size: 18px 42px;
}
.post_share_icon {
  background-position: 0 -28px;
  margin-top: 0;
}
.post_comment_icon {
  margin-top: 1px;
}
.post_like_icon {
  background-position: 0 -15px;
}
#posts_reach_table_wrap .ui_table_cell {
  padding-left: 3px;
}
#stat_group_postsreach_table td {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eef0f3;
  color: #161616;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.364;
}
#stat_group_postsreach_table table {
  border-width: 0px;
}
#stat_group_postsreach_table table.paginate_layout_table {
  display: none;
}
#stat_group_postsreach_table .paginated_table_header th.paginated_table_cell {
  border: 0px;
}
#stat_group_postsreach_table .paginated_table_header th.paginated_table_cell div {
  border-left: 0px;
}
#stat_group_postsreach_header {
  padding-bottom: 33px;
}
#stat_group_postsreach_table table tr {
  cursor: pointer;
}
#stat_group_postsreach_table table tr:hover td {
  background-color: #f6f7f9;
}
.stat_group_postsreach_img_small {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  vertical-align: top;
}
.stat_group_postsreach_post_descr_short {
  padding-left: 10px;
  color: #2b5882;
  font-weight: 700;
  max-width: 170px;
  overflow: hidden;
  display: inline-block;
}
.stat_group_postsreach_post_title {
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.stat_group_postsreach_post_descr_date {
  color: #999999;
  font-weight: normal;
  padding-top: 1px;
}
#stat_group_postsreach_header_period {
  padding-left: 2px;
  padding-top: 2px;
  color: #666666;
  font-weight: 400;
}
#stat_group_postsreach_period_date {
  color: #000000;
}
.stat_group_postsreach_people_text {
  font-weight: normal;
  color: #848484;
}
#stat_group_postsreach_header .round_tab {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.stat_group_postsreach_show {
  cursor: pointer;
  white-space: nowrap;
}
#stat_group_postsreach_more_link {
  text-decoration: none;
  display: none;
}
#stat_group_postsreach_more {
  background-color: #e9edf1;
  height: 22px;
  color: #6a7989;
  text-align: center;
  padding-top: 8px;
}
#stat_group_postsreach_more:hover {
  background-color: #EEF2F6;
}
#stat_group_postsreach_table .paginated_table {
  margin-bottom: 0px;
}
#stat_group_postsreach_more_prg {
  display: inline-block;
}
#stat_group_postsreach_time_info {
  color: #777;
}
.stat_group_postsreach_people_text_delim {
  color: #CBCBCB;
}
.stat_group_postsreach_table_hint {
  color: #9cabb8 !important;
  font-size: 0.91em;
  cursor: pointer;
}
.stat_group_postsreach_data_load_msg {
  color: #777;
  text-align: center;
  padding: 20px 0 30px;
}
#stat_group_postsreach_description {
  line-height: 1.4em;
  padding-bottom: 12px;
}
#stat_group_postsreach_table .empty_row td {
  padding: 0;
}
.stat_group_postsreach_empty_placeholder {
  background-color: #F7F7F7;
  padding-left: 150px;
  cursor: default;
}
.stat_group_postsreach_empty_placeholder .stat_group_postsreach_empty_placeholder_txt {
  font-weight: normal;
  padding: 40px 10px;
  width: 280px;
  text-align: left;
  float: left;
  color: #555;
}
.stat_group_postsreach_empty_placeholder .stat_group_postsreach_empty_placeholder_txt::before {
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url('/images/icons/stats.png');
  float: left;
  margin-right: 10px;
}
.stats_tab_hint {
  padding: 0px;
  width: 265px;
}
.stats_tab_hint .stats_tab_hint_text {
  float: left;
  font-weight: normal;
  color: #424242;
  width: 220px;
  padding: 10px;
  margin-top: -3px;
}
.stats_tab_hint .stats_tab_hint_text_header {
  font-weight: bold;
  padding: 5px 0px;
  color: #2e2e2e;
}
.stats_tab_hint .stats_tab_hint_text_close {
  width: 11px;
  height: 11px;
  background-image: url('/images/icons/video_hide_channel.png?3');
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  opacity: 0.6;
}
.stats_tab_hint .stats_tab_hint_text_close:hover {
  opacity: 1.0;
}
