#stats_css {
    display: none
}

.post_comment_icon,
.post_like_icon,
.post_share_icon,
.stats_community_messages_info_icon,
.stats_postsreach_tt .stats_postsreach_tt_close {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.ui_tabs.stats_subtabs.stats_subtabs_browse {
    padding-left: 25px;
    margin-left: 0;
    margin-bottom: 0
}

.stats_browse_filter {
    padding: 15px 30px 20px;
    line-height: 19px;
    border-bottom: 1px solid #e7e8ec
}

.stats_browse_filter .ms_item_more_label {
    padding-right: 13px;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%22944%201152%208%204%22%3E%3Cpath%20d%3D%22M945.2%201152.2C944.9%201152%20944.5%201152%20944.3%201152.3%20944.1%201152.6%20944.1%201153%20944.4%201153.2L947.6%201155.8C947.8%201156%20948.2%201156%20948.4%201155.8L951.6%201153.2C951.9%201153%20951.9%201152.6%20951.7%201152.3%20951.5%201152%20951.1%201152%20950.8%201152.2L948%201154.5%20945.2%201152.2Z%22%20fill%3D%22%2392A0B1%22%2F%3E%3C%2Fsvg%3E') no-repeat;
    background-position: right 7px
}

#stat_cont_browse_filter_tlt_content {
    width: 180px;
    padding: 8px 0
}

#stat_cont_browse_filter_tlt_content .stat_cont_browse_filter_item {
    font-size: 13px;
    line-height: 15px;
    padding: 8px 12px 9px
}

#stat_cont_browse_filter_tlt_content .stat_cont_browse_filter_item.checkbox.on:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%235181B8%22%20d%3D%22M10%2016c-.3%200-.5-.1-.7-.3l-3.5-3.5c-.4-.4-.4-1%200-1.4s1-.4%201.4%200l2.8%202.8%206.3-6.3c.4-.4%201-.4%201.4%200s.4%201%200%201.4l-7%207c-.2.2-.4.3-.7.3z%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat
}

#stat_cont_browse_filter_tlt_content .stat_cont_browse_filter_item.checkbox:before {
    float: right;
    background-image: none;
    padding-top: 5px;
    padding-right: 8px;
    margin-right: 0px
}

#stats_cont .stats_time_info {
    font-size: 12.5px;
    border-top: 0px;
    padding: 0
}

#stats_cont.stats_cont_browse {
    border-radius: 4px;
    padding: 35px 30px 30px;
    background-color: #f8f8f9
}

#stats_cont.stats_cont_browse #stats_cont_browse_actions .stats_cont_browse_sub {
    padding-bottom: 0
}

#stats_cont.stats_cont_browse .stats_cont_browse_sub {
    padding-bottom: 26px
}

#stats_cont.stats_cont_browse .stats_cont_browse_sub .stats_cont_browse_sub_title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 24px
}

.stats_cont_browse_tile {
    color: #000;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .08);
    width: 235px;
    height: 235px;
    display: inline-block
}

.stats_cont_browse_tile:nth-child(3n) {
    margin-right: 0px
}

.stats_cont_browse_tile:hover {
    text-decoration: none
}

.stats_cont_browse_tile.disabled .close_icon {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%2232%20155%2024%2024%22%3E%3Cg%20style%3D%22fill%3Anone%3B%22%3E%3Crect%20x%3D%2232%22%20y%3D%22155%22%20width%3D%2224%22%20height%3D%2224%22%2F%3E%3Cpath%20d%3D%22M44%20165.6L40.2%20161.8C39.8%20161.4%2039.2%20161.4%2038.8%20161.8%2038.4%20162.2%2038.4%20162.8%2038.8%20163.2L42.6%20167%2038.8%20170.8C38.4%20171.2%2038.4%20171.8%2038.8%20172.2%2039.2%20172.6%2039.8%20172.6%2040.2%20172.2L44%20168.4%2047.8%20172.2C48.2%20172.6%2048.8%20172.6%2049.2%20172.2%2049.6%20171.8%2049.6%20171.2%2049.2%20170.8L45.4%20167%2049.2%20163.2C49.6%20162.8%2049.6%20162.2%2049.2%20161.8%2048.8%20161.4%2048.2%20161.4%2047.8%20161.8L44%20165.6Z%22%20fill%3D%22%23828A99%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 9px;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.stats_cont_browse_tile.disabled .close_icon:hover {
    opacity: 1;
    filter: none
}

.stats_cont_browse_tile.disabled .stats_cont_browse_tile_caption {
    text-align: center;
    padding: 37px 4px 0px
}

.stats_cont_browse_tile.disabled .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_title {
    margin-bottom: 8px
}

.stats_cont_browse_tile.disabled .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_tip {
    color: #656565;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 12.5px
}

.stats_cont_browse_tile.disabled .stats_cont_browse_tile_caption .stats_cont_browse_tile_button_tip {
    padding: 5px 12px 6px
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption {
    margin: 12px 16px 13px
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_title {
    line-height: 20px;
    font-size: 13px;
    font-weight: 500
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values {
    margin-top: 5px
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_value {
    font-size: 28px;
    font-weight: 500
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_percent {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 5px
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_percent.down {
    color: #e64646
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_percent.down:before {
    content: ' ';
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h16v16H0z%22%2F%3E%3Cpath%20d%3D%22M6.995%209.574L4.711%207.289a1.005%201.005%200%200%200-1.422%201.422l4%204a1.005%201.005%200%200%200%201.422%200l4-4a1.005%201.005%200%200%200-1.422-1.422L9.005%209.574V3a1.005%201.005%200%201%200-2.01%200v6.574z%22%20fill%3D%22%23E64646%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') 50% no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 2px
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_percent.up {
    color: #4bb34b
}

.stats_cont_browse_tile .stats_cont_browse_tile_caption .stats_cont_browse_tile_caption_values .stats_cont_browse_tile_caption_values_percent.up:before {
    content: ' ';
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h16v16H0z%22%2F%3E%3Cpath%20d%3D%22M6.995%205.426L4.711%207.711a1.005%201.005%200%200%201-1.422-1.422l4-4a1.005%201.005%200%200%201%201.422%200l4%204a1.005%201.005%200%201%201-1.422%201.422L9.005%205.426V12a1.005%201.005%200%201%201-2.01%200V5.426z%22%20fill%3D%22%234BB34B%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') 50% no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 2px
}

.stats_cont_browse_tile .stats_cont_browse_tile_desc {
    height: 58px;
    position: absolute;
    bottom: 0px;
    background-color: #f5f7fa;
    width: 235px
}

.stats_cont_browse_tile .stats_cont_browse_tile_desc .desc {
    bottom: 0px;
    position: absolute;
    padding: 12px 16px;
    font-size: 12.5px;
    line-height: 17px;
    color: #6f7985
}

.ui_tabs.stats_subtabs {
    margin: 0 30px 5px;
    padding: 5px 0 0
}

.ui_tabs.stats_subtabs .flat_button {
    margin-top: 9px
}

#posts_reach_tab a {
    position: relative
}

#stats_cont h4,
.stats_head {
    border: none;
    border-top: 1px solid #e7e8ec;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding: 30px 30px 13px;
    margin: 0 -30px
}

.first>#stats_cont h4,
.first>.stats_head {
    border-top: none;
    padding-top: 10px
}

.box_stats #stats_cont h4,
.box_stats .stats_head {
    font-size: 13px;
    padding: 18px 0 12px
}

.box_stats .first>#stats_cont h4,
.box_stats .first>.stats_head {
    border-top: none;
    padding-top: 0
}

.box_stats #stats_cont h4,
.box_stats .stats_head {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 -25px
}

#stats_cont h4:first-child {
    border-top: none;
    padding-top: 10px
}

#stats_export_box .label {
    color: #656565;
    padding: 5px 10px 0;
    width: 200px;
    min-height: 19px;
    text-align: right
}

#stats_export_box .labeled,
#stats_export_box .labeled_text {
    width: 200px
}

#stats_export_box .labeled_text {
    padding-top: 5px
}

#stats_export_box .labeled_text .idd_wrap {
    white-space: nowrap
}

#stats_export_box .checkbox {
    line-height: 19px;
    margin-bottom: 10px
}

#stats_export_box .clear_fix {
    padding-bottom: 10px
}

#stats_export_box .box_error {
    display: none
}

.box_stats .stats_flash_wrap:last-child {
    margin-bottom: 0
}

.stats_flash_wrap {
    height: 385px;
    width: 735px;
    margin-bottom: 20px;
    position: relative
}

div.box_stats .stats_flash_wrap {
    width: 588px!important
}

#stats_cont,
.stats_cont {
    padding: 15px 30px 20px
}

#stat_group_postsreach_table.stats_loading,
#stats_cont.stats_loading {
    opacity: 0.75;
    filter: alpha(opacity=75);
    pointer-events: none
}

#stat_group_postsreach_description,
.stats_graph_description {
    line-height: 19px;
    margin-bottom: 15px
}

#stats_cont .graph_right_menu {
    margin-top: -29px;
    padding-bottom: 22px
}

#stats_cont .stats_piechart_wrapper {
    width: 735px!important;
    margin-bottom: 20px
}

#stats_cont .stats_piechart_graph {
    width: 200px;
    margin: 0 0 20px 67.5px
}

.piechart_table {
    width: 400px;
    font-size: 12px;
    cursor: default;
    margin: 0 0 20px
}

.piechart_table tr td {
    padding: 7px 8px 8px;
    border-bottom: 1px solid #eaeef1;
    text-align: left
}

.piechart_table tr td .piechart_stat_name {
    min-width: 120px;
    max-width: 190px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.piechart_stat_color {
    float: left;
    margin: 2px 8px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 2px
}

.piechart_col_header th {
    padding: 7px 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eef2f6;
    text-align: left
}

.piechart_col_header th.piechart_col_header_first {
    padding-left: 28px
}

.piechart_col_header th.piechart_col_header_second {
    padding-right: 20px
}

.piechart_row {
    cursor: default
}

.stats_no_stats_absolute_mask {
    position: absolute;
    background: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #939393;
    padding: 30px 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px
}

.stats_no_stats_absolute_mask b {
    color: #656565;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top
}

.stat_group_postsreach_data_load_msg,
.stats_no_data {
    color: #939393;
    padding: 30px 0;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 22px
}

.stat_group_postsreach_data_load_msg b,
.stats_no_data b {
    color: #656565;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top
}

.stats_time_info {
    border-top: 1px solid #e7e8ec;
    padding: 8px 0 0;
    font-size: 11px
}

.stats_privacy_form {
    padding: 0 0 20px
}

.stats_privacy_form .radiobtn {
    margin-top: 12px
}

.stats_privacy_form .radiobtn:first-child {
    margin-top: 0
}

.stats_postsreach_tt .tt_text {
    width: 240px
}

.stats_postsreach_tt .stats_postsreach_tt_header {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 3px 0;
    color: #656565
}

.stats_postsreach_tt .stats_postsreach_tt_close {
    width: 11px;
    height: 11px;
    background: url(/images/icons/stats_hint_hide.png);
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    opacity: 0.3
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .stats_postsreach_tt .stats_postsreach_tt_close {
        background-image: url(/images/icons/stats_hint_hide_2x.png);
        background-size: 11px 11px
    }
}

.stats_postsreach_tt .stats_postsreach_tt_close:hover {
    opacity: 1
}

#stat_group_postsreach_table {
    margin-bottom: 20px
}

#stat_group_postsreach_table table {
    border-width: 0
}

#stat_group_postsreach_table table.paginate_layout_table {
    display: none
}

#stat_group_postsreach_table td {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e8ec;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 17px
}

#stat_group_postsreach_table .empty_row td {
    padding: 0
}

#stat_group_postsreach_table tr {
    cursor: pointer
}

#stat_group_postsreach_table tr:hover td {
    background-color: #f6f7f9
}

#stat_group_postsreach_table .paginated_table_header th.paginated_table_cell {
    border: 0
}

#stat_group_postsreach_table .paginated_table_header th.paginated_table_cell div {
    border-left: 0
}

#stat_group_postsreach_table .table_header_upper_span {
    color: #8996a3;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.stat_group_postsreach_table_hint {
    color: #8996a3!important;
    cursor: pointer
}

#stat_group_postsreach_header {
    padding-bottom: 33px
}

.stat_group_postsreach_people_text,
.stat_group_postsreach_post_descr_date {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #939393
}

.stat_group_postsreach_people_text_delim {
    color: #939393
}

.stat_group_postsreach_post_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    display: block
}

.stat_group_postsreach_post_title br,
.stat_group_postsreach_post_title br:before {
    content: ' '
}

.stat_group_postsreach_post_descr_short {
    padding-left: 10px;
    color: #42648b;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top
}

.post_comment_icon,
.post_like_icon,
.post_share_icon {
    background: url(/images/icons/feedback_stats.png) no-repeat;
    margin: -1px 2px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 14px;
    height: 14px;
    display: inline-block
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .post_comment_icon,
    .post_like_icon,
    .post_share_icon {
        background-image: url(/images/icons/feedback_stats_2x.png);
        background-size: 14px 47px
    }
}

.post_share_icon {
    background-position: 0 -16px
}

.post_comment_icon {
    background-position: 0 -33px
}

.post_like_icon {
    background-position: 0 1px
}

.stat_group_postsreach_img_small {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -2px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    border-radius: 2px;
    vertical-align: top
}

#stat_group_postsreach_more_link {
    display: none;
    margin-top: -21px;
    margin-bottom: 20px
}

#stat_group_postsreach_header .round_tab {
    margin-left: 10px
}

.stat_group_postsreach_show {
    cursor: pointer;
    white-space: nowrap
}

.stat_group_postsreach_empty_placeholder {
    background-color: #f7f7f7;
    color: #939393;
    padding: 30px 0;
    overflow: hidden;
    cursor: default;
    text-align: center;
    font-size: 14px;
    line-height: 22px
}

.stat_group_postsreach_empty_placeholder b {
    color: #656565;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top
}

#stat_group_postsreach_header_period {
    padding-left: 2px;
    padding-top: 2px;
    color: #666;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

#stat_group_postsreach_period_date {
    color: #000
}

.stat_group_postsreach_enable_interface {
    color: #939393;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 100%
}

.stat_group_postsreach_enable_interface_txt {
    display: inline-block;
    width: 530px
}

.stat_group_postsreach_enable_interface_txt button {
    margin-top: 10px;
    margin-bottom: 30px
}

.stat_group_postsreach_enable_interface_txt span {
    margin-top: 30px;
    min-height: 80px;
    display: inline-block
}

.stats_clean_bots_form,
.stats_info_msg {
    margin-bottom: 20px
}

.stats_info_msg {
    margin-top: 0
}

.stats_menu_items {
    float: right;
    margin-right: 14px;
    margin-top: 10px
}

.stats_menu_items .active {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.stat_row {
    padding-bottom: 10px;
    margin: 0 -4px 0 10px
}

.stat_details {
    padding-left: 10px
}

.stat_info {
    padding: 5px 0 0 10px;
    color: #666;
    display: none
}

.stat_info .wikiTable {
    margin: 10px auto
}

#stats_tabs .progress {
    margin: 10px
}

#all_stats_tabs {
    background-color: #f7f7f7;
    padding-top: 12px
}

.all_stats_tabs {
    border-bottom: 1px solid #dae1e8;
    height: 24px;
    list-style-type: none;
    margin: 0pt;
    padding: 0px 7px;
    vertical-align: bottom
}

.all_stats_tab_active {
    background-color: #fff;
    border-color: #c3cad2;
    border-style: solid solid none;
    border-width: 1px 1px 0px;
    float: left;
    height: 24px;
    margin: 0px 3px -1px;
    text-align: center;
    position: relative
}

.all_stats_tab_active a {
    float: left;
    height: 21px;
    line-height: 1.9em;
    padding: 0 10px;
    text-decoration: none
}

.all_stats_tab {
    background-color: #f5f7fa;
    border-color: #c3cad2;
    border-style: solid solid none;
    border-width: 1px 1px 0px;
    float: left;
    height: 23px;
    margin: 0px 3px;
    text-align: center
}

.all_stats_tab a {
    border-bottom: 2px solid #e7e8ec;
    float: left;
    text-decoration: none;
    padding: 0 10px;
    height: 21px;
    line-height: 1.9em
}

.all_stats_tab a:hover {
    background-color: #fff;
    text-decoration: none
}

.all_stats_tab,
.all_stats_tab_active,
.all_stats_tab a:hover {
    border-radius: 4px 4px 0 0
}

.stats_api_method_row {
    margin-left: 15px;
    color: #45688e;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.18em;
    border-bottom: 1px solid #dae1e8
}

.stats_api_method_row .graph_link {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 1em;
    margin: 2px 20px 0px
}

.stats_api_method_time {
    margin-left: 15px
}

.stat_app_short_info {
    padding: 10px 20px
}

.stat_app_visit_header {
    border-right: 1px solid #d3dbe1;
    background-color: #e3e9ee
}

.stat_app_visit_header>div {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #d3dbe1;
    padding: 5px 10px;
    text-align: right
}

.stat_app_visit_row.even {
    background-color: #f0f2f4
}

.stat_app_visit_row>div {
    padding: 5px 10px;
    text-align: right
}

#apps_edit_subtabs {
    background-color: #f7f7f7;
    border: 1px solid #dae1e8;
    border-width: 0px 0px 1px;
    padding: 10px
}

.apps_edit_subtab1 {
    float: right;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
    color: #45688e
}

.apps_edit_subtab1:hover {
    background-color: #e1e7ed
}

.apps_edit_subtab1.active {
    background-color: #597da3;
    color: #fff;
    cursor: default
}

.apps_edit_subtab2 {
    padding: 3px 8px 4px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.stats_hidden {
    display: none
}

.gray_divider {
    color: #777;
    margin: 0px 5px
}

.gray_divider,
.stats_graph_selector_link {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.stats_graph_selector_link {
    font-size: 1em;
    margin-top: 2px
}

.stats_graph_selector_link.selected a {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default
}

.stats_graph_selector_link.selected a:hover {
    text-decoration: none
}

.graph_horizontal_menu_wrapper .stats_head {
    margin-bottom: 0;
    padding-bottom: 8px
}

.graph_horizontal_menu_wrapper .summary_tabs {
    margin: 0 10px 10px
}

#stats_audio_top h4 {
    border-bottom: 1px solid #dae1e8;
    color: #45688e;
    font-size: 1.09em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 10px 10px;
    padding: 10px 0 2px;
    text-align: left
}

.stats_title_link {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 0.9em
}

#stats_empty {
    margin: 10px 0;
    padding: 100px 0;
    color: #777;
    text-align: center;
    font-size: 1.18em
}

.stats_community_messages_info {
    padding: 0 10px 20px;
    margin-bottom: 31px;
    border-bottom: 1px solid #e7e8ec
}

.stats_community_messages_info_icon {
    width: 100px;
    height: 100px;
    background: url(/images/icon_comm_mess.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .stats_community_messages_info_icon {
        background-image: url(/images/icon_comm_mess_2x.png);
        background-size: 100px 100px
    }
}

.stats_community_messages_info_cont {
    margin-left: 20px;
    width: 510px
}

.stats_community_messages_info_title {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    padding-top: 3px;
    font-weight: 500
}

.stats_community_messages_info_caption {
    color: #656565;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px
}

.stats_community_messages_info_actions {
    margin-top: 13px
}

.stats_contacts.msg {
    margin: 0 0 15px;
    padding: 10px
}

.stat_count {
    margin: 10px 0 30px
}

.stat_count_value {
    font-size: 28px;
    margin-bottom: 7px
}

.stat_count_desc {
    line-height: 19px
}

#stats_cont.stats_rating {
    padding-left: 42px;
    padding-right: 42px
}

#stats_cont.stats_rating .stats_head {
    padding-bottom: 8px
}

.stats_rating_stars {
    display: inline-block;
    overflow: hidden
}

.stats_rating_star {
    position: relative;
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 7px;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200H20V20H0z%22%2F%3E%3Cpath%20fill%3D%22%23DFE6ED%22%20d%3D%22M9.695%2015.344l-4.327%202.574a.6.6%200%200%201-.89-.658l1.165-4.756a.6.6%200%200%200-.198-.604l-3.8-3.17a.6.6%200%200%201%20.338-1.058l5.018-.392a.6.6%200%200%200%20.505-.363L9.45%202.365a.6.6%200%200%201%201.103%200l1.945%204.552a.6.6%200%200%200%20.505.363l5.017.392a.6.6%200%200%201%20.338%201.058l-3.8%203.17a.6.6%200%200%200-.198.604l1.165%204.756a.6.6%200%200%201-.89.658l-4.327-2.574a.6.6%200%200%200-.613%200z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 0 0 / cover
}

.stats_rating_star.stats_rating_star_full:before,
.stats_rating_star.stats_rating_star_half:before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200H20V20H0z%22%2F%3E%3Cpath%20fill%3D%22%236690C7%22%20d%3D%22M9.695%2015.344l-4.327%202.574a.6.6%200%200%201-.89-.658l1.165-4.756a.6.6%200%200%200-.198-.604l-3.8-3.17a.6.6%200%200%201%20.338-1.058l5.018-.392a.6.6%200%200%200%20.505-.363L9.45%202.365a.6.6%200%200%201%201.103%200l1.945%204.552a.6.6%200%200%200%20.505.363l5.017.392a.6.6%200%200%201%20.338%201.058l-3.8%203.17a.6.6%200%200%200-.198.604l1.165%204.756a.6.6%200%200%201-.89.658l-4.327-2.574a.6.6%200%200%200-.613%200z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 0 0 / cover;
    z-index: 1
}

.stats_rating_star.stats_rating_star_half:before {
    width: 9.5px
}

.stats_rating_wrap {
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: -4px
}

.stats_rating_block {
    box-sizing: border-box;
    width: 290px;
    float: left;
    margin-bottom: 37px;
    margin-right: 95px
}

.stats_rating_block:nth-child(2n) {
    margin-right: 0
}

.stats_rating_block_title {
    font-size: 14px;
    font-weight: 500;
    color: #222
}

.stats_rating_block_desc {
    font-size: 13px;
    line-height: 1.31;
    margin: 6px 0 8px;
    color: #222
}

.stats_rating_empty {
    width: 400px;
    margin: 104px auto;
    text-align: center
}

.stats_rating_empty .stats_rating_star {
    width: 24px;
    height: 24px;
    margin-right: 10px
}

.stats_rating_empty_title {
    font-size: 19px;
    margin-top: 22px
}

.stats_rating_empty_desc {
    color: #656565;
    font-size: 13px;
    line-height: 1.46;
    margin-top: 9px
}

.stats_rating_help {
    color: #828282;
    border-bottom: 1px solid #e7e8ec;
    text-align: center;
    padding: 0 42px 28px;
    margin: 0 -42px 22px
}

.stats_rating_beta {
    display: inline-block;
    color: #656565;
    margin-left: 3px
}