.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

#stickers_office_css {
    display: none
}

.stickers_office_summary {
    border-bottom: 1px solid #e7eaed;
    color: #47688d;
    padding: 13px 10px 3px
}

.stickers_office_summary .summary {
    font-weight: 700
}

#stickers_office_progress {
    display: none
}

.sticker_row {
    margin: 0;
    padding: 11px 12px;
    border-bottom: 1px solid #e7eaed;
    cursor: pointer
}

.sticker_row_over {
    background-color: #edf1f5
}

.sticker_image {
    padding: 0;
    vertical-align: top
}

.sticker_description {
    padding-left: 5px;
    vertical-align: top
}

.sticker_subdimage {
    margin-right: 8px;
    height: 75px;
    width: 75px;
    overflow: hidden;
    text-align: center
}

.sticker_subdimage img {
    border-radius: 5px;
    width: 75px
}

.sticker_description {
    padding-left: 5px;
    vertical-align: top
}

.sticker_info_rows {
    width: 515px
}

.sticker_name {
    vertical-align: top;
    padding: 0 0 10px
}

.sticker_name a {
    font-weight: 700
}

.sticker_info,
.sticker_info_hidden {
    padding: 2px 0 3px
}

.sticker_info_label {
    color: #777;
    width: 120px
}

a.sticker_action {
    display: block;
    padding: 6px 14px 0px;
    font-weight: 400;
    height: 19px;
    text-align: left
}

a.sticker_action:hover {
    background-color: #e1e7ed;
    text-decoration: none
}

#stickers_no_results {
    margin: 10px 0;
    padding: 100px 0;
    color: #777;
    font-size: 1.18em;
    text-align: center
}

#sticker_update_comment {
    width: 370px;
    height: 80px
}

#stickers_office .stickers_office_content {
    padding: 30px
}

#stickers_office .stickers_office_content .stickers_office_name_cell {
    padding: 12px 0
}

#stickers_office .stickers_office_content .stickers_office_name_cell.sticker_office_name_cell_stat {
    border-radius: 4px;
    width: 240px;
    padding: 10px
}

#stickers_office .stickers_office_content .stickers_office_name_cell.sticker_office_name_cell_stat.active {
    background-color: #f0f2f5
}

#stickers_office .stickers_office_content .stickers_office_name_cell .stickers_office_img {
    width: 40px;
    height: 40px;
    vertical-align: middle
}

#stickers_office .stickers_office_content .stickers_office_name_cell .stickers_office_name {
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px
}

#stickers_office .stickers_office_content .stickers_office_name_cell .stickers_office_name .stickers_office_pack_title {
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000
}

#stickers_office .stickers_office_content .stickers_office_name_cell .stickers_office_name .stickers_office_pack_info {
    margin-top: 4px;
    font-size: 12.5px;
    text-align: left;
    color: #828282
}

#stickers_office .stats_head {
    border-top: 0
}

#stickers_office #stickers_office_sale .ui_table .header {
    height: 52px
}

#stickers_office #stickers_office_sale .ui_table .header .ui_table_cell {
    padding-left: 12px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: -0.1px
}

#stickers_office #stickers_office_sale .ui_table .header .ui_table_cell .stat_subheader {
    font-size: 10px;
    color: #6f7985
}