#thumbs_edit_css {
    display: none
}

.editable_thumbs .page_album_nocover .draggable_thumb,
.editable_thumbs .thumb_market_album_wrap.page_album_nocover .draggable_thumb,
.photo_thumb_btn_editor,
.photo_thumb_btn_show {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

div.editable_thumbs {
    position: relative;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: visible!important
}

.editable_thumbs .thumb_wrap.last_row {
    margin-bottom: 0
}

.editable_thumbs .thumb_wrap.last_column {
    margin-right: 0
}

.editable_thumbs .thumb_wrap {
    position: relative;
    margin: 0 5px 5px 0;
    top: 0;
    left: 0;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease
}

.editable_thumbs .thumb_wrap .draggable_thumb {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.editable_thumbs .thumb_wrap .draggable_thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    display: none
}

.editable_thumbs .thumb_wrap .draggable_thumb .preview {
    background-repeat: no-repeat;
    background-position: 50%;
    -o-object-fit: cover;
    object-fit: cover
}

.editable_thumbs .thumb_wrap .draggable_thumb .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 7px;
    margin: 8px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .4);
    font-size: 12.5px;
    line-height: 23px;
    height: 23px;
    white-space: nowrap;
    color: #fff
}

.editable_thumbs .thumb_wrap .draggable_thumb.unsized {
    background: 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden
}

.editable_thumbs .thumb_wrap .draggable_thumb.unsized_single {
    background-size: contain
}

.editable_thumbs .thumb_wrap.break_next {
    clear: right
}

.editable_thumbs .thumb_wrap .draggable_thumb.changing .ui_thumb_x_button,
.editable_thumbs .thumb_wrap .draggable_thumb.moving .ui_thumb_x_button {
    display: none
}

.editable_thumbs .thumb_wrap .draggable_thumb.moving .page_album_title_text {
    visibility: hidden
}

.editable_thumbs .page_album_nocover {
    background: none
}

.editable_thumbs .page_album_nocover .draggable_thumb {
    background: #ecf1f5 url(/images/camera_big.png?1) no-repeat 50% 45%
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .editable_thumbs .page_album_nocover .draggable_thumb {
        background-image: url(/images/camera_big_2x.png?1);
        background-size: 60px 48px
    }
}

.editable_thumbs .page_album_nocover .draggable_thumb.moving {
    background-size: 20px 16px!important
}

.editable_thumbs .page_album_nocover .draggable_thumb img.preview {
    display: none!important
}

.editable_thumbs .thumb_market_album_wrap.page_album_nocover .draggable_thumb {
    background: #ecf1f5 url(/images/icons/mall_icon.png?2) no-repeat 50% 45%
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .editable_thumbs .thumb_market_album_wrap.page_album_nocover .draggable_thumb {
        background-image: url(/images/icons/mall_icon_2x.png?2);
        background-size: 81px 82px
    }
}

.editable_thumbs .thumb_market_album_wrap.page_album_nocover .draggable_thumb.moving {
    background-size: 22px 25px!important
}

.photo_thumb_btns_container {
    width: 100%;
    overflow: hidden;
    height: 54px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    opacity: 0;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear
}

.photo_thumb_btns_container:before {
    content: '';
    display: inline-block;
    height: inherit
}

.thumb_no_controls .photo_thumb_btns_container {
    display: none
}

.photo_thumb_btns_overlay {
    width: 100%;
    display: inline-block;
    padding: 15px 12px;
    height: 54px;
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .55) 100%);
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, .55));
    box-sizing: border-box;
    min-width: 48px;
    vertical-align: top
}

.photo_thumb_btns {
    height: 24px;
    overflow: hidden
}

.photo_thumb_btn_editor,
.photo_thumb_btn_show {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-image: url(/images/attach_icons.png?4);
    opacity: 0.7
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .photo_thumb_btn_editor,
    .photo_thumb_btn_show {
        background-image: url(/images/attach_icons_2x.png?4);
        background-size: 32px 254px
    }
}

.photo_thumb_btn_editor:hover,
.photo_thumb_btn_show:hover {
    opacity: 1
}

.photo_thumb_btn_editor+.photo_thumb_btn_editor,
.photo_thumb_btn_editor+.photo_thumb_btn_show,
.photo_thumb_btn_show+.photo_thumb_btn_editor,
.photo_thumb_btn_show+.photo_thumb_btn_show {
    margin-left: 12px
}

.photo_thumb_btn_show {
    background-position: -5px -167px
}

.photo_thumb_btn_editor {
    background-position: -5px -200px
}

.thumb_wrap:hover .photo_thumb_btns_container {
    opacity: 1
}

.moving .photo_thumb_btns_container {
    opacity: none
}