#translation_css {
    display: none
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_action,
.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before,
.tr_box_edit_key .tr_box_discussions_form_reply_user_name .tr_box_discussions_form_reply_user_name_cancel,
.tr_box_edit_key .tr_history_resizer_handler,
.tr_lang_status,
.tr_row_value_text_short:before,
.tr_translation_box_icons .tr_translation_box_icon {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.translation_box {
    text-align: center;
    padding: 20px 0
}

.translation_box .flat_button {
    margin: 5px 0;
    width: 190px
}

i.translated,
i.untranslated {
    cursor: copy;
    font-style: normal
}

i.translated {
    border-bottom: 1px dotted #555
}

i i.translated {
    border-bottom: 1px solid #000
}

i.untranslated {
    border-bottom: 1px dotted red
}

i i.untranslated {
    border-bottom: 1px solid red
}

.tr_key_multi_sep {
    margin: 0 5px;
    color: #c5c5c5
}

.tr_keys {
    padding: 10px
}

.tr_untranslated_warning {
    padding: 20px 20px 30px;
    text-align: center;
    color: #444
}

.tr_keys_lang_selector_wrap {
    padding: 20px;
    height: 30px
}

.tr_keys_lang_selector_wrap>input {
    border: none
}

.tr_discussions_page_controls .tr_keys_lang_selector_wrap {
    padding: 20px 20px 10px
}

.tr_key {
    font-size: 12px;
    padding: 7px 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .06)
}

.tr_key:last-child {
    border: none
}

.tr_key:hover {
    background-color: #f5f7fa
}

.tr_key.tr_key_log:hover {
    background-color: transparent;
    cursor: default
}

.tr_key.tr_key_log .tr_key_inner,
.tr_key.tr_key_log .tr_key_key_name {
    margin-left: 0;
    margin-right: 0
}

.tr_key .tr_key_bullet {
    margin: 2px 0 0;
    float: left;
    font-size: 12px;
    color: #aaa
}

.tr_key.tr_untranslated {
    background-color: #fff7dc
}

.tr_key.tr_untranslated:hover {
    background-color: #fff5d2
}

.tr_key .tr_key_inner {
    margin-left: 36px;
    margin-right: 80px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis
}

.tr_key .tr_key_key_name {
    margin-top: 5px;
    margin-left: 36px;
    color: #909090
}

.tr_key .tr_key_key_name .tr_key_name_title {
    float: left;
    margin-top: 2px
}

.tr_key .tr_key_key_name .tr_key_icon {
    float: left;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    background-size: 100% auto;
    background-repeat: no-repeat
}

.tr_key .tr_key_key_name .tr_key_icon.has_screens {
    background-image: url(/images/svg_icons/photo.svg)
}

.tr_key .tr_key_key_name .tr_key_icon.has_status {
    background-size: 15px auto;
    background-position: 1px 1px;
    background-image: url(/images/svg_icons/info.svg)
}

.tr_key .tr_key_key_name .tr_key_icon.has_comments {
    background-size: 18px;
    background-image: url(/images/svg_icons/comment_outline_24.svg);
    position: relative
}

.tr_key .tr_key_key_name .tr_key_icon.has_comments.has_discussion:after {
    top: 5px;
    left: 7px;
    width: 7px;
    height: 7px;
    font-size: 12px;
    content: "!";
    position: absolute;
    overflow: hidden;
    line-height: 4px
}

.tr_key .tr_key_section {
    margin-top: -15px;
    float: right;
    color: #adadad
}

.tr_key .tr_key_desc {
    color: #8a8a8a;
    margin: 8px 70px 0 36px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis
}

.tr_show_key_names .tr_key_key_name {
    display: block
}

.tr_section_name {
    white-space: normal
}

.tr_section_isolated {
    color: #aaa
}

.tr_section_counter {
    padding-right: 15px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #42648b
}

.ui_rmenu_loading_item .tr_section_counter {
    display: none
}

.tr_sections_block {
    padding-top: 0!important
}

.tr_sections_block .ui_search {
    margin-bottom: 5px
}

.tr_sections_block .ui_rmenu_item .pr {
    margin-right: 16px!important
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment {
    border-bottom: 1px solid #e7e8ec;
    border-top: 1px solid transparent;
    -o-transition: background-color 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    padding: 10px 0
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_highlighted,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_highlighted {
    background: #f2f4f7;
    border-color: #e7e8ec
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_edit_form_wrap,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_edit_form_wrap,
.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_action.edit_action,
.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_footer,
.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_text,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_action.edit_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_footer,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_text {
    display: none
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form_wrap,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form_wrap {
    display: block
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form {
    margin-right: 3px;
    display: block
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form .tr_box_discussions_comment_edit_form_input,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_editing .tr_box_discussions_comment_edit_form .tr_box_discussions_comment_edit_form_input {
    margin: 10px 0;
    display: block;
    width: 100%
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment:last-child,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment:last-child {
    padding-bottom: 0;
    border-bottom: 0
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment:first-child,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment:first-child {
    padding-top: 0
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo {
    float: left;
    width: 40px;
    height: 50px;
    position: relative
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo img,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    margin-right: 10px
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo img:before,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo img:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo img:after,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo img:after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo img:after,
    .tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo img:after {
        background-image: url(/images/camera_200.png)
    }
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_photo .tr_box_discussions_comment_flag,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_photo .tr_box_discussions_comment_flag {
    right: 0;
    top: 32px;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    width: 18px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 0 2px #594d4d;
    background-color: #fff
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_author,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_author {
    color: #939393
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_author a,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_author a {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #42648b
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_content,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_content {
    margin-left: 50px
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_content .tr_box_discussions_comment_text,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_content .tr_box_discussions_comment_text {
    line-height: 17px;
    word-wrap: break-word
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_content .tr_box_discussions_comment_footer_date,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_content .tr_box_discussions_comment_footer_date {
    color: #939393
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_deleted,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_deleted {
    padding: 21px 0;
    color: #939393
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment.tr_box_discussions_comment_deleted:last-child,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment.tr_box_discussions_comment_deleted:last-child {
    padding-bottom: 8px
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions_wrap,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions_wrap {
    float: right;
    position: relative;
    z-index: 10
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions {
    padding-top: 4px;
    right: 0;
    height: 11px;
    width: 50px;
    position: absolute
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before {
    float: right;
    margin-top: -2px;
    -o-animation-name: round_spinner;
    animation-name: round_spinner;
    -o-animation-duration: 700ms;
    animation-duration: 700ms;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    background-image: url(/images/icons/round_spinner.png);
    display: block;
    content: '';
    width: 16px;
    height: 16px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before,
    .tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress:before {
        background-image: url(/images/icons/round_spinner_2x.png);
        background-size: 16px 16px
    }
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress .tr_box_discussions_comment_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_actions.tr_box_discussions_comment_actions_progress .tr_box_discussions_comment_action {
    display: none
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_action {
    background: url(/images/post_icon.png?10) no-repeat 1px -52px;
    margin-left: 7px;
    width: 13px;
    height: 13px;
    float: right;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: visibility 100ms ease, opacity 100ms ease;
    transition: visibility 100ms ease, opacity 100ms ease;
    outline: none;
    cursor: pointer
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_action,
    .tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_action {
        background-image: url(/images/post_icon_2x.png?10);
        background-size: 20px 413px
    }
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_action.edit_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_action.edit_action {
    background-position: 0 -40px
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment .tr_box_discussions_comment_action:hover,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment .tr_box_discussions_comment_action:hover {
    opacity: 1;
    filter: none
}

.tr_box_discussions_comment_tt .tr_box_discussions_comment:hover .tr_box_discussions_comment_action,
.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comment:hover .tr_box_discussions_comment_action {
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.tr_box_discussions_comment_tt {
    padding: 10px 20px;
    width: 350px
}

.tr_box_edit_key .tr_box_discussions_form_wrap {
    width: 940px
}

.tr_box_edit_key .tr_box_discussions_form_reply_user_name {
    float: right;
    margin-top: 5px;
    color: #939393;
    white-space: nowrap;
    overflow: hidden
}

.tr_box_edit_key .tr_box_discussions_form_reply_user_name .tr_box_discussions_form_reply_user_name_label {
    text-overflow: ellipsis;
    padding-right: 1px;
    text-align: right;
    overflow: hidden;
    line-height: 16px
}

.tr_box_edit_key .tr_box_discussions_form_reply_user_name .tr_box_discussions_form_reply_user_name_cancel {
    margin: 4px 0 0 3px;
    float: right;
    background: url(/images/post_icon.png?10) no-repeat 1px -52px;
    width: 13px;
    height: 13px;
    cursor: pointer
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_box_edit_key .tr_box_discussions_form_reply_user_name .tr_box_discussions_form_reply_user_name_cancel {
        background-image: url(/images/post_icon_2x.png?10);
        background-size: 20px 413px
    }
}

.tr_box_edit_key .tr_box_discussions_comments_wrap {
    border-bottom: 1px solid #e7e8ec;
    padding: 15px 20px
}

.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comments_more:first-child {
    margin-bottom: 10px
}

.tr_box_edit_key .tr_box_discussions_comments_wrap .tr_box_discussions_comments_more:last-child {
    margin-top: 10px
}

.tr_box_edit_key .tr_box_discussions_error_wrap {
    padding: 10px 20px;
    border-bottom: 1px solid #e7e8ec;
    display: none
}

.tr_box_edit_key .tr_box_discussions_error_wrap .msg {
    margin: 0;
    border-color: #f2ab99;
    background-color: #ffefe9
}

.tr_box_edit_key .tr_box_discussions_form .tr_box_discussions_form_input {
    box-sizing: border-box;
    padding: 15px 20px;
    border: 0;
    border-radius: 0;
    width: 100%;
    display: block
}

.tr_box_edit_key .translation_box_controls {
    padding: 14px 23px 14px 25px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e7e8ec;
    background-color: #fafbfc
}

.tr_box_edit_key .translation_box_controls_btn {
    float: right;
    margin-left: 10px
}

.tr_box_edit_key .translation_box_controls_links {
    float: left;
    margin-top: 5px
}

.tr_box_edit_key .tr_control {
    margin: 20px
}

.tr_box_edit_key.tr_box_edit_key_new .tr_box_edit_key_values .tr_key_edit_wrap {
    margin-left: 20px;
    margin-right: 10px
}

.tr_box_edit_key.tr_box_edit_key_new .tr_box_edit_key_values .tr_function_chooser {
    top: 31px
}

.tr_box_edit_key .tr_lang_values .tr_history_row {
    margin-right: 10px
}

.tr_box_edit_key .tr_value_row {
    margin-bottom: 5px
}

.tr_box_edit_key .tr_value_row .tr_value_row_special_code {
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background-color: #8ac176;
    cursor: pointer
}

.tr_box_edit_key h4.subheader {
    padding-top: 10px;
    padding-bottom: 8px
}

.tr_box_edit_key .tr_new_key {
    margin-top: 0
}

.tr_box_edit_key .tr_new_key label {
    display: block;
    margin-bottom: 5px
}

.tr_box_edit_key .tr_new_key .tr_new_key_ctrl_wrap {
    margin: 5px 0;
    display: inline-block;
    width: 438px;
    vertical-align: top
}

.tr_box_edit_key .tr_new_key .tr_new_key_ctrl_wrap:first-child {
    margin-right: 20px
}

.tr_box_edit_key .tr_new_key input {
    width: 100%
}

.tr_box_edit_key .tr_new_key .tr_new_key_error {
    position: absolute;
    color: #bd4f2d;
    display: none
}

.tr_box_edit_key .tr_key_parent_value {
    margin: 15px
}

.tr_box_edit_key .tr_key_parent_value_label {
    color: #777;
    display: inline-block;
    line-height: 16px;
    vertical-align: top
}

.tr_box_edit_key .tr_key_parent_value_value,
.tr_box_edit_key .tr_value_rows_wrap {
    line-height: 16px;
    vertical-align: top;
    padding: 12px 15px;
    background-color: #f0f2f5
}

.tr_box_edit_key .tr_value_row_label {
    color: #949494;
    display: inline-block;
    width: 110px;
    vertical-align: top
}

.tr_box_edit_key .tr_value_row_value {
    display: inline-block;
    vertical-align: top;
    width: 295px
}

.tr_box_edit_key .tr_key_key {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0 20px 20px
}

.tr_box_edit_key .tr_key_section {
    margin-right: 30px;
    float: right;
    font-weight: initial;
    color: #777
}

.tr_box_edit_key .tr_key_description {
    line-height: 16px;
    color: #444
}

.tr_box_edit_key .tr_key_edit_wrap {
    margin-left: 10px
}

.tr_box_edit_key .tr_key_edit_wrap .tr_key_edit_language_label {
    margin: 0 0 5px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.tr_box_edit_key .tr_key_edit_wrap .tr_key_edit_labeled {
    white-space: nowrap
}

.tr_box_edit_key .tr_key_edit_wrap textarea {
    box-sizing: border-box;
    display: block;
    height: 30px;
    font-family: Monaco, Consolas, Courier, monospace;
    width: 100%;
    resize: vertical
}

.tr_box_edit_key .tr_key_edit_wrap .tr_key_edit_labeled textarea {
    width: 330px
}

.tr_box_edit_key .tr_key_edit_wrap .tr_key_edit_textarea_wrap {
    display: inline-block
}

.tr_box_edit_key .tr_key_edit_wrap .tr_key_edit_label {
    color: #777;
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px
}

.tr_box_edit_key .tr_description_edit {
    width: 100%;
    color: #444
}

.tr_box_edit_key .tr_history {
    position: relative
}

.tr_box_edit_key .tr_history_rows {
    height: 120px;
    overflow-y: auto
}

.tr_box_edit_key .tr_history_rows .tr_value_row_value {
    width: 100%
}

.tr_box_edit_key .tr_history_resizer {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    cursor: row-resize;
    background-color: #e5e5e5
}

.tr_box_edit_key .tr_history_resizer_handler {
    margin: -7px auto;
    width: 30px;
    height: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .1);
    background-image: url(/images/translation_resize_handler.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 9px 4px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_box_edit_key .tr_history_resizer_handler {
        background-image: url(/images/translation_resize_handler_2x.png);
        background-size: 12px 7px
    }
}

.tr_box_edit_key .tr_history_resizer_handler:hover {
    border: 1px solid #bfbfbf
}

.tr_box_edit_key .tr_history_row {
    padding: 8px 13px;
    margin-bottom: 3px;
    font-size: 12px;
    background-color: #f0f2f5
}

.tr_box_edit_key .tr_history_row:last-child {
    margin-bottom: 20px
}

.tr_box_edit_key .tr_history_row .tr_history_language {
    float: right;
    color: #777
}

.tr_box_edit_key .tr_history_row .tr_history_row_info {
    margin-top: 6px
}

.tr_box_edit_key .tr_history_row .tr_history_row_date {
    color: #999
}

.tr_box_edit_key .tr_function_chooser {
    top: 28px;
    right: 20px;
    position: absolute;
    z-index: 1
}

.tr_box_edit_key .tr_extra_params {
    max-width: 320px
}

.tr_box_edit_key .tr_extra_params .checkbox {
    margin-top: 8px
}

.tr_box_edit_key .tr_case_controls .dropdown_container {
    display: inline-block
}

.tr_box_edit_key .tr_box_edit_key_forms,
.tr_box_edit_key .tr_box_edit_key_values {
    float: left;
    width: 470px;
    position: relative
}

.tr_box_edit_key .tr_key_info {
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 17px 20px;
    background: #f2f4f7;
    border-bottom: 1px solid #e7eaf0;
    position: relative
}

.tr_box_edit_key .tr_lang_value {
    display: none
}

.tr_box_edit_key .tr_box_edit_key_params .subheader {
    padding: 3px 0
}

.tr_box_edit_key .tr_box_edit_key_params .ui_tab_count {
    margin-bottom: -2px;
    height: 16px;
    overflow: hidden;
    display: inline-block
}

.tr_box_edit_key .tr_key_param_tab,
.tr_box_edit_key .tr_key_form_tabs {
    display: none
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_box_discussions_form_wrap {
    width: 540px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_key_edit_wrap {
    margin-left: 20px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_box_edit_key_forms,
.tr_box_edit_key.tr_box_edit_key_simple .tr_box_edit_key_values {
    float: none;
    width: 100%
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_key_edit_labeled textarea {
    width: 385px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_new_key_ctrl_wrap {
    width: 238px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_function_chooser {
    top: 15px;
    right: 20px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_value_rows_wrap {
    height: auto!important
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_lang_value .tr_history_row,
.tr_box_edit_key.tr_box_edit_key_simple .tr_box_edit_key_values .tr_key_edit_wrap {
    margin-right: 20px
}

.tr_box_edit_key.tr_box_edit_key_simple .tr_box_edit_key_values .tr_function_chooser {
    top: 10px;
    right: 20px
}

.tr_box_edit_key .tr_key_settings_option {
    margin-right: 8px;
    margin-bottom: 5px;
    float: left
}

.tr_box_edit_key .tr_key_settings_languages_list {
    margin-top: 10px
}

.tr_clone_box .selector_container {
    display: inline-block;
    vertical-align: top
}

.tr_clone_box .tr_clone_box_key {
    width: 220px;
    margin-left: 20px
}

.tr_clone_box .checkbox {
    margin-top: 15px
}

.tr_translators {
    padding: 10px 20px
}

.tr_translator_edit_wrap {
    display: none
}

.tr_translators.tr_coordinator .tr_translator:not(.tr_translator_coordinator) .tr_translator_edit_wrap {
    display: inline
}

.tr_translators.tr_super_translator .tr_translator_edit_wrap {
    display: inline!important
}

.tr_translators_controls .tr_controls_label {
    color: #888;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 15px 0 10px
}

.tr_translator {
    padding: 15px 0;
    border-bottom: 1px solid #ececec;
    position: relative
}

.tr_translator:last-child {
    border-bottom: none
}

.tr_translator .tr_translator_img,
.tr_translator .tr_translator_name {
    display: inline-block;
    vertical-align: top
}

.tr_translator .tr_translator_name {
    margin: -3px 0 0 10px
}

.tr_translator .tr_translator_added_by,
.tr_translator .tr_translator_added_by a {
    color: #999;
    font-size: 12px
}

.tr_translator .tr_translator_langs {
    color: #777;
    font-size: 12px;
    margin-top: 5px
}

.tr_translator .tr_coordinator {
    margin-left: 5px
}

.tr_translator .tr_coordinator,
.tr_translator .tr_stats {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.tr_translator .tr_stats {
    float: right;
    color: #444
}

.tr_translator .tr_actions {
    position: absolute;
    right: 0;
    bottom: 15px;
    margin-top: 11px;
    font-size: 12px
}

.tr_translator .tr_stat_bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
    margin-left: 2px;
    vertical-align: top;
    margin-top: 5px
}

.tr_translator .tr_stats_bad .tr_stat_bullet_1 {
    background-color: #e88181
}

.tr_translator .tr_stats_good .tr_stat_bullet_1,
.tr_translator .tr_stats_good .tr_stat_bullet_2 {
    background-color: #eacd6a
}

.tr_translator .tr_stats_excellent .tr_stat_bullet_1,
.tr_translator .tr_stats_excellent .tr_stat_bullet_2,
.tr_translator .tr_stats_excellent .tr_stat_bullet_3 {
    background-color: #69bf3a
}

.tr_edit_translator_box .tr_translator_link {
    margin-bottom: 20px
}

.tr_edit_translator_box .selector_container,
.tr_edit_translator_box .tr_lang_arrow {
    display: inline-block;
    vertical-align: top
}

.tr_edit_translator_box .tr_lang_arrow {
    font-size: 21px;
    color: #999;
    margin: 4px 20px
}

.tr_edit_translator_box .tr_translator_is_coordinator {
    margin-top: 20px
}

.tr_edit_translator_box .tr_translator_is_volunteer {
    margin-top: 10px
}

.tr_edit_translator_box .tr_mem_link_wrap {
    position: relative;
    display: inline-block
}

.tr_edit_translator_box .tr_mem_ava {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: 2px;
    right: 5px
}

.tr_translator_bottom_progress {
    margin-top: 6px
}

.tr_languages_list {
    padding: 20px 10px
}

.tr_lang_row {
    position: relative;
    padding: 10px 5px 10px 10px
}

.tr_lang_row>div {
    display: inline-block;
    vertical-align: top
}

.tr_lang_flag {
    margin-top: 1px
}

.tr_lang_flag img {
    width: 34px;
    height: 26px
}

.tr_lang_status {
    background: url(/images/lang_status.png);
    height: 11px;
    width: 13px;
    margin: 8px 8px 0 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_lang_status {
        background-image: url(/images/lang_status_2x.png);
        background-size: 13px 22px
    }
}

.tr_lang_status.tr_lang_status_2 {
    background-position: 0px -11px
}

.tr_lang_status.tr_lang_status_0 {
    visibility: hidden
}

.tr_lang_name_ru_en {
    white-space: nowrap;
    width: 325px;
    overflow: hidden;
    text-overflow: ellipsis
}

.tr_lang_names {
    margin: 0 0 0 8px
}

.tr_lang_names_native {
    color: #666;
    font-size: 12px
}

.tr_lang_translators {
    font-size: 12px;
    color: #888;
    margin-top: 2px
}

.tr_lang_completeness {
    right: 5px;
    top: 11px;
    font-size: 12px;
    position: absolute
}

.tr_log {
    padding: 0 20px
}

.tr_log_row {
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc
}

.tr_log_row:last-child {
    border-bottom: none
}

.tr_log_row_key {
    color: #353535;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer
}

.tr_log_row_key:hover {
    color: #6f6f6f
}

.tr_log_row_date {
    float: right;
    color: #a0a0a0
}

.tr_log_row_value {
    margin-top: 5px
}

.tr_translator_langs {
    color: #888
}

.tr_translator_log_header {
    font-size: 17px;
    line-height: 30px;
    padding: 20px;
    background-color: #eef0f3;
    margin-top: -20px
}

.tr_add_lang_label {
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
    text-align: right;
    color: #656565;
    line-height: 30px;
    width: 205px
}

.tr_add_lang_status {
    display: none
}

.tr_add_lang_row {
    margin: 0 0 10px
}

.tr_add_lang_row:last-child {
    margin-bottom: 0
}

.tr_add_lang .text {
    float: left;
    width: 195px
}

.tran_filter_block {
    padding: 1px 15px 10px
}

.tr_box_edit_key_extended_body {
    border-radius: 3px 3px 0 0
}

.tr_box_discussions_form_opened .tr_box_edit_key .tr_box_edit_key_params {
    padding-bottom: 0
}

.tr_box_discussions_form_opened .tr_box_discussions_form_fixed .tr_box_discussions_form_block {
    min-height: 100px
}

.tr_box_discussions_form_opened .tr_box_discussions_form_fixed .tr_box_discussions_form_wrap {
    bottom: 0px;
    box-shadow: 0px -3px 4px -2px #c9d2db;
    -o-transition: transform 200ms ease-in-out, -o-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -o-transform 200ms ease-in-out;
    z-index: 10;
    position: fixed
}

.tr_box_discussions_form_opened .tr_box_discussions_form_fixed .tr_box_discussions_form_wrap .translation_box_controls {
    border-radius: 0
}

.tr_box_discussions_form_opened .tr_box_discussions_form_fixed.tr_box_discussions_form_hide .tr_box_discussions_form_wrap {
    -o-transform: translateY(500px);
    transform: translateY(500px)
}

.tr_translator_settings {
    padding: 10px
}

.tr_translator_settings_label {
    padding-right: 10px;
    text-align: right;
    color: #656565;
    line-height: 30px
}

.tr_translator_settings_label,
.tr_translator_settings_labeled {
    box-sizing: border-box;
    float: left;
    width: 205px
}

.tr_translator_settings_row {
    margin: 0 0 10px
}

.tr_translator_settings_row:last-child {
    margin-bottom: 0
}

.tr_translator_settings_separator {
    margin: 20px 10px;
    border-top: 1px solid #e7e8ec
}

.tr_translator_settings_controls {
    padding: 0 203px 10px
}

.tr_tanslator_settings_msg {
    display: none
}

.tr_translation_box_icons {
    float: right;
    margin-top: 4px;
    margin-left: 10px
}

.tr_translation_box_icons .tr_translation_box_icon {
    width: 12px;
    height: 12px;
    background: url(/images/market_icons.png?1) no-repeat;
    float: left
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_translation_box_icons .tr_translation_box_icon {
        background-image: url(/images/market_icons_2x.png?1);
        background-size: 24px 241px
    }
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_list {
    margin-right: 10px;
    background-position: left -16px
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_list:hover {
    background-position: left -48px;
    opacity: 0.7
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_list.active {
    background-position: left -48px
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_list.active:hover {
    opacity: 0.7
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_card {
    background-position: left -32px
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_card:hover {
    background-position: left 0;
    opacity: 0.7
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_card.active {
    background-position: left 0
}

.tr_translation_box_icons .tr_translation_box_icon.tr_translation_box_icon_card.active:hover {
    opacity: 0.7
}

.tr_translation_box_title {
    float: left
}

.tr_translation_box_right_title {
    float: right
}

.tr_row_value_text_short {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}

.tr_row_value_text_short .tr_value_row {
    display: inline
}

.tr_row_value_text_short:before {
    float: right;
    margin: 5px;
    background: url(/images/tabs_hider.png) no-repeat;
    background-position: 99% -7px;
    content: '';
    width: 13px;
    height: 11px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .tr_row_value_text_short:before {
        background-image: url(/images/tabs_hider_2x.png);
        background-size: 13px 16px
    }
}

.tr_row_value_text_short.active {
    height: auto;
    white-space: inherit;
    overflow: visible
}

.tr_row_value_text_short.active:before {
    background-position: 99% 2px
}

.translations_screen_attach_box .photos_choose_upload_area {
    width: 100%
}

.translations_screen_attach_box .web_cam_photo,
.translations_screen_attach_box_title .ui_box_search {
    display: none
}

.translation_box_screen {
    padding: 13px;
    border-radius: 3px;
    background: #f2f4f7
}

.translation_box_screen .translations_box_screen_item {
    float: left;
    margin: 0 5px 5px 0;
    height: 70px;
    overflow: hidden
}

.translation_box_screen .translations_box_screen_item img {
    max-width: 150px;
    height: 100%
}

.translation_box_screen .translations_box_no_screenshots {
    float: left;
    color: #777e8c
}

.tr_box_extra_param_tooltip {
    width: 400px
}

.tr_volunteers_not_found {
    text-align: center;
    padding: 100px 0;
    background: #fff;
    color: #666
}

.tr_volunteers_stats_table .paginated_table .paginated_table_table {
    border: 0
}

.tr_volunteers_stats_table .paginated_table .paginated_table_header {
    border: 0;
    background: none
}

.tr_volunteers_stats_table .paginated_table .paginated_table_header .paginated_table_cell {
    border: 0;
    border-bottom: 1px solid #e7e8ec;
    cursor: default;
    background: none
}

.tr_volunteers_stats_table .paginated_table .paginated_table_header .paginated_table_cell div {
    border: 0
}

.tr_volunteers_stats_table .paginated_table .paginated_table_header .paginated_table_cell:hover {
    background: none
}

.tr_volunteers_stats_table .tr_volunteers_status {
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 8px;
    background: url('/images/icons/status_request.png') no-repeat 0px 0px;
    background-size: 18px auto;
    cursor: pointer
}

.tr_volunteers_stats_table .tr_volunteers_status.tr_volunteers_status_wait {
    background-position: 0px 0px
}

.tr_volunteers_stats_table .tr_volunteers_status.tr_volunteers_status_not_sended {
    background-position: 0px -20px
}

.tr_volunteers_stats_table .tr_volunteers_status.tr_volunteers_status_sended {
    background-position: 0px -39px
}