#translation_css {
  display: none;
}
span.translationinfo {
  color: #777;
}
i.translated,
i.untranslated {
  cursor: copy;
  font-style: normal;
}
i.translated {
  border-bottom: 1px dotted #555;
}
i i.translated {
  border-bottom: 1px solid #000;
}
i.untranslated {
  border-bottom: 1px dotted #FF0000;
}
i i.untranslated {
  border-bottom: 1px solid #FF0000;
}
.tokens a {
  border-bottom: 1px dotted;
}
.tokens a:hover {
  border-bottom: 1px solid;
}
blockquote {
  border-left: 3px solid #EEE;
  margin: 10px 0 10px 0px;
  padding: 2px 6px;
  color: #000;
}
.inlineTransBox {
  border: 1px solid #ADBBCA;
  margin: 20px auto;
  padding: 0;
  text-align: left;
  width: 791px;
}
.inlineTransBox li {
  margin-bottom: 10px;
}
.inlineTransBox h5 {
  margin-top: 0px;
  font-size: 1.18em;
}
.hidden {
  visibility: hidden;
}
#translation_inv_wrap {
  background: #F7F7F7;
  padding: 6px 9px;
  height: 30px;
  overflow: hidden;
  line-height: 130%;
}
#translation_inv_text {
  text-align: center;
  line-height: 30px;
}
#translation_inv_box {
  display: none;
  text-align: center;
  margin-top: 4px;
}
#translation_inv_controls {
  display: none;
}
#translation_inv_progress {
  margin: 7px auto 0px;
}
.translation_box {
  padding: 14px;
  text-align: center;
}
.translation_box .button_gray {
  margin-top: 8px;
}
.translation_box a.button_link:hover {
  text-decoration: none;
}
.translation_box .flat_button {
  width: 150px;
  margin-top: 6px;
}
.translation_box .help {
  padding: 10px 46px;
  text-align: center;
}
.translation_inl_box h6 {
  border: none;
  font-size: 1.18em;
  color: #36638E;
  margin: 10px 0px 0px;
  padding: 0px 0px 5px;
}
.translation_inl_box .error {
  display: none;
  margin-bottom: 10px;
}
.translation_inl_box .controls {
  font-size: 0.9em;
  padding: 3px 3px 0px 0px;
}
#translation_inl_additional {
  display: none;
}
#translation_ext_wiki {
  color: #777;
}
#translation_all .loading {
  text-align: center;
  padding: 20px;
}
#translation_all h5 {
  font-size: 1.18em;
  color: #36638E;
  margin: 0px 0px 6px 8px;
}
#translation_all {
  border: 1px solid #ADBBCA;
  margin: 20px auto;
  padding: 0px;
  width: 791px;
}
#translation_all .wrap {
  border: 10px solid #DAE2E8;
  padding: 20px;
}
#translation_all .clear_fix a {
  font-size: 0.9em;
}
#translation_all li {
  margin-bottom: 10px;
}
#translation_all small {
  color: #AAA;
  float: right;
}
#en_translation_cut {
  padding: 10px 0 0;
  display: none;
}
.wide_toggle {
  cursor: pointer;
  color: #6A7989;
  background: #E9EDF1;
  padding: 9px 0px 8px;
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
}
.key_info {
  line-height: 160%;
  margin: 7px 0 15px;
}
.info_key {
  color: #777;
}
#historyWrap {
  margin-top: 10px;
}
.tabs_wrap {
  padding: 15px 0 0 0;
}
.keys-content * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.keys-summary {
  margin-bottom: 15px;
  font-weight: bold;
  color: #45688E;
  margin-left: -30px;
  border-bottom: 1px solid #DAE1E8;
  padding-bottom: 4px;
  width: 646px;
}
#keys-summary-text {
  margin-left: 15px;
}
.keys-list {
  padding: 0 0 0 30px;
  line-height: 140%;
  color: #333;
  width: 630px;
  float: left;
  margin-top: 15px;
}
.keys-list .key-row {
  padding: 5px;
  display: list-item;
  list-style-type: square;
  cursor: pointer;
  color: #758EAC;
  clear: both;
  margin-bottom: 3px;
}
.keys-list .key-row.untranslated {
  background-color: #FFF7DD;
}
.keys-list .key-row.tran_need_review {
  background-color: #FFDDDD;
}
.keys-list .key-row:hover {
  background-color: #F5F5F5;
}
.keys-list .key-row.untranslated:hover {
  background-color: #FAF0CF;
}
.keys-list .key-row.tran_need_review:hover {
  background-color: #FEEBEB;
}
.keys-list .key-row .description {
  float: right;
  color: #ACACAC;
}
.keys-list .key-row .row-value-empty {
  color: #888;
}
.keys-list #key-rows {
  padding-bottom: 10px;
}
.keys-menu {
  float: right;
  padding: 14px;
  background-color: #F7F7F7;
  width: 190px;
}
#quick-search-input {
  width: 100%;
  padding: 5px 5px 5px 24px;
  background: #ffffff url(/images/magglass.png) no-repeat 6px 6px;
}
.tran_update_button {
  width: 100%;
  text-align: center;
}
.tran_update_button#add-new-key {
  margin-bottom: 20px;
}
.tran_update_button#update_js_langpack {
  margin-top: 10px;
  margin-bottom: 20px;
}
.keys-filters {
  padding: 10px 0;
  border-bottom: 1px solid #DFDFDF;
  margin-bottom: 10px;
}
.section-item {
  color: #2B587A;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  display: block;
  height: 29px;
  white-space: nowrap;
}
.section-item:hover {
  text-decoration: none;
  background: #E1E7ED;
}
.section-item.selected {
  background: #5e82a8;
  color: white;
}
.section-item.selected:hover {
  background: #5e82a8;
  color: white;
}
.section-item .untranslated-badge {
  display: inline-block;
  background-color: #D5DDE5;
  color: #45688E;
  padding: 4px 5px;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 5px;
  font-size: 10px;
}
.section-item.selected .untranslated-badge {
  color: white;
  background-color: #89A4C3;
}
.section-item .section-name {
  display: inline-block;
  margin-top: 3px;
}
#progress-spinner {
  display: inline-block;
}
#key-edit-dialog {
  background-color: #F7F7F7;
}
#key-edit-dialog h2 {
  border: none;
  margin-bottom: 5px;
}
#key-edit-dialog input,
#key-edit-dialog textarea {
  -padding: 7px 5px 8px;
}
#key-edit-dialog .tokens {
  margin-top: 1px;
}
#key-edit-dialog .tokens span {
  padding: 3px 4px;
  cursor: pointer;
}
#key-edit-dialog .tokens span.prep-token {
  color: #607282;
}
#key-edit-dialog .tokens span:hover {
  background-color: #DFDFDF;
}
#key-edit-dialog .dialog-field {
  padding: 5px 0;
}
#key-edit-dialog .dialog-field-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  width: 100px;
}
#key-edit-dialog .dialog-field-value {
  display: inline-block;
  margin-left: 8px;
}
#key-edit-dialog .new-key-section-prefix {
  color: #666;
  display: inline-block;
}
#key-edit-dialog #section-newkey input#key {
  width: 200px;
}
#key-edit-dialog .original-phrase-wrap {
  background-color: white;
  padding: 20px 30px;
  max-height: 250px;
  overflow: auto;
}
#key-edit-dialog .ru_en_translation_wrap {
  margin-top: 8px;
}
#key-edit-dialog #ru_en_phrases_wrap {
  margin-top: 10px;
}
#key-edit-dialog .key_info {
  line-height: 160%;
  margin: 7px 0 15px;
}
#key-edit-dialog .info_key {
  color: #999;
}
#key-edit-dialog .key_info_wrap {
  padding: 10px 30px;
}
#key-edit-dialog .edit-sections-wrap {
  padding: 10px 30px 10px 30px;
}
#key-edit-dialog .edit-section {
  margin-bottom: 20px;
}
#key-edit-dialog textarea {
  width: 532px;
  height: 40px;
  line-height: 140%;
}
.code-font {
  font-family: Monaco, "Courier New", Courier, monospace !important;
  font-size: 12px !important;
  line-height: 140%;
}
#key-edit-dialog .history-items {
  overflow: auto;
}
#key-edit-dialog .history-item {
  padding: 10px;
}
#key-edit-dialog .history-item.original-changed {
  background-color: #F6F3E5;
}
#key-edit-dialog .history-item .history-item-author {
  display: inline-block;
}
#key-edit-dialog .history-item .history-item-date {
  display: inline-block;
  color: #999;
  margin-left: 10px;
}
#key-edit-dialog .history-item .history-item-phrase {
  padding: 7px 10px 7px 41px;
}
#key-edit-dialog .history-item .history-item-phrase-created {
  color: #555;
  margin-left: 8px;
  display: inline-block;
}
#key-edit-dialog .history-item .history-item-photo {
  float: left;
  width: 30px;
  margin-right: 10px;
  border-radius: 3px;
}
#key-edit-dialog .history_section_resizer {
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid #DFDFDF;
}
#key-edit-dialog .history_section_resizer:hover {
  background-color: #EDEDED;
}
#key-edit-dialog .history_section_resizer .handle {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  width: 60px;
  height: 3px;
  cursor: ns-resize;
  margin: 0 auto;
  opacity: 0.3;
}
#key-edit-dialog .history_section_resizer .handle:hover {
  opacity: 1.0;
}
#key-edit-dialog .extended-wiki-enabled {
  position: absolute;
  right: 34px;
  background-color: #f5f2a7;
  padding: 3px 10px;
  opacity: 0.0;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#key-edit-dialog .extended-wiki-enabled.enabled {
  opacity: 1.0;
}
#key-edit-dialog .action_controls_wrap {
  display: inline-block;
  vertical-align: top;
}
#key-edit-dialog .action_input_wrap {
  display: inline-block;
  vertical-align: top;
}
#key-edit-dialog .action_input_wrap input[name=inputText] {
  margin: 0;
  height: 18px;
  padding: 0px 2px;
  width: 150px;
}
#key-edit-dialog .action_key_label {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
}
#key-edit-dialog .action_button {
  margin-left: 8px;
}
#key-edit-dialog input.clone_key_name {
  width: 160px;
}
#key-edit-dialog input.move_key_name {
  width: 160px;
}
#key-edit-dialog #action_clone_prefix {
  display: inline-block;
  line-height: 20px;
  color: #888;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 5px;
}
#key-edit-dialog #action_move_prefix {
  display: inline-block;
  line-height: 20px;
  color: #888;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 5px;
}
#key-edit-dialog .key_action_button_wrap {
  display: inline-block;
  margin-top: -1px;
}
#key-edit-dialog img#actionProgressSpinned {
  margin-top: 8px;
  margin-left: 10px;
}
#key-edit-dialog .wide_toggle {
  background: #E3E9EF;
  color: #6A788A;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin-bottom: 16px;
}
#key-edit-dialog .wide_toggle:hover {
  background: #DAE2E9;
  color: #616e7e;
}
#key-edit-dialog .sms-count-text {
  float: right;
  margin-right: 2px;
}
#key-edit-dialog .dialog_key_already_exists {
  display: inline-block;
  margin-left: 10px;
  color: #C2331F;
}
#history_and_parameters {
  display: none;
}
.phrase-label {
  vertical-align: top;
  color: #777;
}
.phrase-value {
  vertical-align: top;
  padding-left: 10px;
}
.context_flat_button {
  padding: 4px 8px 4px;
  cursor: pointer;
  color: #2B587A;
  display: inline-block;
}
.context_flat_button:hover {
  background: #E0E3E7;
}
.error-box {
  padding: 23px 30px;
  background-color: #F5D4C8;
  color: #682929;
  display: none;
}
.translation-progress {
  background-image: url(/images/upload.gif);
  width: 32px;
  height: 8px;
}
#key-edit-dialog .translation-progress {
  position: absolute;
  right: 28px;
  margin-top: -15px;
}
.lang-chooser {
  display: inline-block;
  font-weight: normal;
  float: right;
  margin-right: 20px;
}
#function_type_dd {
  position: absolute;
  right: 30px;
  margin-top: -20px;
  color: #2B587A;
}
.lang_table {
  padding: 20px 20px;
}
.lang_table .flag_cell {
  padding: 4px 0px;
  width: 34px;
  vertical-align: top;
}
.lang_status {
  background-image: url(/images/lang_status.png);
  width: 13px;
  height: 11px;
  margin: 0 auto;
}
.lang_status.lang_enabled_status {
  background-position: 0px 0px;
}
.lang_status.lang_approved_status {
  background-position: 0px -11px;
}
.lang_status.lang_disabled_status {
  height: 0px;
  width: 0px;
}
.lang_table .na_value {
  color: #999;
  display: block;
  text-align: center;
}
.lang_health_indicator {
  background-image: url(/images/lang_indicators.png);
  width: 16px;
  height: 12px;
  margin: 0 auto;
}
.lang_health_indicator.none {
  background-position: 0px 0px;
}
.lang_health_indicator.red {
  background-position: 0px -14px;
}
.lang_health_indicator.yellow {
  background-position: 0px -28px;
}
.lang_health_indicator.green {
  background-position: 0px -42px;
}
.table_legend {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: top;
}
.table_legend .lang_health_indicator {
  display: inline-block;
  vertical-align: top;
}
.table_legend .legend_text {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 6px;
}
.table_legend .lang_status {
  display: inline-block;
}
/* Stats tab */
#lang_stats_page {
  height: auto;
  overflow: hidden;
}
#lang_stats_page .lang_stat_info {
  float: none;
  width: auto;
  overflow: hidden;
  padding: 20px;
}
#lang_stats_page .lang_stat_info .lang_name {
  font-size: 30px;
  color: #444;
}
#lang_stats_page .lang_stat_info .lang_completeness {
  font-size: 24px;
  color: #777;
  margin-top: 5px;
}
#lang_stats_page .lang_stat_info .translators {
  margin-top: 20px;
  border-top: 1px solid #DDDDDD;
}
#lang_stats_page .lang_stat_info .translators .translator_row,
#lang_stats_page .lang_stat_info .translators .translator_row_head {
  padding: 10px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .inl,
#lang_stats_page .lang_stat_info .translators .translator_row_head .inl {
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
}
#lang_stats_page .lang_stat_info .translators .translator_row img,
#lang_stats_page .lang_stat_info .translators .translator_row_head img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: inline-block;
}
#lang_stats_page .lang_stat_info .translators .translator_row .name,
#lang_stats_page .lang_stat_info .translators .translator_row_head .name {
  margin-left: 12px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .parent_lang,
#lang_stats_page .lang_stat_info .translators .translator_row_head .parent_lang {
  color: #777;
  margin-left: 3px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed {
  float: right;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed div,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed div {
  background-image: url(/images/lang_indicators.png);
  width: 16px;
  height: 12px;
  margin-top: 12px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed div.excellent,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed div.excellent {
  background-position: 0px -42px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed div.good,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed div.good {
  background-position: 0px -28px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed div.bad,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed div.bad {
  background-position: 0px -14px;
}
#lang_stats_page .lang_stat_info .translators .translator_row .stats_avg_speed div.none,
#lang_stats_page .lang_stat_info .translators .translator_row_head .stats_avg_speed div.none {
  background-position: 0px 0px;
}
#lang_stats_page .langs_menu {
  float: right;
  width: 170px;
  padding: 14px;
  color: #2B587A;
  background-color: #F7F7F7;
  cursor: pointer;
}
#lang_stats_page .langs_menu .lang_row {
  height: 2.6em;
  line-height: 2.6em;
  padding: 0 10px;
}
#lang_stats_page .langs_menu .lang_row.selected {
  background: #5e82a8;
  color: white;
}
#lang_stats_page .langs_menu .lang_row.selected:hover {
  background: #5e82a8;
}
#lang_stats_page .langs_menu .lang_row:hover {
  background: #E1E7ED;
}
#lang_translators_page .translators_table_wrap {
  padding: 10px 20px 30px;
}
#lang_translators_page .translator_name {
  padding: 10px 0;
}
#lang_translators_page .translator_name img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
#lang_translators_page .translator_name .mem_link {
  margin: 9px 0 0 5px;
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}
#lang_translators_page .translation_lang .to {
  color: #777;
  margin-top: 3px;
}
#lang_translators_page .translation_stats {
  font-weight: bold;
}
#lang_translators_page .translation_stats span {
  color: #989898;
  display: inline-block;
  margin: 0 2px;
}
#lang_translators_page .translation_stats .stats_avg {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
#lang_translators_page .translation_stats .indicator {
  background-image: url(/images/lang_indicators.png);
  width: 16px;
  height: 12px;
}
#lang_translators_page .translation_stats .indicator.excellent {
  background-position: 0px -42px;
}
#lang_translators_page .translation_stats .indicator.good {
  background-position: 0px -28px;
}
#lang_translators_page .translation_stats .indicator.bad {
  background-position: 0px -14px;
}
#lang_translators_page .translation_stats .indicator.none {
  background-position: 0px 0px;
}
#lang_translators_page .translation_date a {
  display: inline-block;
  margin-top: 3px;
}
#lang_translators_page .translator_edit {
  color: #CAD5DD;
  cursor: pointer;
}
#lang_translators_page .translator_edit .mdd-value:hover {
  color: #597DA3;
  text-decoration: none;
}
#lang_translators_page .translator_edit .mdd-item-selected {
  color: #597DA3;
}
#lang_translators_page .lang_translators_table_controls {
  padding: 10px 2px;
}
#lang_translators_page .lang_translators_table_controls .checkbox {
  display: inline-block;
  margin-left: 40px;
}
#lang_translators_page .lang_translators_table_controls input#translators_filter {
  float: right;
  width: 150px;
  padding: 6px 10px 6px 22px;
  background: #ffffff url(/images/magglass.png) no-repeat 6px 8px;
}
#lang_translators_page .lang_translators_table_controls .translators_stat_date_wrap {
  display: inline-block;
}
#lang_translators_page .lang_translators_table_controls .translators_stat_date_wrap .datepicker_control {
  padding: 4px;
}
#lang_translators_page .lang_translators_table_controls .selector {
  color: #2B587A;
}
#lang_translators_page .lang_translators_table_controls .label {
  color: #777;
  margin-right: 4px;
}
#lang_translators_page .add_translator_wrap {
  padding: 20px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #E7EAED;
}
#lang_translators_page .add_translator_wrap .translator_memlink_wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
#lang_translators_page .add_translator_wrap .translator_memlink_wrap input {
  padding: 7px 10px 8px 23px;
  height: 13px;
  width: 200px;
  background: #ffffff url(/images/magglass.png) no-repeat 6px 8px;
}
#lang_translators_page .add_translator_wrap .translator_memlink_wrap .translator_photo {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 5px;
  top: 4px;
  border-radius: 2px;
  background-size: contain;
}
#lang_translators_page .add_translator_wrap .lang_selector_wrap {
  display: inline-block;
  margin-left: 10px;
}
#lang_translators_page .add_translator_wrap #add_translator {
  display: inline-block;
  padding: 8px 18px 9px;
  float: right;
  height: 30px;
}
#lang_translators_page .tran_action_progress {
  background-image: url(/images/upload.gif);
  width: 32px;
  height: 8px;
}
#lang_translators_page .translatior_coord_icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(/images/icons/app_stars.png);
  margin-top: 3px;
  opacity: 0.5;
}
#translation_batch_edit_page .batch_edit_controls {
  padding: 20px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #E7EAED;
}
#translation_batch_edit_page .batch_edit_controls input {
  padding: 5px;
}
#translation_batch_edit_page .batch_edit_controls input#batch_key_search_input {
  width: 200px;
  background: #ffffff url(/images/magglass.png) no-repeat 6px 7px;
  padding-left: 22px;
}
#translation_batch_edit_page .batch_edit_controls input#batch_pattern {
  margin-right: 6px;
  width: 150px;
}
#translation_batch_edit_page .batch_edit_controls input#batch_pattern_subst {
  width: 150px;
}
#translation_batch_edit_page .batch_edit_controls .batch_edit_controls_pattern {
  margin-top: 20px;
  border-top: 1px solid #E7EAED;
  padding-top: 20px;
}
#translation_batch_edit_page .batch_edit_controls .label {
  margin-right: 6px;
}
#translation_batch_edit_page .batch_edit_controls button#batch_edit_save {
  margin-left: 20px;
  margin-top: 1px;
}
#translation_batch_edit_page .batch_edit_controls #batch_key_search_spinner {
  margin-left: 10px;
}
#translation_batch_edit_page #batch_edit_results {
  padding: 20px;
}
#translation_batch_edit_page #batch_edit_results .batch_edit_item {
  padding: 15px 10px;
}
#translation_batch_edit_page #batch_edit_results .batch_edit_item:hover {
  background-color: #eee;
}
#translation_batch_edit_page #batch_edit_results .batch_edit_item_value {
  font-size: 13px;
  padding: 4px;
  width: 700px;
}
#translation_batch_edit_page #batch_edit_results .batch_edit_item_result {
  font-size: 13px;
  padding: 4px;
  color: #555;
  border-left: 1px solid #D7D7D7;
  margin-left: -1px;
  width: 700px;
  margin-top: 6px;
}
#translation_batch_edit_page #batch_edit_results .batch_edit_item_lang {
  float: right;
  color: #777;
}
#translation_batch_edit_page #batch_edit_results .hl {
  background-color: #FDD7A3;
  border-radius: 2px;
}
#translation_batch_edit_page #batch_edit_no_results {
  text-align: center;
  color: #777;
  font-size: 1.18em;
}
#translation_feed_page {
  padding: 20px;
  box-sizing: border-box;
}
#translation_feed_page .feed_item {
  padding: 10px;
  margin-bottom: 10px;
}
#translation_feed_page .feed_item .translator {
  display: inline-block;
  float: left;
}
#translation_feed_page .feed_item .translator img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
#translation_feed_page .feed_item .info {
  display: inline-block;
  float: left;
  margin-left: 10px;
}
#translation_feed_page .feed_item .info .title {
  color: #777;
}
#translation_feed_page .feed_item .info .key {
  color: #333;
  border-bottom: 1px dotted #333;
  cursor: pointer;
}
#translation_feed_page .feed_item .info .mem_link {
  font-weight: bold;
}
#translation_feed_page .feed_item .date {
  float: right;
  color: #777;
}
#translation_feed_page .feed_item .value {
  padding: 10px;
}
#translation_glossary_page .glossary_search {
  padding: 20px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #E7EAED;
}
#translation_glossary_page .glossary_search input {
  padding: 5px 5px 5px 22px;
  width: 200px;
  background: #ffffff url(/images/magglass.png) no-repeat 6px 7px;
}
#translation_glossary_page .glossary_items {
  padding: 10px 50px;
}
#translation_glossary_page .item {
  padding: 20px 10px;
  border-bottom: 1px solid #F4F4F4;
  position: relative;
}
#translation_glossary_page .item .original_phrases {
  display: inline-block;
}
#translation_glossary_page .item .original {
  width: 250px;
  font-weight: bold;
  display: inline;
}
#translation_glossary_page .item .alternative_original {
  width: 250px;
  font-weight: bold;
  color: #777;
}
#translation_glossary_page .item .translation {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
#translation_glossary_page .item .comments {
  display: inline-block;
  width: 200px;
  color: #777;
  vertical-align: top;
}
#translation_glossary_page .item .edit_button {
  color: #2B587A;
  cursor: pointer;
  opacity: 0.7;
  right: 0;
  position: absolute;
}
#translation_glossary_page .item .edit_button:hover {
  opacity: 1;
  text-decoration: underline;
}
#translation_glossary_page .untranslated .original {
  border-bottom: 1px dotted red;
}
#translation_glossary_page #add_new {
  cursor: pointer;
  color: #2B587A;
  margin-left: 30px;
  float: right;
  vertical-align: top;
  display: inline-block;
  margin-top: 7px;
}
#translation_glossary_page #add_new:hover {
  text-decoration: underline;
}
#translation_glossary_page .edit_item {
  padding: 10px;
  background-color: #F7F7F7;
  display: inline-block;
}
#translation_glossary_page .edit_item .glossary_translation_wrap {
  border-left: 1px solid #E7EAED;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
#translation_glossary_page .edit_item input,
#translation_glossary_page .edit_item textarea {
  padding: 6px;
}
#translation_glossary_page .edit_item input#glossary_edit_ru_phrase {
  width: 205px;
  vertical-align: top;
  display: block;
}
#translation_glossary_page .edit_item input#glossary_edit_en_phrase {
  width: 205px;
  vertical-align: top;
  margin-top: 5px;
}
#translation_glossary_page .edit_item input#glossary_edit_phrase {
  width: 205px;
  margin-left: 13px;
  vertical-align: top;
}
#translation_glossary_page .edit_item textarea#glossary_edit_comments {
  width: 203px;
  max-width: 203px;
  margin-left: 15px;
}
#translation_glossary_page .edit_item .original_phrases {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #E7EAED;
  padding-right: 15px;
}
#translation_glossary_page .edit_item .edit_buttons {
  margin-top: 10px;
  text-align: right;
}
#translation_glossary_page .edit_item button#cancel {
  margin-left: 5px;
}
#translation_glossary_page .edit_item .glossary_edit_delete {
  cursor: pointer;
  color: #2B587A;
  float: left;
  margin-top: 16px;
}
#translation_glossary_page .edit_item .glossary_edit_delete:hover {
  text-decoration: underline;
}
#translation_glossary_page .edit_item #glossary_edit_delete_progress {
  background-image: url(/images/upload.gif);
  width: 32px;
  height: 8px;
  float: left;
  margin-top: 20px;
}
#translation_glossary_page > .edit_item {
  margin: 20px 20px 0 20px;
}
.translator_history_wrap {
  padding: 30px;
}
.translator_history_wrap .history_item {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.translator_history_wrap .history_item .history_item_date {
  color: #777;
  display: inline-block;
  float: right;
}
.translator_history_wrap .history_item .history_item_speed {
  display: inline-block;
  margin-left: 5px;
}
.translator_history_wrap .history_item .history_item_key {
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.translator_history_wrap .history_item .history_item_key:hover {
  color: #555;
  text-decoration: none;
}
.translator_history_wrap .history_item .history_item_lang {
  display: inline-block;
  margin-left: 6px;
  color: #777;
}
.translator_history_wrap .history_item .history_item_phrase {
  padding: 10px;
}
.is_2x .translation_stats .indicator {
  background-image: url(/images/lang_indicators_2x.png) !important;
  background-size: 16px 54px;
}
.is_2x .lang_translators_table_controls input#translators_filter {
  background-color: #ffffff;
  background-image: url(/images/magglass_2x.png) !important;
  background-size: 11px 11px !important;
  background-repeat: no-repeat !important;
  background-position: 6px 8px !important;
}
.is_2x #quick-search-input,
#batch_key_search_input,
.glossary_search input {
  background-image: url(/images/magglass_2x.png) !important;
  background-size: 11px 11px !important;
}
.is_2x .translator_memlink_wrap input {
  background-color: #ffffff;
  background-image: url(/images/magglass_2x.png) !important;
  background-size: 11px 11px !important;
  background-repeat: no-repeat !important;
  background-position: 6px 8px !important;
}
.is_2x .translatior_coord_icon {
  background-image: url(/images/icons/app_stars_2x.png) !important;
  background-size: 13px 224px;
}
.is_2x .tran_action_progress {
  background-image: url(/images/upload_2x.gif);
  background-size: 32px 8px;
}
