#ui_css {
  display: none;
}
/* ----- */
/* Table */
/* ----- */
.ui_table {
  border-collapse: collapse;
}
.ui_table.wide {
  width: 100%;
}
/* ----------- */
/* Table - row */
/* ----------- */
.ui_table tr.ui_table_row {
  border-left: 1px solid #E4E9ED;
  border-right: 1px solid #E4E9ED;
  background-color: white;
}
.ui_table tr.ui_table_row.header {
  border: 1px solid #E4E9ED;
  background-color: #E9EDF0;
}
.ui_table tr.ui_table_row.even {
  background-color: #F5F7F7;
}
.ui_table tr.ui_table_row.even.wide {
  border-top: 1px solid #F5F7F7;
  background-color: white;
}
.ui_table tr.ui_table_row.shower,
.ui_table tr.ui_table_row.result,
.ui_table tr.ui_table_row.pages {
  border-top: 1px solid #E4E9ED;
}
.ui_table tr.ui_table_row.empty {
  border-bottom: 1px solid #E4E9ED;
}
.ui_table tr.ui_table_row.result,
.ui_table tr.ui_table_row.result:hover {
  background-color: #F0F3F5;
}
.ui_table tr.ui_table_row.pages {
  border-left-color: transparent;
  border-right-color: transparent;
}
.ui_table tr.ui_table_row.pages:hover {
  background-color: transparent;
}
.ui_table tr.ui_table_row:hover {
  background-color: #E9EDF0;
}
.ui_table tr.ui_table_row.wide:hover {
  background-color: white;
}
/* ------------ */
/* Table - cell */
/* ------------ */
.ui_table th.ui_table_cell {
  color: #587183;
  font-weight: bold;
}
.ui_table th.ui_table_cell,
.ui_table td.ui_table_cell {
  height: 28px;
  padding: 2px 8px;
  vertical-align: middle;
}
.ui_table.small th.ui_table_cell,
.ui_table.small td.ui_table_cell {
  height: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.ui_table th.ui_table_cell,
.ui_table td.ui_table_cell.pre {
  white-space: pre;
}
.ui_table th.ui_table_cell.first,
.ui_table td.ui_table_cell.first {
  padding-left: 10px;
}
.ui_table th.ui_table_cell.last,
.ui_table td.ui_table_cell.last {
  padding-right: 10px;
}
.ui_table.wide th.ui_table_cell.left_wide,
.ui_table.wide td.ui_table_cell.left_wide {
  padding-left: 2px;
}
.ui_table.wide th.ui_table_cell.right_wide,
.ui_table.wide td.ui_table_cell.right_wide {
  padding-right: 2px;
}
.ui_table th.ui_table_cell.sortable:hover {
  background-color: #F2F4F5;
  cursor: pointer;
}
.ui_table th.ui_table_cell.sortable .ui_table_header_name {
  display: inline-block;
  position: relative;
}
.ui_table th.ui_table_cell.sortable.sort.ta_r .ui_table_header_name {
  padding-left: 16px;
}
.ui_table th.ui_table_cell.sortable.sort.ta_l .ui_table_header_name {
  padding-right: 16px;
}
.ui_table th.ui_table_cell.sortable .ui_table_header_sort {
  display: none;
  width: 14px;
  height: 11px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-image: url(/images/flydead.gif);
  background-position: 0 -78px;
}
.ui_table th.ui_table_cell.sortable.sort .ui_table_header_sort {
  display: block;
}
.ui_table th.ui_table_cell.sortable.reverse .ui_table_header_sort {
  background-position: 0 0;
}
.ui_table th.ui_table_cell.sortable.ta_r .ui_table_header_sort {
  left: 0;
}
.ui_table th.ui_table_cell.sortable.ta_l .ui_table_header_sort {
  right: 0;
}
.ui_table td.ui_table_cell.shower {
  color: #587183;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #E4E9ED;
}
.ui_table td.ui_table_cell.shower:hover {
  background-color: #E1E7EB;
}
.ui_table td.ui_table_cell.pages {
  height: auto;
  padding: 0;
  vertical-align: top;
}
/* ------------------ */
/* Table - cell empty */
/* ------------------ */
.ui_table td.ui_table_cell_empty {
  line-height: 200%;
  text-align: center;
  background-color: #F7F7F7;
  color: #777777;
  padding: 20px 50px;
}
.ui_table.small td.ui_table_cell_empty {
  padding: 5px 10px;
}
/* ------------- */
/* Table - pages */
/* ------------- */
.ui_table .ui_table_pages_per_page {
  margin-top: -1px;
  margin-left: -1px;
  float: left;
}
.ui_table .ui_table_pages_numbers {
  margin-top: -1px;
  margin-right: -1px;
  float: right;
}
.ui_table .ui_table_page {
  height: 15px;
  min-width: 14px;
  padding: 2px 6px;
  border-top: 4px solid transparent;
  color: #45688E;
  float: left;
  text-align: center;
}
.ui_table .ui_table_pages_per_page .ui_table_page {
  padding: 2px 10px;
}
.ui_table .ui_table_page.selected,
.ui_table .ui_table_page.selected:hover {
  border-color: #597DA3;
  color: #45688E;
  font-weight: bold;
}
.ui_table .ui_table_page:hover {
  border-color: #DAE1E8;
  text-decoration: none;
}
/* ------------- */
/* Filter        */
/* ------------- */
input.text.ui_table_filter {
  padding: 7px 8px 8px;
  background: url(/images/magglass.png) no-repeat scroll 95% 8px white;
  height: 13px;
  outline: none;
  margin-bottom: 8px;
  width: 200px;
}
