#ui_media_selector_css {
    display: none
}

.media_selector .ms_item:before {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.media_selector .ms_item {
    position: relative;
    display: block;
    outline: none
}

.media_selector .ms_item:hover {
    text-decoration: none
}

.media_selector .ms_item:before {
    position: absolute;
    left: 5px;
    content: '';
    width: 22px;
    height: 22px;
    background: url(/images/post_icon.png?10) no-repeat;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .media_selector .ms_item:before {
        background-image: url(/images/post_icon_2x.png?10);
        background-size: 20px 413px
    }
}

.media_selector .ms_item:hover:before {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.media_selector .ms_item.ms_item_photo:before {
    background-position: left -65px
}

.media_selector .ms_item.ms_item_video:before {
    background-position: left -87px
}

.media_selector .ms_item.ms_item_audio:before {
    background-position: left -109px
}

.media_selector .ms_item.ms_item_doc:before {
    background-position: left -131px
}

.media_selector .ms_item.ms_item_map:before {
    background-position: left -153px
}

.media_selector .ms_item.ms_item_graffiti:before {
    background-position: left -175px
}

.media_selector .ms_item.ms_item_poll:before {
    background-position: left -197px
}

.media_selector .ms_item.ms_item_postpone:before {
    background-position: left -219px
}

.media_selector .ms_item.ms_item_note:before {
    background-position: left -241px
}

.media_selector .ms_item.ms_item_gift:before {
    background-position: left -263px
}

.media_selector .ms_item.ms_item_market:before {
    background-position: left -285px
}

.media_selector .ms_item.ms_item_money:before {
    background-position: left -307px
}

.media_selector .ms_item.ms_item_mark_as_ads:before {
    background-position: left -373px
}

.media_selector .ms_item.ms_item_share:before {
    background-position: left -351px
}

.media_selector .ms_item.ms_item_pretty_cards:before {
    background-position: left -395px
}

.media_selector>.ms_item {
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 0 0 22px;
    margin-right: 4px;
    box-sizing: border-box;
    overflow: hidden
}

.media_selector>.ms_item:before {
    left: 0
}

.media_selector .ms_items_more .ms_item {
    line-height: 22px;
    padding: 4px 25px 4px 34px;
    margin-right: 0 5px
}

.media_selector .ms_items_more .ms_item:hover {
    background-color: #e4eaf0
}

.media_selector .ms_item_more {
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 6px 0 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    outline: none
}

.media_selector .ms_item_more:hover {
    text-decoration: none;
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.media_selector .ms_item_more_label {
    padding-right: 15px;
    background: url(/images/svg_icons/contour_arrow.svg) no-repeat;
    background-position: right 7px
}

.ms_items_more_wrap {
    float: left;
    position: relative
}

.ms_items_more_wrap.ms_items_more_wrap_vector .ms_item_more_label {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.8%22%20d%3D%22M20.0291094%2C15.0279907%20L14.6443834%2C20.2583795%20L14.6443834%2C20.2583795%20C12.0566785%2C22.7719155%207.93029511%2C22.7421861%205.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20C2.76745218%2C17.5806772%202.76690514%2C13.3469463%205.37785362%2C10.735323%20C5.38546336%2C10.7277113%205.39309146%2C10.720118%205.40073787%2C10.7125431%20L13.4673115%2C2.72143747%20L13.4673115%2C2.72143747%20C15.2274317%2C0.977784268%2018.0678013%2C0.991133451%2019.8114545%2C2.7512537%20C19.8205797%2C2.76046506%2019.8296649%2C2.76971594%2019.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20C21.5887922%2C4.57652514%2021.569373%2C7.4467765%2019.7951292%2C9.22045114%20L11.6642625%2C17.3487092%20L11.6642625%2C17.3487092%20C10.8163456%2C18.196354%209.46403082%2C18.26344%208.53638318%2C17.5038779%20L8.40267048%2C17.3943933%20L8.40267048%2C17.3943933%20C7.50791768%2C16.6617656%207.37648933%2C15.342513%208.10911705%2C14.4477602%20C8.14767542%2C14.4006692%208.18826865%2C14.3552816%208.23078109%2C14.311727%20L13.6981137%2C8.71035836%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E') 0 0 no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    padding: 0
}

.ms_items_more_wrap.shown .ms_item_more {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.ms_items_more_wrap.shown .ms_items_more {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.ms_items_more_wrap.to_down .ms_items_more {
    top: 17px
}

.ms_items_more_wrap.to_down.shown .ms_items_more {
    top: 7px
}

.ms_items_more_wrap.to_down .ms_items_more_helper {
    top: 100%;
    overflow: visible
}

.ms_items_more_wrap.to_up .ms_items_more {
    bottom: 17px
}

.ms_items_more_wrap.to_up.shown .ms_items_more {
    bottom: 7px
}

.ms_items_more_wrap.to_up .ms_items_more_helper {
    bottom: 100%;
    overflow: visible
}

.ms_items_more_helper {
    position: absolute;
    overflow: hidden;
    right: 50%
}

.ms_items_more {
    position: relative;
    position: absolute;
    visibility: hidden;
    background: #fff;
    z-index: 4;
    right: -70px;
    border: 1px solid #c5d0db;
    padding: 4px 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    opacity: 0;
    -o-transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    pointer-events: none;
    min-width: 140px
}

.ms_items_more:after,
.ms_items_more:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0
}

.ms_items_more_wrap.to_up .ms_items_more:after,
.ms_items_more_wrap.to_up .ms_items_more:before {
    top: 100%;
    left: 70px
}

.ms_items_more_wrap.to_up .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-top-color: #c5d0db
}

.ms_items_more_wrap.to_up .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-top-color: #fff
}

.ms_items_more_wrap.to_down .ms_items_more:after,
.ms_items_more_wrap.to_down .ms_items_more:before {
    bottom: 100%;
    left: 70px
}

.ms_items_more_wrap.to_down .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db
}

.ms_items_more_wrap.to_down .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff
}