#ui_media_selector_css {
    display: none
}

.media_selector .ms_item:before {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.media_selector .ms_item {
    position: relative;
    display: block;
    outline: none
}

.media_selector .ms_item:hover {
    text-decoration: none
}

.media_selector .ms_item:before {
    position: absolute;
    left: 5px;
    content: '';
    width: 22px;
    height: 22px;
    background: url(/images/post_icon.png?6) no-repeat;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .media_selector .ms_item:before {
        background-image: url(/images/post_icon_2x.png?6);
        background-size: 20px 369px
    }
}

.media_selector .ms_item:hover:before {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.media_selector .ms_item.ms_item_photo:before {
    background-position: left -65px
}

.media_selector .ms_item.ms_item_video:before {
    background-position: left -87px
}

.media_selector .ms_item.ms_item_audio:before {
    background-position: left -109px
}

.media_selector .ms_item.ms_item_doc:before {
    background-position: left -131px
}

.media_selector .ms_item.ms_item_map:before {
    background-position: left -153px
}

.media_selector .ms_item.ms_item_graffiti:before {
    background-position: left -175px
}

.media_selector .ms_item.ms_item_poll:before {
    background-position: left -197px
}

.media_selector .ms_item.ms_item_postpone:before {
    background-position: left -219px
}

.media_selector .ms_item.ms_item_note:before {
    background-position: left -241px
}

.media_selector .ms_item.ms_item_gift:before {
    background-position: left -263px
}

.media_selector .ms_item.ms_item_market:before {
    background-position: left -285px
}

.media_selector .ms_item.ms_item_money:before,
.media_selector .ms_item.ms_item_mark_as_ads:before {
    background-position: left -307px
}

.media_selector .ms_item.ms_item_share:before {
    background-position: left -351px
}

.media_selector>.ms_item {
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 0 0 22px;
    margin-right: 4px;
    box-sizing: border-box;
    overflow: hidden
}

.media_selector>.ms_item:before {
    left: 0
}

.media_selector .ms_items_more .ms_item {
    line-height: 22px;
    padding: 4px 25px 4px 34px;
    margin-right: 0 5px
}

.media_selector .ms_items_more .ms_item:hover {
    background-color: #e4eaf0
}

.media_selector .ms_item_more {
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 6px 0 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    outline: none
}

.media_selector .ms_item_more:hover {
    text-decoration: none;
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.media_selector .ms_item_more_label {
    padding-right: 15px;
    background: url(/images/svg_icons/contour_arrow.svg) no-repeat;
    background-position: right 7px
}

.ms_items_more_wrap {
    float: left;
    position: relative
}

.ms_items_more_wrap.ms_items_more_wrap_vector .ms_item_more_label {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%220%200%2025%2024%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M11.4%2018.7c-1.6%201.6-4.1%201.6-5.7%200s-1.6-4.1%200-5.7l8.8-8.8c1-1%202.5-1%203.5%200s1%202.5%200%203.5l-7.4%207.4c-.4.4-1%20.4-1.4%200s-.4-1%200-1.4l6.8-6.6-1-1.1-6.7%206.7c-1%201-1%202.5%200%203.5s2.5%201%203.5%200l7.4-7.4c1.6-1.6%201.6-4.1%200-5.7s-4.1-1.6-5.7%200l-8.8%208.9c-2.1%202.1-2.1%205.7%200%207.8s5.7%202.1%207.8%200l8.1-8.1-1.1-1.1-8.1%208.1z%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat;
    width: 24px;
    height: 25px;
    display: block;
    padding: 0
}

.ms_items_more_wrap.shown .ms_item_more {
    opacity: 1;
    -webkit-filter: none;
    filter: none
}

.ms_items_more_wrap.shown .ms_items_more {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.ms_items_more_wrap.to_down .ms_items_more {
    top: 17px
}

.ms_items_more_wrap.to_down.shown .ms_items_more {
    top: 7px
}

.ms_items_more_wrap.to_down .ms_items_more_helper {
    top: 100%
}

.ms_items_more_wrap.to_up .ms_items_more {
    bottom: 17px
}

.ms_items_more_wrap.to_up.shown .ms_items_more {
    bottom: 7px
}

.ms_items_more_wrap.to_up .ms_items_more_helper {
    bottom: 100%
}

.ms_items_more_helper {
    position: absolute;
    right: 50%
}

.ms_items_more {
    position: relative;
    position: absolute;
    visibility: hidden;
    background: #fff;
    z-index: 4;
    right: -70px;
    border: 1px solid #c5d0db;
    padding: 4px 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    opacity: 0;
    -o-transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    pointer-events: none;
    min-width: 140px
}

.ms_items_more:after,
.ms_items_more:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0
}

.ms_items_more_wrap.to_up .ms_items_more:after,
.ms_items_more_wrap.to_up .ms_items_more:before {
    top: 100%;
    left: 70px
}

.ms_items_more_wrap.to_up .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-top-color: #c5d0db
}

.ms_items_more_wrap.to_up .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-top-color: #fff
}

.ms_items_more_wrap.to_down .ms_items_more:after,
.ms_items_more_wrap.to_down .ms_items_more:before {
    bottom: 100%;
    left: 70px
}

.ms_items_more_wrap.to_down .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db
}

.ms_items_more_wrap.to_down .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff
}