#ui_media_selector_css {
    display: none
}

.medadd_poll_backgrounds_arrow_next:before,
.medadd_poll_backgrounds_arrow_prev:before,
.media_selector .ms_item:before {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.medadd_h {
    font-size: 12.5px;
    color: #5c5c5c;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.medadd_h:hover {
    text-decoration: none
}

.medadd_c {
    padding-top: 8px
}

.medadd_c_nofixed {
    height: auto!important
}

.medadd_datepicker {
    line-height: 15px;
    height: 42px;
    -o-transition: padding-top 0.2s, height 0.2s, opacity 0.2s;
    transition: padding-top 0.2s, height 0.2s, opacity 0.2s;
    white-space: nowrap
}

.medadd_datepicker .datepicker_container,
.medadd_datepicker .timepicker_container {
    margin-top: 12px;
    vertical-align: top;
    display: inline-block
}

.medadd_datepicker .timepicker_dots {
    color: #828282
}

.medadd_datepicker_date {
    display: inline-block;
    width: 157px;
    pointer-events: none
}

.medadd_datepicker_time {
    display: inline-block;
    width: 132px;
    pointer-events: none
}

.medadd_datepicker_at {
    margin-top: 12px;
    display: inline-block;
    color: #828282
}

.medadd_datepicker_checkbox:not(.on)+.medadd_datepicker,
.medadd_datepicker_hidden {
    height: 0;
    opacity: 0;
    margin-top: 0;
    pointer-events: none
}

.medadd_h_timer {
    margin-top: 0
}

.medadd_poll {
    box-sizing: border-box
}

.page_preview_poll_wrap+.medadd_poll {
    padding-top: 0;
    margin-top: -25px
}

.medadd_poll_cb {
    margin: 12px 0 0
}

input.medadd_poll_question {
    margin-top: 8px
}

.medadd_poll_answer,
.medadd_poll_answer_add,
.medadd_poll_question {
    width: 100%
}

.medadd_poll_answer_add {
    color: #828282
}

.medadd_poll_answer_add_wrap,
.medadd_poll_answer_wrap {
    margin: 8px 0 11px
}

.medadd_poll_answer {
    padding-right: 31px
}

.medadd_poll_answer_wrap {
    position: relative
}

.medadd_poll_answer_wrap input.dark {
    padding-right: 31px
}

.medadd_poll_answer_wrap:hover .page_media_x_wrap.medadd_poll_answer_remove .page_media_x {
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.medadd_poll_answer_wrap .page_media_x_wrap.medadd_poll_answer_remove {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 13px;
    margin: auto 9px
}

.medadd_poll_answer_wrap .page_media_x_wrap.medadd_poll_answer_remove .page_media_x {
    opacity: 0;
    filter: alpha(opacity=0)
}

.medadd_poll_answer_wrap .page_media_x_wrap.medadd_poll_answer_remove .page_media_x:hover {
    opacity: 1;
    filter: none
}

.medadd_poll_answer_wrap .disabled+.page_media_x_wrap {
    display: none
}

.medadd_poll_backgrounds_wrap {
    overflow: hidden;
    position: relative;
    margin: 8px 0 0;
    height: 102px
}

.medadd_poll_backgrounds {
    white-space: nowrap
}

.medadd_poll_backgrounds.animated,
.medadd_poll_background {
    -o-transition: transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -o-transform 150ms ease-in-out
}

.medadd_poll_background {
    width: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top
}

.medadd_poll_background+.medadd_poll_background {
    margin-left: 10px
}

.medadd_poll_background .radiobtn:before {
    margin: 8px 0 0;
    display: inline-block;
    float: none
}

.wide_column .medadd_poll_backgrounds_wrap {
    margin: 8px -20px 0
}

.wide_column .medadd_poll_background:first-child {
    margin-left: 20px
}

.wide_column .medadd_poll_background:last-child {
    margin-right: 20px
}

.medadd_poll_background_preview {
    height: 80px;
    border-radius: 4px;
    position: relative;
    overflow: hidden
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines1 {
    width: 56px;
    height: 3px;
    left: 23px;
    top: 12px;
    border-radius: 1.5px;
    z-index: 1
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines1:after {
    width: 36px;
    height: 3px;
    left: 10px;
    top: 7px;
    border-radius: 1.5px
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines1:before {
    width: 84px;
    height: 8px;
    left: -15px;
    top: 21px;
    border-radius: 2px
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines2 {
    width: 32px;
    height: 3px;
    left: 34px;
    top: 71px;
    border-radius: 1.5px;
    z-index: 1
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines2:after {
    width: 84px;
    height: 8px;
    left: -26px;
    top: -14px;
    border-radius: 2px
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines2:before {
    width: 84px;
    height: 8px;
    left: -26px;
    top: -26px;
    border-radius: 2px
}

.medadd_poll_background_preview .medadd_poll_background_preview_lines1,
.medadd_poll_background_preview .medadd_poll_background_preview_lines1:after,
.medadd_poll_background_preview .medadd_poll_background_preview_lines1:before,
.medadd_poll_background_preview .medadd_poll_background_preview_lines2,
.medadd_poll_background_preview .medadd_poll_background_preview_lines2:after,
.medadd_poll_background_preview .medadd_poll_background_preview_lines2:before {
    background: hsla(0, 0%, 100%, .24);
    display: block;
    content: '';
    position: absolute
}

.medadd_poll_background_default .medadd_poll_background_preview {
    background: #fff;
    box-shadow: inset 0 0 0 1px #e0e2e7
}

.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines1,
.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines1:after,
.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines1:before,
.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines2,
.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines2:after,
.medadd_poll_background_default .medadd_poll_background_preview .medadd_poll_background_preview_lines2:before {
    background: #e5eaf0
}

.medadd_poll_background_uploader .medadd_poll_background_preview {
    background: #e5e9ef
}

.medadd_poll_background_uploader .medadd_poll_background_preview:before {
    content: '';
    display: block;
    width: 2px;
    height: 24px;
    position: absolute;
    top: 28px;
    left: 49px;
    background: #7193b7
}

.medadd_poll_background_uploader .medadd_poll_background_preview:after {
    content: '';
    display: block;
    height: 2px;
    width: 24px;
    position: absolute;
    left: 38px;
    top: 39px;
    background: #7193b7
}

.medadd_poll_background_preview .medadd_poll_background_photo {
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 0
}

.medadd_poll_background_preview .medadd_poll_background_photo:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .4)
}

.medadd_poll_background_preview .medadd_poll_background_photo_gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.medadd_poll_background_preview .medadd_poll_background_photo_holder,
.medadd_poll_background_preview .medadd_poll_background_photo_img {
    position: relative;
    z-index: 0;
    width: 100%
}

.medadd_poll_disabled .medadd_poll_answer_add_wrap,
.medadd_poll_disabled .medadd_poll_answer_remove {
    display: none
}

.medadd_poll_dummy_question {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2a5885;
    line-height: 15px;
    margin-bottom: -1px
}

.medadd_poll_dummy_subtitle {
    font-weight: 400;
    color: #939393;
    -webkit-font-smoothing: auto
}

.medadd_poll_backgrounds_arrow_next,
.medadd_poll_backgrounds_arrow_prev {
    position: absolute;
    height: 102px;
    width: 48px;
    opacity: 0;
    cursor: pointer;
    z-index: 2
}

.medadd_poll_backgrounds_arrow_next.disabled,
.medadd_poll_backgrounds_arrow_prev.disabled {
    display: none
}

.medadd_poll_backgrounds_wrap:hover .medadd_poll_backgrounds_arrow_next,
.medadd_poll_backgrounds_wrap:hover .medadd_poll_backgrounds_arrow_prev {
    opacity: 1
}

.medadd_poll_backgrounds_arrow_next {
    right: 0
}

.medadd_poll_backgrounds_arrow_next_disabled .medadd_poll_backgrounds_arrow_next {
    display: none
}

.medadd_poll_backgrounds_arrow_next:before {
    display: block;
    content: '';
    background: url(/images/icons/row_slider_btn.png);
    background-position: 100%;
    width: 26px;
    height: 37px;
    margin: 21.5px auto 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .medadd_poll_backgrounds_arrow_next:before {
        background-image: url(/images/icons/row_slider_btn_2x.png);
        background-size: 52px 37px
    }
}

.medadd_poll_backgrounds_arrow_next:hover~.medadd_poll_backgrounds .medadd_poll_background {
    -o-transform: translateX(-8px);
    transform: translateX(-8px)
}

.medadd_poll_backgrounds_arrow_prev {
    left: 0
}

.medadd_poll_backgrounds_arrow_prev_disabled .medadd_poll_backgrounds_arrow_prev {
    display: none
}

.medadd_poll_backgrounds_arrow_prev:before {
    display: block;
    content: '';
    background: url(/images/icons/row_slider_btn.png);
    background-position: 0;
    width: 26px;
    height: 37px;
    margin: 21.5px auto 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .medadd_poll_backgrounds_arrow_prev:before {
        background-image: url(/images/icons/row_slider_btn_2x.png);
        background-size: 52px 37px
    }
}

.medadd_poll_backgrounds_arrow_prev:hover~.medadd_poll_backgrounds .medadd_poll_background {
    -o-transform: translateX(8px);
    transform: translateX(8px)
}

.media_selector .ms_item {
    position: relative;
    display: block;
    outline: none
}

.media_selector .ms_item:active {
    top: 1px
}

.media_selector .ms_item:hover {
    text-decoration: none
}

.media_selector .ms_item:before {
    position: absolute;
    left: 5px;
    content: '';
    width: 22px;
    height: 22px;
    background: url(/images/post_icon.png?10) no-repeat;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .media_selector .ms_item:before {
        background-image: url(/images/post_icon_2x.png?10);
        background-size: 20px 413px
    }
}

.media_selector .ms_item:hover:before {
    opacity: 1;
    filter: none
}

.media_selector .ms_item.ms_item_photo:before {
    background-position: left -65px
}

.media_selector .ms_item.ms_item_video:before {
    background-position: left -87px
}

.media_selector .ms_item.ms_item_audio:before {
    background-position: left -109px
}

.media_selector .ms_item.ms_item_doc:before {
    background-position: left -131px
}

.media_selector .ms_item.ms_item_map:before {
    background-position: left -153px
}

.media_selector .ms_item.ms_item_graffiti:before {
    background-position: left -175px
}

.media_selector .ms_item.ms_item_poll:before {
    background-position: left -197px
}

.media_selector .ms_item.ms_item_postpone:before {
    background-position: left -219px
}

.media_selector .ms_item.ms_item_note:before {
    background-position: left -241px
}

.media_selector .ms_item.ms_item_gift:before {
    background-position: left -263px
}

.media_selector .ms_item.ms_item_market:before {
    background-position: left -285px
}

.media_selector .ms_item.ms_item_money:before {
    background-position: left -307px
}

.media_selector .ms_item.ms_item_mark_as_ads:before {
    background-position: left -373px
}

.media_selector .ms_item.ms_item_share:before {
    background-position: left -351px
}

.media_selector .ms_item.ms_item_pretty_cards:before {
    background-position: left -395px
}

.media_selector .ms_item.ms_item_podcast:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20transform%3D%22%22%3E%3Cpath%20d%3D%22m0%200h16v16h-16z%22%20opacity%3D%22.221763%22%2F%3E%3Cpath%20d%3D%22m14%209v-2h-.5c0-3.03756612-2.4624339-5.5-5.5-5.5-3.03756612%200-5.5%202.46243388-5.5%205.5h-.5v2h-1v-2c0-3.86599325%203.13400675-7%207-7%203.8659932%200%207%203.13400675%207%207v2z%22%20fill%3D%22%237293b6%22%2F%3E%3Cpath%20d%3D%22m13.9%206c.7731986%200%201.4.62680135%201.4%201.4v2.7c0%20.7731986-.6268014%201.4-1.4%201.4-.7731986%200-1.4-.6268014-1.4-1.4v-2.7c0-.77319865.6268014-1.4%201.4-1.4z%22%20fill%3D%22%237293b6%22%2F%3E%3Cpath%20d%3D%22m2.1%206c.77319865%200%201.4.62680135%201.4%201.4v2.7c0%20.7731986-.62680135%201.4-1.4%201.4-.77319865%200-1.4-.6268014-1.4-1.4v-2.7c0-.77319865.62680135-1.4%201.4-1.4z%22%20fill%3D%22%237293b6%22%20transform%3D%22matrix(-1%200%200%201%204.2%200)%22%2F%3E%3Cpath%20d%3D%22m8%204c-1.51878306%200-2.75%201.23121694-2.75%202.75v4c0%201.5187831%201.23121694%202.75%202.75%202.75s2.75-1.2312169%202.75-2.75v-4c0-1.51878306-1.23121694-2.75-2.75-2.75z%22%20stroke%3D%22%237293b6%22%20stroke-width%3D%221.5%22%2F%3E%3Cg%20fill%3D%22%237293b6%22%3E%3Cpath%20d%3D%22m5%209.25h1.75c.41421356%200%20.75.33578644.75.75%200%20.4142136-.33578644.75-.75.75h-1.75z%22%2F%3E%3Cpath%20d%3D%22m5%206.75h1.75c.41421356%200%20.75.33578644.75.75%200%20.41421356-.33578644.75-.75.75h-1.75z%22%2F%3E%3Cpath%20d%3D%22m9.75%209.25h.75v1.5h-.75c-.41421356%200-.75-.3357864-.75-.75%200-.41421356.33578644-.75.75-.75z%22%2F%3E%3Cpath%20d%3D%22m9.75%206.75h.75v1.5h-.75c-.41421356%200-.75-.33578644-.75-.75%200-.41421356.33578644-.75.75-.75z%22%2F%3E%3Cpath%20d%3D%22m7.25%2013h1.5v1.75c0%20.4142136-.33578644.75-.75.75-.41421356%200-.75-.3357864-.75-.75z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 50%!important
}

.media_selector .ms_item.ms_item_article {
    width: 22px
}

.media_selector .ms_item.ms_item_article:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23728FB5%22%20d%3D%22M8%2C6%20L8%2C13%20C8%2C13.5522847%207.55228475%2C14%207%2C14%20C6.44771525%2C14%206%2C13.5522847%206%2C13%20L6%2C6%20L4%2C6%20C3.44771525%2C6%203%2C5.55228475%203%2C5%20L3%2C5%20L3%2C5%20C3%2C4.44771525%203.44771525%2C4%204%2C4%20L4%2C4%20L10%2C4%20C10.5522847%2C4%2011%2C4.44771525%2011%2C5%20L11%2C5%20C11%2C5.55228475%2010.5522847%2C6%2010%2C6%20L8%2C6%20Z%20M12%2C12%20L20%2C12%20C20.5522847%2C12%2021%2C12.4477153%2021%2C13%20C21%2C13.5522847%2020.5522847%2C14%2020%2C14%20L12%2C14%20C11.4477153%2C14%2011%2C13.5522847%2011%2C13%20C11%2C12.4477153%2011.4477153%2C12%2012%2C12%20Z%20M14%2C7%20L20%2C7%20C20.5522847%2C7%2021%2C7.44771525%2021%2C8%20C21%2C8.55228475%2020.5522847%2C9%2020%2C9%20L14%2C9%20C13.4477153%2C9%2013%2C8.55228475%2013%2C8%20C13%2C7.44771525%2013.4477153%2C7%2014%2C7%20Z%20M6%2C17%20L20%2C17%20C20.5522847%2C17%2021%2C17.4477153%2021%2C18%20C21%2C18.5522847%2020.5522847%2C19%2020%2C19%20L6%2C19%20C5.44771525%2C19%205%2C18.5522847%205%2C18%20C5%2C17.4477153%205.44771525%2C17%206%2C17%20Z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")!important
}

.media_selector .ms_item.ms_item_article.ms_item_article_highlight:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%235B8ACA%22%20d%3D%22M8%2C6%20L8%2C13%20C8%2C13.5522847%207.55228475%2C14%207%2C14%20C6.44771525%2C14%206%2C13.5522847%206%2C13%20L6%2C6%20L4%2C6%20C3.44771525%2C6%203%2C5.55228475%203%2C5%20L3%2C5%20L3%2C5%20C3%2C4.44771525%203.44771525%2C4%204%2C4%20L4%2C4%20L10%2C4%20C10.5522847%2C4%2011%2C4.44771525%2011%2C5%20L11%2C5%20C11%2C5.55228475%2010.5522847%2C6%2010%2C6%20L8%2C6%20Z%20M12%2C12%20L20%2C12%20C20.5522847%2C12%2021%2C12.4477153%2021%2C13%20C21%2C13.5522847%2020.5522847%2C14%2020%2C14%20L12%2C14%20C11.4477153%2C14%2011%2C13.5522847%2011%2C13%20C11%2C12.4477153%2011.4477153%2C12%2012%2C12%20Z%20M14%2C7%20L20%2C7%20C20.5522847%2C7%2021%2C7.44771525%2021%2C8%20C21%2C8.55228475%2020.5522847%2C9%2020%2C9%20L14%2C9%20C13.4477153%2C9%2013%2C8.55228475%2013%2C8%20C13%2C7.44771525%2013.4477153%2C7%2014%2C7%20Z%20M6%2C17%20L20%2C17%20C20.5522847%2C17%2021%2C17.4477153%2021%2C18%20C21%2C18.5522847%2020.5522847%2C19%2020%2C19%20L6%2C19%20C5.44771525%2C19%205%2C18.5522847%205%2C18%20C5%2C17.4477153%205.44771525%2C17%206%2C17%20Z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")!important;
    opacity: 1
}

.media_selector>.ms_item {
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 0 0 22px;
    margin-right: 4px;
    box-sizing: border-box;
    overflow: hidden
}

.media_selector>.ms_item:before {
    left: 0
}

.media_selector .ms_items_more .ms_item {
    line-height: 22px;
    padding: 4px 25px 4px 34px;
    margin-right: 0 5px
}

.media_selector .ms_items_more .ms_item:hover {
    background-color: #e4eaf0
}

.media_selector .ms_item_more {
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 6px 0 5px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    outline: none
}

.media_selector .ms_item_more:hover {
    text-decoration: none;
    opacity: 1;
    filter: none
}

.media_selector .ms_item_more_label {
    padding-right: 15px;
    background: url(/images/svg_icons/contour_arrow.svg) no-repeat;
    background-position: right 7px
}

.submit_post_box.shown .ms_item_article {
    margin-left: 0;
    border-left: none;
    width: 22px;
    padding-left: 0
}

.submit_post_box.shown .ms_item_article:before {
    left: 0
}

.ms_items_more_wrap {
    float: left;
    position: relative
}

.ms_items_more_wrap.ms_items_more_wrap_vector .ms_item_more_label {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2224%22%20height%3D%2224%22%2F%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22%23828A99%22%20stroke-width%3D%221.8%22%20d%3D%22M20.0291094%2C15.0279907%20L14.6443834%2C20.2583795%20L14.6443834%2C20.2583795%20C12.0566785%2C22.7719155%207.93029511%2C22.7421861%205.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20L5.37907548%2C20.1916257%20C2.76745218%2C17.5806772%202.76690514%2C13.3469463%205.37785362%2C10.735323%20C5.38546336%2C10.7277113%205.39309146%2C10.720118%205.40073787%2C10.7125431%20L13.4673115%2C2.72143747%20L13.4673115%2C2.72143747%20C15.2274317%2C0.977784268%2018.0678013%2C0.991133451%2019.8114545%2C2.7512537%20C19.8205797%2C2.76046506%2019.8296649%2C2.76971594%2019.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20L19.8387099%2C2.77900608%20C21.5887922%2C4.57652514%2021.569373%2C7.4467765%2019.7951292%2C9.22045114%20L11.6642625%2C17.3487092%20L11.6642625%2C17.3487092%20C10.8163456%2C18.196354%209.46403082%2C18.26344%208.53638318%2C17.5038779%20L8.40267048%2C17.3943933%20L8.40267048%2C17.3943933%20C7.50791768%2C16.6617656%207.37648933%2C15.342513%208.10911705%2C14.4477602%20C8.14767542%2C14.4006692%208.18826865%2C14.3552816%208.23078109%2C14.311727%20L13.6981137%2C8.71035836%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E') 0 0 no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    padding: 0
}

.ms_items_more_wrap.shown .ms_item_more {
    opacity: 1;
    filter: none
}

.ms_items_more_wrap.shown .ms_items_more {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateZ(0)
}

.ms_items_more_wrap.to_down .ms_items_more {
    top: 17px
}

.ms_items_more_wrap.to_down.shown .ms_items_more {
    top: 7px
}

.ms_items_more_wrap.to_down .ms_items_more_helper {
    top: 100%;
    overflow: visible
}

.ms_items_more_wrap.to_up .ms_items_more {
    bottom: 17px
}

.ms_items_more_wrap.to_up.shown .ms_items_more {
    bottom: 7px
}

.ms_items_more_wrap.to_up .ms_items_more_helper {
    bottom: 100%;
    overflow: visible
}

.ms_items_more_helper {
    position: absolute;
    overflow: hidden;
    right: 50%
}

.ms_items_more {
    position: relative;
    position: absolute;
    visibility: hidden;
    background: #fff;
    z-index: 5;
    right: -70px;
    border: 1px solid #c5d0db;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    opacity: 0;
    -o-transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    pointer-events: none;
    min-width: 140px
}

.ms_items_more:after,
.ms_items_more:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0
}

.ms_items_more_wrap.to_up .ms_items_more:after,
.ms_items_more_wrap.to_up .ms_items_more:before {
    top: 100%;
    left: 70px
}

.ms_items_more_wrap.to_up .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-top-color: #c5d0db
}

.ms_items_more_wrap.to_up .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-top-color: #fff
}

.ms_items_more_wrap.to_down .ms_items_more:after,
.ms_items_more_wrap.to_down .ms_items_more:before {
    bottom: 100%;
    left: 70px
}

.ms_items_more_wrap.to_down .ms_items_more:before {
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db
}

.ms_items_more_wrap.to_down .ms_items_more:after {
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff
}