#verify_css {
  display: none;
}
#verify_bar {
  padding: 10px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
}
#verify_search {
  margin: 0;
  padding: 7px 8px 7px 20px;
  width: 399px;
  height: 14px;
  line-height: 1.27em;
  background: #FFF url(/images/magglass.png) no-repeat 5px 8px;
  margin-right: 8px;
}
#verify_submit {
  padding: 6px 8px 7px 8px;
  width: 168px;
  text-align: center;
}
.verify_audio_top #verify_search {
  width: 271px;
}
.verify_genre_cont {
  margin-right: 8px;
}
#verify_list_wrap {
  padding: 0 10px;
}
#verify_result {
  padding: 15px 5px 5px;
  display: none;
}
#verify_msg {
  line-height: 160%;
  background: #F4EBBD;
}
.verify_row {
  padding: 10px;
  height: 25px;
  overflow: hidden;
  border-bottom: 1px solid #DAE2E8;
}
.verify_row:last-child {
  border-bottom: 0;
}
img.verify_photo {
  width: 25px;
  height: 25px;
}
.verify_name {
  padding: 5px 0 0 10px;
  font-weight: bold;
}
.verify_label {
  font-weight: normal;
  color: #777;
  padding-left: 2px;
  display: none;
}
.verify_action {
  padding-top: 5px;
}
#verify_noempty {
  min-height: 256px;
}
#verify_empty {
  font-size: 1.09em;
  padding: 100px 30px;
  text-align: center;
  color: #777;
}
.verify_edit_new {
  margin-top: 10px;
}
.verify_label_new {
  color: #777777;
  font-weight: normal;
}
