#video_edit_css {
  display: none;
}
.video_album_edit_header {
  color: #36638E;
  font-size: 1.09em;
  font-weight: bold;
  margin-bottom: 10px;
}
#video_album_edit_title {
  width: 368px;
  padding: 5px;
}
.video_change_album {
  color: #777777;
}
.video_upload_tab {
  padding: 3px 5px 0;
}
.video_upload_tab #video_upload_error_msg {
  background-color: #FFEFE8;
  border: 1px solid #E89B88;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}
.video_upload_tab .text_warn {
  display: none;
  color: #777777;
}
.video_upload_tab .text_descr_warn {
  margin-top: -9px;
  margin-bottom: 12px;
}
.video_upload_tab .text_name_warn {
  margin-bottom: 0px;
  margin-top: 3px;
}
.video_upload_tab .external_text_warn {
  display: none;
  color: #777777;
}
.video_upload_tab .video_add_label {
  color: #36638E;
  font-size: 1.09em;
  font-weight: bold;
  text-align: left;
  margin: 17px auto 10px;
}
.video_upload_tab .text {
  width: 400px;
  padding: 5px;
}
.video_upload_tab .video_upload_textarea {
  width: 400px;
  height: 80px;
  padding: 5px;
}
.video_upload_privacy {
  margin-bottom: 10px;
}
.video_upload_privacy_wrap {
  margin-top: 15px;
}
.video_upload_checkbox {
  margin: 11px 0px;
}
#video_upload_info {
  position: relative;
}
#video_add_from_youtube_tab {
  display: none;
}
#video_add_from_youtube_tab #video_share_error {
  color: #b33e3e;
  margin-top: 5px;
  display: none;
}
#video_share_not_allowed {
  color: #777777;
  margin-top: 10px;
  display: none;
}
#video_add_from_youtube_tab #video_share_server_error {
  color: #777777;
  margin-top: 5px;
  display: none;
}
#video_upload_file {
  display: none;
}
#video_upload_box_placeholder {
  margin-top: 15px;
  text-align: center;
}
.video_upload_rules {
  padding-left: 20px;
  margin-bottom: 15px;
  line-height: 160%;
}
.video_upload_rules li {
  list-style: square;
  color: #758EAC;
  line-height: 140%;
}
.video_upload_rules li span {
  color: #000000;
}
#video_external_image {
  background: url('/images/video_s.png') no-repeat;
  width: 130px;
  height: 72px;
  background-size: cover;
  background-position: center;
}
#video_upload_info_box {
  background: #F7F7F7;
  border: 1px solid #CCCCCC;
  padding: 5px;
  margin-top: 20px;
}
.video_upload_progress_wrap {
  width: 250px;
  height: 18px;
  margin: auto;
  background: #FFF;
  border: 1px solid #CCC;
}
.video_upload_title {
  color: #777;
  text-align: center;
  margin: 5px 30px 0 30px;
  font-size: 1.12em;
  line-height: 160%;
}
.video_upload_share_descr {
  color: #777;
  text-align: center;
  font-size: 1.12em;
  line-height: 160%;
  padding: 25px;
}
.video_upload_controls_panel {
  text-align: center;
  margin: 30px 0;
}
.video_upload_privacy_chooser {
  cursor: pointer;
}
.video_upload_privacy_arrow {
  display: inline-block;
  background: url(/images/icons/dropdown_arrow.png) 5px 0 no-repeat;
  width: 18px;
  height: 5px;
}
#video_upload_box_wrapper {
  position: absolute;
  z-index: 1001;
  text-align: center;
}
#video_upload_box_wrapper .upload_btn {
  margin: 0;
  width: 190px;
}
#video_upload_box_wrapper .upload_check.loading {
  padding-top: 7px;
  padding-bottom: 6px;
}
#video_dropbox.dropbox.choose {
  border: none;
}
.video_upload_cancel {
  background: url(/images/icons/video_cancel_upload.png) 0 0 no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.6;
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
}
.video_upload_cancel:hover {
  opacity: 1;
}
.video_upload_cancel_white {
  background: url(/images/icons/video_cancel_upload.png) 0 -12px no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.6;
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
}
.video_upload_cancel_white:hover {
  opacity: 1;
}
.video_upload_add_panel {
  background: #eff1f3;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e4e8ed;
  color: #738392;
  font-size: 1.18em;
  line-height: 16px;
  display: block;
}
.video_upload_add_panel:hover {
  background: #e9edf1;
  text-decoration: none;
}
.video_upload_add_icon {
  background: url('/images/big_plus.png') left 0 no-repeat;
  padding: 3px 0 3px 30px;
  width: 16px;
  height: 16px;
  margin: 0;
  overflow: hidden;
}
.video_upload_thumb_placeholder {
  margin: 15px 12px 15px 15px;
  height: 84px;
  width: 149px;
  background-image: url('/images/video_uploading_placeholder.png?2');
  background-size: cover;
  background-position: center;
}
.video_upload_item {
  margin: 13px 0 15px 0;
}
.video_upload_item_header {
  font-weight: bold;
}
.video_upload_link_header {
  color: #666;
}
.video_upload_progress {
  border: 1px solid #45688E;
  margin: -1px;
  width: 0%;
  height: 20px;
  background: #597da3 url(/images/progress_grad_flat.gif) repeat;
}
.video_upload_progress_element {
  padding: 5px 0 15px 0px;
}
.video_upload_progress_panel {
  background-color: #e9ecf0;
  margin: 0 0 0 1px;
  position: relative;
  width: 435px;
}
.video_upload_progress_back_percent {
  color: #40658e;
  font-weight: bold;
  line-height: 22px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: -1px;
}
.video_upload_progress_front {
  position: absolute;
  overflow: hidden;
}
.video_upload_progress_front_indicator {
  width: 435px;
  text-align: center;
  position: relative;
}
.video_upload_progress_front_percent {
  font-weight: bold;
  color: white;
  line-height: 22px;
}
.video_upload_ready_name {
  font-weight: bold;
  color: #36638E;
  font-size: 1.09em;
  -ms-word-break: break-word;
  word-break: break-word;
  word-wrap: break-word;
  margin-right: 10px;
}
.video_upload_back_edit {
  margin-top: 10px;
}
.video_upload_ready_button {
  margin-top: 12px;
}
.video_upload_divider {
  border-bottom: 1px solid #dfe2e6;
  border-top: 1px solid #dfe2e6;
  background-color: #f7f7f7;
  height: 12px;
}
.upload_video_error_panel {
  display: none;
  background-color: #f8e9e9;
  padding: 9px;
  margin: 15px 14px 8px 0;
}
.upload_video_try_again {
  text-align: center;
  margin-top: 6px;
  cursor: pointer;
  width: 418px;
}
.upload_video_error_label {
  text-align: center;
  color: #b43d37;
  font-size: 1.08em;
}
.video_upload_with_divider:after {
  content: ' ';
  border-bottom: 1px solid #dfe2e6;
  background-color: #f7f7f7;
  display: block;
}
#video_upload_no_video {
  color: #777777;
  padding: 100px 0;
  font-size: 1.1em;
  text-align: center;
}
.video_upload_tab .textfield {
  width: 424px;
  padding: 5px;
}
.video_upload_tab .video_upload_description {
  width: 424px;
  height: 80px;
  padding: 5px;
}
.video_upload_item_label {
  color: #36638E;
  font-size: 1.09em;
  font-weight: bold;
  text-align: left;
  margin: 12px auto 8px;
}
.video_upload_item_label.video_upload_name_label {
  margin-top: 0;
}
#privacy_header .video_upload_privacy_arrow {
  display: none;
}
.upload_video_info_msg {
  margin-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.video_upload_ready_message {
  padding-bottom: 11px;
}
.video_upload_item_info_panel {
  padding-bottom: 8px;
}
.video_upload_ok {
  display: inline-block;
  background: url(/images/ok.png) 0 0 no-repeat;
  width: 12px;
  height: 10px;
  padding-right: 9px;
  margin-bottom: -1px;
}
.video_upload_ready_description {
  margin-top: 5px;
  -ms-word-break: break-word;
  word-break: break-word;
  word-wrap: break-word;
  margin-right: 10px;
}
.video_upload_separator {
  margin: 15px 0;
  text-align: center;
  position: relative;
}
.video_upload_separator_line {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  background-color: #e5e5e5;
}
.video_upload_separator_text {
  background-color: white;
  padding: 0 10px;
  position: relative;
  color: #777;
  font-size: 1.08em;
  display: inline-block;
}
.video_upload_button {
  width: 190px;
  margin-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
}
.video_upload_more_panel {
  margin: 0 auto;
  width: 210px;
  text-align: center;
}
.video_upload_title_back {
  display: block;
  margin: -17px 0 -18px -20px;
  padding: 17px 20px 18px 30px;
  color: #FFF;
  background: url(/images/icons/box_back.png) no-repeat 13px 18px;
  float: left;
}
.video_upload_title_back:hover {
  text-decoration: none;
  background-color: rgba(0, 31, 64, 0.15);
}
.video_extra_settings {
  margin-top: 15px;
}
#video_add_from_youtube_tab .input_back_wrap {
  margin-left: -2px;
}
.video_upload_tab .video_add_label.video_upload_share_title {
  margin-top: 7px;
}
.video_upload_progress_img {
  margin-top: 10px;
  margin-bottom: 7px;
  width: 32px;
  height: 8px;
}
.video_upload_hide {
  position: absolute;
  left: -99999px !important;
}
#video_upload_box_wrapper .upload_switch_mode {
  text-align: center;
  background-color: white;
}
.video_upload_fail_info {
  text-align: center;
  margin-top: 5px;
  color: #444;
}
.video_upload_tc_wrap .video_upload_tc_info {
  color: #777;
  line-height: 1.4em;
  margin-top: 11px;
  display: inline-block;
  vertical-align: top;
  padding-left: 7px;
  width: 255px;
}
.video_upload_tc_wrap .video_upload_tc_info_no_upload {
  margin: 2px 0 10px 0;
  width: inherit;
  padding-left: 0;
}
.video_upload_tc_wrap .video_upload_tc_chooser {
  float: left;
}
.video_upload_tc_wrap .video_tc_uploader {
  color: #A0ACB9;
  box-sizing: border-box;
  text-align: center;
}
.video_upload_tc_wrap .video_tc_uploader input {
  width: 1px;
  height: 1px;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
}
.video_upload_tc_wrap .video_tc_upload_btn {
  box-sizing: border-box;
  padding: 33px 0 0;
  height: 100%;
  width: 100%;
  white-space: normal;
  background-color: #E6EBF0;
  color: #647e97;
  line-height: 1.3em;
  border-radius: 2px;
  background-image: url(/images/icons/flat_plus.png);
  background-repeat: no-repeat;
  background-position: center 14px;
}
.video_upload_tc_wrap .video_tc_upload_btn:hover {
  background-color: #E2E7EC;
}
.video_upload_tc_wrap .video_tc_upload_progress_wrap {
  background-color: #F0F1F2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.video_upload_tc_wrap .video_tc_upload_progress {
  width: 75px;
  height: 5px;
  position: absolute;
  margin-top: 26px;
  margin-left: 14px;
  background-color: #D3DAE2;
}
.video_upload_tc_wrap .video_tc_upload_progress .video_tc_upload_progress_bar {
  width: 0%;
  height: 100%;
  background-color: #6382AB;
  -o-transition: width 100ms ease;
  -ms-transition: width 100ms ease;
  -moz-transition: width 100ms ease;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
}
.video_upload_tc_wrap .video_tc_upload_image {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center;
}
.video_upload_tc_wrap .video_tc_upload_image_close {
  background-image: url(/images/icons/delete.png);
  background-color: rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
}
.video_upload_tc_wrap .video_tc_upload_image_close:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.video_upload_tc_wrap .video_tc_upload_image_close:active {
  top: 3px;
}
.video_upload_tc_wrap .video_tc_item_check {
  background-image: url(/images/icons/selected_thumb.png);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -o-transition: background-color 100ms ease;
  -ms-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  -o-transition: opacity 50ms linear;
  -ms-transition: opacity 50ms linear;
  -moz-transition: opacity 50ms linear;
  -webkit-transition: opacity 50ms linear;
  transition: opacity 50ms linear;
}
.video_upload_tc_wrap .video_tc_slider {
  display: inline-block;
  clear: both;
  width: 436px;
  overflow: hidden;
  position: relative;
}
.video_upload_tc_wrap .video_tc_slider_cont {
  position: relative;
  white-space: nowrap;
  left: 0;
  -o-transition: left 500ms ease;
  -ms-transition: left 500ms ease;
  -moz-transition: left 500ms ease;
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
}
.video_upload_tc_wrap .video_tc_item {
  width: 103px;
  height: 57px;
  background-color: #F0F2F5;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 8px;
}
.video_upload_tc_wrap .video_tc_item:hover {
  background-color: #EAEFF5;
}
.video_upload_tc_wrap .video_tc_item.video_tc_item_selected .video_tc_item_check {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.video_upload_tc_wrap .video_tc_item:hover .video_tc_item_check {
  opacity: 0.55;
  background-color: rgba(0, 0, 0, 0.3);
}
.video_upload_tc_wrap .video_tc_item.video_tc_item_selected:hover .video_tc_item_check {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.video_upload_tc_wrap .video_tc_slider_btn {
  position: absolute;
  background-image: url('/images/icons/arrows.png');
  width: 20px;
  height: 27px;
  top: 15px;
  opacity: 0.7;
  cursor: pointer;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}
.video_upload_tc_wrap .video_tc_slider_btn:hover {
  opacity: 1;
}
.video_upload_tc_wrap .video_tc_slider_btn:active {
  top: 17px;
}
.video_upload_tc_wrap .video_tc_slider_btn#video_tc_left {
  left: 0px;
}
.video_upload_tc_wrap .video_tc_slider_btn#video_tc_right {
  right: 0px;
  background-position: -18px 0px;
}
.video_upload_tc_wrap .video_tc_slider_btn.video_tc_btn_none {
  opacity: 0;
}
.video_upload_tc_wrap .video_tc_slider:hover .video_tc_slider_btn#video_tc_left {
  left: 4px;
}
.video_upload_tc_wrap .video_tc_slider:hover .video_tc_slider_btn#video_tc_right {
  right: 3px;
}
