#widget_subscribe_css {
    display: none
}

.wsubscribe_button .wsubscribe_do span:after,
.wsubscribe_button.wsubscribe_no_name .wsubscribe_do span:before {
    -ms-high-contrast-adjust: none
}

.h4-text {
    color: #000;
    border-bottom: none;
    font-size: 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

.wsubscribe_content {
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    font-family: Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    overflow: hidden;
    text-overflow: ellipsis
}

.wsubscribe_avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px
}

.wsubscribe_avatar img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #fafbfc;
    position: relative;
    vertical-align: top
}

.wsubscribe_avatar img:before {
    background-color: #fff
}

.wsubscribe_avatar img:before,
.wsubscribe_avatar img:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px
}

.wsubscribe_avatar img:after {
    border-radius: 50%;
    background-color: #fafbfc;
    background-image: url(/images/camera_100.png);
    background-size: cover
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .wsubscribe_avatar img:after {
        background-image: url(/images/camera_200.png)
    }
}

.wsubscribe_name {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #42648b
}

.wsubscribe_name,
.wsubscribe_button .wsubscribe_name {
    margin: 0 10px 0 0
}

.wsubscribe_do .pr {
    display: none
}

.wsubscribe_button .wsubscribe_do {
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 22px;
    display: inline-block;
    border-radius: 2px;
    padding: 0 7px;
    color: #fff;
    background: #5181b8
}

.wsubscribe_button .wsubscribe_do b {
    color: #fff
}

.wsubscribe_button .wsubscribe_do.wsubscribe_progress {
    position: relative
}

.wsubscribe_button .wsubscribe_do.wsubscribe_progress span {
    opacity: 0
}

.wsubscribe_button .wsubscribe_do.wsubscribe_progress .pr {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -8px
}

.wsubscribe_button .wsubscribe_do.wsubscribe_progress .pr_bt {
    background-color: #e0e8f1
}

.wsubscribe_button .wsubscribe_do:hover {
    text-decoration: none;
    background: #5b88bd
}

.wsubscribe_button .wsubscribe_do:active {
    background: #4872a3
}

.wsubscribe_button .wsubscribe_do:active span {
    position: relative;
    top: 1px
}

.wsubscribe_button .wsubscribe_do span {
    display: inline-block
}

.wsubscribe_button .wsubscribe_do span:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 8px;
    margin-left: 7px;
    background: url(/images/icons/like_widget.png) 0 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .wsubscribe_button .wsubscribe_do span:after {
        background-image: url(/images/icons/like_widget_2x.png);
        background-size: 19px 59px
    }
}

.wsubscribe_button.wsubscribe_no_name .wsubscribe_do span:after {
    display: none
}

.wsubscribe_button.wsubscribe_no_name .wsubscribe_do span:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 8px;
    margin-right: 7px;
    background: url(/images/icons/like_widget.png) 0 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .wsubscribe_button.wsubscribe_no_name .wsubscribe_do span:before {
        background-image: url(/images/icons/like_widget_2x.png);
        background-size: 19px 59px
    }
}