#widget_post_css {
    display: none
}

.audio_pl_snippet .audio_pl_snippet__more_btn:before {
    -ms-high-contrast-adjust: none
}

.h4-text {
    border-bottom: none;
    font-size: 1em
}

.h4-text,
body {
    color: #000;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0
}

body {
    background: #edeef0;
    direction: ltr;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.154;
    letter-spacing: -0.1px
}

body.widget_body {
    background: transparent
}

#page_wrap {
    width: 1px;
    overflow: hidden;
    min-width: 100%;
    position: relative
}

.wpost_post {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e1e4eb
}

.is_rtl1 .wpost_post {
    direction: rtl
}

.wpost_head_wrap {
    padding: 15px 20px 0
}

.wpost_head_thumb {
    float: left;
    margin-right: 15px
}

.wpost_head_thumb,
.wpost_head_thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.wpost_head_thumb img {
    vertical-align: top
}

.no_photo .wpost_head_thumb {
    display: none
}

.wpost_head_actions {
    float: right
}

.wpost_head_name {
    text-align: left;
    overflow: hidden;
    margin-top: 5px
}

.wpost_head_name .wpost_head_link {
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #42648b
}

.wpost_head_name .wpost_head_date {
    color: #939393;
    padding: 1px 0 2px
}

.wpost_head_name .wpost_head_date a {
    color: #939393
}

.wpost_head_name .page_fronly {
    margin-top: 2px;
    cursor: default
}

.widget_body .wpost_post_subscribed,
.widget_body .wpost_post_subscribe {
    margin: 0 20px 18px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.wpost_head_wrap .wpost_post_subscribed,
.wpost_head_wrap .wpost_post_subscribe {
    display: inline-block;
    margin: 10px 0 0 15px
}

#wpost_post_body {
    min-width: 120px
}

div.wpost_post_body_wrap {
    padding: 10px 0 15px;
    margin: 0 20px
}

div.wpost_post_body_wrap .wall_post_text,
div.wpost_post_body_wrap .wall_reply_text {
    font-size: 14px;
    line-height: 1.43
}

div.wpost_post_body_wrap .post_media_voting {
    max-width: 510px
}

div.wpost_post_body_wrap .page_media_link_img {
    width: 100%
}

div.wpost_post_body_wrap .page_media_thumbed_link {
    margin: 15px 0 5px!important
}

div.wpost_post_body_wrap .audio_pl_snippet__action_btn_delete,
div.wpost_post_body_wrap .audio_pl_snippet__action_btn_edit {
    display: none!important
}

div.wpost_post_body_wrap .audio_pl_snippet,
div.wpost_post_body_wrap .media_desc,
div.wpost_post_body_wrap .page_media_thumbed_link,
div.wpost_post_body_wrap .page_media_wrap,
div.wpost_post_body_wrap .post_media,
div.wpost_post_body_wrap .wall_audio_rows {
    max-width: 510px
}

div.wpost_post_body_wrap .copy_quote .post_media_voting,
div.wpost_post_body_wrap .copy_quote .audio_pl_snippet,
div.wpost_post_body_wrap .copy_quote .media_desc,
div.wpost_post_body_wrap .copy_quote .page_media_thumbed_link,
div.wpost_post_body_wrap .copy_quote .page_media_wrap,
div.wpost_post_body_wrap .copy_quote .post_media,
div.wpost_post_body_wrap .copy_quote .wall_audio_rows {
    max-width: 496px
}

.wall_module .page_private_album_wrap {
    max-width: 100%;
    box-sizing: border-box
}

#wpost_post .post_media_link_preview_wrap,
#wpost_post .wall_postlink_preview_btn,
#wpost_post .wall_postlink_preview_btn_disabled {
    display: none
}

.wpost_mini .wall_module .page_media_thumbed_link .page_media_link_thumb {
    min-height: 60px
}

.wpost_mini .wall_module .page_media_thumbed_link td.page_media_link_thumb {
    width: 75px;
    background-size: 75px
}

.wpost_mini .wall_module .page_media_thumbed_link .page_media_link_desc,
.wpost_mini .wall_module .page_media_thumbed_link .wall_postlink_preview_btn {
    display: none
}

.audio_pl_snippet .audio_pl_snippet__more_btn:before {
    width: 14px;
    height: 9px;
    background: url(/images/icons/like_widget.png);
    z-index: 2;
    top: 7px;
    left: 22px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .audio_pl_snippet .audio_pl_snippet__more_btn:before {
        background-image: url(/images/icons/like_widget_2x.png);
        background-size: 19px 59px
    }
}

.audio_pl_snippet .audio_pl_snippet__more_btn:after {
    z-index: 1;
    display: block;
    content: ' ';
    width: 22px;
    height: 22px;
    position: absolute;
    left: 18px;
    top: 0;
    background: #5181b8;
    border-radius: 3px
}

.wpost_reply_to {
    color: #656565;
    line-height: 19px;
    padding: 0 20px 15px;
    margin-top: -10px
}

.wpost_nano .like_button {
    margin-left: 17px
}

.wpost_nano .like_button:first-child {
    margin-left: -3px
}

.wpost_nano .like_button.share .like_button_count,
.wpost_nano .like_views,
.wpost_pico .post_reply_count,
.wpost_pico .like_button.comment .like_button_count {
    display: none
}

.tt_w.tt_down.wpost_like_tt:after {
    left: 20px
}

.likes_tt_like:after {
    left: 24px!important
}