#widgets_css {
  display: none;
}
body {
  background: #fff;
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  overflow: hidden;
}
p {
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 11px;
  text-align: left;
  padding: 0px;
  margin: 15px 0px;
}
a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
.pageBody a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
#membersRows {
  padding: 10px 0px 5px 0px;
  vertical-align: top;
}
#membersRows .mem_row {
  background: #FFFFFF;
  border: 1px solid #DAE2E8;
  margin: 0px 0 3px 0px;
  padding: 8px 8px 6px 8px;
}
#membersRows .mem_row table {
  border-collapse: collapse;
  width: 100%;
}
#membersRows td {
  padding: 0px;
  vertical-align: top;
  line-height: 120%;
}
#membersRows td.img {
  width: 25px;
}
#membersRows td.img a {
  display: block;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
#membersRows td.img img {
  width: 25px;
}
#membersRows td.info {
  padding-left: 10px;
}
#membersRows td.details {
  /*width: */
  text-align: right;
  font-size: 10px;
  line-height: 130%;
}
#membersRows td.info .actions {
  font-size: 9px;
  height: 14px;
  display: block;
  font-weight: bold;
}
#membersRows td.info .actions a,
#membersRows td.info .actions .divide {
  font-weight: normal;
}
#membersRows .alertmsg {
  margin: 0 0 3px 0px;
}
#membersSections {
  padding: 10px;
  width: 150px;
  vertical-align: top;
}
#noMembers {
  background: #FFF;
  border: 1px solid #DAE2E8;
  color: #777777;
  font-size: 13px;
  padding: 80px 0;
  text-align: center;
  margin: 0px 0px 3px 0px;
}
/* privacy box */
.t_filter_area {
  border-bottom: 1px solid #D8DFEA;
  padding: 10px;
  background-color: #F7F7F7;
  _padding-bottom: 18px;
}
*:first-child + html .t_filter_area {
  padding-bottom: 18px;
}
.t_filter_selected {
  float: left;
  border-bottom: 1px solid #FFFFFF;
  margin-right: 10px;
  margin-bottom: -1px;
  cursor: pointer;
}
.body_rtl .t_filter_selected {
  float: right;
  margin: 0 0 -1px 10px;
}
.t_filter_selected .t_filter2 {
  border: 1px solid #3B6798;
  border-top: 1px solid #395676;
  border-bottom: 1px solid #4A73A0;
}
.t_filter_selected .t_filter3 {
  border: 1px solid #5C82AB;
  padding: 2px 5px 3px 5px;
  background-color: #6D8FB3;
  color: #FFFFFF;
  font-weight: bold;
}
.t_filter_off {
  cursor: pointer;
  padding: 4px 7px 5px;
  color: #45688E;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-bottom: -1px;
}
.body_rtl .t_filter_off {
  float: right;
  margin: 0 0 -1px 10px;
}
#mod_sections_loading {
  visibility: hidden;
  margin-top: 5px;
}
.t_filter_area a {
  margin-top: 5px;
  margin-left: 5px;
}
/* Groups Widget */
.squarePic {
  height: 50px;
  clear: both;
  overflow: hidden;
  padding-bottom: 3px;
}
.squareUser {
  width: 58px;
  height: 68px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.squareUser a {
  color: #808080;
  font-size: 10px;
}
#main .squareUser a:hover {
  text-decoration: none !important;
}
.groupInfo {
  margin: 8px 8px 0px 8px;
}
.groupName {
  color: #45688e;
  font-weight: bold;
  padding-left: 10px;
  float: left;
}
.softHead {
  padding: 8px 0px 1px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid #d9e1e7;
  padding-bottom: 2px;
  color: #45688e;
  font-weight: normal;
}
.softHead a {
  font-weight: normal;
}
.widgetBottom {
  background: #eef2f5;
  color: #2f5879;
}
.widgetBottom .checkbox_container table {
  margin: 3px 0px;
}
.statHolder {
  background: #ECECEC;
  height: 1px;
  margin-bottom: 20px;
}
.statLine {
  position: absolute;
  border-top: 1px solid #c0ccd9;
  background: #dae2e8;
  margin-top: 0px;
  height: 15px;
}
.groupsMain {
  border: 1px solid #BEC8D3;
  border-bottom: none;
}
/* ---- */
#group_like .checkbox {
  color: #2B587A;
  cursor: pointer;
  border-left: 1px solid #BEC8D3;
  border-right: 1px solid #BEC8D3;
  border-bottom: 1px solid #BEC8D3;
  float: none;
  margin-right: 0;
  *display: block;
}
#group_like div.checkbox_inner {
  padding: 3px;
  height: 14px;
  line-height: 14px;
  padding-left: 7px;
  padding-bottom: 4px;
  border: 1px solid #eef2f5;
  border-top: 1px solid #D9E1E7;
  padding-top: 4px;
  *display: block;
}
#group_like #join_group.checkbox {
  *display: block;
}
#group_like .checkbox .checkbox_inner {
  *display: block;
}
#group_like .checked {
  background-color: #36638E;
  font-size: 11px;
  font-family: tahoma, tahoma, verdana, arial, sans-serif, Lucida Sans;
  border: 1px solid #3B6798;
  text-shadow: 0px 1px 0px #45688E;
  padding: 0px;
}
#group_like .checkbox.checked div.checkbox_inner {
  border-style: solid;
  border-width: 1px;
  border-color: #7E9CBC #5C82AB #5C82AB;
  background-color: #6D8FB3;
  color: #FFF;
  padding-top: 3px;
  float: none;
  *display: block;
}
#group_like .checked .check {
  background: url("/images/like_s.gif?1") no-repeat scroll 0 -28px;
}
#group_like .checked-light .check {
  background: url("/images/like_s.gif?1") no-repeat scroll 0 -28px;
}
#group_like .check {
  width: 14px;
  height: 14px;
  float: left;
  background: url("/images/like_s.gif?1") no-repeat scroll 0 -14px;
  margin-right: 8px;
}
#group_like #subscr_group.checked-light .check {
  background: url("/images/icons/check.gif") no-repeat scroll 0 -14px;
}
#group_like #subscr_group .check {
  width: 14px;
  height: 14px;
  float: left;
  background: url("/images/icons/check.gif") no-repeat scroll 0 0px;
  margin-right: 8px;
}
.group_users {
  padding: 7px 0px 5px 5px;
}
.anim_row {
  overflow-x: hidden;
  padding-bottom: 2px;
}
.inline_row {
  display: inline;
}
/* Like widget */
#like_body {
  background: transparent;
}
.like_wrap {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 4px 0px;
  cursor: pointer;
  display: block;
}
.like_wrap:hover {
  text-decoration: none;
}
.like_wrap:active {
  padding-top: 5px;
  padding-bottom: 3px;
}
.like_dived .like_wrap {
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}
.like_dived_full .like_wrap {
  margin-right: 0px;
}
.like_dived .like_inline .like_wrap {
  margin: 0;
}
.like_left {
  width: 15px;
  height: 14px;
  float: left;
  border-right: 1px solid #87a2bf;
  border-right-color: rgba(255, 255, 255, 0.24);
  padding-left: 5px;
  padding-right: 1px;
}
.like_right {
  color: #FFFFFF;
  float: left;
  padding: 0px 8px 1px 7px;
  line-height: 13px;
  text-align: center;
}
.like_dived_full .like_wrap .like_right {
  position: absolute;
  right: 0;
  z-index: 90;
}
.like_dived_full .like_wrap .like_left {
  position: relative;
  left: 0;
  z-index: 100;
}
.like_dived_full .like_minified .like_left {
  border-right: none;
}
.like_small .like_wrap {
  margin-right: 8px;
}
.like_small .like_right {
  width: 11px;
  padding: 0px 7px 0px 6px;
}
.like_small .icon_heart {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.like_small .checked .icon_heart {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* Due to right part visible */
.like_icon {
  width: 10px;
  height: 10px;
  background: url(/images/icons/like_widget.png?1) 0 0 no-repeat;
  overflow: hidden;
}
.is_2x .like_icon {
  background-image: url(/images/icons/like_widget_2x.png?1);
  background-size: 37px 42px;
}
.like_wrap .icon_v,
.like_wrap .icon_heart {
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.like_wrap .icon_v {
  background-position: 0 -8px;
  position: absolute;
  margin: 2px 2px 1px 3px;
  width: 7px;
  height: 9px;
}
.like_wrap .icon_heart {
  background-position: -25px -8px;
  position: absolute;
  width: 10px;
  margin: 3px 2px 1px 1px;
  height: 9px;
}
.like_dived .like_wrap .icon_heart {
  opacity: 0;
  filter: alpha(opacity=0);
}
.like_dived .checked .icon_v {
  opacity: 0;
  filter: alpha(opacity=0);
}
.like_dived .checked .icon_heart {
  opacity: 1;
  filter: alpha(opacity=100);
}
.is_eng .like_wrap .icon_v {
  background-position: -8px -8px;
  width: 16px;
  margin-left: 1px;
}
.is_eng .like_wrap .like_left {
  border-right: none;
  width: 16px;
  padding-left: 3px;
  padding-right: 4px;
}
.is_eng .like_wrap .like_right {
  padding-right: 6px;
  padding-left: 0px;
}
.is_eng .like_dived_full .like_wrap .like_right {
  padding-left: 3px;
}
.is_eng .like_wrap .icon_heart {
  margin-left: 4px;
}
.is_eng .like_small .icon_heart {
  margin-left: 1px;
}
.is_eng .like_small_vertical .icon_heart {
  margin-left: 2px;
}
.is_eng .like_small_vertical .like_wrap .like_right {
  padding-left: 0px;
}
.like_dived .checkbox_over .like_right {
  border-color: #8596A9;
}
.like_dived .checkbox_over .like_right .like_right_border {
  background: #E3EAF1;
  border-color: #fff #E3EAF1 #E3EAF1 #E3EAF1;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.like_small_vertical .like_wrap1 {
  float: none;
}
.like_small_vertical .like_wrap {
  margin: 0;
}
.like_small_vertical td.like_right .like_right_border {
  padding: 4px 4px 2px;
}
.like_small_vertical .like_left {
  padding-left: 4px;
  padding-right: 0px;
}
.like_small_vertical .like_right {
  padding: 0px 5px 0px 4px;
}
/* Like designs */
.like_tabled .like_wrap table {
  border-collapse: collapse;
  border: 0;
  padding: 0;
}
.like_small_vertical .like_wrap {
  margin: 0;
}
.like_counter_wrap {
  display: block;
  border: 1px solid #bbbfc4;
  color: #666c73;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 1px;
  padding: 3px 5px 4px;
  font-weight: bold;
  line-height: 13px;
  background: #ffffff;
}
.like_counter_wrap:hover {
  text-decoration: none;
}
.like_counter_wrap .arrow {
  position: absolute;
  width: 5px;
  height: 9px;
  background-position: 0px -27px;
  overflow: hidden;
  margin-left: -10px;
  margin-top: 2px;
}
.like_small_vertical .arrow {
  width: 8px;
  height: 6px;
  overflow: hidden;
  margin: -1px 0 2px 26px;
  background-position: -6px -27px;
}
.like_counter_link {
  display: block;
}
.like_counter_link:hover {
  text-decoration: none;
}
#stats_text {
  line-height: 11px;
  margin-top: 5px;
}
.like_dived_full #stats_text {
  margin: 0;
}
#like_table_left {
  vertical-align: top;
}
#like_table_right {
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
}
/* 24px */
.like_wrap_h24 .like_wrap {
  padding-top: 5px;
  padding-bottom: 5px;
}
.like_wrap_h24 .like_wrap:active {
  padding-top: 6px;
  padding-bottom: 4px;
}
.like_wrap_h24 .like_wrap .icon_v {
  background-position: 0px -17px;
  height: 10px;
  width: 8px;
  margin-top: 2px;
  margin-left: 4px;
}
.like_wrap_h24 .like_wrap .icon_heart {
  background-position: -25px -17px;
  height: 10px;
  width: 12px;
  margin-top: 2px;
  margin-left: 2px;
}
.is_eng .like_wrap_h24 .like_wrap .icon_heart {
  margin-left: 5px;
}
.like_wrap_h24 .like_counter_wrap {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 12px;
  height: 12px;
}
.like_wrap_h24 .like_counter_wrap .arrow {
  width: 5px;
  margin-left: -10px;
  margin-top: 1px;
}
.like_wrap_h24 .like_left,
.is_eng .like_wrap_h24 .like_left {
  width: 16px;
}
.like_wrap_h24 .like_right {
  font-size: 12px;
  /*font-family: "Helvetica Neue", Helvetica, sans-serif, arial, tahoma, verdana;*/
}
.like_small.like_wrap_h24 .like_left {
  padding-right: 0px;
}
.like_small.like_wrap_h24 .like_right {
  padding: 0px 10px 0px 5px;
}
.like_small_vertical.like_wrap_h24 .like_left {
  padding-left: 2px;
  width: 17px;
}
.like_small_vertical.like_wrap_h24 .like_right {
  padding: 0px 5px 0px 2px;
}
.is_eng .like_wrap_h24 .like_wrap .icon_v {
  background-position: -8px -17px;
  width: 17px;
  height: 10px;
  margin-left: 2px;
}
/* 20px */
.like_wrap_h20 .like_wrap {
  padding-top: 3px;
  padding-bottom: 3px;
}
.like_wrap_h20 .like_wrap:active {
  padding-top: 4px;
  padding-bottom: 2px;
}
.like_wrap_h20 .like_wrap .icon_v {
  background-position: 0px 0px;
  height: 8px;
  margin-top: 3px;
}
.like_wrap_h20 .like_wrap .icon_heart {
  background-position: -25px 0px;
  height: 8px;
  margin-top: 3px;
}
.like_wrap_h20 .like_counter_wrap {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 12px;
}
.like_wrap_h20 .like_counter_wrap .arrow {
  width: 4px;
  margin-left: -9px;
  margin-top: 1px;
}
.is_eng .like_wrap_h20 .like_wrap .icon_v {
  background-position: -8px 0px;
  width: 16px;
  height: 8px;
}
/* 18px */
.like_wrap_h18 .like_wrap {
  padding-top: 3px;
  padding-bottom: 3px;
}
.like_wrap_h18 .like_wrap:active {
  padding-top: 4px;
  padding-bottom: 2px;
}
.like_wrap_h18 .like_wrap .icon_v {
  background-position: 0px 0px;
  height: 8px;
  margin-top: 2px;
}
.like_wrap_h18 .like_wrap .icon_heart {
  background-position: -25px 0px;
  height: 8px;
  margin-top: 2px;
}
.like_wrap_h18 .like_counter_wrap {
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 12px;
}
.like_wrap_h18 .like_counter_wrap .arrow {
  width: 4px;
  margin-left: -9px;
  margin-top: 1px;
}
.like_wrap_h18 .like_left {
  height: 12px;
}
.like_wrap_h18 .like_right {
  font-size: 10px;
  padding-bottom: 0px;
  line-height: 12px;
}
.is_eng .like_wrap_h18 .like_wrap .icon_v {
  background-position: -8px 0px;
  width: 16px;
  height: 8px;
}
.like_row_cont {
  width: 120px;
  overflow: hidden;
  height: 133px;
  text-align: center;
}
.like_img_cont {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0px 10px 5px 10px;
}
.like_more_link {
  display: none;
  background: #EEF0F2;
  text-align: center;
  padding: 16px;
  color: #738392;
  width: 588px;
  height: 15px;
}
.like_more_link:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.like_more_progress {
  display: none;
  height: 15px;
  background: #EEF0F2 url(/images/upload.gif) no-repeat 50% 50%;
  padding: 16px;
  color: #738392;
  width: 588px;
}
#like_users_cont {
  padding: 16px 10px 1px;
}
#like_tabs {
  width: 590px;
}
#like_tabs_prg {
  visibility: visible;
  display: none;
  position: absolute;
  margin-left: 555px;
}
.like_no_rows {
  padding: 200px 20px;
  color: #777;
  background-color: #FFF;
  padding: 140px 20px;
  text-align: center;
  font-size: 1.21em;
}
.summary_tabs {
  font-size: 11px;
  padding: 5px 5px;
  border-bottom: 1px solid #DAE1E8;
  background: #F7F7F7;
}
.summary_tab,
.summary_tab_sel {
  font-weight: bold;
  padding: 8px 5px 7px;
}
.summary_tab2 {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 8px 4px;
  display: block;
}
.summary_tab2:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.summary_tab_sel .summary_tab2,
.summary_tab_sel .summary_tab2:hover {
  padding: 3px 8px 4px;
  background: #597DA3;
}
.summary_tab3 {
  max-width: 230px;
  *display: inline;
  height: 13px;
  overflow: hidden;
  font-weight: bold;
  color: #45688E;
  padding: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 120%;
}
.summary_tab_sel .summary_tab3 {
  color: #FFF;
}
/* Poll widget start */
.pollMain {
  border: 1px solid #BEC8D3;
}
.pollContent {
  padding: 8px 7px;
}
.pollContent h1 {
  font-size: 11px;
  font-weight: bold;
  margin: 0 3px 5px 3px;
}
.pollContent .radiobtn_container {
  margin-left: 3px;
}
.pollStats {
  width: 100%;
}
.pollStatsText {
  padding-top: 5px;
}
.pollStatsBg {
  width: 95%;
  background: #FAFAFA;
}
.pollStatsFg {
  background: #DAE2E8;
  border-top: 1px solid #CAD1D9;
  font-size: 0;
  height: 14px;
  overflow: hidden;
}
.pollStatsDesc {
  padding-left: 5px;
  width: 50px;
  max-width: 100px;
}
.pollFooter {
  background: #F2F2F2;
  border-top: 1px solid #BEC8D3;
  padding: 8px;
}
.pollFooter textarea {
  width: 100%;
  margin: 0;
}
.pollFooter .button_yes {
  margin: 8px 0 0 0;
}
.commHead a.pollUnvote {
  color: #A9B8CB;
  font-weight: bold;
}
#pollMain #loading {
  margin: 5px 0 0 3px;
  float: right;
}
.commHead {
  background: center no-repeat #dae2e8;
  border-bottom: 1px solid #ccd3da;
  height: 16px;
  color: #45688e;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  vertical-align: middle;
  line-height: 20px;
}
.commHead a {
  line-height: 16px;
  vertical-align: top;
}
.commHead .fl_r {
  font-weight: normal;
}
.commHead span {
  line-height: 16px;
  vertical-align: top;
}
.commHead span img {
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
}
.commHead .notYou {
  font-weight: normal;
}
.commHead a.moderLink {
  color: #A9B8CB !important;
  margin-left: 5px;
}
/* Poll widget end */
/* Animated counters */
.inl_bl {
  display: -moz-inline-stack;
  display: inline-block;
  _overflow: hidden;
  zoom: 1;
  *display: inline;
}
.counter_anim_wrap {
  position: relative;
  height: 1em;
  overflow: hidden;
}
.counter_anim {
  position: absolute;
  right: 0;
  text-align: right;
}
.counter_css_anim_wrap {
  -webkit-transition: width 100ms linear;
  -moz-transition: width 100ms linear;
  -o-transition: width 100ms linear;
  transition: width 100ms linear;
}
.counter_css_anim_wrap .counter_anim {
  -webkit-transition: margin-top 300ms ease-out;
  -moz-transition: margin-top 300ms ease-out;
  -o-transition: margin-top 300ms ease-out;
  transition: margin-top 300ms ease-out;
}
