body,
input,
textarea,
select,
.button,
.small_button {
    font-size: 12px;
}

.mh_header,
.hp_header,
.op_header,
.fi_fat .textfield,
.fi_fat .option_label,
.fi_value,
.wiki_content .wiki_title,
.payments_phone_number,
.join_button,
.zpv_values,
.field_prefix,
.field_inline .email_post {
    font-size: 1.17em;
}

.mhb_notify,
.mm_label,
.lfm_item,
.fi_header,
.profile_menu,
.zpv_close_msg,
.mi_gift .mi_text,
.app_name_label,
.away_page .wiki_content,
.away_page .wiki_cut,
.away_page .away_bottom_source,
.away_page .away_bottom_date,
.body_fullscreen .away_page {
    font-size: 1.08em;
}

.sub_header,
.slim_header,
.button,
.small_button,
.near_btn,
.small_near_btn,
.fi_fat .fi_subrow .option_label,
.zpv_close_btn,
.new_item_link,
.fi_header_light,
.head_panel,
.text_panel,
.bottom_panel,
.owner_panel,
.cp_attached_wrap .msh_desc,
.away_bottom .item_like,
.away_bottom .item_repost,
.email_post_change,
.app_inline_item .app_name_label,
.body_fullscreen .away_page .away_bottom_source,
.body_fullscreen .away_page .away_bottom_date {
    font-size: 1em;
}

.footer_tip,
.mt_label,
.album_cnt,
.tab_counter,
.slim_header_cnt,
.si_slabel,
.si_links,
.pi_info,
.pi_links,
.pi_actions,
.pic_desc,
.medias_private_album,
.medias_thumb .media_action,
.app_genre,
.msh_desc,
.medias_poll_type,
.poll_option_val,
.poll_option_line,
.poll_option_line_val,
.poll_option_line_pro,
.pi_text_more,
.medias_audio_dur,
.ai_dur,
.si_date,
.vv_not_support,
.edit_partner_tip,
.selected_names,
.topbar_item,
#zhead,
.free_terms_box,
.pp_last_activity,
.pp_status,
.pp_no_status,
.pp_info,
.fi_field_sample,
.fi_sample_row,
.mi_date,
.di_date,
.mi_edited,
.di_title,
.di_chat_user,
.mi_failed .explain,
.mi_medias_plain,
.di_fld,
.sp_str,
.app_new,
.app_label,
.ti_count,
.ti_info,
.fp_label,
.fp_filter,
.fp_filter_reset,
.sel_desc,
.prv_value,
.payments_help,
.payments_phone_desc,
.login_help,
.checkins_cnt,
.zpv_tl,
.zpv_tag_label,
.away_page .wk_audio,
.thumb_map_wide .mt_label {
    font-size: .92em;
}

.body_fullscreen .wiki_content .wk_audio {
    font-size: .87em;
}

.mt_dur,
.mt_count,
.thumb_label {
    font-size: .75em;
}